@media (min-width: 320px) and (max-width: 750px) {

    .container-mobile{
        padding: 10px;
        margin: 60px 10px 10px 10px;
        background-color: #000;
        color: #eee;
    }
    .container-mobile u{color: red}
    .container-mobile ul{margin: 0; padding: 0;}
    .container-mobile ul li{
       display: inline-block;
        vertical-align: middle;
    }
    .container-icc2018 {

        width: 100%;
        height: 631px;
        margin: 0 auto;
        position: relative;
    }
    .box-select-num{

        padding: 0;

        position: relative;
        width: 100%;
        bottom: auto;
    }
    .box-select-num .form-inline{
        background-color: rgba(255,255,255,0.1);
    }
    .row-logo img{
        height: 116px;
    }
    .container-mobile img{
        max-width: 100%;
    }
    .box-select-num button{width:100%; margin: 20px 0 20px; }
}