
.bx-head-articles {
    height: 400px;
    position: relative;
}

.background-image_image, .background-image_image2, .background-image_image3, .background-image_image4 {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/8.jpg');
}

.background-image_image2 {
    background-image: url('/images/background4.jpg');
}

.background-image_image3 {
    background-image: url('/images/bg-tophead.jpg');
}

.background-image_image4 {
    background-image: url('/images/bg-h-ranking.jpg');
}

.articles-title {
    position: relative;
    z-index: 5;
    color: white;
}

.articles-title h1 {
    color: #fff;
    font-size: 3.5em;
    text-align: left;
}
.articles-title p{font-size: 16px;}
.head-banner-news .articles-title h1 {
    text-shadow: 1px 3px 3px #000;
}

.leads-headline {
    max-width: 100%;
    font-size: 4em;
    padding-top: 157px;
    height: 300px;
    line-height: 72px;
}

.articles-title span {
    /*box-shadow: .625rem 0 0 #FFF;*/
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
    line-height: 90px;
    vertical-align: middle;
    font-weight: 400;
    padding: 0 10px
}

.bx-publish-info {
    margin-top: 20px;
}

.bx-publish-info span:first-child {
    text-decoration: initial;
}

.bx-publish-info tr td {
    font-size: 14px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.bx-publish-info tr td:first-child {
    border-right: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
}

.bx-publish-info tr td:last-child {
    padding-left: 10px;
}

.bx-publish-info {
    /*border-top: dotted 1px #888;*/
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    margin-bottom: 15px;
}

.bx-social {
    font-size: 1.5em;
}

.bx-social i {
    margin-left: 15px;
}

.bx-head-fixtures-hothit {
    /* The image used */
    background-image: url('/images/background1.jpg');

    /* Set a specific height */
    height: 242px !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-all-hothit .content-articles img {
    margin: 0;
}

.container-all-hothit .wrap-gallery {
    display: inline-block;
    width: 100%;
}

.container-all-hothit .wrap-gallery .wrap-box-gallery {
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.container-all-hothit .detail-bx-hothit {
    padding: 0 5px;
}

.container-all-hothit .detail-bx-hothit h4 {
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
    color: #777;
}

.container-all-hothit .wrap-box-gallery:hover h4 {
    color: #000;
    text-decoration: underline;
}

.container-all-hothit .detail-bx-hothit .tab-datetime {
    background-color: transparent;
    border-top: solid 1px #eee;
}

.topic-hothit {
    padding: 15px 0 0 0;
}

.title-sortBy,
.bx-btn-sortBy {
    width: 49%;
}

.topic-hothit,
.most-pop,
.recent-update,
.last-update {
    display: inline-block;
}

.most-pop:before,
.recent-update:before,
.last-update:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    margin-right: 5px;
}

.most-pop:before {
    content: "\f005";
}

.recent-update:before {
    content: "\f017";
}

.last-update:before {
    content: "\f1da";
}

.content-articles {
    min-height: 500px;
    font-size: 1.2em;
}

.content-articles img {
    max-width: 100%;
    margin: 15px 0;
}

.bx-publish-recommend .title {
    position: relative;
    width: 90%;
    padding: 10px;
    color: #FFF;
    background: #02335c;
    z-index: 1;
    margin: 15px 0;
}

.bx-publish-recommend .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #02335c;
    transform-origin: top left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.bx-publish-recommend .title h3 {
    margin: 0;
}

.bx-publish-recommend h3 {
    /*font-size: 2em;*/
    /*border-bottom: dotted 1px #888;*/
    /*margin: 0;*/
    /*padding: 5px;*/
    /*margin-bottom: 10px;*/
    /*line-height: 40px;*/
}

.bx-publish-recommend td > a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    padding-bottom: 5px;
}

.bx-publish-recommend tr:hover > td a {
    text-decoration: underline !important;
}

.bx-publish-recommend td {
    font-size: 1em;
    padding-right: 10px;
    vertical-align: top;
    /*border-bottom: solid 1px #f5f5f5;*/
}

.bx-publish-recommend td .times-content {
    margin-bottom: 20px;
}

.news-image {
    border: solid 1px;
    text-align: center;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.news-image img {
    width: auto;
    height: 100%;
}

/*videos*/
.bx-head-videos {
    background-color: #02335c;
    padding: 15px 10px;
}

.frame li, .bx-top-videos {
    float: left;
    width: 10%;
}

.bx-top-videos {
    width: 100%;
    padding: 10px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.title-videos {
    height: 20px;
    overflow: hidden;
    line-height: 20px;
}

.img-top-videos, .img-top-videos img {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: solid 1px #111;
}

.bx-top-videos:hover > .hilight-cover-videos {
    display: none;
}

.bg-large-video {

}

.load_video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.load_video i {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    height: 48px;
    margin: auto;
    opacity: 0.8;
    right: 0;
    top: 0;
    width: 48px;
}

.bg-video-sexy {
    position: relative;
    background-color: #000;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
    height: 530px;
    margin-bottom: 10px;
}

.box-large-videos-row {
    max-width: 1014px;
    margin: auto;
    height: 530px;
    /*display: table-row;*/
}

.box-large-videos {
}

.box-large-videos {
}

.box-large-videos iframe {
}

.box-large-videos {
    text-align: center;
    position: relative;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: stretch;
    width: 100%;
    z-index: 1;
}

.box-large-videos video,
.box-large-videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 530px;
    margin: 0 auto;
}

.box-large-videos .dropdown {
    position: absolute;
    top: 0;
    margin-top: 5px;
}

.box-tabs-videolist li {
    width: 50%;
    text-align: center;
}

.nav-video-list {
    /*border-bottom: 0px !important;*/
}

.nav-tabs.nav-video-list li {
    /*border: 0;*/
}

.nav-tabs.nav-video-list li > a {
    border: 0;
    font-size: 16px;
    color: #bbb;
    border-radius: 0;
    background-color: transparent;
    font-weight: normal;
}

.nav-tabs.nav-video-list li > a:hover {
    background-color: transparent;

}

.box-tabs-videolist ul.nav-tabs {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px !important;
}

.nav-tabs.nav-video-list li.active > a {
    font-weight: bold;
}

.nav-tabs.nav-video-list li.active > a,
.nav-tabs.nav-video-list li.active > a:focus,
.nav-tabs.nav-video-list li.active > a:hover {
    border: 0;
    color: #fff;
    border-bottom: 5px solid #0091c8;
    background-color: transparent;
}

.box-tabs-videolist {
    /*margin-top: 20px;*/
    /*height: 83vh;*/
}

.box-list-video-side {
    background-color: #1c2429;
    display: block;
    float: left;
    height: 94px;
    width: 168px;
    position: relative;

}

.box-list-video-side img {
    opacity: 0.5;
}

.box-list-video-side div.icon-play {
    text-align: center;
}

.box-list-videos {
    /*padding: 10px 0;*/
}

.box-list-videos td {
    color: #bdbcbc;
    padding: 5px;
    vertical-align: top;

}

.box-tabs-videolist .nano .content {
    right: -15px;
}

.box-list-videos tr {
    padding-left: 0;
    transition: .2s;
}

tr.playing-box,
.box-list-videos tr:hover {
    padding-left: 5px;
    cursor: pointer;
    background-color: rgba(0, 145, 200, 0.35);
}

.box-list-videos tr:hover span.label {
    background-color: #0091c8;
    color: #fff
}

.box-list-videos tr:hover div.box-content-list {
    text-decoration: underline;
    color: #eee;
}

tr.playing-box div.box-list-video-side img,
.box-list-videos tr:hover div.box-list-video-side img {
    opacity: 1;
}

.box-list-videos tr .box-list-video-side div.icon-play {
    display: none;
}

tr.playing-box .box-list-video-side div.icon-play,
.box-list-videos tr:hover .box-list-video-side div.icon-play {
    display: block;
}

tr.playing-box td span.label:hover,
tr.playing-box td span.label {
    background-color: red !important;
    color: #fff;
}

tr.playing-box td span.label {
    /*-webkit-animation-name: playing;*/
    /*-webkit-animation-duration: 0.50s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-timing-function: ease-in-out;*/
    /*-webkit-animation-direction: alternate;*/
}

@-webkit-keyframes playing {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.box-list-videos td span.label {
    /*width: 42%;*/
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #777;
    background-color: #fff;
}

.box-list-video-side {

}

.box-content-list {
    height: 55px;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    word-break: break-all;
    display: block;
    margin: 0 0 16px 0;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.6rem;
}

.box-list-videos span {
    /*color: #3ac3f7;*/
}

.box-lists {
    height: 725px !important;
}

.box-lists .box-lists,
.nano.box-lists .content {
    padding: 0;
}

.navbar-menu-v2 {
    padding: 8px 0px 14px 0px;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    /*min-height: 45px !important;*/
}

.navbar-menu-v2, .bg-content-video {
    background-color: #003a6c;
}

.navbar-menu-v2 a {
    color: #fff !important;
    font-size: 16px !important;
}

.content-large-videos {
    padding-bottom: 10px;
}

.content-large-videos h1 {
    font-size: 32px;
    margin-top: 0;
    color: #fff;
}

.contents-row {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    font-size: 1.2em;
}

.active-now-playing {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 40px;
    text-shadow: 2px 0px #000;
}

.wrap-most-recent {
    margin: 20px 0;
}

.wrap-most-recent h1 {
    color: #003a6c;
}

.wrap-most-recent h1 {
    font-size: 4em;
}

.double-underline {
    /*border-bottom: solid .0625rem #eee;*/
    /*padding: 10px 0px;*/
    /*margin-bottom: 15px;*/
}

.bx-tabs-related {
    font-size: 1.5em;
    font-weight: bold;
}

.bx-other-video-head h1, .bx-other-video-head {
    color: #000;
}

.bx-other-video-head h1 {
    font-size: 2.3em;
}

.bx-video-type {
    color: #003a6c;
}

.bx-description-videos,
.bx-video-type {
    font-size: 1.2em;
    padding-top: 15px;
}

.label-news-vertical {
    font-size: 7rem;
    width: 10.25rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    height: 250px;
    font-weight: bold;
    color: #8f98a2;
}

.label-news-clip {
    font-size: 5rem;
    width: 9.25rem;
    height: 210px;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    font-weight: bold;
    color: #8f98a2;
}

.label-vdo-vertical {
    font-size: 5rem;
    width: 9.25rem;
    height: 210px;
}

.relate25 {
    font-size: 2em;
    color: #555;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
}

.relate25 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    margin: 8px 0 0;
    text-transform: uppercase;
    font-size: 20px;
}

.relate25:after {
    margin-left: 15px;
}

.relate25:before {
    margin-right: 15px;
}

.relate25:after,
.relate25:before {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 15px;
    background-color: rgba(0, 12, 36, .07);
}

.bx-border-video > iframe {
    border: 5px solid;
}

#btn_Close_Iframe {
    display: block;
    padding: 5px 10px;
    height: 35px;
    color: rgb(255, 255, 255);
    background-color: #003a6c;
    width: 300px;
    border-radius: 5px 5px 0px 0px;
}

/* modal play*/
.button-play {
    display: inline-block;
    padding: 17px 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.3em;
    border: solid 1px #ddd;
}

.button-play i {
    color: #0091c8;
}

.bg-played {
    background-color: #003a6c;
    color: #fff;
    border: 0px;
}

.table-played td {
    width: 33.33%;
    text-align: center;
    padding: 5px;
}

.table-played select {
    border: 0px !important;
    font-size: 1.5em;
    margin-top: 9px;
    cursor: pointer;
}

.bx-border {
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 5px;
}

.bx-border img {
    width: 40px;
}

.table-played strong {
    font-size: 1.8em;
}

.table-played button {
    width: 100%;
    font-size: 1.8em;
}

/*games*/
.box-sc-score {
    border: 0px !important;
    padding: 5px;
    background-color: #f3f3f3;
    margin: 10px 0px;
    font-family: rsuregular;
}

.box-sc-score td {
    padding: 6px !important;
}

.box-sc-score td:last-child {
    text-align: right !important;
}

.section-box-rows {
    position: relative;
}

.section-box-rows .col-sm-2 {
    width: 20%;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
}

.section-games-header {
    background-image: url('/images/bg-game.png');
    background-size: cover;
    height: 597px;
    position: relative;
    background-position: center;
}

/*.vote-left:hover > .select-team-left {*/
/*display: block !important;*/
/*cursor: pointer;*/
/*}*/

/*.vote-right:hover > .select-team-right {*/
/*display: block !important;*/
/*cursor: pointer;*/
/*}*/

.select-team-left {
    position: absolute;
    background-image: url(/images/bg-select2.png);
    width: 300px;
    height: 358px;
    background-position: top;
    top: -95px;
    right: 280px;
    background-size: 319px;
    background-repeat: no-repeat;
    z-index: 1;
    display: none;
}

.select-team-right {
    left: 282px;
}

.bg-hilight-games {
    position: absolute;
    width: 100%;
    height: 450px;
    bottom: 0;
    background: rgba(134, 174, 204, 0);
    background: -moz-linear-gradient(top, rgba(134, 174, 204, 0) 0%, rgba(0, 58, 108, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134, 174, 204, 0)), color-stop(100%, rgba(0, 58, 108, 1)));
    background: -webkit-linear-gradient(top, rgba(134, 174, 204, 0) 0%, rgba(0, 58, 108, 1) 100%);
    background: -o-linear-gradient(top, rgba(134, 174, 204, 0) 0%, rgba(0, 58, 108, 1) 100%);
    background: -ms-linear-gradient(top, rgba(134, 174, 204, 0) 0%, rgba(0, 58, 108, 1) 100%);
    background: linear-gradient(to bottom, rgba(134, 174, 204, 0) 0%, rgba(0, 58, 108, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86aecc', endColorstr='#003a6c', GradientType=0);
}

.table-team td {
    background: none !important;
    color: white;
    border: solid 1px;
    text-align: center;
}

.table-team td:first-child, .table-team td:last-child {
    width: 35%;
}

.name-team-game {
    color: white !important;
    font-size: 3em;
    font-family: rsuregular;
    margin-top: 30px;
}

.wrap-vote-center {
    width: 65%;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.bg-hilight-games img {
    height: 160px;
    width: 160px;
}

.box-menu-tabs {
    font-size: 1.5em;
    font-family: rsuregular;
}

.box-menu-tabs i {
    float: right;
    font-size: 1.8em;
}

.nav-tabs-top li {
    width: 25%;
    background-color: #364854;
}

.nav-tabs-top li.active > a {
    background-color: #fff !important;

}

.nav-tabs-top li > a {
    color: #fff;
}

.nav-tabs-top li.active > a {
    color: #000 !important;
}

.nav-tabs-top li > a {
    background-color: #364854 !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.bg-active-sc {
    background-color: #03385f !important;
    color: #fff !important;
}

.fa-dot {
    font-size: 10px;
    color: #ccc;
}

.rows-tabs {
    margin-top: -87px;
}

.box-head-team {
    padding: 5px 15px;
    background-color: #364854;
    margin-bottom: 20px;
    color: #fff;
}

.row-ranking .col-sm-4 {
    border-right: solid 1px #ddd;
}

.row-ranking .col-sm-4:last-child {
    border-right: 0px;
}

.box-fade {
    display: block;
}

#fade-in, #fade-in-right {
    display: block;
    position: absolute;
    width: 0%;
    height: 650px;
    z-index: 189;
    background-color: rgba(0, 58, 108, 0.9);
    transition: all .85s ease;
}

#fade-in.show, #fade-in-right.show {
    width: 42%;
}

#fade-in.notshow, #fade-in-right.notshow {
    width: 0%;
}

#fade-in-right {
    right: 0;
    background-color: rgba(117, 26, 19, 0.9);
}

.wrap-selected-team-play {
    color: #fff;
    text-align: center;
    /*padding-top: 50px;*/
}

.wrap-selected-team-play img {
    width: 180px;
    height: 180px;
}

.wrap-selected-team-play p {
    font-size: 1.6em;
    padding: 15px 0;
}

.box-button-send {
    position: relative;
}

.box-button-send select {
    color: #fff;
    padding: 11px 0px;
    font-size: 2em;
    cursor: pointer;
    background: none;
    margin: 0px;
    border: 0px;
}

.box-input-select {
    border: solid 1px #fff;
    /*padding: 5px;*/
    border-radius: 40px;
}

.box-input-select textarea::placeholder {
    color: #fff;
}

.box-input-select textarea {
    background: none;
    border: 0px;
    box-shadow: none !important;
    color: #fff;
}

.box-input-select img {
    float: left;
}

.box-input-select option {
    color: #000;
}

.box-button-send img {
    width: auto !important;
    height: 58px !important;
}

.box-button button {
    padding: 17px;
    border-radius: 40px;
    font-size: 20px;
    background-color: #0091c8;
}

.wrap-selected-team-play {
    display: none;
}

.wrap-video-sexy {
    margin: 10px 0 10px 0;
}

.box-video-sexy {
    overflow: hidden;
    /*height: 200px;*/
    /*background-image: url('/images/gallery/6.jpg');*/
    /*background-size: cover;*/
}

.box-video-sexy i {
    /*font-size: 1.5em;*/
}

.container-videoMain-index .owl-theme .owl-nav [class*=owl-] {
    position: absolute !important;
    top: 0;
}

.container-videoMain-index .owl-theme .owl-nav {
    top: -35px;
    position: relative;
}

.owl-theme .owl-nav [class*=owl-] {
    background-color: #fff !important;
    color: #000;
    border-radius: 50% !important;
    width: 34px;
    height: 34px;
}

.owl-theme .owl-nav [class*=owl-] i {
    color: #000
}

.owl-theme .owl-nav .disabled {
    background-color: rgba(0, 0, 0, 0.75) !important;
    cursor: no-drop;
}

.owl-theme .owl-nav .disabled i {
    color: #fff;
}

.filter-list-video {
    margin-top: 5px;
    /*position: absolute;*/
    /*top: 51px;*/
    /*right: 25px;*/
}

.filter-list-video select {
    /*background-color: #003a6c;*/
    /*border: solid 1px #4e7da7;*/
    /*color: #c1c1c1;*/
    /*cursor: pointer;*/
}

.logo-hightlight img {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
}

.logo-hightlight {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    transition: all .2s ease-in-out;
}

.logo-hightlight:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.logo-hightlight a {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}

/*.logo-hightlight img {*/
/*height: 75%;*/
/*vertical-align: middle;*/
/*display: inline-block;*/

/*}*/

.container-feature-video .sexy-football-topic {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 194, 200, 0.35);
}

.header-filter h3 {
    font-size: 2em;
    margin: 0;
    color: #fff;
}

.header-filter .dropdown {
    margin-left: 15px;
}

.header-filter .dropdown .btn:hover {
    border-color: rgba(225, 225, 225, 1);
}

.header-filter .dropdown .btn {
    color: #fff;
    border-color: rgba(225, 225, 225, 0.75);
    background-color: transparent;
}

.header-filter .dropdown ul li a {
    width: 100%;
    border-bottom: solid 1px #eee;
}

.header-filter .dropdown ul li a img {
    width: auto;
    height: 20px;
    padding-right: 8px;
}

.header-filter .dropdown ul li.active a {
    background-color: rgba(0, 145, 200, 0.5);
}

.header-filter .dropdown,
.header-filter h3,
.header-filter .logo-header-filter {
    display: inline-block;
    vertical-align: middle;
}

.header-filter .dropdown,
.header-filter h3 {
    line-height: 55px;
}

/*.logo-header-filter ,*/
.logo-header-filter img {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
}

/*.header-filter img {*/
/*vertical-align: middle;*/
/*width: 50%;*/
/*}*/

.content-filter .list-league,
.content-filter table tr td {
    padding: 0 10px;
    color: #fff;
    line-height: 55px;
}

/*td .logo-hightlight {*/
/*line-height: 50px;*/
/*}*/

.content-filter .list-league.active,
.content-filter td.active {
    border-bottom: solid 5px #fa0c08;
}

.select-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 55px;
}

.container-feature-video {
    background-image: url(/images/bg-sportball.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 5px solid #fa0c08;
    /*background-color: #02335c;*/
}

.container-feature-video .box-large-videos {
    height: 600px;
    z-index: 6;
}

.wrap-content-cols-2 .col-sm-4 {
    /*background-color: #D0D8DB;*/
}

.content-social-sharing {
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: 10%;
    width: 50px;
}

.content-social-sharing ul li {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.content-social-sharing ul li i {
    font-size: 20px;
}

.box-g-plus-hover {
    margin-top: 40px;
}

.box-g-plus-hover,
.box-sharing-hover {
    height: 40px;
    margin-left: 40px;
    float: left;
    width: 0;
    color: #777;
    text-align: center;
    overflow: hidden;
    font-weight: bold;

}

.box-facebook-sharing,
li.box-facebook-sharing:hover .box-sharing-hover {
    background-color: #29487d;
    color: #fff;
}

li.box-facebook-sharing:hover {
    background-color: #fff;
    color: #29487d;
}

li.box-g-plus-sharing .box-sharing-hover {
    margin-top: 40px;
}

li.box-g-plus-sharing:hover .box-sharing-hover,
li.box-facebook-sharing:hover .box-sharing-hover {
    top: 0;
    width: 90px;
    position: absolute;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

li.box-g-plus-sharing:hover .box-sharing-hover,
.box-g-plus-sharing {
    background-color: #db4437;
    color: #fff;
}

.box-g-plus-sharing:hover {
    background-color: #fff;
    color: #db4437;
}

.box-share {
    display: inline-block !important;
    vertical-align: top;
    width: 60px;
}

.box-share span {
    vertical-align: top !important;
}

.box-share div {
    display: block !important;
}

.container-headerNews {
    padding: 20px 0;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.thai-news .times-content,
.box-other-news .thumbnail .times-content,
.container-headerNews .times-content,
.wrap-lastnews .times-content,
.index-box-videos-highlight .times-content {
    margin: 0;
}

.container-headerNews .bx-story-content {
    padding: 10px;
}

.container-headerNews .bx-story-small > .bx-story-content > .h-content {
    font-size: 16px;
}

.container-headerNews .bx-story-big {
    height: 366px;
}

.wrap-box-most-popular {
}

.wrap-box-most-popular h2,
.wrap-box-videos h2 {
    font-size: 38px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #aaa;
    color: #02335c;
    font-weight: bold;
}

.wrap-box-most-popular h2 {
    margin-top: 0;
    border-color: transparent;
}

.wrap-box-most-popular .nano .content {
    padding: 0;
}

.box-popular img {
    max-width: 100%;
}

.box-popular {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: dotted 1px #000;
    padding-top: 10px;
}

.box-popular .times-content i {
    padding-right: 5px;
}

.box-popular .times-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 8px;
    color: #fff;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.box-popular a {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    z-index: 0;
}

.box-popular-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Articles*/
.wrap-box-results {
    display: block;
}

.wrap-box-results.content-foreignNews-responsive {
    display: none;
}

/*/////////////////////*/
/*Video*/
.label-highlight a:hover,
.label-hithot a:hover {
    color: #02335c;
}

.main-content-video {
    margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 768px){
    .other-video-box{
        display: none;
    }
    .bx-description-videos, .bx-video-type {
        font-size: 12px;
        padding-top: 0;
        display: inline-block;
    }
    .bg-video-sexy,
    .box-large-videos-row ,
    .box-large-videos video,
    .box-large-videos iframe {
        width: 100%;
        height: 100%;
    }
    .bg-video-sexy,
    .box-large-videos-row{
        height: auto;
    }
    h3.title-sortBy{font-size: 18px;}
    .container-all-hothit{margin-top: 50px;}
    .leads-headline {
        max-width: 100%;
        font-size: inherit;
        padding-top: 100px;
         height: auto;
        line-height: 45px;
    }
    h1.leads-headline span{
        line-height: normal;
        font-size: 20px;
    }
    .menu_articles ,
    .related-news,
    .content-related-article ,
    .wrap-content-cols-other ,
    .load_video{
        display: none;
    }
    .contents-row {
        margin-top: 0;
    }
    .bx-description-videos{
        padding: 0!important;
        margin-bottom: 5px;
    }
    .bx-other-video-head{
        display: inline-block;
    }
    .bx-other-video-head .content-large-videos h1 {
        font-size: 22px!important;
        line-height: 25px;
    }
    .news-articles-list{margin-top: 49px;}
}

@media (max-width: 750px) {
    .content-foreignNews-responsive h4.panel-title {
        font-weight: bold;
    }

    .content-foreignNews-responsive h4.panel-title a {
        padding: 15px 10px;
        display: block;
    }

    .content-foreignNews-responsive .panel-default .panel-heading {
        color: #003a6c;
        background-color: #ffffff;
        border-color: #ddd;
        padding: 0;
    }

    [data-toggle="collapse"]:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f054";
        transform: rotate(90deg);
        transition: all linear 0.25s;
        float: right;
    }

    [data-toggle="collapse"].collapsed:after {
        transform: rotate(0deg);
    }

    .content-foreignNews-responsive .panel-title > a {
        text-decoration: none;
    }

    .wrap-box-results.content-foreignNews-responsive {
        display: block;
    }

    .box-popular a {
        display: none;
    }

    .background-image_image,
    .background-image_image2,
    .background-image_image3,
    .background-image_image4 {
        background-attachment: inherit;
    }

    .articles-title h1 {
        font-size: 30px;
    }

    .bx-head-articles {
        height: auto;
    }

    .label-highlight a, .label-hithot a {
        color: #092740;
    }

    .wrap-box-most-popular {
        border-right: solid 1px transparent;
    }

    .bx-story-content {
        padding: 10px 0;
        width: 100%;
    }

    .box-other-news-small,
    .box-other-news-small {
        display: none;
    }

    .header-filter h3 {
        font-size: 18px;
    }

    .logo-header-filter img {
        width: 40px;
        height: 40px;
    }

    .logo-hightlight img {
        width: 28px;
        height: 28px;
        line-height: 28px;
    }

    .select-text {
        font-size: 14px;
        font-weight: normal;
    }

    .content-filter table tr td {
        padding: 0 7px;
    }

    .box-list-video-side,
    .box-list-video-side img {
        /*height: 57px;*/
        /*width: 100px;*/
    }

    .box-content-list {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: auto;
    }

    .box-list-videos td span.label {
        /*font-size: 11px;*/
    }

    .box-lists {
        height: 466px !important;
    }

    .content-large-videos h1 {
        font-size: 20px;
        text-align: left;
        line-height: 30px;
    }

    .box-large-videos {
        height: 80%;
    }

    .nav-tabs.nav-video-list li > a {
        /*font-size: 12px;*/
    }

    .tab-h-content span {
        font-size: 17px;
    }

    .higthlight-box-recent .box-videos {
        height: 17%;
    }

    .logo-header-filter {
        margin-left: 5px;
    }

    .img-other-news {
        height: 29%;
    }

    .container-fluid-resp {
        padding: 0 !important;
    }

    .container-fluid-resp .container {
        width: 100%;
        padding: 0;
    }

    .box-other-news {
        padding: 10px 0;
    }

    .wrap-content-cols {
        /*border: solid 1px;*/
    }

    .container-fluid-resp a.more-btn {
        margin-top: 0;
    }

    .wrap-content-cols {
        padding-bottom: 0;
    }

    .box-list-videos td:first-child {
        width: 10%;
    }

    .container-feature-video {
        margin-top: 49px;
    }

    .other-video-box .box-videos.box-related {
        height: 92px;
    }

    .wrap-box-most-popular .bx1 {
        height: 217px;
        margin: 9px;
    }

    .wrap-box-videos .title-owl-carousel {
        line-height: normal;
        font-size: 16px;
        height: auto;
        margin: 0;
    }

    .wrap-box-videos .owl-carousel {
        margin-top: 0;
    }

    .box-videos-highlight {
        height: 226px;
    }

    .index-box-videos-highlight .owl-theme .owl-nav {
        margin-top: -33px;
    }

    .index-box-videos-highlight .owl-dots {
        display: none;
    }

    .main-content-video {
        margin: 0;
    }

    .main-content-video {
        background: url(/images/background1.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: solid 1px red;
        border-bottom: solid 1px red;
        overflow: auto;
    }

    /*.main-content-video iframe {*/
    /*height: 300px;*/
    /*}*/
    .main-content-video .label-vdo {
        color: #fff;
        margin-top: 10px;
    }

    .index-box-videos-highlight {
        height: 225px;
    }

    .index-box-videos-hothit .box-videos {
        height: 202px;
    }

    .menu-foreignNews-index li.tab-pane-news {
        width: 50%;
        text-align: center;
    }

    .menu-foreignNews-index li.tab-pane-news img {
        height: 70px;
    }

    .wrap-box-results,
    .nav-tabs-league li a span {
        display: none;
    }

    .nav-tabs-league li {
        display: inline-block !important;
    }

    .wrap-box-news .tab-content {
        padding: 15px 0;
    }

    .content-foreignNews-box {
        width: 100%;
    }

    .content-foreignNews-index ul {
        width: 100% !important;
    }

    .content-foreignNews-index .bx2 {
        /*max-height: 100%;*/
    }
    .box-large-videos iframe{height: auto!important;}
}

@media (max-width: 1024px) {

    .label-highlight,
    .wrap-box-most-popular h2 {
        width: 100%;
        float: left;
        text-align: left;
        font-size: 21px;
        margin: 0;
        font-weight: bold;
        transform: none;
        color: #092740;
        position: relative;
    }

    .wrap-box-most-popular h2:after,
    .label-highlight:after {
        display: block;
        content: "";
        width: 30px;
        height: 4px;
        margin-top: 5px;
        margin-bottom: 15px;
        background: none repeat scroll 0% 0% #092740 !important;
    }
}