.container-article-fb{
    padding-top: 100px;
}
article.content-article-fb header{
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
article.content-article-fb p{
    font-size: 16px;
}
article.content-article-fb{
    margin-top: 10px;
}
figure.box-image{
    margin: 15px 0;
}
figure.box-image img{
    width: 100%;
}
ul.box-time-article{margin-bottom: 15px;}
ul.box-time-article li{
    display: inline-block;
    padding-right: 10px;
}