
.bx-head-fixtures, .bx-head-profile {
    height: 350px;
    position: relative;
    padding: 30px 0 90px 0;
}

.bx-head-fixtures {
    background-color: #000;
    /*background-image: url('/images/bg-h-ranking.jpg');*/
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtop {
    background-image: url('/images/bg-tophead.jpg');
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.hilight-cover-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.35);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 47%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(47%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 47%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.35) 47%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35) 47%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 47%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);

    /*background: rgba(212, 228, 239, 0);*/
    /*background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 47%, rgba(0, 58, 108, 1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(47%, rgba(212, 228, 239, 0)), color-stop(100%, rgba(0, 58, 108, 1)));*/
    /*background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 47%, rgba(0, 58, 108, 1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 47%, rgba(0, 58, 108, 1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 47%, rgba(0, 58, 108, 1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 47%, rgba(0, 58, 108, 1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#003a6c', GradientType=0);*/
}

.bx-head-gallery {
    position: relative;
    padding: 120px 0 140px 0;
}

.bx-head-profile {
    padding: 30px 0 120px 0;
}

.head-title-top {
    color: #fff;
    margin-top: 65px;
    text-align: right;
}

.head-title-top div:first-child {
    font-size: 2em;
}

.head-title-top div:last-child {
    font-size: 2.5em;
}

.nav-bar-fix li > a {
    background-color: #0091c8;
    color: #fff;
    border: 0px !important;
    padding: 13px 15px 7px 15px !important;
}

.nav-bar-fix li > a:hover {
    background-color: #0091c8 !important;
}

.nav-bar-fix li.active > a, .date-slider li.active {
    color: #003a6c !important;
}

.label-reset {
    background-color: #003a6c;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.label-reset a {
    color: #fff;
}

.label-reset:hover {
    background-color: #ddd;
}

.label-reset i {
    color: #0091c8;
}

table.table-fixtures td {
    padding: 5px;
    font-size: 1.1em;
    border-bottom: solid 1px #eee;
}

table.table-fixtures td:first-child {
    width: 5%;
}

table.table-fixtures td:nth-child(6) {
    width: 7%;
    text-align: center;
}

.bx-label-hdp {
    display: inline-block;
    padding: 0px 10px;
    color: #000;
    width: 60px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

table.table-fixtures label {
    font-weight: normal;
}

table.table-fixtures td {
    border: solid 1px #eee;
}

table.table-fixtures td:nth-child(2), table.table-fixtures td:nth-child(4) {
    width: 28%;
}

table.table-fixtures td:nth-child(5) {
    width: 15%;
}

table.table-fixtures td:nth-child(2) {
    text-align: right;
}

table.table-fixtures td:nth-child(3), table.table-fixtures td:nth-child(5), table.table-fixtures td:last-child {
    width: 5%;
}

table.table-fixtures td:nth-child(10), table.table-fixtures td:nth-child(9) {
    text-align: center;
    width: 1%;
    color: #888;
}

table.table-fixtures td:nth-child(7) {
    width: 8%;
    text-align: center;
}

table.table-fixtures td:nth-child(8) {
    cursor: pointer;
    width: 8%;
    text-align: center;
}

table.table-fixtures td:nth-child(5), table.table-fixtures td:last-child {
    font-weight: bold;
    text-align: center;
}

.active-select-noti {
    color: #0091c8;
}

.dropdown-noti li > a {
    background-color: #fff !important;
}

.live-channel {
    position: relative;
}

.live-channel img {
    width: 30px;
}

.date-slider li {
    display: inline-block;
    margin: 15px 5px;
    cursor: pointer;
    color: #999;
}

.date-slider li.active {
    border-bottom: solid 2px #003a6c;
}

/*stat*/

.wrap-game-live {
    text-align: center;
    color: #fff;
    margin-top: 45px;
}

.wrap-game-live img {
    width: 20%;
}

.wrap-game-live > .col-sm-5 {
    /*border:solid 1px yellow;*/
}

.name-team1, .name-team2 {
    font-size: 2em;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(41, 18, 28, .8);
}

.bt-bet {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #0091c8;
    border-radius: 5px;
    margin: 15px 5px 0px 5px;
    cursor: pointer;
    font-size: 16px;
}

.bt-bet a {
    color: #fff;
}

.bx-league {
    font-size: 12px;
}

.tab-head {
    margin: 15px;
    margin: 50px;
}

.tab-head-top {
    margin-top: -42px;
    position: absolute;
    width: 88%;
}

.tab-head-top li > a {
    color: #fff;
}

.tab-head-top li.active {
    border-bottom: 0px !important;
    color: #003458 !important;
    background-color: #fff !important;
}

.tab-head-top li {
    padding: 10px 20px !important;
    border-radius: 5px 5px 0px 0px !important;
    font-size: 16px !important;
    background-color: #0091c8;
    border: 0px !important;
}

.tab-head-top li:hover {
    background-color: #003458;
}

.tab-head li {
    border: solid 1px #003a6c;
    border-radius: 5px;
}

.tab-head li, .tabs-selected li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.3em;
}

.tab-head li.active {
    background-color: #003a6c;
    font-weight: bold;
    color: #fff;
}

.tab-head-title {
    font-size: 1.4em;
    padding: 5px;
    border-bottom: solid 1px #ddd;
    color: #003a6c;
    margin-top: 15px;
}

.btn-selected button.active {
    background-color: #eee !important;
    color: #003a6c;
}

.btn-selected button, .bx-h2h .bx-percent, table.table-h2h th, .h-league {
    color: #003a6c;
    font-weight: bold;
}

.bx-h2h {
    margin-top: 10px;
    padding: 10px 0px;
    border-bottom: solid 1px #ddd;
}

.bx-h2h table {
    margin-top: 10px;
}

.bx-h2h td {
    padding: 5px 15px;
    text-align: center;
}

.bx-h2h label {
    font-weight: normal;
}

.bx-h2h .bx-percent {
    font-size: 1.2em;
}

.h-league {
    font-size: 1.3em;
}

table.table-h2h th {
    border-bottom: solid 1px #eee;
    padding: 8px;
}

table.table-h2h th:nth-child(2) {
    width: 12%;
}

table.table-h2h img, table.table-stat img {
    width: 22px;
    height: 22px;
}

table.table-h2h td {
    padding: 8px 5px;
}

table.table-h2h td:first-child {
    width: 18%;
}

/*table.table-h2h td:nth-child(3),table.table-h2h td:nth-child(5){*/
/*width: 25%;*/
/*}*/
.h-league img, .bx-next-match img {
    width: 30px;
    height: 30px;
}

table.table-stat th {
    color: #333;
    font-size: 12px;
}

table.table-stat td, table.table-stat th {
    padding: 5px 0px;
    text-align: center;
}

table.table-stat td:nth-child(2), table.table-stat th:nth-child(2) {
    text-align: left;
}

table.table-stat td:last-child {
    font-weight: bold;
    color: #000;
}

.bx-next-match span {
    font-size: 1.4em;
    color: #888;
}

.bx-next-match td {
    padding: 3px 10px;
}

.bx-next-match td:first-child, .bx-next-match td:last-child, .team-score {
    color: #000;
}

.txt-score {
    font-size: 5em;
    padding: 5px;
}

/*games*/
.bx-comments-games {
    padding: 15px 0px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 1);
    box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 1);
}

table.table-teams td {
    color: #000;
}

.box-comments td {
    vertical-align: top;
    padding: 2px 0px;
}

.box-comments i {
    /*color: red;*/
}

.box-comments td:first-child {
    width: 35px;
}

.box-img-user, .box-img-user img {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}

.box-comments strong, .bx-table-ranking td:nth-child(2) {
    color: #003a6c;
}

.box-comments span {
    padding-right: 10px;
}

/*.box-comments input {*/
/*height: 25px;*/
/*}*/

.comment-input-main input {
    background-color: #eee;
    width: 92%;
    float: left;
}

.comment-input-main {
    margin-top: 10px;
}

.dropdown select {
    border: 0px;
}

.bx-raking strong {
    font-size: 1.3em;
}

.bx-table-ranking {
    background-color: #eee;
    padding: 10px;
}

.bx-table-ranking table {
    margin-top: 10px;
}

.bx-table-ranking td {
    border-bottom: solid 1px #ddd;
    padding: 5px 2px;
}

.bx-table-ranking td:first-child {
    width: 8%;
}

.bx-radius, .bx-radius img {
    width: 25px;
    height: 25px;
}

.bx-radius img {
    border-radius: 50%;
}

.bx-table-ranking td:last-child, .bx-table-ranking th:last-child {
    text-align: right;
}

.bx-table-ranking td:last-child {
    color: #ff6000;
}

.txt-name-rank {
    float: left;
    width: 100px;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.wrap-game-today > .nano > .content > .active {*/
/*background-color: #eee;*/
/*}*/

/*.wrap-game-today2 > .nano > .content > .active {*/
/*background: none !important;*/
/*}*/

.wrap-game-today {
    /*max-height: 727px;*/
    /*overflow-y: auto;*/
}

.bx-advertise {
    border: solid 1px #ddd;
    color: #555;
}

.content-ads div {
    font-size: 1.3em;
    color: #000;
}

.content-ads {
    padding: 10px;
}

label.point-team {
    padding: 0px 15px 0px 15px;
    font-size: 1.2em;
    margin: 0px;
    border-right: solid 1px #0091c8;
    border-left: solid 1px #0091c8;
    margin: 0px 10px 0px 10px;
}

.header-game {
    position: relative;
}

.content-header {
    position: absolute;
    right: 0;
    color: #003a6c;
    font-family: 'Pridi', serif;
    text-align: right;
    margin-top: 20px;
}

.content-header strong {
    font-size: 1.8em;
}

.content-header span {
    font-size: 1.2em;
}

.bx-radius-o, .bx-blue-bg {
    display: block;
    text-align: center;
    line-height: 18px;
    float: right;
    margin-left: 5px;
}

.bx-radius-o {
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    border: solid 1px;
}

.bx-radius-o b, .bx-blue-bg b {
    font-size: 2em;
    font-weight: normal;
}

/*profile*/
.head-title-profile {
    color: #fff;
}

.bx-blue-bg {
    width: 65px;
    padding: 5px;
    background-color: #143c60;
    font-family: 'Pridi', serif;
}

.head-title-profile strong {
    border-bottom: solid 1px;
}

.img-profile {
    display: block;
    width: 100%;
    position: relative;
}

.img-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 3px #999;
}

.h-profile {
    position: relative;
    margin: 0 8px 20px 8px;
}

.bx-img-profile-player {
    width: 20%;
    position: absolute;
    margin-top: -140px;
}

.img-profile-player, .img-profile-player img {
    display: block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.bx-img-profile {
    text-align: center;
    width: 100%;
    margin-top: -75px;
    margin-bottom: 20px;
}

.bx-line-profile {
    text-align: center;
    /*width: 90%;*/
    /*position: absolute;*/
    /*margin-top: -45px;*/
    /*right: 0;*/
}

.profile-name {
    font-size: 2em;
    color: #02335c;
}

.level, .second-name {
    font-size: 1.3em;
    font-family: 'Pridi', serif;
}

.level, .table-coins strong {
    color: #143c60;
}

table.table-coins {
    background-color: #fff;
}

table.table-coins tr td strong {
    font-size: 20px;
}

.wrap-bx-trophy {
    /*margin: -48px 8px 10px 0px;*/
}

.wrap-bx-trophy span {
    display: block;
    float: right;
    padding: 5px 9px;
    border: solid 0.5px #eee;
    margin-left: 5px;
    position: relative;
}

.noti-trophy {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #337ab7;
    color: #fff;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    font-size: 11px;
}

.wrap-bx-trophy img, .table-coins img {
    width: 47px;
}

.bx-white-border {
    /*border: solid 1px #ccc;*/
    padding: 5px;
    clear: both;
}

table.table-coins td {
    padding: 10px 3px;
}

.table-coins div {
    color: #888;
}

.table-coins strong, .tab-h-game {
    font-size: 1.2em;
}

.section-exchange-coins {
    transition: 0.3s;
}

.bx-btn-change-coin {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.stat-games {
    width: 203px;
    margin: 0 auto;
}

.stat-games td {
    text-align: center;
}

.stat-games td > div {
    font-size: 1.4em;
    font-weight: bold;
}

.stat-games td > .info {
    font-size: 2em;
}

.top-solid-border {
    border-top: solid 5px #143c60;
}

.tab-h-game {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'Pridi', serif;
}

.h-ranking {
    background-color: #02335c;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
}

.nav-top-rank li {
    /*width: 32%;*/
    /*text-align: center;*/
    /*background-color: #02335c;*/
}

.nav-top-rank li a {
    /*background-color: transparent;*/
    color: #999;
    font-weight: normal;
}

.nav-top-rank li a:hover {
    /*background-color: transparent!important;*/
}

.nav-top-rank li.active a,
.nav-top-rank li.active a:focus,
.nav-top-rank li.active a:hover {
    /*background-color: transparent!important;*/
    /*border:0!important;*/
    /*color: #0b3457!important;*/
    font-weight: bold;
    /*border-bottom: 5px solid #0b3457!important;*/

}

.bt-view-all {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #555;
    font-weight: normal;
}

.bt-view-all:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
}

.bg-hdp-blue {
    background-color: #034c8c;
    color: #fff !important;
    padding: 5px 5px 2px 5px;
}

.title-articles {
    margin-bottom: 10px;
}

.bx-level-step {
    height: 45px;
}

.bx-level-step img {
    width: 100%;
}

.btn-step {
    background-color: #202425;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    float: right;
}

.tab-top-rank-type table {
    margin-bottom: 0;
}

.tab-top-rank-type {
    text-align: left;
    padding: 5px 0;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.tab-top-rank-type .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.tab-menu-rank {
    padding: 5px;
    width: 192px;
    background-color: #eee;
}

.section-exchange-coins .page-header {
    margin-top: 15px;
}

.section-exchange-coins ul li {
    list-style: disc;
}

.section-exchange-coins ul li {
    margin-left: 40px;
    font-size: 16px;
    line-height: 25px;
}

.bx-list-ranking {
    max-height: 260px;
    overflow-y: auto;
}

.bx-list-ranking td:first-child {
    text-align: center;
    font-size: 1.6em;
    color: #afb6bc;
}

.bx-list-ranking table.table tr td {
    vertical-align: middle;
    padding: 4px 8px;
}

.ranking-icon img {
    width: 45px;
}

.bx-list-ranking td > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bx-list-ranking td:first-child {
    width: 30px;
}

.bx-list-ranking td:last-child div:last-child {
    color: #000;
}

.username-ranking, .username-ranking-top {
    font-size: 1em;
    color: #333;
    width: 105px;
    /*height: 18px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.username-ranking-top {
    font-size: 1.3em;
    /*width: 80%;*/
    /*height: 32px;*/
    font-family: 'Pridi', serif;
}

.wr-box-result td {
    font-size: 1.1em;
    padding: 3px;
}

.wr-box-result td:first-child {
    width: 35%;
}

.wr-box-result img, .bx-stat-played img {
    width: 22px;
}

.team-played {
    text-decoration: underline;
}

.team-hdp {
    color: #0091c8;
    font-weight: bold;
}

.tableStatement {
    display: block;
    background-color: #fff;
    height: 400px;
    overflow-y: auto;
}

.tableStatement table {
    width: 100%;
}

.tableStatement th {
    color: #555;
    width: 20%;
    vertical-align: middle;
    padding: 3px;
}

.tableStatement td {
    padding: 5px;
}

.tableStatement th:first-child {
    width: 18%;
}

.statementCoins td {
    border: 0;
    width: 50%;
}

.displayCoin td {
    border: 0;
    width: 50%;
}

.selectStatementType {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

td.listType {
    color: #008ae2;
    border: 0;
}

td.dateTimestamp {
    color: #8a8a8a;
    border: 0;
}

td.text-Sgold {
    color: #000;
}

td.text-Scoin {
    color: #888;
    border-left: none;
}

td.text-Sgold b, td.text-Scoin b {
    font-size: 11px;
}

td.totalScoin {
    color: #555;
}

.h-rank {
    font-size: 1.8em;
    color: #000;
}

.h-rank img {
    width: 60px;
    height: 60px;
}

.ranking-icon35 img {
    width: 50px;
}

.box-ranking-top th, .box-ranking-top td {
    text-align: center;
    padding: 5px;
}

.box-ranking-top th {
    padding: 5px;
}

.box-ranking-top td:first-child {
    width: 55px;
    text-align: center;
}

.box-ranking-top td:last-child {
    text-align: left;
}

.box-ranking-top td:nth-child(3) {
    text-align: left;
}

.box-ranking-top span {
    font-size: 3em;
    color: #afb6bc;
}

.txt-3em {
    font-size: 1.3em;
}

.box-ranking-top {
    padding: 5px 0px;
}

.nav-5leage li {
    width: 20%;
    text-align: center;
}

.nav-half li {
    width: 50%;
    text-align: center;
}

.nav-3sec li {
    width: 33.33%;
    text-align: center;
}

.nav .nav-3sec li a {
    font-size: 1em;
}

.wrap-table-rows {
    margin: 20px 0px;
}

table.table-market img {
    width: 20px;
}

table.table-market td:first-child {
    width: 20%;
}

.bx-lineup {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.bx-lineup span {
    color: #888;
}

.box-lineup {
    background-image: url('/images/lineups-bg.jpg');
    height: 700px;
    background-size: 100% 700px;
}

.box-lineup td {
    height: 700px;
    vertical-align: middle;
    text-align: center;
    width: 25%;
}

.bx-player, .bx-player img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.wrap-box-player {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}

.bx-player img {
    border: solid 3px #0065f6;
    display: none;
}

.label-number {
    position: absolute;
    background-color: #0065f6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    top: -10px;
    z-index: 10;
    text-align: center;
    font-size: 2em;
    line-height: 50px;
}

table.table-detail-lineup td {
    padding: 10px;
    width: 50%;
    vertical-align: top;
}

table.table-detail-lineup strong {
    color: #000;
    font-size: 1.2em;
}

.table-match-stat th {
    padding-bottom: 5px;
    border-bottom: solid 1px #ddd;
}

.table-match-stat td {
    padding: 5px;
    border-bottom: solid 1px #eee;
}

table.table-progress td {
    border-bottom: 0px;
}

.table-match-stat th:first-child {
    text-align: right;
}

.table-match-stat td:first-child, .table-match-stat td:last-child {
    width: 38%;
}

.table-match-stat td:nth-child(2) {
    text-align: center;
}

.table-match-stat img {
    width: 20px;
}

.table-match-stat .progress {
    margin-bottom: 0px;
}

.progress-left .progress-bar {
    float: right;
}

.table-match-stat span {
    font-weight: bold;
}

.txt-red {
    color: #e40520;
}

.popover-tooltip, .popover-tooltip-events {
    position: absolute;
    width: 200px;
    padding: 5px;
    top: -65px;
    left: -25px;
    background-color: #fff;
    z-index: 25;
    border-radius: 5px;
    color: #333;
    display: none;
}

.tooltip-hover {
    top: -1px !important;
    left: 42px !important;
    color: #003a6c;
    padding: 10px 5px !important;
}

.popover-tooltip-events {
    background-color: #ddd;
    top: -60px;
    left: -80px;
    font-size: 12px;
}

.wrap-box-player:hover > .popover-tooltip, .events:hover > .popover-tooltip-events, .live-channel:hover > .popover-tooltip-events {
    display: block;
}

.events:hover > .popover-tooltip-events:after {
    border-top: solid #ddd 9px !important;
}

.wrap-box-player > .popover-tooltip:after, .events:hover > .popover-tooltip-events:after {
    border-left: solid transparent 8px;
    border-right: solid transparent 8px;
    border-top: solid #fff 9px;
    bottom: -8px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    width: 0;
}

.live-channel:hover > .popover-tooltip-events:after {
    border-top: solid transparent 8px;
    border-bottom: solid transparent 8px;
    border-right: solid #dddddd 9px;
    bottom: -8px;
    content: " ";
    height: 0;
    left: 1px;
    margin-left: -9px;
    position: absolute;
    width: 0;
    top: 1px;
}

.bx-line-events {
    background-image: url('/images/stat/lineups-stats-sportball.png');
    height: 70px;
    background-size: 100% 70px;
    margin: 15px 0px;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
}

.line-events {
    width: 89.5%;
    top: 20px;
    position: absolute;
    height: 50px;
    left: 75px;
    right: 80px;
}

.team1 {
    top: -2px;
}

.team2 {
    top: 38px;
}

.events {
    position: absolute;
    top: 0;
}

.events img {
    width: 35px;
}

.refresh-loading {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
}

.refresh-loading img {
    width: 45px;
}

.end-time-play {
    position: absolute;
    left: 980px;
    top: 10px;
    color: #0661e5;
    padding: 2px 3px;
    border-right: solid 2px #0661e5;
}

.cols-info {
    font-size: 1.4em;
    text-align: right;
}

.bt-games {
    border: solid 1px;
    display: inline-block;
    padding: 15px 20px;
    font-size: 1.4em;
    margin: 20px 0px;
}

.bt-games:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.img-user-ranking, .img-user-ranking img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.img-user-ranking img {
    border-radius: 50%;
}

.bt-seemore {
    border: solid 1px;
    padding: 5px 8px;
    color: #555;
    cursor: pointer;
    display: none;
}

.bt-seemore:hover {
    color: #003a6c;
}

.nav-tabs-games li > a {
    padding: 10px 13px !important;
}

.wr-box-result {
    max-height: 350px;
    overflow-y: auto;
}

.wr-box-result table.table {

}

table.table-stat-number td:first-child {
    width: 7%;
}

table.table-stat-number td:last-child {
    text-align: right;
}

table.table-stat-number td {
    font-size: 14px;
    /*text-align: right;*/
    /*vertical-align: top;*/
}

.box-info-coins, .boxCombo, .box-reset-coin {
    border: solid 1px #ddd;
    padding: 10px;
}

.box-info-coins img {
    width: 55px;
}

.box-info-coins td:first-child {
    width: 75px;
}

.box-info-coins strong, .boxCombo strong {
    font-size: 1.4em;
}

.boxCombo {
    margin-bottom: 5px;
}

.boxCombo td, .box-info-coins td {
    font-size: 1.2em;
    line-height: 20px;
}

.boxCombo td:first-child {
    width: 15%;
}

.boxCombo td:last-child {
    width: 30%;
}

.boxCombo button, .box-reset-coin button {
    padding: 15px;
}

.box-reset-coin button {
    font-size: 1.3em;
    width: 50%;
}

.box-reset-coin td {
    text-align: center;
}

.box-reset-coin strong {
    font-size: 2em;
}

.tableExchanged input,
.tableExchanged select {
    width: auto;
    display: inline-block;
    /*padding: 7px;*/
}

.tableExchanged td {
    /*vertical-align: middle;*/
    /*color: #000;*/
}

.tableExchanged th, .tableExchanged td {
    text-align: center;
    /*padding: 5px;*/
    /*border: solid 1px #ccc;*/
    /*text-align: center;*/
}

.tableExchanged tr td img {
    height: 30px;
    /*background-color: #333;*/
    /*color: #fff;*/
}

.red-heart {
    color: red;
}

.hdp-team {
    font-weight: bolder;
    color: #0091c8;
}

.cards {
    margin: 0px 5px;
    display: inline-block;
}

.cards img {
    width: 7px;
}

.blink-color {
    color: red;
}

.sidebar-profile {

}

.content-profile {
    background-color: #eee;
    min-height: 1500px !important;
    border-left: 1px solid #e3e3e3;
}

.box-sidebar-ranking .page-header {
    border-color: #0b3457;
}

.box-sidebar-ranking .page-header i {
    font-size: 24px;
}

.section-stat .page-header {
    margin-top: 15px;
}

.tab-filter {
    margin: 10px 0;
}

.tab-filter select {
    margin-left: 10px;
}

.articles-title .container {
    padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    body.mobile-ranking {
        background-color: #f1f1f1;
    }

    .bx-head-fixtures,
    .h-rank img {
        display: none;
    }

    .container-ranking {
        margin-top: 50px;
    }

    .container-ranking .nav-tabs {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
    }

    .container-ranking .nav-tabs > li a {
        font-size: 11px;
        padding: 3px 0;
    }

    .container-ranking .nav-tabs > li {
        flex: 1;
        float: none;
        margin-bottom: -1px;
        padding: 0 5px;
    }

    .container-ranking .tab-content {
        background-color: #fff;
        border: solid 1px #ddd;
        margin-top: -1px;
    }

    .nav-3sec li {
        width: auto;
    }

    .h-rank img {
    }

    .username-ranking-top {
        font-size: 12px;
        font-family: sans-serif;
        width: 89px;
    }

    .txt-3em {
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .articles-title .container {
        width: 100%;
        padding: 50px;
    }

    .wrapper-news-articles .container {
        width: 100%;
    }

    .box-ranking-top span {
        font-size: 18px;
    }

    .img-user-ranking, .img-user-ranking img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .box-ranking-top td:first-child {
        width: 12%;
    }

    .nav.nav-3sec li a {
        padding: 10px 0;
    }
}