.container-football-live{
    height: 1000px;
}
.container-football-live .topic .pull-left ul li,
.container-football-live .topic .select-nav ul li{
    display: inline-block;
    padding-right: 10px;
}
.container-football-live .topic .pull-left
ul li img{
    height: 30px;
}
.container-football-live .topic .pull-left
ul li h1{
    color: #fff;
    font-size: 25px;
    margin-top: 0;
}
.container-football-live .topic{
    background-color: #000;
    line-height: 70px;
    height: 70px;
}
.container-football-live .topic .select-nav ul li a{
    font-size: 18px;
    color: #fff;
}