.yellow-card,
.red-card,
.substitute-player:before,
.goal-score:before,
.win-status:before,
.lose-status:before ,
.draw-status:before ,
.group-yellow-card{
    display: inline-block;
    vertical-align: middle;
}

/*ใบเหลือง/ใบแดง*/
.yellow-card,
.red-card {
    width: 12px;
    height: 18px!important;
    margin: 3px 0;
}

.yellow-card {background-color: orange;}
.red-card {background-color: red;}

/*ใบเหลืองแดง*/
.group-yellow-card:before {
    height: 15px!important;
    content: url("https://png.icons8.com/office/18/000000/red-yellow-cards.png");
}
.substitute-player:before,
.goal-score:before {
    font: normal normal normal 14px/1 FontAwesome;
    color: #4785d2;

}

/*ไเ้ประตู*/
.goal-score:before {
    content: "\f1e3";
}

/*เปลี่ยนตัว*/
.substitute-player:before {
    content: "\f0ec";
}

/*จุดโทษ*/
.penalty-score:before {
    content: url("/images/livescore/penalty-goal.png");
    height: 15px!important;
}

/*พลาดจุดโทษ*/
.penalty-none-score:before {
    height: 10px!important;
    content: url("/images/livescore/penalty-goal-none.png");
}

/*ทำเข้าประตูตัวเอง*/
.own-goal {
    content: url("/images/livescore/own-goal.png");
    height: 15px!important;
}

/*ชนะ*/
.win-status:before ,
.lose-status:before ,
.draw-status:before {
    color: #fff;
    text-align: center;
    font-size: 8px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 50%;
}
.win-status:before{
    content: "W";
    background-color: #0093c9;
}
.lose-status:before{
    content: "L";
    background-color: #d60620;
}
.draw-status:before{
    content: "D";
    background-color: #a1a9af;
}