:hover {
    transition: 0.3s;
}

.container-football-live {
    height: 1000px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url("/images/background-live.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.container-football-live .topic .pull-left ul li,
.container-football-live .topic .select-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.container-football-live .topic .pull-left ul li img {
    height: 30px;
}

.container-football-live .topic .pull-left ul li h1 {
    color: #fff;
    font-size: 25px;
    margin-top: 0;
}

.container-football-live .topic {
    background-color: #000;
    border-bottom: solid 1px;
    border-color: #028ec3;
    line-height: 70px;
    height: 70px;
}

.container-football-live .topic .select-nav ul li a:hover {
    background-color: #028ec3;
}

.container-football-live .topic .select-nav ul li a {
    font-size: 18px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.select-nav ul li:hover div.select-content {
    height: 350px;
}

.select-content {
    color: #fff;
    left: 0;
    top: 0;
    margin-top: 70px;
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.75);
}

.select-content h3 {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 1px #aaa;
}

.select-content ul {
    padding-top: 20px;
}

.select-content ul li:hover p {
    text-decoration: underline;
}

.select-content ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.select-content ul li {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: auto;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 4px !important;
    text-align: center;
    cursor: pointer;
    margin: 0 5px 10px 5px;
}

.select-content ul li p,
.select-content ul li,
.select-content ul li span {
    display: block;
    float: left;
}

.select-content ul li span img {
    width: 90%;
    vertical-align: middle;
}

.select-content ul li span {
    text-align: center;
    height: 50px;
    display: inline-block;
}

.select-content ul li span,
.select-content ul li p {
    width: 100%;
}

.select-content ul li p {
    margin: 0;
    padding: 0;
}

/*--------------*/
.view-live{
    display: inline-block;
}
.view-live{
    color: #fff;
    padding-left: 10px;
}
.box-tabs-livelist table tr td:first-child{width: 170px;}
.box-tabs-livelist
.box-list-video-side img {
    height: 94px;
    width: 168px;
}
.box-tabs-livelist tr{
    border-bottom: solid 1px;
    border-color: rgba(255,255,255,0.1);
}
.box-tabs-livelist tr.box-livefootball-active ,
.box-tabs-livelist tr.box-livefootball-active:hover,
.box-list-videos tr:hover{
    padding-left: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    /*background-color: rgba(0, 145, 200, 0.5);*/
}
tr.box-livefootball-active td span i{
    -webkit-animation-name: blinker-live;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
tr.box-livefootball-active{

}
tr.box-livefootball-active td{color: #fff}
tr.box-livefootball-active div.box-list-video-side img{
    opacity: 1;
}
tr.box-livefootball-active .box-list-video-side .icon-play {
    display: block!important;
}
tr.box-livefootball td h4{
    font-size: 14px;
    margin: 0;
}
tr.box-livefootball-active td h4{
    color: #fff;

    font-weight: bold;
    text-decoration: underline;
}
@-webkit-keyframes blinker-live{
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
tr.box-livefootball td span.label.label-live:hover,
tr.box-livefootball td span.label.label-live {
    background-color: red !important;
    color: #fff;
}
tr.box-livefootball h4{
    margin: 0;
    margin-bottom: 10px;
}
tr.box-livefootball td .box-list-video-side img,
tr.box-livefootball td .box-list-video-side{
width: 120px;
    height: 67px;
}
tr.box-livefootball td:last-child{
    width: 120px;
    border:solid 1px #fff;
}
tr.box-livefootball td:first-child {
    width: 120px!important;
}
td p.text-league,
td p.text-time-live{
    margin-bottom: 0;
}
.bg-content-live h1,
.bg-content-live p{
    color: #fff;
}
.content-list-live{
    overflow-y: scroll;
    height: 600px;
}
.content-list-live::-webkit-scrollbar{
    display: none;
}
td.chanel-list ul{
    margin: 0;
    padding: 0;
}
td.chanel-list ul li{
    display: inline-block;
    width: auto;
}
td.chanel-list ul li img{
    width: 50px;
}