.zoom img{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom:hover > img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bx-gallery , .bx-gallery-big{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.bx-gallery-big {
    height: 382px;
}
.bx-gallery-big-detail{
    position: absolute;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.75);
    bottom: 0;
    z-index: 8;
}
.bx-gallery-big-detail .tab-datetime {
    background-color: transparent;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
}
.bx-gallery-big-detail .bx-detail-gallery {
    padding-left: 10px;
    font-size: 20px;
    color: #fff;
}

.wrap-box-gallery-side .bx-gallery-big-detail,
.wrap-box-gallery-side .tab-datetime,
.wrap-box-gallery-side .bx-detail-gallery{
    padding: 0;
}

.wrap-box-gallery-side .bx-detail-gallery{
    font-size: 14px;
    margin: 0;
}

.wrap-box-gallery-side .bx-gallery-big-detail{
    padding: 0 5px;
}
.wrap-box-gallery-side:hover > .crop{
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}
.bx-gallery {
    height: 200px;
}
.bx-gallery-submenu{
    background-color: #000;
    text-align: center;
}
.bx-gallery-submenu img{
    max-height: 150%;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.box-videos-highlight{
    height: 138px!important;
}
.bx-gallery-sexy-index{
    height: 183px!important;
}
.box-video-sexy-index{
    height: 212px!important;
}
.tab-datetime {
    background-color: #e5e5e5;
    padding: 5px;
    color: #999;
    font-size: 12px;
}

.wrap-box-gallery {
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}

.bx-type-gallery {
    position: absolute;
    /*border: solid 2px;*/
    z-index: 3;
    padding: 10px;
    text-align: center;
    /*border-radius: 50%;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin: 10px;*/
    /*line-height: 18px;*/
    /*color: #fff;*/
}
.bx-type-gallery i{
    font-size: 20px;
}
.bx-detail-gallery h5{width: 100%;}
.bx-detail-gallery h5 ,
.bx-detail-gallery {
    /*border-left: solid 3px #003a6c;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
    padding: 5px 5px 5px 0;
    overflow: hidden;
    font-family: 'Pridi', serif;
    font-size: 16px;
}

.box-white {
    background-color: #fff;
    width: 100%;
    padding: 10px 15px;
}

/*box vision top header*/

.bg-sub-head {
    background-color: #003459;
}

.bg-vision-head {
    background-color: #f4f4f4;
    padding: 5px 0px;

}

.col-box-vision {
    padding: 3px !important;
}

.col-box-vision .box-white{
    padding: 10px 15px 0px 15px !important;
}

.bt-predict {
    border: solid 1px #003a6c;
    padding: 3px 12px;
    border-radius: 15px;
    color: #003a6c;
    cursor: pointer;
}

.bx-half-left {
    border-right: solid 1px #ddd;
}

.bx-half-left img {
    width: 20px;
}

.bx-half-left td {
    padding: 3px 0px;
    font-size: 18px;
}

.bx-half-left td:first-child {
    width: 38px;
}

.bx-half-left td:last-child {
    text-align: right;
}

.bx-half-left tr:first-child > td > span{
    color: #0083b8;
}

.bx-half-left label {
    display: block;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    font-weight: normal;
}

.box-vision {
    color: #888;
}

.content-vision {
    height: 41px;
    overflow: hidden;
}

/*games*/
li.tb-hdp{
    background-color: #0091c8;
    color: #fff;
    font-weight: bold;
}

table.table-namteam td{
    width: 50%;
    text-align: center;
    background-color: white;
}

.name-teams{
    margin: 40px 0px 0px 0px;
    font-size: 30px;
    font-family: rsuregular;
    color: #000;
}


table.table-ui-division td {
    text-align: center;
    width: 33.33%;
    padding: 5px 0px;
    background-color: white;
    vertical-align: middle;
    line-height: 15px;
}

table.table-ui-division td:first-child{
    text-align: right;
}

table.table-ui-division td:last-child{
    text-align: left;
}

table.table-ui-division img{
    width: 25px;
}

table.table-ui-division span{
    font-size: 1.5em;
    font-family: rsuregular;
}

table.table-ui-division rt{
    color: #0091c8;
    display: block;
}

table.table-ui-division .progress{
    height: 10px;
    border-radius: 0px;
    background-color: #ddd;
    margin-bottom: 0px;
}

table.table-ui-division .progress-bar{
    height: 10px;
}

.bottom-line{
    border-bottom: solid 1px #195684;
}

.active-playing{
    background-color: #fff;
}

.active-playing td {
    color: #000 !important;
}

.vote-left, .vote-right{
    position: absolute;
    width: 50%;
    background-color: #fff;
    color: #000;
    padding: 50px 0px 5px 0px;
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.75);
}

.vote-left{
    border-radius: 10px 10px 0px;
    background-color: #03385f;
    color: #fff;
}

.vote-right{
    right: 0;
    background-color: #fff;
    border-radius: 10px 10px 10px 0px;
    color: #03385f;
}

.box-vote{
    top: 135px !important;
    z-index: 3;
}
