body h2, h3, h4, h5, p, strong,
.score-state,
.title-label-rota,
table.table-state tr th,
table.table-state tr td {
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif !important;
}

.content-game-redesign .topic-league {
    margin-bottom: 0;
}

.content-game-redesign .content-HDP-vote ul li {
    padding: 0 5px;
}

.content-livescore-main.content-game-redesign {
    padding-bottom: 10px;
    margin-bottom: 0;
}

.box-HDP-game {
    background-color: rgba(0, 0, 0, 0.1);
    width: 246px;
    padding: 20px 10px !important;
}

.box-HDP-game table tr td {
    vertical-align: middle !important;
    color: #02335c;
}

.box-HDP-game table tr td h2,
.box-HDP-game table tr td p {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.box-HDP-game table tr td h2 {
    font-size: 32px;
    font-weight: bold;
}

ul.content-HDP-game li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

li.box-last-match {
    /*width: 350px;*/
}

li.box-last-match table tr td {
    font-size: 16px;
    padding-bottom: 5px;
}

li.box-last-match table tr td img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
li.box-last-match.text-left table:nth-child(2) tr td span,
li.box-last-match.text-right table:nth-child(2) tr td span{
    margin: 0 15px;
}
li.box-last-match .progress {
    background-color: #ccc !important;
    height: 10px;
    width: 363px;
    margin: 0;
}

/*ทรรศนะ*/
.title-label-rota {
    position: absolute;
    left: -111px;
    font-size: 47px;
    font-weight: bold;
    margin-top: 78px;
    color: #fff;
    transform: rotate(270deg);
}

.wrap-preview-game {
    /*padding: 30px 0 20px 0;*/
    height: 280px;
    margin-top: 30px;
    background: url(/images/background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 7px red;
}

.wrap-preview-game .container {
    position: relative;

}

.wrap-preview-game .carousel {
    padding: 30px 0 20px 0;
}

.box-preview {
    padding: 10px;
    cursor: pointer;
    color: #000;
}

.modal .box-preview {
    padding: 0;
    cursor: default;
}

.box-guru-img,
.box-user-img {
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #ccc;
}

.box-guru-img img {
    width: 130px;
}

.box-player-preview img,
.box-player-preview span {
    display: inline-block;
    vertical-align: middle;
}

.box-player-preview img {
    height: 20px;
}

.box-player-preview span.name-team-slide-top {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: inherit;
    line-height: normal;
}

.top-box-preview table {
    width: 100%;
}

.top-box-preview h2,
.top-box-preview h3,
.top-box-preview h5 {
    font-weight: bold;
}

.top-box-preview p,
.top-box-preview h2,
.top-box-preview h3,
.top-box-preview h5 {
    margin: 0;
    padding: 0;
}

.top-box-preview p {
    font-size: 11px;
    margin-top: -5px;
}

.top-box-preview tr td i {
    font-size: 25px;
}

.top-box-preview {
    /*padding-bottom: 10px;*/
}
.button-box-preview{
    overflow: hidden;
    height: 40px;
}
.button-box-preview p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*overflow: hidden;*/
    margin: 5px 0 0 0;
    /*height: 40px;*/
}

.button-box-preview ul {
    padding-bottom: 10px;
}

ul.box-betlist li img,
.button-box-preview ul li img {
    width: 20px;
    height: 20px;
}

ul.box-betlist {
    text-align: left;
    padding-left: 10px;
    height: 38px;
    line-height: 33px;
    margin-left: 10px !important;
    float: left;
    display: block;
    border-left: solid 1px #ccc;
}

ul.box-betlist li {
    vertical-align: middle;
}

ul.box-betlist li,
.button-box-preview ul li {
    display: inline-block;
    padding-right: 2px;
}

.box-user-img img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.box-add-review {
    position: absolute;
    text-align: center;
    right: 0;
    margin-RIGHT: -39px;
    bottom: 60px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.box-add-review:hover {
    background-color: red;
    color: #fff;
}

/*static*/
.head-state {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 282px;
    height: 59px;
    background: url(/images/header-state.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    text-align: center;
    z-index: 1;
}

.content-state.col-lg-12 {
    padding: 0;
}

.content-state-game h2,
.head-state h2 {
    margin: 0;
    z-index: 1;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 59px;
    font-size: 25px;
    position: relative;
}

.content-state-game {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 282px;
    height: 59px;
    /*margin-top: 40px;*/
    text-align: center;
    z-index: 1;
}

.head-state-game {
    position: absolute;
    line-height: 84px;
    z-index: 0;
    top: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;
    transform: skew(200deg);
    background-color: #092740;
}

.content-state {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 0;
}

.content-state .col-sm-6 {
    /*min-height: 500px;*/
    /*padding-top: 110px;*/
}

.content-formGuide .section-table,
.content-formGuide .section-next-match {
    margin-top: 70px;
}

.content-formGuide .section-state-box-circle,
.content-h2h .section-state-box-circle {
    margin-top: 108px;
}

.section-state-box {
    display: block;
    padding: 0 10px 20px 10px;
    width: 650px;
    height: auto;
}

.content-section-state {
}

.content-section-state .col-sm-6:first-child {
    border-right: solid 1px #cccccc;
}

.content-section-state ul.nav li a {
    padding: 5px 8px !important;
    font-size: 12px;
}

.padding-top-80 {
    /*margin-top: 80px;*/
}

.content-formGuide td.data-chart,
.content-h2h td.data-chart {
    font-size: 14px;
    color: #aaa;
}

.content-h2h .head-state {
    margin-top: 40px;
}

.content-formGuide .data-chart h4,
.content-h2h .data-chart h4 {
    font-size: 20px;
    color: #000000;
    margin: 15px 0 0 0;
    font-weight: bold;
}

.topic-section-state h4 {
    font-weight: bold;
}

.topic-section-state img {
    height: 20px;
}

.topic-section-state .btn-group label {
    margin: 0;
}

.topic-section-state .btn-group .dropdown-menu {
    left: -48px;
}

.box-table-result-state .nav-tabs {
    padding-bottom: 10px;
}

.box-table-result-state .nav-tabs li:last-child {
    border-left: solid 1px #888;
    padding-left: 20px;
}

.box-table-result-state .checkbox-inline:first-child {
    width: auto;
}

.box-table-result-state .checkbox-inline {
    font-size: 12px;
    padding: 5px 8px;
    width: 120px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-table-result-state .checkbox-inline input[type=checkbox],
.box-table-result-state .checkbox-inline input[type=radio] {
    margin: 0 0 0 -20px;
}

.box-table-result-state table tr th,
.box-table-result-state .tab-content table tr th {
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
}

.box-table-result-state table.table tr td,
.box-table-result-state .tab-content table.table tr td {
    vertical-align: middle;
    font-size: 12px;
    padding: 4px 0;
}

.box-table-result-state table tr td:first-child p {
    padding-left: 5px;
}

.box-table-result-state table tr td p,
.box-table-result-state .tab-content table tr td p {
    margin: 0;
}

.box-table-result-state table tr td:first-child img,
.box-table-result-state .tab-content table tr td:first-child img {
    height: 15px;
}

.box-table-result-state table tr td img,
.box-table-result-state .tab-content table tr td img {
    height: 20px;
    padding: 0 5px;
}

th.mini-col {
    width: 5%;
}

td.mini-col {
    width: 5%;
}

.score-state {
    background-color: #0b3457;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 3px 8px;
    margin: 0 5px;
}

.topic-content-state {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #d1d1d1;
    height: auto;
    top: 0;
    z-index: 2;
}

.topic-content-state ul li {
    padding: 0 15px;
    width: 10%;
}

.topic-content-state ul li:first-child,
.topic-content-state ul li:last-child {
    width: 32%;
}

.topic-content-state ul li,
.topic-content-state img,
.topic-content-state h2 {
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

.topic-content-state ul {
    text-align: center;
}

.topic-content-state h2 {
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
}

.topic-content-state h2,
.topic-content-state h3 {
    margin: 0;
}

.topic-content-state h3 {
    font-size: 14px;
}

.topic-content-state p {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.topic-content-state img {
    height: 50px;
}

.topic-content-state table {
    width: 200px;
    margin: 0 auto;
}

.topic-content-state table tr td {
    font-size: 16px;
}

.box-team-state span.name-team-state,
.box-team-state img {
    display: inline-block;
    vertical-align: middle;
}

span.name-team-state {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 16px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */

    white-space: nowrap;
}

.arrow-down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 70px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d1d1d1;
}

.affix .arrow-down {
    display: none;
}

.topic-content-state.affix {
    border-top: solid 5px red;
    border-bottom: solid 1px #ccc;
    margin-top: 56px;
    background-color: rgba(255, 255, 255, 0.97);
    box-sizing: border-box;
    z-index: 2;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
}

table.table-state tr th,
table.table-state tr td {
    text-align: center;
}

table.table-state tr td {
    text-align: center;
}

table.table-state tr th:nth-child(2),
table.table-state tr td:nth-child(2) {
    text-align: left !important;
}

table.table-state tr.active td {
    background-color: #b7cdff !important;
    font-weight: bold;
}

table.table-state tr.active {

    color: #003556;
}

.box-circle-data,
.data-chart {
    display: inline-block;
    vertical-align: top;
}

.box-circle-data {
    position: relative;
    width: 204px;
    height: 174px;
}

.data-chart {
}

.text-h2hdonut-h-oresult {
    position: absolute;
    left: auto;
    right: auto;
    z-index: 0;
    width: 100%;
    height: 100%;
    line-height: 174px;
    top: 0;
    text-align: center;
}

.content-state-desktop {
    display: block;
}

.content-state-responsive {
    display: none;
}

/*Game Review*/
.wrap-game-review {
    padding: 0 0 20px 0;
    background-color: #fff;
    /*border-top: solid 1px #ddd;*/
    /*border-bottom: solid 1px #ddd;*/
}
.wrap-game-review .top-content-review h5,
.wrap-game-review .top-content-review div:nth-of-type(2) span {
    width: auto;
}

.wrap-game-review .full-review-caption {
    margin-top: 5px;
}

.wrap-game-review .full-review-caption p {
    display: block;
    font-size: 14px;

}

.wrap-game-review a.btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 127px;
    padding: 0 16px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.wrap-game-review section.slide {
    position: relative;
}

.wrap-game-review section.slide:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    pointer-events: none;
    z-index: 0;
    background-color: hsla(0, 0%, 100%, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(20%, hsla(0, 0%, 100%, 0)), color-stop(85%, #fff), to(#fff));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 20%, #fff 85%, #fff);
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 20%, #fff 85%, #fff);
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 20%, #fff 85%, #fff);
}
.wrap-game-review .top-content-review div:nth-of-type(2) {
    padding-left: 10px;
}
.box-content-review{
    border-bottom: solid 1px #eee;
}
.box-content-review:last-child {
    margin-bottom: 20px;
}

.float-add-review {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.add-review {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
cursor: pointer;
}
.add-review:hover{
    background-color: rgba(139, 0, 0, 0.98);
}
.add-review:before {
    content: "\f044";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 750px) {
    .content-livescore-main.content-game-redesign {
        margin-top: 54px !important;
    }

    .content-state-desktop {
        display: none;
    }

    .content-state-responsive {
        display: block;
    }

    .box-add-review {
        right: 0;
        margin-right: 5px;
        top: 0;
        margin-top: -27px;
    }

    .title-label-rota {
        position: relative;
        width: 100%;
        text-align: center;
        left: auto;
        font-size: 20px;
        margin-top: 10px;
        transform: none;
    }

    .wrap-preview-game .carousel {
        padding: 10px 0 20px 0;
    }

    .wrap-preview-game .carousel-inner {
        height: auto !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .section-state-box {
        width: 100%;
    }

    .wrap-preview-game .container {
        width: 100%;
    }

    .box-guru-img {
        height: 32px;
        line-height: 32px;
    }

    .box-guru-img img {
        width: 63px;
    }

    .content-state .section-state-box-circle .col-sm-6 {
        /* min-height: 500px; */
        padding-top: 0;
    }

    .wrap-preview-game,
    .section-state-box-circle .topic-section-state h4 {
        padding-top: 0;
    }

    .title-label-rota {
        position: relative;
        width: 100%;
        text-align: center;
        left: auto;
        font-size: 28px;
        line-height: 50px;
        font-weight: bold;
        margin-top: 0;
        color: #fff;
        transform: none;
    }

    .data-chart {
        text-align: center;
        display: block;
        float: left;
        width: 100%;
        padding: 0;
    }

    .data-chart .clearfix {
        display: inline-block;
        width: 30%;
    }

    .box-add-review {
        right: 0;
        margin-right: 10px;
        bottom: auto;
        top: 0;
        margin-top: 0;

    }

    .score-state {
        font-size: 11px;
    }

    .box-table-result-state .tab-content table tr td:first-child span {
        display: block;
        width: 146px;
        height: 16px;
    }

    .box-table-result-state .tab-content table tr td:first-child span,
    .box-table-result-state .checkbox-inline {

        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .box-table-result-state .checkbox-inline {
        width: 65px;
        padding: 5px 5px 0 0;
    }

    .box-table-result-state .checkbox-inline:first-child {
        width: auto;
        padding-right: 15px;
    }

    .box-table-result-state table tr td img,
    .box-table-result-state .tab-content table tr td img {
        height: 18px;
        padding: 0;
    }

    span.name-team-state {
        width: 32px;
        font-weight: bold;
        font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
    }

    .topic-content-state.affix {
        margin-top: 100px;
    }

    .topic-content-state ul li {
        width: auto;
    }

    .topic-content-state h3 {
        font-size: 19px;
    }

    li.box-last-match {
        width: 280px;
    }
}