html body {
    height: 100% !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.wrapper-game-v2 {
    padding-top: 65px;
    display: flex;
    min-height: 100%;
}

.no-transition {
    -webkit-transition: height 0;
    -moz-transition: height 0;
    -ms-transition: height 0;
    -o-transition: height 0;
    transition: height 0;
}

/*SIDEBAR*/
.sidenav-collapse {
    width: 300px;
    left: 0;
    position: relative;
    height: 100%;
    top: 0;
    background-color: #134eb0;
    z-index: 0;
    transition: 0.5s;
    padding-bottom: 37px;
}

.sidenav-collapse.affix {
    position: fixed;
    top: 0;
    padding-bottom: 0;
    height: 100%;
}

.header-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-color: #092656;
    position: relative;
    z-index: 1;
}

.header-review:before {
    margin-right: 12px;
}

.header-review:after {
    margin-left: 12px;
}

.header-review:after,
.header-review:before {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 20px;
    background-color: rgba(255, 255, 255, .5);
}

.wrap-tab-review-side {
    display: block;
    position: relative;
}

.wrap-tab-review-side ul.nav {
    position: relative;
    z-index: 1;
    display: flex;
    border: 0;
    border-bottom: solid 1px;
    border-color: #fff;
    background-color: #092656;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.wrap-tab-review-side ul.nav li a {
    color: #fff;
    padding: 0;
}

.wrap-tab-review-side ul.nav li {
    flex: 1;
}

.wrap-tab-review-side ul.nav li.active a,
.wrap-tab-review-side ul.nav li.active a:hover,
.wrap-tab-review-side ul.nav li a,
.wrap-tab-review-side ul.nav li a:hover {
    background-color: transparent;
    border: 0;
}

.wrap-tab-review-side ul.nav li .bg-tab {
    position: relative;
    padding: 10px 0;
}

.wrap-tab-review-side ul.nav li.active .bg-tab {
    color: #000;
    background: #fff;
}

.wrap-tab-review-side ul.nav li.active .bg-tab:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.wrap-tab-review-side ul.nav li.box-away {
    padding-left: 20px;
}

.wrap-tab-review-side ul.nav li.box-away.active .bg-tab:after {

    transform-origin: bottom right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.wrap-tab-review-side .box-content-review {
    border-bottom: solid 1px #000;
}

.wrap-tab-review-side .box-content-review:last-child {
    border-bottom: solid 1px transparent;
}

.wrap-tab-review-side .full-review-caption p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.143em;
    display: block;
}

.wrap-tab-review-side .top-content-review div.pro-logo-review {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.wrap-tab-review-side .top-content-review div.pro-logo-review img {
    height: 41px;
    background-color: #fff;
}

.wrap-tab-review-side .top-content-review h5,
.wrap-tab-review-side .top-content-review span {
    color: #fff;
}

.wrap-tab-review-side .home-review-section {
    border-right: 0;
}

.wrap-tab-review-side .bg-winRate-box:after,
.wrap-tab-review-side .bg-day-box,
.wrap-tab-review-side .bg-winRate-box {
    background-color: #407cc3;
}

.wrap-tab-review-side .winRate-box h3,
.wrap-tab-review-side .winRate-box p {
    color: #fff;
}
.wrap-tab-review-side .home-review-section,
.wrap-tab-review-side .away-review-section ,
.wrap-tab-review-side .full-review-caption {
    overflow: hidden;
    height: auto;
}
.wrap-tab-review-side .box-content-review {
    width: 97%;
}
.box-home-review div {
    display: inline-block;
    position: relative;
    z-index: 1;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
}

.box-home-review div:nth-child(2) h4 {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
    margin: 0;
    font-size: 14px;
    line-height: 50px;
}

.box-home-review div.img-team {
    position: relative;
    width: 40px;
}

.box-home-review div img {
    height: 40px;
    top: 5px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
}

.box-home .box-home-review div img {
    left: -10px;
}

.box-away .box-home-review div img {
    right: -15px;
}

.add-review-bottom {
    width: 100%;
    padding: 0 5px;
    position: absolute;
    bottom: 5px;
}

.add-review-bottom button {
    color: #fff;
    background-color: #d60620;
}

.add-review-bottom button:focus ,
.add-review-bottom button:hover {
    color: #fff;
    background-color: #830512;
}

/*Main*/
.navbar-state.affix {
    position: fixed;
    top: 80px;
    width: 100%;
}

.content-select-match a.button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    vertical-align: top;
}

.content-select-match .text-title span.label {
    padding: 5px 8px;
    margin-left: 8px;
}

.content-select-match .swiper-container {
    padding: 0px 25px 25px 25px;
    margin-top: 35px;
    height: 114px;
    margin-bottom: 45px;
    display: inline-block;
}

.content-select-match .swiper-container-horizontal > .swiper-pagination-bullets,
.content-select-match .swiper-pagination-custom,
.content-select-match .swiper-pagination-fraction {
    bottom: 0;
}

.main-header {
    padding: 15px;
    border-top: solid 1px #eceff3;
    border-bottom: solid 1px #eceff3;
    background-color: #fff;
}

.main-header div,
.main-header span,
.main-header h4 {
    display: inline-block;
    vertical-align: middle;
}

.main-header span {
    border-radius: 50%;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #eceff3;

}

.main-header .date-review {
    margin-top: 5px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
    background-color: white;
    display: block;
    width: 32px !important;
    height: 32px !important;
    /*line-height: 40px;*/
    margin-top: -31px !important;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.swiper-button-next:before,
.swiper-button-prev:before,
.swiper-container-rtl .swiper-button-prev:before,
.swiper-container-rtl .swiper-button-next:before {
    display: inline-block;
    margin-top: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f105";
}

.swiper_game .swiper-button-next.swiper-button-disabled,
.swiper_game .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 0 !important;
    top: 55px !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 0 !important;
    top: 55px !important;
}

.swiper-button-prev:before,
.swiper-container-rtl .swiper-button-next:before {
    content: "\f104";
}

.mt-box {
    position: relative;
    border-radius: 2px;
    padding: 4px;
    display: flex;
    width: 100%;
    background-color: #fff;
    border: solid 1px #eaedf1;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    z-index: 1;
    transition: .5s;
}

.mt-box:hover {
    cursor: pointer;
    border: solid 1px #134eb0;
}

.mt-box div.logo-team,
.mt-box div.sm-hdp {
    flex: 1;
    text-align: center;
}

.mt-box div.logo-team p {
    font-weight: bold;
}

.mt-box div.sm-hdp h5 {
    margin: 0;
}

.mt-box div.sm-hdp strong {
    font-size: 25px;
    line-height: 25px;
}

.mt-box div.sm-hdp ul {
    display: block;
    float: left;
    width: 100%;
}

.mt-box div.sm-hdp ul li:first-child {
    border-right: solid 1px #555;
    padding-right: 5px;
}

.mt-box div.sm-hdp ul li {
    display: inline-block;
    font-size: 11px;
}

.mt-box div.logo-team {
    margin-top: 10px;
    position: relative;
}

.mt-box div.logo-team img {
    width: 40px;
}

.mt-box.active {
    background-color: #134eb0;
    border: solid 1px #134eb0;
    color: #fff;
}

.mt-box.active::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    z-index: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #134eb0;
}

.mt-time {
    font-size: 11px;
}

.mt-time:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    content: "\f017";
    margin-right: 5px;
}

.mt-box-full-match .logo-team:first-child,
.mt-box-live .logo-team:first-child {
    padding-right: 35px;
}

.mt-box-full-match .logo-team:last-child,
.mt-box-live .logo-team:last-child {
    padding-left: 35px;
}

.mt-box-live div.sm-hdp,
.mt-box-full-match div.sm-hdp {
    margin-top: 10px;
}

.mt-box-full-match div.sm-hdp h5,
.mt-box-live div.sm-hdp h5 {
    display: none;
}

.mt-box-live div.sm-hdp ul li,
.mt-box-full-match div.sm-hdp ul li {
    font-size: 10px;
}

.mt-box-live div.sm-hdp strong,
.mt-box-full-match div.sm-hdp strong {
    font-size: 18px;
    line-height: 20px;
}

.mt-box-full-match div.sm-hdp strong {

}

.score-full-match-home,
.score-full-match-away {
    position: absolute;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #888;
    background-color: #eceff3;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    top: 5px;
}

.score-full-match-home {
    right: 0;
}

.score-full-match-away {
    left: 0;
}

.mt-box-live .score-full-match-home,
.mt-box-live .score-full-match-away {
    color: red;
    background-color: #fff;
    border: solid 1px #eee;
}

.mt-box-full-match div.label,
.mt-box-live div.label {
    border-radius: 2px;
    color: #1a1a1a;
    margin-top: 5px;
    font-weight: 400;
    display: inline-block;
    background-color: #eee;
}

.mt-box-live div.label {
    color: #fff;
    background-color: red;
}

.mt-box-live.active div.label {
    color: red;
    background-color: #fff;
}

.all-content-game .mt-box-full-match div.label,
.all-content-game .mt-box-full-match h5,
.all-content-game .mt-box-live div.babel,
.all-content-game .mt-box-live h5 {
    display: inline-block;
    padding: 0 5px;
    margin: 3px 0;
}

.mt-box-full-match.active div.label {
    color: #134eb0;
    background-color: #fff;
}

.mt-box.active div.sm-hdp ul li:first-child {
    border-right: solid 1px #fff;
}

.mt-box-live div.label:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f111";
    font-size: 9px;
    margin-right: 3px;
}

.topic-section h2 {
    font-size: 38px;
    font-weight: 400;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
}

.topic-section h2,
.topic-section img {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}

.topic-section img {
    height: 30px
}

#clockdiv {
    font-family: sans-serif;
    color: #333;
    display: flex;
    width: 280px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding: 20px 0;
}

#clockdiv > div.tm {
    flex: auto 1;
}

#clockdiv div > span {
    font-size: 20px;
    font-weight: 100;
    position: relative;
    /*display: inline-block;*/
}

#clockdiv div > span:after {
    position: absolute;
    right: -25px;
    content: " : ";
    top: -5px;
}

#clockdiv div > span.seconds:after {
    content: " ";
}

.smalltext {
    padding-top: 0;
    font-size: 12px;
}

.hdp-section-vote {
    padding-top: 8px;
    flex: 1;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
}

.hdp-section-vote h5 {
    margin: 0;
}

.hdp-section-vote div.sm-hdp strong {
    font-size: 30px;
    line-height: 35px;
}

.hdp-section-vote div.sm-hdp ul {
    display: block;
    float: left;
    width: 100%;
}

.hdp-section-vote div.sm-hdp ul li:first-child {
    border-right: solid 1px #555;
    padding-right: 5px;
}

.hdp-section-vote div.sm-hdp ul li {
    display: inline-block;
    font-size: 14px;
}

.hdp-section-vote .mt-time {
    font-size: 14px;
}

.home-section-vote {

}

.home-section-vote,
.away-section-vote {
    padding: 10px;
    flex: 4;
}

.home-section-vote ul.status-lastMatch,
.away-section-vote ul.status-lastMatch {
    margin-bottom: 5px;
}

.home-section-vote ul.status-lastMatch li p,
.away-section-vote ul.status-lastMatch li p,
.home-section-vote ul.vote-player li p,
.away-section-vote ul.vote-player li p {
    font-size: 12px;
    width: 80px;
}

.home-section-vote ul li .win-status:before,
.home-section-vote ul li .lose-status:before,
.home-section-vote ul li .draw-status:before,
.away-section-vote ul li .win-status:before,
.away-section-vote ul li .lose-status:before,
.away-section-vote ul li .draw-status:before {
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}

.home-section-vote ul.status-lastMatch,
.away-section-vote ul.status-lastMatch,
.home-section-vote ul.status-lastMatch li,
.away-section-vote ul.status-lastMatch li {
    height: 20px;
    line-height: 20px;
}

.bt-vote-home,
.bt-vote-away {
    position: relative;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.bt-vote-home {
}

.bt-vote-away {
}

.bt-vote-away:hover > span,
.bt-vote-home:hover > span {
    text-decoration: underline;
}

.ft-box-vote-home span,
.box-vote-home span {
    float: right;
}

.ft-box-vote-home span,
.ft-box-vote-away span,
.box-vote-home span,
.box-vote-away span {
    float: right;
    padding-right: 20px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    line-height: 90px;
    color: #555;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 68%; /* กำหนดความกว้าง */

}

.ft-box-vote-home span,
.box-vote-home span {
    text-align: right;
}

.ft-box-vote-home span:before,
.ft-box-vote-away span:before,
.box-vote-home span:before,
.box-vote-away span:before {
    content: " ";
    font-size: 23px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    line-height: 90px;
    color: #111;
}

.ft-box-vote-away span,
.box-vote-away span {
    padding-left: 20px;
    float: left;
}

.box-vote-home span:before,
.box-vote-away span:before {
    content: " Vote ";
    font-size: 30px;
}

.box-vote-home:before,
.box-vote-away:before,
.ft-box-vote-home:before,
.ft-box-vote-away:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: block;
    transform: skew(-20deg);
    background: rgba(0, 0, 0, .1);
    transition: .1s;
}

.content-Fulltime .bt-vote-home,
.content-Fulltime .bt-vote-away {
    cursor: default;
}

.ft-box-vote-home:before,
.ft-box-vote-away:before {
    background-color: #ddd;
}

.away-section-vote .active.ft-box-vote-away:before,
.away-section-vote .active.box-vote-away:before,
.away-section-vote:hover .box-vote-away:before,
.active-vote .active.box-vote-away:before,
.information-away .progress .progress-bar {
    background-color: #DC0101;
}

.home-section-vote .active.ft-box-vote-home:before,
.home-section-vote .active.box-vote-home:before,
.home-section-vote:hover .box-vote-home:before,
.active-vote .active.box-vote-home:before,
.information-home .progress .progress-bar {
    background: #144cad;
}

.active.ft-box-vote-home span,
.active.box-vote-home span,
.box-vote-home:hover span,
.box-vote-away:hover span,
.home-section-vote:hover .box-vote-home span:before,
.away-section-vote:hover .box-vote-away span:before,
.active.ft-box-vote-home span:before,
.active.box-vote-home span:before,
.active.ft-box-vote-away span:before,
.active.box-vote-away span:before {
    color: #fff;
    transition: .1s;
}

.active.ft-box-vote-home span,
.active.box-vote-home span,
.active.ft-box-vote-away span,
.active.box-vote-away span {
    font-weight: bold;
}

.active.ft-box-vote-home span:before,
.active.box-vote-home span:before,
.active.ft-box-vote-away span:before,
.active.box-vote-away span:before {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    content: " Voted";
}

.active-vote .box-vote-home,
.active-vote .box-vote-away {
    cursor: no-drop;
}

.active-vote .active.box-vote-home,
.active-vote .active.box-vote-away {
    cursor: default;
}

.active-vote .box-vote-home:before,
.active-vote .box-vote-away:before {
    background-color: #B8B9CD;
}

.logo-vote-home,
.logo-vote-away {
    position: absolute;
    top: -10px;
    z-index: 1;
    height: 120px;
    width: 120px;
}

.logo-vote-away {
    right: -50px;
    float: right;
}

.logo-vote-home {
    left: -50px;
    float: left;
}

.logo-vote-home img,
.logo-vote-away img {
    height: 100px;
}

.section-vote {
    width: 40%;
}

.information-away,
.information-home {
    width: 45%;
}

.information-home h5,
.information-away h5 {
    margin: 0;
    margin-top: -5px;
    font-weight: 400;
}

.information-home .progress,
.information-away .progress {
    width: 100%;
    height: 10px;
}

.information-home .progress .progress-bar {

}

.information-home .progress {
    margin: 0 0 8px 8px;
    background-color: #fff;
    border: solid 1px #337ab7;

}

.information-away .progress {
    margin: 0 8px 8px 0;
    background-color: #fff;
    border: solid 1px #d9534f;
}

.information-away {
    text-align: left;
}

.information-away h4,
.information-home h4 {
    margin: 0 0 3px 0;
}

ul.vote-status-lastMatch li {
    margin-bottom: 8px;
    padding-bottom: 3px;
}

.vote-player {
    padding-top: 3px;
    margin-top: 3px;
}

.vote-player li {
    display: inline-block;
}

.vote-player li p {
    font-size: 12px;
}

.vote-player li img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.head-league img,
.head-league h5 {
    display: inline-block;
    vertical-align: middle;
}

.head-league img {
    height: 20px;
}

.head-league h5 {
    font-size: 14px;
    margin-right: 5px;
}

/*Sidebar*/
/*The CSS styles for the hamburger toggle.*/
.hamburger {
    display: inline-block;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger i {
    font-size: 25px;
}

.hamburger div {
    background-color: #000;
    border-radius: 1px;
    height: 3px;
    width: 20px;
}

.hamburger div:not(:last-child) {
    margin-bottom: 5px;
}

/*The CSS styles for the side nav.*/
nav.sidenav-collapse {
    position: fixed;
    height: 90vh;
    width: 300px;
    left: -300px;
    top: 65px;
    display: block;
    padding-bottom: 30px;
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    z-index: 100;
}

nav.sidenav-collapse a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px 0;
}

nav.sidenav-collapse a:hover {
    background-color: #f5f5f5;
}

nav.sidenav-collapse a:visited {
    color: black;
}

nav.sidenav-collapse a.active {
    background-color: black;
    color: white;
}

nav.sidenav-collapse, .hamburger, .cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active nav {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

/*.sidenav-active .hamburger,*/
.sidenav-active .cover {
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
}

/*The CSS styles for the main content.*/

.main {
    width: 100%;
    padding-left: 300px;
    -webkit-transition: padding-left .3s;
    transition: padding-left .3s;
    background-color: #eaedf1;
}

.sidenav-active .main {
    padding-left: 0;
}

/*State*/

.sidenav-active .wraper-content-state .affix {
    padding-left: 0;
}

.sidenav-active .wraper-content-state .affix .nav-home-team {
    left: 0;
}

.wraper-content-state .affix {
    top: 0;
    left: 0;
    padding-left: 300px;
    display: inline-block;
    z-index: 10 !important;
}

.wraper-content-state .navbar.affix {
    box-shadow: 0 15px 10px -15px #111;
    background-color: #fff;
}

.wraper-content-state .navbar {
    overflow: hidden;
    height: 65px;
    background-color: transparent;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
    border: 0;
}

.wraper-content-state .navbar ul {
    display: inline-block;
    margin: 0 auto;
    float: none;
}

.wraper-content-state .navbar ul li a {
    font-size: 16px;
    line-height: 65px;
    padding: 0 15px !important;
    color: #333;
}

.wraper-content-state .navbar ul li {
    display: inline-block;
    float: none;
    text-align: center;
}

.wraper-content-state .navbar ul li a span {
    position: relative;
    z-index: 1;
}

.wraper-content-state .navbar ul li.active a:focus::after,
.wraper-content-state .navbar ul li a:hover,
.wraper-content-state .navbar ul li.active a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.wraper-content-state .navbar ul li.active a:hover::after,
.wraper-content-state .navbar ul li.active a:active::after,
.wraper-content-state .navbar ul li.active a:after {
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    display: block;
    transform: skew(-20deg);
    background-color: #eaedf1;
}

.wraper-content-state .navbar ul li.active a:before {
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    font-size: 18px;
    content: "\f00c";
    position: relative;
    z-index: 1;
}

.wraper-content-state .navbar ul li.active a {
    color: #676767;
    font-weight: bold;
    /*background-color: #efefef !important;*/
}

.wraper-content-state .affix ~ #section1 {
    top: 50px;
    position: relative;
}

.wraper-content-state .affix .nav-home-team {
    left: 305px;
}

.wraper-content-state .affix .nav-home-team,
.wraper-content-state .affix .nav-away-team {
    display: block;
}

#section1,
#section2,
#section3,
#section4 {
    background-color: #e1e6eb;
}

#section1 {
    border-top: solid 1px #bbc0c3;
}

#section1,
#section2,
#section3,
#section4 {
    padding-top: 20px;
}

.nav-home-team,
.nav-away-team {
    margin-top: 5px;
    top: 0;
    position: absolute;
    display: none;
}

.nav-home-team {
    left: 5px;
}

.nav-away-team {
    right: 5px;
}

.nav-home-team img,
.nav-away-team img,
.nav-home-team span,
.nav-away-team span {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
    font-size: 18px;
    line-height: 50px;
}

.nav-home-team,
.nav-away-team {
    height: 65px;
}

.nav-home-team img,
.nav-away-team img {
    height: 100px;
    top: -25px;
    position: relative;
}

.wraper-content-state .affix .nav-home-team,
.nav-home-team img {
    left: -25px;
}

.nav-away-team img {
    right: -25px;
}

.wraper-content-state .affix .nav-home-team {
    left: 305px;
}

.section-state {
    overflow: hidden;
}

.content-state-home {
    border-right: solid 1px #ddd;
}

.content-state-away {
    border-right: 0;
}

.content-state-home,
.content-state-away {
    flex: 1 auto;
    padding: 0 5px;
}

.section-state .topic-section-state h4 {
    font-size: 14px;
    font-weight: bold;
}

.section-state .section-state-box {
    padding: 0;
    width: auto;
}

.section-state .title {
    position: relative;
    display: block;
    float: left;

}

.section-state .title a {
    color: white;
    position: relative;
    z-index: 2;
}

.section-state .title {
    position: relative;
    width: auto;
    padding: 10px;
    font-size: 18px;
    color: #FFF;
    z-index: 1;
    background: #05132c;
}

.section-state .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #05132c;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.content-state .text-title h4 {
    font-size: 14px !important;
}

.box-chart {
    position: relative;
    height: 176px;
}

.box-chart label {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 176px;
}

.detail-chart {
    margin-top: 10px;
    text-align: center;

    font-weight: bold;
    color: #000;
}

.col-detail-chart {
    flex: auto 1;
    width: 75px;
    display: flex;
    float: left;
}

.col-detail-chart:first-child {
    margin-left: 15px;
}

.detail-chart {
    text-align: left;
}

.detail-chart div strong {
    font-size: 15px;

    line-height: 16px;
}

.detail-chart div small {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #333;
}

.detail-chart div:before {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
}

.col-chart {
    flex: 1;
    text-align: center;
}

.col-chart:first-child {
    border-right: solid 1px #eee;
}

.content-state .box-table-result-state .nav-tabs li:last-child {
    border-left: solid 1px transparent;
    padding-left: 0;
}

.content-state .box-table-result-state .checkbox-inline,
.content-state .box-table-result-state .radio-inline {
    flex: 1;
}

.box-match-list-title-last ul.pull-left li {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}

.box-match-list-title-last .btn-group {
    margin: 0 auto;
}

.form-inline-checkbox label.active:focus, .form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.form-inline-checkbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.form-inline-checkbox label {
    flex: 0 0 auto;
    margin-right: 8px;
}

.form-inline-checkbox label.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #fff;
}

.form-inline-checkbox label.active:focus,
.form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.box-match-list-topic .pull-right {
    width: 21%;
}

.box-match-list-topic .pull-left {
    width: 70%;

}

.box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.box-match-list-topic p,
.box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.box-match-list-topic img {
    height: 15px;
    margin-right: 5px;
}

.box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.box-match-list {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}

.box-match-list-title-last {
    display: block;
    float: left;
    width: 100%;
    /*overflow: auto;*/
    margin-bottom: 15px;
    position: relative;

}

.box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
}

.box-match-list div:nth-of-type(3) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px #ced4da;
}

.time-match,
.date-match {
    border-right: solid 1px #ced4da;
}

.home-name-match,
.away-name-match {
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.home-name-match img,
.away-name-match img {
    height: 15px;
    margin-right: 5px;
}

.odds-match img,
.result-match img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.box-match-list-topic {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #f1f2f5;
}

.match-score {
    font-weight: bold;
    background-color: #eee;
}

.result-match,
.odds-match {
    height: 35px;
    display: list-item;
    list-style: none;
}

.result-match div,
.odds-match div {
    display: inline-block;
    vertical-align: middle;
}

.home-name-match:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f015";
    color: #0050af;
    padding-left: 3px;
}

.hignlight-team-win {
    color: #00b0ff;
    text-decoration: underline;
}

/*statistics*/
.tab-header-stat {
    position: relative;
    overflow: hidden;
}

.tab-header-stat ul.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tab-header-stat ul.nav li {
    width: 50%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.tab-header-stat ul.nav li a {
    color: #aaa;
    border: 0;
}

.tab-header-stat ul.nav li.active a {
    background-color: transparent;
    border: 0;
    font-weight: bold;
    border-bottom: solid 5px #02335c;
    color: #000;
}

.tab-header-stat ul.nav img {
    height: 20px;
    margin-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3;
}

.tab-header-stat ul.nav li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

/*Table*/
.container-table-last span img {
    height: 25px;
    display: inline-block;
}

.content-table-standing {
    margin-top: 15px;
    display: block;
    float: left;
    width: 100%;
}

.content-table-standing table tr.box-highlight-team {
    background-color: rgba(0, 0, 0, 0.1)
}

.content-table-standing table {
    width: 100%;
    font-size: 12px;
}

.content-table-standing table tr th,
.content-table-standing table tr td {
    padding: 2px;
    text-align: center;
}

.content-table-standing table tr th:nth-child(2),
.content-table-standing table tr td:nth-child(2) {
    text-align: left;
}

.content-table-standing table tr td img,
.content-table-standing table tr td p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.content-table-standing table tr td img {
    height: 15px;
}

.content-table-standing table tr td p {
    width: 65%;
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.title-full-match h3 {
    font-weight: 400;
    color: #787878;
}

.score-full-match {
    width: 120px;
    height: 90px;
    padding: 0;
}

.score-full-match ul:first-child li h3 {
    margin-top: 20px;
}

.score-full-match ul:first-child li {
    vertical-align: bottom;
}

.score-full-match ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.score-full-match ul li h3 {
    font-size: 40px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.score-full-match ul li strong {
    padding: 0 10px;
    font-size: 16px;
}

.score-full-match ul:last-child li {
    color: #888;
}

.time-live-match .hdp-float {
    height: 60px;
    margin-top: 15px;
}

.time-live-match .hdp-float ul li {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    margin-top: 0;
    font-size: 32px;
    font-weight: 400;
}

.time-live-match .hdp-float ul li:nth-child(2),
.time-live-match .live-float .progress {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.time-live-match .live-float .progress .progress-value {
    border-radius: 50%;
    font-size: 20px;
    line-height: 65px;
    font-weight: 400;
}

.hdp-float-live {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: -15px;
    right: 0;
}

.hdp-float-live ul {
    margin: 0;
}

.hdp-float-live ul li {
    display: inline-block;
}

.hdp-float-live ul li:nth-child(2) {
    padding: 0 5px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.modal-vote-home .modal-dialog,
.modal-vote-away .modal-dialog {
    color: #ffffff;
    position: fixed;
    width: 350px;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    background-image: url("/images/bg-sportball.jpg");
}

.modal-vote-away .modal-dialog {
    background-image: url("/images/bg-sportball-away.jpg");
}

.title-sidebar-vote h4 {
    display: inline-block;
}

.title-sidebar-vote:before {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f05d";
    padding-right: 5px;
}

.header-sidebar-vote {
    padding-top: 10px;
    margin-bottom: 5px;
}

.header-sidebar-vote img {
    height: 100px;
}

.content-section-coin {
    padding: 30px 0;
}

.content-section-coin ul li {
    display: inline-block;
    width: 73px;
    height: 131px;
    cursor: pointer;
    border: solid 1px;
    margin: 0 3px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.content-section-coin ul li:nth-child(1) {
    background-image: url("/images/coin-side/coin_200.png");
}

.content-section-coin ul li:nth-child(2) {
    background-image: url("/images/coin-side/coin_400.png");
}

.content-section-coin ul li:nth-child(3) {
    background-image: url("/images/coin-side/coin_800.png");
}

.content-section-coin ul li:nth-child(4) {
    background-image: url("/images/coin-side/coin_1200.png");
}

.content-section-coin ul li.current {
    position: relative;
    background-color: #0050af;
    border-color: rgba(255, 255, 255, 0.1);
}

.modal-vote-away .content-section-coin ul li.current {
    background-color: red;
}

.content-section-coin ul li.current:before {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 14px;
    content: "\f00c";
    color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
}
.modal-body-vote{
    padding: 0 0 15px 0!important;
    background-color: #f4f5f6;
}
.modal-body-vote .content-countdown .hdp-section-vote{
    position: absolute;
}
.modal-body-vote .content-countdown{
    background-color: #fff;
    padding: 0 15px 30px 15px;
    margin-bottom: 20px;
}
.modal-body-vote .hdp-section-vote .sm-hdp strong{
    font-size: 18px;
    line-height: 20px;
}
.modal-body-vote .hdp-section-vote .sm-hdp ul li{
    font-size: 11px;
}
.modal-body-vote .logo-vote-home img,
.modal-body-vote .logo-vote-away img {
    height: 50px!important;
}

.modal-body-vote .bt-vote-home,
.modal-body-vote .bt-vote-away,
.modal-body-vote .logo-vote-home,
.modal-body-vote .logo-vote-away {
    height: 50px!important;
    width: 70px!important;
}
.modal-body-vote .logo-vote-home,
.modal-body-vote .logo-vote-away{
    top:0!important;
}
.modal-body-vote .information-home{
    border-right: solid 1px #ddd;
}
.modal-body-vote .information-away,
.modal-body-vote .information-home {
    width: 100%;
    margin-top: 10px;
    padding: 5px 0;
}
.modal-body-vote .information-away h4,
.modal-body-vote .information-home h4{
    font-size: 14px;
}
.content-coin-vote{
    margin-bottom: 20px;
}
.content-coin-vote .btn{
    width: 80px;
    border: solid 1px #ddd;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.content-coin-vote .btn:hover{
    border: solid 1px #0050af;
    opacity: 0.75;
}
.content-coin-vote .btn h3{
    margin: 5px 0;
}
.content-coin-vote .active,
.content-coin-vote .active:hover{
    background-color: #0050af;
    color: #fff;
}
.modal-body-vote .ft-box-vote-home span,
.modal-body-vote .ft-box-vote-away span,
.modal-body-vote .box-vote-home span,
.modal-body-vote .box-vote-away span,
.modal-body-vote .box-vote-home span:before,
.modal-body-vote .box-vote-away span:before{
    padding: 0 5px;
    font-size: 16px!important;
    position: relative;
    z-index: 1;
    line-height: 50px;
    width: 100%;
    font-weight: bold;
}
.modal-body-vote .home-section-vote,
.modal-body-vote .away-section-vote {
    padding: 0;
    flex: 1;
}
.modal-body-vote .home-section-vote .section-vote{
    padding-right: 100px;
}
.modal-body-vote .away-section-vote .section-vote{
    padding-left: 50px;
}
.modal-body-vote .hdp-section-vote {
    padding: 10px 0 0 5px;
}
.modal-body-vote .header-review {
    font-size: 20px;
    color: rgba(0,0,0,0.85);
    background-color: #fff;
}
.modal-body-vote .header-review:after,
.modal-body-vote .header-review:before {
    background-color: rgba(0, 0, 0, .35);
}


/*game Play Index*/
. content-select-match-index{

}
.game-livescore-panel a.btn{
    font-weight: bold;
    font-size: 14px;
}
.game-livescore-panel{
    margin-top: 20px;
}
.game-livescore-panel .panel-body{
    background-color: #134eb0;
}
.game-livescore-panel .panel-body .text-review-content p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.143em;
}
.game-livescore-panel .area-logoName {
    height: 45px;
}
.game-livescore-panel .logo-review-user img{
    height: 50px;
}

.game-livescore-panel .logo-review-user {
    width: 50px;
    height: 50px;
    border: solid 2px #fff;
}
.game-livescore-panel .area-logoName,
.game-livescore-panel .area-logoName:after{
    color: #fff;
    background: #407cc3;
}
.game-livescore-panel .ct-winrate div small,
.game-livescore-panel .ct-winrate div h3 {
    color: #fff;
}
.game-livescore-panel .content-away-review h4,
.game-livescore-panel .content-home-review h4 {
    margin: 6px 0 0 0;
}

.game-livescore-panel .text-title h4,
.game-livescore-panel .text-title a{
    color: #fff;
}
.game-livescore-panel .home-panel-body,
.game-livescore-panel .away-panel-body{
    padding: 11px 15px 0 17px;
    height: 200px;
    margin-bottom: 15px;
}
.game-livescore-panel .home-panel-body:hover,
.game-livescore-panel .away-panel-body:hover,
.game-livescore-panel .text-title a:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}
.game-livescore-panel .text-title h4::after {
    background: white;
}
.game-livescore-panel .text-title:after {
    border-bottom: 1px solid;
    color: rgba(255,255,255,0.5);
}
.game-livescore-panel .text-review-content {
    width: 240px;
}
.game-livescore-panel .title-mini-center h3{
    color: #fff;
}
.game-livescore-panel .title-mini-center:before,
.game-livescore-panel .title-mini-center:after {
    background-color: rgba(255,255,255,0.5);
}