

body {
    position: relative;
    background-color: #fbfbfb !important;
    height: 100%;
}

.container-fluid-highlight {
    position: relative;
    display: inline-block;
    padding-top: 66px;
    padding-bottom: 200px;
}

/*sidebar*/
.small-topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;

    position: relative;
    z-index: 1;
}

.small-topic h4 {
    font-size: 14px;
}

.small-topic:after,
.small-topic:before {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 18px;
    background-color: rgba(0, 0, 0, .2);
}

.small-topic:before {
    margin-right: 12px;
}

.small-topic:after {
    margin-left: 12px;
}

.header-highlight {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.hamburger,
.bt-title-team,
.bt-title-league,
.bt-title-league span,
.bt-title-league img,
.bt-title-league h5,
.bt-title-team img,
.bt-title-team h2 {
    display: inline-block;
    vertical-align: middle;
}

.bt-title-team,
.bt-title-league,
.bt-title-league span,
.bt-title-league img,
.bt-title-league h5,
.bt-title-team img,
.bt-title-team h2 {
    padding-right: 10px;
}

.bt-title-league h5,
.bt-title-team h2 {
    margin: 0;
}

.bt-title-team h2 {
    font-weight: 400;
}

.bt-title-team img {
    height: 32px;
}

.bt-title-league {
    margin-top: 5px;
}

.bt-title-league img {
    height: 15px;
}

.bt-title-league span {
    border-left: solid 1px grey;
    padding-left: 5px;
}

.hamburger:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    content: "\f0d9";
    border-radius: 50%;
    background-color: transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    transition: .5s;
}

.hamburger:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav-active .hamburger:before {
    content: "\f0da";
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger div {
    background-color: black;
    border-radius: 1px;
    height: 6px;
    width: 30px;
}

.hamburger div:not(:last-child) {
    margin-bottom: 5px;
}

.sidebar-league {
    background-color: #f6f6f6;
    border-right: solid 1px #ddd;
    position: fixed;
    height: 90vh;
    width: 226px;
    left: -226px;
    top: 65px;
    display: block;
    padding-bottom: 0;
    -webkit-transform: translateX(226px);
    -ms-transform: translateX(226px);
    transform: translateX(226px);
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    z-index: 100;
}

.sidebar-league.affix {
    top: 0;
    position: fixed;
    height: 100%;
    transition: transform 0.1s;
}

.sidebar-league .sb-league ul {
    padding: 0 5px;
}

.sidebar-league .sb-league ul li {
    width: 100%;
    display: inline-block;
    padding: 5px 3px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.sidebar-league .sb-league ul li img {

}

.sidebar-league .sb-league ul li img,
.sidebar-league .sb-league ul li p,
.sidebar-league .sb-league ul li a {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 12px;
}

.sidebar-league .sb-league ul li p {
    margin: 0;
    color: red;
}

.sidebar-league .sb-league ul li a {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 70%; /* กำหนดความกว้าง */
    padding: 0 5px;
}

.sidebar-league .sb-league ul li img {
    width: 15px;
    height: 15px;
}

.sidebar-league .sb-league ul li p {
    float: right;
    padding-right: 3px;
}

.sidebar-league .sb-league ul li.active img {
    display: none;
}

.sidebar-league .sb-league ul li.active p,
.sidebar-league .sb-league ul li.active a {
    color: #fff;
    font-weight: bold;
}

.sidebar-league .sb-league ul li.active:hover,
.sidebar-league .sb-league ul li.active {
    cursor: default;
    background-color: #00244d;

}

.sidebar-league .sb-league ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.sidebar-league .sb-league ul li.active:before {
    content: " ";
    background-color: red;
    width: 5px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
}

.sidebar-league .sb-league ul li.active a {
    margin-left: 10px;
}

.sidebar-league, .hamburger, .cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .cover {
    -webkit-transform: translateX(226px);
    -ms-transform: translateX(226px);
    transform: translateX(226px);
}

.sidenav-active .sidebar-league {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.sb-league-information {
    padding: 0 10px;
    margin-top: 30px;
}

.sb-league-information ul.nav {
    border: solid 1px #00244d;
    border-radius: 2px;
}

.sb-league-information ul.nav {
    display: flex;
}

.sb-league-information ul.nav li {
    text-align: center;
    flex: 1;
}

.sb-league-information ul.nav li a {
    padding: 3px 0;
    color: #00244d;
    font-size: 12px;
    margin: 0;
    border-radius: 0;
    border:0;
}
.sb-league-information ul.nav li:nth-child(2) a{
    border-right: solid 1px #00244d;
    border-left: solid 1px #00244d;
}
.sb-league-information ul.nav li.active a {
    background-color: #00244d;
    border: transparent;
    color: #fff;
    border-bottom: solid 1px #00244d;
}

.top-league-information{
    text-align: center;
}
.top-league-information img {
    height: 32px;
    margin-right: 5px;
}

.top-league-information img,
.top-league-information h4 {
    display: inline-block;
    vertical-align: middle;
}
.top-league-information p{font-size: 11px;}
.top-league-information h4{
    width: 100%;
    margin-bottom: 0;
}
.tab-table-league table tr td img {
    height: 18px;
}

.tab-table-league table tr td {
    font-size: 12px;
    color: #202020;
    padding: 5px;
    border-bottom: solid 1px #eee;
}

.tab-table-league table tr td span {
    width: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.tab-table-league table tr th {
    padding: 5px 8px 5px 0;
}

.tab-table-league span {

}

.main {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-left: 226px;
    -webkit-transition: padding-left .3s;
    transition: padding-left .3s;

}

.sidenav-active .main {
    padding-left: 0;
}

.stance-green,
.stance-red,
.stance-blue {
    color: #fff;
}

.stance-green,
.stance-default,
.stance-red,
.stance-blue {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 18px;
    font-size: 11px;
}

.stance-green {
    background-color: #459428;
}

.stance-blue {
    background-color: blue;
}

.stance-red {
    background-color: red;
}

/*table-topscore*/

.table-topscore table tr td:nth-child(2) img {
    border: 1px solid rgba(0, 12, 36, .14);
    width: 28px;
    vertical-align: top;
    height: 28px;
    min-width: 28px;
    border-radius: 50%;
    position: relative;
}

.table-topscore table {
    width: 100%;
}

.table-topscore table tr {
    border-bottom: solid 1px #f1f1f1;
}

.table-topscore table tr td {
    vertical-align: middle;
    padding: 5px;
}

.table-topscore table tr td:nth-child(1) {
    text-align: center;
    font-size: 10px;
}

.table-topscore table tr td:nth-child(2) {
    width: 10%;
}

.table-topscore table tr td:nth-child(3) ul li {
    display: inline-block;
    vertical-align: middle;
}

.table-topscore table tr td:nth-child(3) img {
    height: 10px;
}

.table-topscore table tr td:nth-child(4) {
    font-size: 14px;
}

.table-topscore table tr td:nth-child(3) p,
.table-topscore table tr td:nth-child(3) span {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 70px;
    line-height: 13px;
    font-size: 11px;
}

.table-topscore table tr td:nth-child(3) p {
    width: 50px;
}

.table-topscore table tr td:nth-child(3) span {
    font-weight: bold;
}

.table-topscore table tr td:nth-child(3) p {
    margin: 0;
    font-size: 10px;
}

/*fixture*/
.tab-table-fixture .box-match-list {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    font-size: 11px;
    margin-bottom: 10px;
}

.tab-table-fixture .box-match-list-topic {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.tab-table-fixture .box-match-list-topic p, .box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.tab-table-fixture .box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.tab-table-fixture .box-match-list-topic .pull-right {
    width: 21%;
}

.tab-table-fixture .box-match-list-topic .pull-left {
    width: 70%;

}

.tab-table-fixture .box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.tab-table-fixture .box-match-list-topic p,
.tab-table-fixture .box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.tab-table-fixture .box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.tab-table-fixture .box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.tab-table-fixture .box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.tab-table-fixture .box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.tab-table-fixture .box-match-list div:nth-of-type(3) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.tab-table-fixture .box-match-list div:nth-of-type(4) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.tab-table-fixture .box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.tab-table-fixture .box-match-list div:nth-of-type(4),
.tab-table-fixture .box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px #ced4da;
}

.tab-table-fixture .box-match-list div {
    padding-right: 3px;
}

.tab-table-fixture .time-match,
.tab-table-fixture .date-match {
    border-right: solid 1px #ced4da;
}

.tab-table-fixture .time-match {
    height: 30px;
    line-height: 30px;
}

.tab-table-fixture .home-name-match,
.tab-table-fixture .away-name-match {
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 80%;
}

.tab-table-fixture .home-name-match img,
.tab-table-fixture .away-name-match img {
    height: 12px;
    margin-right: 3px;
}

.main-content {
    padding-left: 15px;
    padding-right: 315px;
}

/*side-list-video*/
.side-list-video {
    width: 300px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 65px;
    background-color: #00244d;
    /*background-image: url(/images/bg-sportball.jpg);*/
}

.side-list-video ul.nav {
    /*display: flex;*/
}

.side-list-video ul.nav li {
    display: inline-block;
    width: 50%;
}

.side-list-video ul.nav li a {
    margin: 0;
}

.side-list-video ul.nav li a {
    text-align: center;
}

.side-list-video ul.nav li a span {
    z-index: 1;
    position: relative;
    font-size: 16px;
    color: #fff;
    line-height: 33px;
}

.side-list-video ul.nav li a,
.side-list-video ul.nav li.active a,
.side-list-video ul.nav li.active a:hover,
.side-list-video ul.nav li a:hover {
    border-radius: 0;
    border: 0;
    z-index: 1;
}

.side-list-video ul.nav li:nth-child(1).active a span,
.side-list-video ul.nav li:nth-child(1) a:hover,
.side-list-video ul.nav li:nth-child(1):hover,
.side-list-video ul.nav li:nth-child(1) a span:hover,
.side-list-video ul.nav li:nth-child(1).active a span:hover {
    color: #000;
}

.side-list-video ul.nav li:first-child.active a,
.side-list-video ul.nav li:first-child.active a:hover,
.side-list-video ul.nav li:first-child a:hover,
.side-list-video ul.nav li:first-child a:before,
.side-list-video ul.nav li:first-child a:hover::before,
.side-list-video ul.nav li:first-child.active a:before {
    background-color: #ffd400;
}

.side-list-video ul.nav li a:hover::before,
.side-list-video ul.nav li.active a:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.side-list-video ul.nav li:last-child.active a,
.side-list-video ul.nav li:last-child.active a:hover,
.side-list-video ul.nav li:last-child a:hover,
.side-list-video ul.nav li:last-child a:before,
.side-list-video ul.nav li:last-child a:hover::before,
.side-list-video ul.nav li:last-child.active a:before {
    background-color: #d30a0b;
}

.side-list-video ul.nav li:last-child a:hover::before,
.side-list-video ul.nav li:last-child.active a:before {
    transform-origin: bottom right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.side-list-video ul.nav li:nth-child(2) a:hover,
.side-list-video ul.nav li:nth-child(2).active a:hover,
.side-list-video ul.nav li:nth-child(2).active a {
    color: #fff;
}

/*.side-list-video{position: relative;}*/
.side-list-video .tab-content {
    padding-top: 55px;
}

.side-list-video ul.nav {
    width: 300px;
    position: fixed;
    z-index: 1;
    background-color: #00244d;
}

.tab-pane-full-match .box-list-video .label-info,
.tab-pane-all-goal .box-list-video .label-info {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

.tab-pane-full-match .box-list-video:hover .label-info,
.tab-pane-full-match .box-list-video.active .label-info {
    background-color: #ffd400;
}

.tab-pane-all-goal .box-list-video:hover .label-info,
.tab-pane-all-goal .box-list-video.active .label-info {
    background-color: #d30a0b;
    color: #fff;
}

.box-list-video {
    padding: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
}

.box-list-video.active,
.box-list-video:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.box-list-video.active {
    padding-left: 30px;
}

.box-list-video.active:before {
    display: inline-block;
    position: absolute;
    left: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f04b";
    height: 85px;
    line-height: 85px;
    color: #fff;
}

.box-video-thumbnail {
    position: relative;
    width: 150px;
    height: 85px;

}

.box-video-thumbnail img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.highlight-thumbnail {
    position: relative;
}

.box-recent-thumbnail:hover .highlight-thumbnail:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    content: "\f04b";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    margin: auto;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 1;
    color: #fff;
    transition: .5s;
}

.box-recent-thumbnail:hover .highlight-thumbnail:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: .5s;
}

.box-video-detail p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-video-detail {
    color: #fff;
    flex: 3;
    padding: 0 5px;
}

.team-highlight .swiper-wrapper {
    padding: 15px 0 0 5px;
    /*height: 50px!important;*/
}

.logo-team-slide img {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.active .logo-team-slide img,
.logo-team-slide img:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    cursor: pointer;
    opacity: 1;
}

.active .logo-team-slide img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -5px;
}

.team-highlight {
    height: 50px;
}

.team-highlight .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.team-highlight .swiper-button-next,
.team-highlight .swiper-button-prev,
.team-highlight .swiper-container-rtl .swiper-button-next,
.team-highlight .swiper-container-rtl .swiper-button-prev {

    background-image: none;
}

.team-highlight .swiper-button-next:before,
.team-highlight .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-next:before {
    display: inline-block;
    margin-top: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f105";
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 20px;

    background-color: #aaa;
}

.team-highlight .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-next:before {
    content: "\f104";
}

.team-highlight .swiper-button-prev {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 0;
}

.logo-team-slide {
    position: relative;
}

.side-list-video.affix {
    top: 0;
}

.container-fluid-video {
    margin-top: 15px;
    position: relative;
    padding-bottom: 56.25%;
    padding-left: 10px;
    height: 0;
}

.container-fluid-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-fluid-video.affix {
    position: fixed;
    bottom: 10px;
    width: 250px;
    height: 141px;
    z-index: 999;
    padding: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.container-fluid-video.affix iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.container-fluid-video-detail h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.container-fluid-video-detail {
    display: flex;
    margin-bottom: 50px;
}

.bt-title-video,
.bt-title-video-right {
    flex: 1;
}

.bt-title-video-right {
    padding-top: 20px;
}

.bt-title-video-right p:before {

}

.container-fluid-video-detail p {
    padding-right: 20px;
    margin: 0;
}

.container-fluid-video-detail .bt-share,
.container-fluid-video-detail p {
    display: inline-block;
    vertical-align: middle;
}

.container-fluid-video-detail .bt-share .btn {
    /*background-color: #00244d;*/
    color: #fff;
}

.btn.btn-facebook {
    background-color: #3b5998;
}

.btn.btn-facebook:hover {
    background-color: #8b9dc3;
}

.btn.btn-twitter {
    background-color: #00aced;
}

.btn.btn-twitter:hover {
    background-color: #0084b4;
}

.bt-title-video-right p:before,
.btn.btn-facebook:before,
.btn.btn-twitter:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    padding-right: 10px;
}

.bt-title-video-right p:before {
    content: "\f06e";
}

.btn.btn-facebook:before {
    content: "\f082";
}

.btn.btn-twitter:before {
    content: "\f081";
}

/*Recent*/
.swiper-highlight {
    height: 290px;
    width: 100%;
    float: left;
    z-index: 1;
    padding: 0 20px 0 0 !important;
}

.swiper-highlight .swiper-wrapper {
    width: 97%;
}

.box-recent-thumbnail {
    position: relative;
    z-index: 1;
}

.box-recent-thumbnail a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.box-recent-thumbnail img {
    width: 100%;
    height: auto;
}

.box-recent-thumbnail:hover h4 {
    text-decoration: underline;
}

.box-recent-thumbnail h4 {
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    transition: .3s;
}

.box-recent-thumbnail p {
    color: grey;
}

.swiper-highlight .swiper-button-next,
.swiper-highlight .swiper-container-rtl .swiper-button-prev,
.swiper-highlight .swiper-button-prev,
.swiper-highlight .swiper-container-rtl .swiper-button-next {
    background-image: none;
    left: 0;
    right: auto;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    fill-opacity: 50%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

}

.swiper-highlight .swiper-button-next,
.swiper-highlight .swiper-container-rtl .swiper-button-prev {
    right: 3px;
    left: auto;
}

.swiper-highlight .swiper-button-next:before,
.swiper-highlight .swiper-container-rtl .swiper-button-prev:before,
.swiper-highlight .swiper-button-prev:before,
.swiper-highlight .swiper-container-rtl .swiper-button-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f104";
    font-size: 20px;
}

.swiper-highlight .swiper-button-next:before,
.swiper-highlight .swiper-container-rtl .swiper-button-prev:before {
    content: "\f105";
}

.swiper-highlight .swiper-button-next.swiper-button-disabled,
.swiper-highlight .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.swiper-highlight .text-title h4 {
    font-size: 20px;
}