
.thumbnail.content-team-slide {
    float: left;
    width: 100%;
    /*border: 1px solid #999;*/
    border-radius: 0;
}

.content-list-livescore {
    padding-top: 15px;
}

.content-list-livescore ul {
    text-align: center;
}

.content-list-livescore ul li {
    display: inline-block;
    vertical-align: middle;
}

.thumbnail.content-team-slide:hover {
    cursor: pointer;
    border: 1px solid #000;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.thumbnail.content-team-slide table img {
    height: 25px;
}

.thumbnail.content-team-slide table strong.active {
    color: #008abc;
    font-weight: bold;
    text-decoration: underline;
}

.thumbnail.content-team-slide table tr td:first-child {
    width: 35px;
    text-align: center;
}

.thumbnail.content-team-slide table tr td {
    font-size: 16px;

}

.thumbnail.content-team-slide table tr td.active {
    text-decoration: underline;
    font-weight: bold;
}

.thumbnail.content-team-slide table tr td.active,
.time-live {
    color: #008abc;
}

.thumbnail.content-team-slide table strong,
.thumbnail.content-team-slide table img {
    display: inline-block;
}

.thumbnail.content-team-slide table tr td {
    padding: 5px;
}

.content-team-slide .pull-right {
    width: 35%;
    border-left: solid 1px #eee;
}

.thumbnail.content-team-slide .pull-left {
    width: 65%;
}

.active .thumbnail.content-team-slide {
    background-color: #0091c8 !important;
    border: 1px solid #02335c;

}

.active .content-team-slide:hover {
    border: 1px solid #02335c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.active .content-team-slide table tr td.active,
.active .time-live {
    color: #02335c;
}

.content-livescore-main-mobile.content-livescore-main {
    display: none;
}

.content-livescore-main {
    /*margin-top: -20px;*/
    position: relative;
    overflow: hidden;
    /*display: block;*/
    /*float: left;*/
    width: 100%;
    height: auto;
    background: url("/images/image-livescore.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding-bottom: 50px;*/
    margin-bottom: 50px;
    /*border-bottom: solid 10px #02335c;*/
    z-index: 0;
}

.time-live i,
.time-live p {
    display: inline-block;
    margin-bottom: 0;
}

.time-live {
    font-size: 14px;
}

.time-live,
.HDP-live,
.num-live {
    text-align: center;
    width: 100%;

}

.HDP-live,
.num-live {
    font-weight: bold;
}

.HDP-live {
    color: #777;
    font-size: 12px;
}

.num-live {
    line-height: 24px;
    font-size: 24px;
}

.topic-league {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.topic-league img {
    margin-top: -3px;
    height: 30px;
}

.topic-league h3 a {
    color: #02335c;
    font-weight: normal;
    text-transform: uppercase;
}

.topic-league h3 a:hover {
    text-decoration: underline !important;
}

.topic-league h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.topic-league ul {
    text-align: center;
}

.topic-league ul li {
    font-size: 16px;
    padding: 5px;
    color: #555;
    display: inline-block;
}

.name-team-vote,
.box-vote-team {
    display: block;
    float: left;
    position: relative;
    z-index: 0;
}

.box-vote-team h2 {
    width: 300px;
    z-index: 1;
    padding: 0 15px;
    line-height: 100px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
}

.box-vote-team,
.name-team-vote {
    font-size: 100%;
    height: 150px;
}

.name-team-slide-top {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-team-slide-title div,
.content-team-slide-title img {
    display: inline-block;
    vertical-align: middle;
}

.content-team-slide-title img {
    height: 25px;
}

.name-team-vote h3 {
    width: 100%;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    text-transform: uppercase;
}

.box-text-home-comment {
    width: 417px;
    height: 40px;
    overflow: hidden;
}

.name-team-vote {
    width: 234px;
    padding-top: 40px;
    text-align: center !important;
}

.box-vote-team {
    position: relative;
}

.logo-vote-team-away img,
.logo-vote-team-home img {
    width: auto;
    height: 150px;
}

.logo-vote-team-home,
.logo-vote-team-away {
    z-index: 1;
    /*margin-left: 30px;*/
    width: 150px;
    height: 150px;
}

.logo-vote-team-away {
    margin-right: 30px;
}

.btn-vote-team-home:hover,
.btn-vote-team-away:hover {
    text-decoration: underline;
}

.btn-vote-team-home,
.btn-vote-team-away {
    width: 280px;
    height: 84px;
    line-height: 84px;
    z-index: 0;
    margin: 30px;
    cursor: pointer;
    font-size: 25px;
    position: static;
}

.bg-vote-team-away,
.bg-vote-team-home {
    position: absolute;
    line-height: 84px;
    z-index: 0;
    top: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;
    transform: skew(200deg);
    background-color: #092740;
}

.btn-vote-team-away a,
.btn-vote-team-home a {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    color: #fff;
    z-index: 1;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0 40px;
    font-size: 25px;
}

.btn-vote-team-away a:hover,
.btn-vote-team-home a:hover {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: underline !important;
}

.btn-vote-team-home {
    margin-left: 10px;
}

.btn-vote-team-away {
    text-align: left;
}

.btn-vote-team-away,
.btn-vote-team-home {
    position: relative;
}

.logo-vote-team-away,
.logo-vote-team-home {
    position: absolute;
}

.btn-vote-team-away {
    left: 0;
    margin-left: 0;
}

.logo-vote-team-away {
    right: 0;
    float: right;
}

.active .content-team-slide .pull-right {
    border-color: #ace8ff !important;
}

.active .content-team-slide,
.active .content-team-slide table tr td.active,
.active .time-live,
.active .HDP-live,
.btn-vote-team-away,
.btn-vote-team-home {
    color: #ffffff !important;
}

.content-HDP-vote ul {
    text-align: center;
}

.content-HDP-vote ul li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

.box-comment-vote table {
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

.box-comment-vote table tr td img {
    width: 143px;

}

.box-comment-vote a,
.box-comment-vote a:hover {
    color: #000;
}

.box-comment-vote:first-child {
    border-right: solid 1px #aaa;
}

/*.box-comment-vote table{*/
/*opacity: 0.5;*/
/*}*/
/*.box-comment-vote table:hover{*/
/*opacity: 1;*/
/*opac.name-team-voteity: 1;*/
/*}*/
.box-comment-vote a table tr td img {
    opacity: 0.5;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.box-comment-vote a:hover table tr td img {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
}

.text-home-comment strong {
    color: #000;
}

.text-away-comment strong {
    color: #007cad;
    text-decoration: underline;
}

.box-comment-vote table tr td {
    text-align: left;
    padding: 5px;
}

.content-livescore-main .carousel .container {
    /*margin-top: 50px;*/
    /*border-top: solid 1px #aaa;*/
    padding-top: 10px;
}

.content-livescore-main .carousel-control.left,
.content-livescore-main .carousel-control.right {
    background-image: none !important;
}

.content-livescore-main .carousel-control {
    width: 3% !important;
}

.content-livescore-main .carousel-control span {
    color: #555;
}

/*.box-comment-vote table tr td strong ,*/
/*.box-comment-vote table tr td span{*/
/*display: inline-block;*/
/*}*/

/*for mobile*/
.content-list-livescore-mobile ul li {
    width: 49%;
    display: inline-block;
    font-size: 50%;
}

.content-list-livescore-mobile .time-live,
.content-list-livescore-mobile .HDP-live,
.content-list-livescore-mobile .thumbnail.content-team-slide table tr td {
    font-size: 12px;
}

.content-list-livescore-mobile .num-live {
    font-size: 20px;
}

.content-select-team-vote-mobile table {
    width: 100%;
}

.content-select-team-vote-mobile table tr td {
    text-align: center;
}

.content-select-team-vote-mobile table tr td strong {
    font-size: 18px;
    line-height: 35px;
    padding: 10px 0;
}

.content-select-team-vote-mobile table tr td img {
    height: 120px;
}

.content-livescore-main-mobile .content-HDP-vote {
    margin-top: 20px;
}

.content-livescore-main-mobile .box-comment-vote table tr td img {
    width: 100%;
}

.content-livescore-main-mobile .box-comment-vote {
    width: 100%;
    border: 0;
}

.content-livescore-main-mobile .item {
    display: block;
    float: left;
    width: 100%;
}

/*game*/
.content-stats-game {
    border-top: solid 1px #aaa;
    padding-top: 20px;
    margin-top: 20px;
}

.content-stats-game table tr td {
    font-size: 20px;
}

.content-stats-game table tr td img {
    height: 30px;
    width: 30px;
}

.content-stats-game table tr td ul li {
    display: inline-block;
}

.content-detail-game {
    display: block;
    float: left;
    min-height: 500px;
    width: 100%;
    margin-bottom: 50px;
}

.content-detail-game .nav.nav-tabs li a {
    border: solid 1px transparent;
    font-size: 32px;
}

.content-detail-game .nav.nav-tabs li a:hover,
.content-detail-game .nav.nav-tabs li.active a,
.content-detail-game .nav.nav-tabs li.active a:hover,
.content-detail-game .nav.nav-tabs li.active a:focus {
    border-color: transparent;
    border-bottom: solid 5px #02335c;
}

.content-detail-game .tab-content {
    margin-top: 10px;
}

.content-view-game {
    display: block;
    float: left;
    width: 100%;
}

.content-view-game span img {
}

.content-view-game ul li img {
    height: 25px;
}

.content-view-game strong {
    color: #007cad;
}

.content-view-game strong,
.content-view-game ul {
    display: inline-block;
    padding-right: 5px;
}

.content-view-game ul li {
    display: inline-block;
}

.content-view-game-detail {
    margin-top: 10px;
}

.content-view-game-border-right {
    min-height: 500px;
    border-right: solid 5px #02335c;
}

.content-team-vote-home {
    float: right;
}

.content-team-vote-home,
.content-team-vote-away {
    position: relative;
}

.content-HDP-game {
    display: block;
}

.content-HDP-game.content-HDP-game-responsive {
    display: none;
}

.content-select-team-vote
.content-team-vote-home
.box-vote-team {
    float: right;
}
.area-banner-side-livescore img{width: 88%;}
.area-banner-side-livescore{
    text-align: right;
    display: inline-block;
    height: auto;
    margin-top: 90px;
    position: fixed;
    top:0;
    right: 5px;
    width: 120px;
}
.banner-side-livescore-fix{
    position: relative;
}
.banner-side-livescore-fix.affix{
    position: fixed;
    top:10px;
    width: 120px;
}
@media (min-width: 320px) and (max-width: 750px) {
    .area-banner-side-livescore{
        display: none;
    }
    .wrap-lastnews{
        overflow: hidden;
        height: 175px;

    }
    .box-popular {
        position: relative;
        display: block;
        float: left;
        width: 100%;
         margin: 0;
        border-top: dotted 1px #000;
         padding: 5px 0;
    }
    .box-popular-title {
        font-size: 14px;
        margin-bottom: 0;
        text-align: left;
        color: #888;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .content-livescore-main .wrap-preview-game .title-label-rota {
        margin-top: 10px !important;
    }

    .content-livescore-main .wrap-preview-game {
        height: 223px;
    }

    .content-livescore-main .box-guru-img,
    .content-livescore-main .box-user-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: solid 1px;
    }
    .content-livescore-main .box-player-preview img{
    height: 16px;
        background-color: grey;
        display: inline-block;
}
    .content-livescore-main .box-guru-img img,
    .content-livescore-main .box-user-img img {
        position: absolute;
        left: -25%;
        top: 0;
    }
    .content-livescore-main .wrap-preview-game .container{
        padding: 0;
    }
    .content-livescore-main .button-box-preview{
        height: 20px!important;
    }
    .content-livescore-main .button-box-preview p {
        -webkit-line-clamp: 1;
        height: 19px;
        overflow: hidden;
        margin: 0;
    }
    .content-livescore-main .topic-league ul li {
        font-size: 14px;
    }
    .content-list-livescore {
        padding-top: 50px;
    }

    li.box-last-match:first-child {
        border-right: solid 1px #000;
    }

    .content-team-vote-home,
    .content-team-vote-away {
        text-align: center;
        height: 179px;
        position: relative;
        display: block;
    }

    .topic-league h3 {
        font-size: 18px;
        font-family: "Roboto",Arial,sans-serif!important;
        margin-bottom: 5px;
    }

    .thumbnail.content-team-slide {
        width: 100% !important;
        padding: 5px 0;
        border-radius: 4px;
    }

    .thumbnail.content-team-slide table tr td {
        padding: 0;
    }

    .thumbnail.content-team-slide table tr td:first-child {
        padding: 5px 0;
    }

    .thumbnail.content-team-slide .pull-left {
        width: 100%;
    }

    .content-team-slide-title {
        width: 50%;
        float: left;
    }

    div.name-team-slide-top {
        display: none;
    }

    .content-team-slide .pull-right {
        width: 100%;
        border-left: solid 1px transparent;
    }

    .active .content-team-slide .pull-right {
        border-color: transparent !important;
    }

    .btn-vote-team-home, .btn-vote-team-away {
        width: 100px;
        line-height: 50px;
        margin: 0 auto;
    }

    .btn-vote-team-away a,
    .btn-vote-team-home a {
        font-size: 16px;
        line-height: 36px;
        height: 36px;
    }

    .btn-vote-team-away a,
    .btn-vote-team-home a {
        padding: 0;
        text-align: center;
    }

    .box-vote-team {
        /*width: 64%;*/
    }

    .box-vote-team {
        width: 100%;
        height: 100%;
        position: relative;

    }

    .btn-vote-team-home,
    .btn-vote-team-away {
        bottom: 0;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        height: 53px;
    }

    .name-team-vote {
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 66px;
    }

    .name-team-vote h3 {
        line-height: 50px;
        height: 50px;
        margin: 0;
        font-size: 18px;
    }

    .logo-vote-team-home,
    .logo-vote-team-away {
        width: 100%;
        height: auto;
    }

    .logo-vote-team-home img,
    .logo-vote-team-away img {
        width: 70px;
        height: 70px;
    }

    .box-vote-team {
        width: 100%;
    }

    .logo-vote-team-home {
        /*left: -20px;*/
    }

    .logo-vote-team-away {
        margin: 0;
        /*right: -20px;*/
    }

    .bg-vote-team-home,
    .bg-vote-team-away {
        height: 36px;
        line-height: 36px;
    }

    .name-team-vote {
        padding: 0;
    }

    .logo-vote-team-home,
    .logo-vote-team-away {
        position: relative;
        margin: 0 auto;
        padding: 11px 0;
    }

    .logo-vote-team-away,
    .content-team-vote-home {
        float: none;
    }

    .content-team-vote-home {

        overflow: auto;
    }

    .content-select-team-vote .col-xs-6:first-child {
        border-right: solid 1px #ddd;
    }

    li.box-last-match table tr td img {
        width: 12px;
        height: 12px;
    }

    li.box-last-match table tr td {
        font-size: 14px !important;
        padding: 0;
    }

    .box-HDP-game table tr td {
        width: 50%;
        text-align: center;
    }

    .box-HDP-game table tr td:first-child,
    .box-HDP-game table tr td:last-child {
        width: 25%;
    }

    li.box-HDP-game {
        width: 100% !important;
        vertical-align: top;
        margin: 10px 0;
    }

    ul.content-HDP-game li.box-last-match {
        width: 50%;
        padding: 0 !important;
        vertical-align: bottom;
        float: left;
    }

    .box-last-match .progress {
        width: 80px !important;
        margin: 0 5px !important;
    }

    .content-HDP-game {
        display: none;
    }

    .content-HDP-game-responsive {
        display: block !important;
    }

    ul.content-HDP-game li span {
        padding: 0 5px;
    }

    .box-last-match.text-right {
        border-right: solid 1px #000;
    }

    ul.content-HDP-game li.box-last-match {
        /*padding: 0 5px!important;*/
    }

    #fade-in-index.show, #fade-in-right-index.show {
        width: 100%;
    }

    .wrap-selected-team-play img {
        width: 100px;
        height: 100px;
    }

    .box-button {
        margin: 20px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content-select-team-vote .pull-right,
    .content-select-team-vote .pull-left {
        float: none;
    }

    .logo-vote-team-away img,
    .logo-vote-team-home img {
        height: 100px;
    }

    .logo-vote-team-home, .logo-vote-team-away {
        width: 80px;
        height: 80px;
    }

    .container-feature-video {
        margin-top: 49px;
    }

    .btn-vote-team-home, .btn-vote-team-away {
        width: 210px;
        height: 75px;
        line-height: 75px;
        z-index: 0;
        margin: 16px 17px !important;
    }

    .logo-vote-team-away {
        margin-right: 23px;
    }

    .name-team-vote {
        width: 125px;
        height: 75px;
        margin-top: 16px;
        line-height: 75px;
        padding: 0;
    }

    li.box-last-match table tr td {
        padding: 2px !important;
    }

    .box-vote-team, .name-team-vote {
        height: auto;
        margin: 15px 0;
    }

    .box-last-match .progress {
        width: 205px !important;
    }

    ul.content-HDP-game li {
        padding: 0 10px !important;
    }

    ul.content-HDP-game li tr td h2,
    ul.content-HDP-game li tr td p {
        font-size: 18px;
    }

    .box-HDP-game table tr td {
        padding: 24px 0;
    }

    .name-team-slide-top {
        width: 65px;
        height: 25px;
        line-height: 25px;
    }

    .thumbnail.content-team-slide {
        width: 98%;
        /*border-color: transparent;*/
    }

    .thumbnail.content-team-slide i {
        display: none;
    }

    .name-team-vote h3 {
        height: 70px;
        line-height: 70px;
        overflow: hidden;
        font-size: 24px;
    }

    .content-game-redesign .container {
        width: 100%;
    }
}