@media (min-width: 300px) and (max-width: 768px) {
    .responsive-mobile .content-menu-index {
        display: none;
    }
    .menu-responsive{
        display: block;

    }
    .main-menu-responsive{
        position: relative;
        z-index: 10;
        height: 56px;
        background-color: #fff;
        width: 100%;
        -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
        box-shadow: 0 1px 8px rgba(0,0,0,.3);
    }
    .menu-responsive .logo{
        height: 56px;
    }
    .menu-responsive .logo a,
    .menu-responsive .logo img{
        display: inline-block;
        vertical-align: middle;
    }
    .menu-responsive .logo img{
        width: 40%;

    }
    .content-menu-responsive{
        width: 100%;
        height: 300px;
        padding-top: 50px;
    }
    .menu-responsive-collapse span{
        font-size: 24px;
        padding: 5px;
    }
}