.container-new-menu .navbar-default.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
}

.container-new-menu .navbar-default {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border-color: #e7e7e7;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.container-new-menu ul.navbar-nav-menu li > a {
    padding: 0 15px !important;
    font-size: 16px !important;
    line-height: 64px;
}

.container-new-menu ul.navbar-nav-menu li > a {
    position: relative;
}

.container-new-menu ul.navbar-nav-menu li > a span.badge {
    background-color: red;
    margin-left: 5px;
    position: absolute;
    top: 12px;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    padding: 1px 7px;
    border-radius: 4px;
}

a.logo-navbar-brand {
    display: inline-block;
    line-height: 64px;
    margin-right: 10px;
}

a.logo-navbar-brand img {
    height: 30px;
    margin-top: 17px;

}

.navbar-profile {
    /*line-height: 64px;*/
    height: 64px;
}

.profile-image-menu {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px 5px 0 5px;
    overflow: hidden;
    position: relative;
    border: solid 1px #aaa;
}

.navbar-profile .dropdown-menu {
    min-width: 215px;
}

.navbar-profile .dropdown img {
    display: block;
    object-fit: cover;
    height: 40px;
}

.navbar-profile li a.dropdown-toggle:hover {
    text-decoration: none;
}

.navbar-profile .dropdown a.dropdown-toggle {
    padding: 0 !important;
}

.navbar-profile .dropdown-menu {
    padding-top: 0;
    margin-top: 10px !important;
}

.navbar-profile .dropdown-menu:before {
    z-index: 0;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    color: #f1f1f1;
    content: "\f0d8";
    right: 15px;
    top: 0;
    margin-top: -17px;
}

.navbar-profile .dropdown-menu > li > a > i {
    margin-right: 10px;
}

.navbar-profile .dropdown-menu > li > a {
    display: block;
    padding: 5px 15px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 14px !important;
}

.navbar-profile ul.nav .open > a,
.navbar-profile ul.nav .open > a:focus,
.navbar-profile ul.nav .open > a:hover,
.navbar-default .navbar-nav.navbar-profile > .open > a,
.navbar-default .navbar-nav.navbar-profile > .open > a:focus,
.navbar-default .navbar-nav.navbar-profile > .open > a:hover {
    background-color: transparent !important;
    border-color: transparent;
}

.navbar-profile .dropdown table {
    margin-top: 5px;
}

.navbar-profile .dropdown table tr td:first-child {
    border-right: solid 1px #ccc;
    text-align: right;
}

.navbar-profile .dropdown table tr td p {
    margin: 0;
}

.navbar-profile .dropdown table tr td {
    padding: 0 8px;
}

.navbar-profile .dropdown table tr td img {
    height: 18px;
}

.navbar-profile .dropdown table tr td img,
.navbar-profile .dropdown table tr td p {
    display: inline-block;
}

.header-menu-dropdown {
    background-color: #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.header-menu-dropdown .profile-image-menu,
.header-menu-dropdown .detail-user {
    display: block;
    float: left;
}

.header-menu-dropdown .detail-user h3 {
    margin: 10px 0 0;
    font-size: 15px;
}

.header-menu-dropdown .detail-user span {
    color: #ccc;
}

.bx-bar-slide {
    padding-right: 10px;
    line-height: 35px;
    height: 35px;
}
.bx-bar-slide span{cursor: pointer;}

span.bt-open:before,
span.bt-close:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f0c9";
    margin-top: 10px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidebar-shrink{ background: #000;
}