
.head-banner-news {
    margin-top: 140px;
    color: #fff;
}

.by-line {
    border-top: solid 2px #0092c3;
    padding-top: 5px;
    font-size: 14px;
}

.no-line {
    border-top: 0px !important;
}

.by-line label {
    margin: 0px;
}

.bx-sidebar-left {
    display: block;
    border: solid 1px #fff;
    /*margin-top: -50px;*/
    /*position: absolute;*/
    position: relative;
    z-index: 6;
}

.bx-sidebar-left .title {
    display: block;
    background-color: #003a6c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.bx-sidebar-left img {
    width: 55px;
}

.bx-popular-news {
    border-bottom: solid 1px #fff;
    padding: 15px;
    text-align: center;
}

.bx-popular-news img {
    width: 100%;
    margin: 10px 0;
}

.bx-popular-news .times-content {
    color: #eee;
}

.tabs-head {
    padding: 5px 15px;
    font-size: 1.4em;
    background-color: #e5e5e5;
    color: #000;
    font-family: 'Pridi', serif;
}

.bx-news-info {
    height: 250px;
    overflow: hidden;
    position: relative;
    background-color: #0b3457;
}

.bx-news-info.bx-news-info-full .hilight-cover {
    opacity: 0.75;
}

.bx-news-info.bx-news-info-full .story-image-frame__headline-and-byline {
    top: 40%;
    font-size: 27px;
    text-align: center;
}

.bx-content-type-news {
    margin-top: 20px;
}

.title-hover-news {
    position: absolute;
    z-index: 9;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    box-sizing: border-box;
    font-size: 1.875rem;
}

.bg-transparent {
    border: 1.25rem solid transparent;
    background-color: rgba(255, 255, 255, .9);
    top: 12rem;
}

.bg-transparent > .story-image-frame__headline-and-byline {
    color: #000;
}

.story-image-frame__headline-and-byline p {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story-image-frame__headline-and-byline {
    position: absolute;
    bottom: 0;
    width: 100%;
    vertical-align: bottom;
    line-height: 28px;
    color: #fff;
    font-family: 'Pridi', serif;

}

.mg-top-50 {
    margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .bx-sidebar-left,
    .row-recent-news{
        display: none;
    }
    .story-image-frame__headline-and-byline p {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .articles-title h1,
    .bx-news-info.bx-news-info-full .story-image-frame__headline-and-byline{
        font-size: 20px;
    }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .bx-sidebar-left {
        margin-top: -70px;
    }

    .bx-sidebar-left .title {
        padding: 10px 5px;
    }

    .bx-sidebar-left .title h3 {
        font-size: 16px;
    }

    .bx-sidebar-left img {
        width: 38px;
    }

    .tabs-head {
        padding: 5px 9px;
        font-size: 14px;
    }

    .bx-popular-news {
        padding: 9px;
    }

    .bx-popular-news iframe {
        height: 85px;
    }
}