.content-feature-news {
    padding: 100px 0 25px 0;
    height: 630px;
    margin-top: 0;
    position: relative;
    z-index: 0;
    background-color: #303a45;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-container-news .container-new-menu .navbar-default {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

.all-container-news .container-new-menu ul.navbar-nav-menu li > a {  color: white;  }
.all-container-news .container-new-menu ul.navbar-nav-menu li > a:hover {  color: whitesmoke;  }
.all-container-news .container-new-menu .navbar-default.affix {  position: relative;  }
.all-container-news a.logo-navbar-brand img {  display: none;  }
.all-container-news a.logo-navbar-brand {
    background-image: url(/images/logo/logo-ngoal-white.png);
    height: 30px;
    width: 72px;
    margin-top: 17px;
    margin-right: 20px;
}

.row-news-feature {
    color: white;
    position: relative;
    padding: 3%;
    margin-bottom: 5px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
}

.row-news-feature:last-child {
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    margin-bottom: 0;
}

.row-news-feature:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.row-news-feature:hover h3 {  text-decoration: underline;  }

.thumbnail-news-feature,
.topic-news-feature {
    display: inline-block;
    vertical-align: top;
}

.thumbnail-news-feature {
    width: 30%;
    height: 50px;
    position: relative;
}

.topic-news-feature {
    width: 65%;
    height: 50px;
    overflow: hidden;
    position: relative;

}

.topic-news-feature h3 {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.cat-news-feature {
    display: inline;
    padding: 1px 3px;
    font-size: 65%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cat-premier-league {
    background-color: #00ff87;
    color: black;
}

.cat-laliga {  background-color: #f4a32e;  }

.cat-serie-a {  background-color: #ac9a57;  }

.cat-bundesliga {  background-color: #e91d17;  }

.cat-uefa-europa-league {  background-color: grey;  }

.cat-uefa-champions-league {  background-color: #086aab;  }

.cat-thailand {  background-color: #cf6224;  }

.cat-otherleague {  background-color: black;  }

.cat-ligue-1 {
    background-color: yellow;
    color: black;
}

.crop-thumbnail-news-feature {
    background-color: #000;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.row-news-feature-big .thumbnail-news-feature {
    width: 100%;
    height: 400px;
}

.row-news-feature-big.row-news-feature {  padding: 0;  }
.row-news-feature-big .topic-news-feature {
    width: 100%;
    height: 80px;
}

.row-news-feature-big .topic-news-feature h3 {
    font-size: 28px;
    line-height: 57px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: 'Kanit', sans-serif !important;
}

.row-news-feature-big .cat-news-feature {
    padding: 2px 5px;
    font-size: 100%;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.row-news-feature-big.row-news-feature:hover {  background-color: rgba(0, 0, 0, 0) !important;  }

.container-all-news{margin-bottom: 15px;}
.container-all-news .navbar{
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgba(0,0,0,0.14);
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
    margin-bottom: 0;
}
.container-all-news .navbar-navs {
    display: flex;
    display: -moz-flex;
    float: none;
    line-height: 50px;
    margin: 0 auto;
}

.container-all-news .navbar.affix {
    top: 0;
    width: 100%;
    background-color: white;
    border-radius: 0;
    z-index: 999;
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}
.container-all-news .navbar ul li a:hover{background-color: transparent;}
.container-all-news .navbar ul li:hover{background-color: #ddd;}
.container-all-news .navbar ul li.active ,
.container-all-news .navbar ul li.active:hover{background-color: #ccc!important;}
.container-all-news .navbar-navs li {
    text-align: left;
    flex: 1 auto;
    padding: 0 7px;
    float: none;
}

.container-all-news .navbar-navs li.active {  background-color: #eee;  }
.container-all-news .navbar-navs li img {  height: 16px;  }
.container-all-news .navbar-navs li img,
.container-all-news .navbar-navs li span {
    display: inline-block;
    vertical-align: middle;
}

.container-all-news .navbar-navs li a span {  color: #333;  }
.container-all-news .navbar-navs li span {
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container-all-news .navbar-navs li > a {
    line-height: 50px;
    padding: 0 !important;
}

.container-fluid-news{margin-top: 15px;}
.container-fluid-news .thumbnail{
    position: relative;
    height: 170px;
    overflow: hidden;
    margin-bottom: 10px;
}
.container-fluid-news .col-md-3 .thumbnail{  height: 140px;  }
.container-fluid-news .col-md-3 h4{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1px;
}
.col-news{margin-bottom: 10px;}
.col-news p,
.col-news h4{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.col-news p{
    width: 100%;
    font-size: 14px;
    -webkit-line-clamp: 2;
    color: #aaa;
}
.col-news a{color: #000}
.col-news a:hover h4{
    text-decoration: underline;
}
.col-news h4{
    width: 100%;
    -webkit-line-clamp: 1;
}
.col-news .cat-news-feature{
    position: relative;
    font-size: 14px;
}