
.bx-profile-team{
    /*border:solid 1px;*/
}
.bx-profile-team img{
    width: 155px;
    height: 155px;
    margin-right: 30px;
}
.bx-profile-team h3{
    font-family: 'Pridi', serif;
    font-size: 4em;
    font-weight: normal;
    margin: 0px;
}
.section-menu-left{
    /*border:solid 1px red;*/
}
.section-menu-left h3,.title-articles{
    font-size: 1.5em;
    color:#003e72;
    font-family: 'Pridi', serif;
}
table.table-list th{
    color: #000;
    border-top: solid 1px #ccc;
}
table.table-list img{
    width: 15px;
}
table.table-list td,table.table-list th{
    padding: 3px;
}
table.table-list td:last-child{text-align: right;}
table.table-point-left th{
    font-size: 11px;
}
table.table-point-left td{
    border-bottom:solid 1px #eee;
    font-size: 12px;
    padding: 5px 3px;
}
table.table-point-left img{
    width: 20px;
}
table.table-point-left i{
    font-size: 13px;
}
table.table-point-left tr:nth-child(2){
    background-color: #e4e4e4;
}
table.table-point-left tr:nth-child(3),
table.table-point-left tr:nth-child(4),
table.table-point-left tr:nth-child(5){
    background-color: #eee;
}
table.table-point-left tr:nth-child(6){
    background-color: #F9F9F9;
}
.h-line{
    border-bottom: solid 1px #ddd;
    font-weight: bold;
    padding: 5px 0px;
}
table.table-list-player td{
   vertical-align: top;
    padding: 5px;
}
table.table-list-player td:first-child{
    width: 55px;
}
.img-player img{
    width: 50px;
    height: 55px;
}
.tab-record img{
    width: 8px;
}
table.table-statistics td{
    border-right:solid 1px #ddd;
    text-align: center;
    width: 14.28%;
}
table.table-statistics td:last-child{
    border-right: 0px;
}
table.table-statistics strong{
    font-size: 1.5em;
    color:#003e72;
}
.bx-h2h-stat td {
    padding: 0px 10px;
    text-align: center;
}
.tab-txt{
    margin-top: 10px;
}

.bx-white{
    border:solid 1px #ddd;
    padding: 10px;
}

.table-history td{
    padding: 5px;
    border-bottom:solid 1px #eee;
}
.table-history td:first-child{
    color: #888;
}
.table-history td:last-child{
    text-align: right;
}
.table-history strong, .txt-black{
    color: #333;
}
.table-aptitude td{
    text-align: center;
    padding: 10px;
}

.table-aptitude span{
    font-size: 16px;
    font-weight: bold;
}

table.table-stat-played td{
    padding: 3px;
}

table.table-stat-played td:first-child{width: 5%;}

table.table-stat-played td:last-child{
    font-size: 1.3em;
    color:#003e72;
    font-weight: bold;
    text-align: right;
}
table.table-information-team td{
    padding: 3px;
}
.bx-stat-played{
    padding: 5px 0px;
    height: 45px;
    overflow: hidden;
}
.bg-blue{
    background-color: #003d74;
    width: 100%;
    height: 100%;
    padding: 15px;
}

table.table-goals th,table.table-goals td{
    padding: 5px;
}

table.table-goals td{
    border-bottom: solid 1px #eee;
}

table.table-goals tr.bg-h-blue{
    background-color: #019bd7;
    color: #fff;
}

table.table-goals img{width: 20px;}

.bx-wrap-row{
    height: 255px;
    overflow-y: auto;
}

