.nano > .nano-pane > .nano-slider {
    background: rgba(0, 0, 0, .4) !important;
    right: 5px !important;
}

.nano > .nano-pane {  background: rgba(0, 0, 0, .0) !important;  }

.nano > .nano-pane {
    top: 10px !important;
    z-index: 10;
}

.wrap_program_soccer {  padding: 50px 0;  }

.wrap_all_program {  position: relative;  }

.all-content-date.affix {
    position: relative;
    border: solid 1px;
    top: 126px;
    display: inline-grid;
    width: 100%;
}

.content-program-soccer {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.content-program-soccer .panel-group {
    margin-bottom: 0;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    border: 0;
    border-radius: 0;
}

.content-program-soccer .topic,
#live-box .content-program-soccer .topic {
    width: 100%;
    display: block;
    float: left;
    margin: 0;
}
#live-box .panel-heading .review-dropdown.review-dropdown-left {
    background: linear-gradient(to right, #ffffff, #d0685c);
    background: -webkit-linear-gradient(to right, #ffffff, #d0685c);
    background: -moz-linear-gradient(to right, #ffffff, #d0685c);
    background: -o-linear-gradient(to right, #ffffff, #d0685c);
    background: linear-gradient(to right, #ffffff, #d0685c);
}
.content-program-soccer .topic-tab {
    background-color: #9eb7d0;
    height: 23px;
}

#live-box .content-program-soccer .topic-tab {  background-color: #d0685c; height: 23px; }

.content-program-soccer .topic div {  display: inline-block;  }
.content-program-soccer .topic button.btn {
    background-color: #fff;
    padding: 3px 5px;
    color: rgba(1, 1, 1, 0.5);
    font-size: 11px;
}

.content-program-soccer .topic h3 {  font-size: 11px;  }
.content-program-soccer .topic h3,
.content-program-soccer .topic h5 {
    margin: 0;
    display: inline-block;
    color: #fff;
}

.content-program-soccer .topic h5 {
    color: #aaa;
    font-size: 11px;
    margin-left: 5px;
}

.content-program-soccer .panel-default {
    border: 0;
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 1px !important;
}

.content-program-soccer .panel-default:last-child {
    border-bottom: 0!important;
    margin-bottom: 0!important;
}

.content-program-soccer .panel-group .panel {  border-radius: 0;  }
.content-program-soccer .panel-group .panel + .panel {  margin-top: -1px;  }

.logo-league-program {  margin-right: 0;  }
.logo-league-program img {  height: 15px; margin-left: 5px;   }


/*accordion*/
.panel-group-row .panel-default > .panel-heading {
    position: relative;
    background-color: transparent !important;
    border: 0;
    padding: 0;
    height: 25px;
}

.panel-group-row .panel-default > .panel-heading:hover {
    background-color: #f1f1f1 !important;
    border-bottom: solid 1px #aaa;
    transition: .3s;
}

.panel-group-row .panel-default > .panel-heading a {  color: #555;  }

.hdp-float {
    text-align: center;
    width: 90px;
    margin: 0 auto;
    position: absolute;
    /*top: 0;*/
    left: 0;
    right: 0;
}

.hdp-float h3 {
    font-size: 11px;
    margin: 0;
    line-height: 25px;
}

.hdp-float ul li:nth-child(2) {
    background-color: #f8e4e1;
    color: #d25a47;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.hdp-float ul li {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
}

.hdp-float ul li:nth-child(1) {  padding-right: 0;  }
.hdp-float ul li:nth-child(3) {  padding-left: 0;  }

.left-accordion-row,
.right-accordion-row {
    display: inline-block;
    width: 41%;
}

.content-all-programe .left-accordion-row,
.content-all-programe .right-accordion-row {
    height: 25px;
}

.left-accordion-row .status-lastMatch {
    float: right;
    margin-right: 15px;
    text-align: right;
}
.left-accordion-row .btn-vote-bet{right: 0;}
.logo-team-ponball {
    width: 25px;
    text-align: center;
    display: inline-block;
}

.logo-team-ponball img {
    width: auto;
    height: 16px;
    margin: 0 1%;
}

.detail-team-ponball {
    display: inline-block;
    width: 130px;
    padding: 0 5px;
}

.status-lastMatch li,
.top-detail-team-ponball ul,
.top-detail-team-ponball ul li,
.top-detail-team-ponball h4 {
    display: inline-block;
    vertical-align: top;

}

.top-detail-team-ponball .red-card {
    width: 5px;
    height: 10px !important;
    margin: 0;
    border-radius: 2px;
}

ul.status-lastMatch {
    display: inline-block;
    width: 100%;
    height: 12px;
    line-height: normal;
    margin: 0 !important;
}

ul.status-lastMatch p {
    margin: 0;
    font-size: 9px;
}

ul.status-lastMatch li {
    vertical-align: middle;
    height: 13px;
    line-height: 13px;
}

ul.status-lastMatch .win-status:before,
ul.status-lastMatch .lose-status:before,
ul.status-lastMatch .draw-status:before {
    font-size: 5px;
    width: 10px;
    height: 10px;
    line-height: 10px;
}

.top-detail-team-ponball h4 {
    font-family: "Roboto", Helvetica, Arial, sans-serif!important;
    text-transform: uppercase;
    font-size: 15px;
    line-height: normal;
    margin: 0;
    width: 150px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.bottom-detail-team-ponball .progress {
    height: 10px;
    margin: 5px 0 0 0;
    border: solid 1px transparent;
    border-radius: 2px;
    background-color: #eee;
}

.score-ct {
    font-size: 9px;
    margin: 0 10px;
    font-weight: 800;
    color: black;
    margin-top: -2px;
}

.content-col-left {
    line-height: 27px;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
}

.content-col-left div:nth-child(2) {
    border-left: solid 1px;
    border-color: #ddd;
    padding: 0 10px;
    margin: 0 10px;
}

.ct-time,
.ct-live-chanel,
.ct-highlight,
.ct-live,
.ct-ft {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
}

.ct-time {
    font-size: 10px;
    vertical-align: top;
}

.ct-live-chanel {  display: none;  }
.ct-live-chanel img {  height: 15px;  }

.ct-highlight {
    padding: 0 !important;
    border-radius: 50%;
    text-align: center;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-color: transparent !important;
    transition: .3s;
    background-color: #f1f1f1;
}

.ct-highlight:hover {  background-color: #ccc;  }
.ct-highlight a {
    display: block;
    float: left;
    width: 100%;
}

.ct-highlight i {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.pull-right-section {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/*.review-dropdown h4,*/
.intro-game a {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    line-height: 25px;
    font-size: 14px;

}

.intro-game .tooltip-inner {  width: 100px;  }
.intro-game a,
.intro-game a:hover {
    color: #fff
}

.panel-heading .review-dropdown {
    display: inline-block;
    width: 100%;
}

.panel-heading .review-dropdown.review-dropdown-left {
    background: linear-gradient(to right, #ffffff, #95b7d0);
    background: -webkit-linear-gradient(to right, #ffffff, #95b7d0);
    background: -moz-linear-gradient(to right, #ffffff, #95b7d0);
    background: -o-linear-gradient(to right, #ffffff, #95b7d0);
    background: linear-gradient(to right, #ffffff, #95b7d0);
}


.panel-heading .review-dropdown.review-dropdown-left h4 {  color: #fff;  }
.panel-heading .review-dropdown.review-dropdown-left .content-all-programe .top-detail-team-ponball h4 {
    font-weight: 800;
}

.panel-heading a.review-dropdown.review-dropdown-left.collapsed {
    background: #ffffff!important;
}

.panel-heading .review-dropdown.collapsed:after {  background-color: transparent;  }

.intro-game {
    text-align: center;
    position: absolute;
    right: 0;
    top:0;
    z-index: 0;
    height: 25px;
    width: 31px;
}

.intro-game i { font-size: 16px; }
.intro-game:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.intro-game,
.intro-game:after {
    background: #d25a47;
}

.panel-group-row .panel-body {
    border-top: 0;
    background-color: #f9edd8;
}

.content-status-match .nav {
    padding-top: 13px;
    display: inline-block;
    width: 100%;
}

.content-status-match .tab-content {
    background-color: #fff;
    height: 465px;
    padding: 0 !important;
}

.content-program-soccer .panel-group .panel-heading + .panel-collapse > .list-group,
.content-program-soccer .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.home-panel-body,
.away-panel-body {
    width: 50%;
    display: inline-block;
    padding: 10px;
}

.away-panel-body .ct-winrate {  margin: 0;  }

.area-logoName a {
    position: relative;
    z-index: 1;
    color: #774f08;
}

.area-logoName {
    position: relative;
    width: 120px;
    height: 36px;
    color: #774f08;
    background: #f8d9a3;
}

.area-logoName:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #f8d9a3;
    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.content-away-review .area-logoName .pull-left:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
}

.content-home-review .area-logoName .pull-right:nth-child(2) {
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
}

.content-home-review .area-logoName .pull-right ul li:nth-child(2),
.content-away-review .area-logoName .pull-left ul li:nth-child(2) {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    max-width: 50%;
    width: auto; /* กำหนดความกว้าง */
}

h4.general-user:before,
h4.professional-user:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f132";
    padding-right: 10px;
}

h4.general-user:before {  content: "\f007";  }

.area-logoName-away:after {
    transform-origin: top left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.area-logoName-away .logo-review-user {
    margin-left: -8px;
    margin-right: 8px;
}

.logo-review-user {
    margin-right: -8px;
    margin-left: 8px;
    z-index: 5;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: -2px;
    background-color: #fff;
    border: solid 3px white;
    box-shadow: 0 3px 5px #aaa;
}

.logo-review-user img {
    position: absolute;
    top: -2px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    height: 42px;
}

.content-away-review h4,
.content-away-review ul,
.content-home-review h4,
.content-home-review ul {
    position: relative;
    z-index: 2;
}

.content-away-review h4,
.content-home-review h4 {
    margin: 3px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.content-home-review h4 {  text-align: right;  }
.content-away-review ul,
.content-home-review ul {
    text-align: right;
    margin-top: -3px !important;
}

.content-away-review ul {  text-align: left;  }
.content-away-review ul li,
.content-home-review ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

.content-away-review ul li img,
.content-home-review ul li img {
    height: 12px;
    width: 12px;
}

.text-review-content {
    width: 270px;
    margin-bottom: 8px;
}

.text-review-content p {
    margin: 0;
    line-height: 18px;
}

.ct-winrate {
    display: flex;
    margin-right: 13px;
}

.ct-winrate div:nth-child(1) {  margin-right: 8px;  }
.ct-winrate div:nth-child(2) {  opacity: .5;  }
.ct-winrate div {  flex: 1;  }
.ct-winrate div h3 {  margin: 0;  color: #774f08;  }

.ct-winrate div small {
    font-size: 10px;
    display: inherit;
    color: #aa7d2f;
}

.side-select.affix {  top: 0 !important;  }
.side-select.affix,
.side-select {
    position: fixed;
    width: 16% !important;
    left: 0;
    top: 80px;
    height: 100%;
    padding-bottom: 15px;
    border-right: solid 1px #ddd;
    background-color: #fff;
    z-index: 1;
}

.side-select {padding: 0 10px;  }
.side-select ul {  margin: 0;  }
.side-select ul li {
    display: inline-block;
    width: 100%;
}

.side-select ul li.active,
.side-select ul li.active:hover,
.side-select ul li a:hover {
    background-color: #f1f3f6;
}

.side-select ul li a:hover h5,
.side-select ul li.active a h5,
.side-select ul li a:hover span.num-side,
.side-select ul li.active a span.num-side,
.side-select ul li.active:hover a h5 {
    color: #00a7fb;
}

.side-select ul li a {
    position: relative;
    display: block;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 4px;
    color: #404040;
    padding: 0 5px !important;
}

.side-select ul li a > h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #404040;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
}

.side-select ul li a:hover,
.side-select ul li a:hover > h5 {
    text-decoration: none !important;
}

.side-select ul li h5,
.side-select ul li img,
.side-select ul li span {
    display: inline-block;
    vertical-align: middle;
}

.side-select ul li span.num-side {
    font-size: 14px;
    float: right;
    color: #404040;
    padding-top: 3px;
}

.side-select ul li a img {
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
}

.side-select .text-title {  margin-top: 23px;  }
.side-select .text-title:after {  border-bottom: 1px solid #404040;  }
.side-select .text-title h4 {  font-size: 15px !important;  }

.content-all-programe {
    position: fixed;
    display: block;
    width: 35%;
    left: 16%;
    height: 100%;
    border-right: solid 1px #ccc;
    background-color: white;
    z-index: 0;
    overflow: hidden;
}

.content-all-programe .text-title:after {
    border-bottom: 1px solid transparent;
}

.content-all-programe a {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.content-all-programe .text-review-content {  width: auto;  }
.content-all-programe .text-review-content p {  font-size: 12px;  }
.content-all-programe .area-logoName {  width: 135px;  }

.content-all-programe .top-detail-team-ponball h4 {
    max-width: 100px;
    width: auto;
    font-size: 11px;
    line-height: 23px !important;
    margin-top: 0;
    color: #000 !important;
    font-weight: 400;
}

.content-all-programe .intro-game a {
    font-size: 12px;
    color: white !important;
}

.content-all-programe .text-title span:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f073";
    padding-right: 8px;
}

.content-all-programe .text-title span {
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
}

/*LiveScore*/

.livescore-panel .panel-body {
    background-color: transparent;
    padding: 0;
}

.livescore-panel .area-logoName,
.livescore-panel .area-logoName:after {
    background-color: #eee;
}

.livescore-panel .area-logoName,
.livescore-panel .ct-winrate div h3,
.livescore-panel .ct-winrate div small {
    color: #2d4154;
}

.livescore-panel .intro-game,
.livescore-panel .intro-game:after {
    background: #fff;
}
.livescore-panel .intro-game i{color: #333;}
.livescore-panel .review-dropdown-left .intro-game{
    background: #6888a7!important;
    color: #040404!important;
}
.livescore-panel .ct-time-live:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f03d";
    float: left;
    line-height: 35px;
    color: red;
    margin: 0 5px 0 0;
}

.livescore-panel span.score-liveTime {
    display: block;
    background-color: #d8f0f9;
    color: #4785d2;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}

.livescore-panel .left-accordion-row span.score-liveTime {  margin-left: 15px;  }
.livescore-panel .right-accordion-row span.score-liveTime {  margin-right: 15px;  }
.livescore-panel .panel-body ul.nav {
    position: relative;
    z-index: 1;
    text-align: center;
    border-top: 0;
    padding: 0 8px;
    display: flex;
    display: -moz-flex;
}

.livescore-panel .panel-body ul.nav li {
    flex: 1 auto;
    float: none;
    margin: 0;
}

.livescore-panel .panel-body ul.nav li a {
    font-size: 12px;
    transition: .3s;
    padding: 5px 8px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
    border: solid 1px transparent;
    background-color: transparent;
    color: #aaa;
    font-weight: 400;
}

.livescore-panel .panel-body .nav-tabs-highlight > li > a:hover,
.livescore-panel .panel-body .nav-tabs-highlight > li > a:focus {
    background-color: transparent;
    color: #000;
}

.livescore-panel .panel-body .nav-tabs-highlight > li.active > a,
.livescore-panel .panel-body .nav-tabs-highlight > li.active > a:focus,
.livescore-panel .panel-body .nav-tabs-highlight > li.active > a:hover {
    color: #404040;
    cursor: default;
    background-color: #fff;
    border-color: rgba(0, 12, 36, .14) rgba(0, 12, 36, .14) #fff;
    font-weight: 800;
}

.livescore-panel .panel-body .nav-tabs-highlight {
    border-bottom: 1px solid transparent;
}

.livescore-panel .panel-body .tab-content {
    padding: 5px;
    margin-top: -1px;
    position: relative;
    z-index: 0;
    background-color: #fff;
    min-height: 800px;
}

.panel-group-row .tab-content .content-vote-review .btn {  width: 33.5%;  }
.panel-group-row .tab-content .content-vote-review {  margin: 0 auto;  }
.panel-group-row .tab-content .content-vote-review .title-center {
    padding: 0;
    margin: 0;
}

.panel-group-row .tab-content .content-vote-review .progress {  margin-bottom: 5px;  }

.line-fullmatch {  margin: 15px 0;  }
.line-fullmatch strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}

.line-fullmatch strong:before,
.line-fullmatch strong:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin: 15px 5px 0 5px;
    width: 50px;
    height: 1px;
    background-color: #000;
}

.line-content-all {
    text-align: center;
    height: 25px;
    border-bottom: 1px solid rgba(0, 12, 36, .07);
}

.line-content-all:last-child {  border-bottom: 0;  }

.content-detail-livescore,
.content-status-match,
.lineUp-table,
.content-review-simple,
.content-h2h-match,
.content-statistics-match {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

.content-statistics-match,
.content-h2h-match,
.content-detail-livescore {
    background-color: transparent;
    border: solid 1px transparent;
    margin-top: -1px;
}

.content-h2h-match {
    display: flex;
    display: -moz-flex;
}

.content-h2h-match .box-match-list-title-last,
.content-h2h-match .form-inline-checkbox {
    margin-bottom: 0;
}

.content-h2h-match .box-match-list-topic {
    margin-bottom: 3px;
    padding: 0 5px;
}

.content-h2h-match .time-match,
.content-h2h-match .date-match,
.content-h2h-match .home-name-match,
.content-h2h-match .away-name-match,
.content-h2h-match .box-match-list {
    font-size: 11px;
}

.content-h2h-match .box-match-list {  margin-bottom: 1px;  }
.content-h2h-match .form-inline-checkbox label {
    font-size: 10px;
    border-radius: 30px;
}

.content-h2h-match .box-match-list-topic p {
    font-size: 11px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
}

.content-h2h-match .box-match-list-topic {
    background-color: rgba(0, 0, 0, 0.1);
}

.content-h2h-match .box-match-list-topic img {
    height: 11px;
    margin-right: 1%;
}

.content-h2h-match .form-inline-checkbox {
    text-align: center;
    margin-bottom: 10px;
}

.content-h2h-match .match-score {  background-color: transparent;  }

.h2h-col .home-name-match img,
.h2h-col .away-name-match img {
    height: 13px;
    margin-right: 1%;
}

.h2h-col .box-table-result-state {  padding: 0 5px;  }
.h2h-col .box-match-list-topic p {  width: auto;  }

.h2h-state {
    position: relative;
    margin: 15px 0;
}

.h2h-state ul {
    text-align: center;
    margin: 0 auto;
}

.h2h-state ul li {  display: inline-block;  }
.h2h-state ul li:nth-child(3) {
    padding: 0 5px;
    margin: 0 5px;
    border-right: solid 1px #aaa;
    border-left: solid 1px #aaa;
}

.h2h-state img {
    margin: 0 10px;
    height: 40px;
}

.h2h-col .form-inline-checkbox label.active:focus,
.h2h-col .form-inline-checkbox label.active {
    background-color: red !important;
    border-color: red !important;
    color: #fff !important;
}

.fg-col .box-table-result-state {
    border-radius: 0;
    flex: 1;
    padding: 5px;
    margin: 0;
}

.fg-col .box-table-result-state:first-child {
    border-right: solid 1px #ccc;
}

.fg-col .box-match-list-title-last {
    margin-bottom: 0;
    height: 45px;
}

.fg-col .form-inline-checkbox label {
    font-size: 9px;
    border-radius: 30px;
}

.fg-col .box-match-list {
    margin-bottom: 1px;
}

.fg-col .match-score {
    background-color: transparent;
}

.fg-col .bh-ctn img {
    height: 40px;
}

.fg-col .bh-ctn .pull-left {
    flex: 0 auto;
    padding: 0 5px;
}

.fg-col .box-table-result-state span {
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 60%;
}

.fg-col .box-match-list div:nth-of-type(1) .date-match {
    border-right: solid 1px #ced4da;
    line-height: 35px;
    font-size: 11px;
}

.header-event-match {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
}

.header-event-match ul li {
    display: inline-block;
    width: 49%;
}

.header-event-match ul li h3 {
    margin: 0;
    font-size: 14px;
}

.header-event-match ul li {
    color: #aaa;
}

.header-event-match ul li:last-child {
    text-align: right;
}

.content-event-match {
    padding: 0 8px;
}

.score-event-match {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 0 5px;
}

.score-event-match div {
    flex: 3;
}

.score-event-match h4 {
    flex: 1;
    margin: 0;
    text-align: center;
    color: #555;
}

.score-event-match img,
.score-event-match p {
    display: inline-block;
    vertical-align: top;
}

.score-event-match img {
    height: 18px;
}

.score-event-match p {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 100px; /* กำหนดความกว้าง */
}

.statistics-table tr:first-child {
    background-color: transparent !important;
}

.statistics-table thead tr th {
    padding-bottom: 15px;
}

.statistics-table img,
.statistics-table h4 {
    display: inline-block;
    vertical-align: middle;
}

.statistics-table h3 {  margin: 0;  }
.statistics-table h4 {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    width: 139px; /* กำหนดความกว้าง */
}

.name-live p {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*width: 70px;*/
}

.name-live span,
.name-live p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.name-live p {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    /*width: 70px; !* กำหนดความกว้าง *!*/
    text-align: left;
}

.col-home-live,
.col-away-live {
    color: #1d2f3d;
}

.col-home-live,
.col-away-live {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif!important;
}

.col-away-live div {
    display: block;
    float: left;
    margin-left: 5px;
}

.col-home-live div {
    display: block;
    float: left;
    margin-right: 5px;
}

.col-home-live div,
.col-away-live div {
    line-height: 22px;
    height: 25px;
    color: grey;
}

.col-home-live div {
    text-align: left;
}

.col-away-live div {
    text-align: right;
    color: #000;
    font-weight: 600;
}

.box-football-icon {
    width: 25px;
    display: inline-block;
}

.min-live {
    color: #888;
    font-size: 11px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: left;
}

.min-live small {
    margin-left: 5px;
    font-size: 14px;
}

.col-away-live .min-live {
    text-align: right;
}

.score-live {
    font-size: 16px;
    font-weight: bold;
}

span.substitute-player-out,
span.substitute-player-in {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

span.substitute-player-in:before,
span.substitute-player-out:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    content: "\f0ab";
    color: #d9534f;
    padding: 0 5px;
}

span.substitute-player-in:before {
    color: #5cb85c;
    content: "\f0aa";
}

.statistics-table table {
    width: 100%;
}

.statistics-table table tr td:nth-child(1) {
    text-align: right;
}

.statistics-table table tr td:nth-child(2) {
    text-align: center;
    width: 17%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.9);
}

.statistics-table table tr td {
    padding: 3px 5px;
}

.statistics-table table tr td .num-progress,
.statistics-table table tr td .progress {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.statistics-table table tr td .progress {
    width: 115px;
    height: 9px;
    margin: 0;
    border-radius: 1px;
}

.num-progress.active {
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 5px;
    color: #fff;
}

table tr td:nth-child(1) .num-progress.active {
    background-color: #d9534f;
}

table tr td:nth-child(1) img,
table tr td:nth-child(3) img {
    height: 20px;
}

table tr td:nth-child(3) .num-progress.active {
    background-color: #337ab7;
}

span.check-team:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #4785d2;
    margin-top: 5px;
}

.num-player {
    color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.lineUp-table span,
.lineUp-table img {
    display: inline-block;
    vertical-align: middle;
}

.lineUp-table img {
    height: 35px;
}

.lineUp-table table tr td:first-child {
    border-right: solid 1px;
    border-color: rgba(0, 0, 0, 0.03);
}

.lineUp-table table tr td {
    border-top: 0 !important;
    width: 50%;
}

.lineUp-table ul li,
.lineUp-table ul li p {
    vertical-align: top;
    display: inline-block;
}

.lineUp-table ul li h4,
.lineUp-table ul li p {
    margin: 0;
}

.lineUp-table ul li h4 {
    font-size: 14px;
    color: #000;
    margin-top: 3px;
}

.lineUp-table ul li p {
    font-size: 11px;
    color: #aaa;
}

.lineUp-table .title-center {
    padding: 0;
    margin: 6px 0 0;
    font-size: 11px;
}

.content-lineUp-home,
.content-lineUp-away {
    margin: 5px 0;
}

.content-lineUp-home ul li,
.content-lineUp-away ul li {
    width: 100%;
    padding: 0;
    float: right;
}

.content-lineUp-home ul li div {
    float: right;
}

.content-lineUp-away ul li div {
    float: left;
}

.content-lineUp-away ul li .num-player {
    margin-left: 8px;
}

.content-lineUp-home ul li .num-player {
    margin-right: 8px;
}

.content-lineUp-away ul li div:nth-child(3),
.content-lineUp-home ul li div:nth-child(3) {
    float: left;
    color: #aaa;
}

.content-lineUp-away ul li div:nth-child(3) {
    float: right;
}

.content-lineUp-home ul li div:nth-child(2) {
    margin: 0 10px 0 25px;
}

.content-lineUp-away ul li div:nth-child(2) {
    margin: 0 0 0 10px;
    text-overflow: ellipsis;
    width: 70%
}

.end-match:before,
.livescore-live .real-time-match:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    margin-right: 5px;
}

.livescore-live .real-time-match:before {
    content: "\f04b";
}

.end-match:before {
    content: "\f04d";
}

.livescore-live .real-time-match,
.livescore-live .score-event-match h4 {
    color: red;
}

.live-float:first-child,
.live-float:last-child,
.FT-float:first-child,
.FT-float:last-child {
    font-size: 20px;
}

.FT-float li {
    position: relative;
    color: #555;
    overflow: hidden;
}

.FT-float li.active {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.FT-float li.active::after {
    /*font-family: FontAwesome;*/
    /*content: '\f0d8';*/
    /*position: absolute;*/
    /*bottom: -15px;*/
    /*font-size: 19px;*/
    /*height: 35px;*/
    /*left: 0;*/
    /*right: 0;*/
}

.live-float ul li:first-child,
.live-float ul li:last-child {
    color: red;
}

.live-float ul li:nth-child(2) {
    background-color: #fff;
    /*color: red;*/
    border: solid 1px transparent;
    position: relative;
}

.live-float ul li h3 {
    margin-top: -2px;
}

.live-float ul li small {
    position: absolute;
    margin: 0 auto;
    top: 11px;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    left: 0;
    text-align: center;
    color: #aaa;
}

.label-live {
    background-color: red;
}

.label-live,
.label-ft {
    font-size: 10px;
    font-weight: bold;
    width: 37px;
    padding: 3px 5px;
    color: white;
    /*display: inline-block;*/
    text-align: center;
    border-radius: 3px;
}

.FT-float ul li:nth-child(2) {
    /*background-color: rgba(0, 12, 36, .07);*/
    background-color: transparent;
    color: #333;
}

.FT-float ul li h3 {  font-weight: normal;  }

.label-ft {
    display: none;
    background-color: #333;
}

a.more-link:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    content: "\f101";
    margin-left: 5px;
}

/*Off-canvas Side Nav with Adaptive Main Content*/

.hamburger-live-match {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.hamburger-live-match:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f053";
    float: right;
}

.sidenav-active .hamburger-live-match:before {
    content: "\f054";
}

.hamburger-live-match:hover {
    cursor: pointer;
}

.side-select {
    width: 220px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.side-select,
.hamburger-live-match,
.cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .side-select,
.sidenav-active .cover {
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
}

.sidenav-active .content-all-programe {
    width: 100%;
    margin-left: 0;
    padding: 0 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .content-all-programe {
    margin-left: 0;
}

.date-review .btn.active {
    background-color: #02335c;
    border-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.date-review .btn.active:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

/*container-live_all*/

.container-live_all .panel {
    background-color: transparent;
}

.container-live_all .panel-group-row .panel-default > .panel-heading {
    background-color: #FEE3E0 !important;
    color: #D94A3A;
}

/*.container-live_all .livescore-panel a.review-dropdown[data-toggle="collapse"].collapsed:after,*/
.container-live_all .livescore-panel .intro-game,
.container-live_all .livescore-panel .intro-game:after {
    /*background-color: #D94A3A;*/
    /*border-left: solid 1px transparent;*/

}

.container-live_all .livescore-panel .intro-game,
.container-live_all .livescore-panel .intro-game:after {
    /*background-color: #872D24;*/
}

/*.container-live_all .review-dropdown.collapsed h4{  color: white;  }*/
.container-live_all .content-program-soccer .panel-default {
    border: 0;
}

.container-live_all .livescore-panel .panel-body ul.nav {
    /*position: relative;*/
    /*z-index: 1;*/
    /*text-align: center;*/
    /*border-top: 0;*/
    /*border-bottom: solid 1px #000;*/
    /*background-color: #872D24;*/
    /*margin-bottom: 10px;*/
    /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);*/
}

.container-live_all .livescore-panel .panel-body .tab-content {
    /*background-color: #ffe2df;*/
    /*background-image: url(/images/bg-sportball-live.jpg);*/
}

/*H2H*/

.section-state {  overflow: hidden;  }

.content-state-home {  border-right: solid 1px #ddd;  }

.content-state-away {  border-right: 0;  }

.content-state-home,
.content-state-away {
    flex: none;
    padding: 0 5px;
    width: 50%;
}

.content-state-home .text-title,
.content-state-away .text-title {
    margin: 3px;
}

.section-state .topic-section-state h4 {
    font-size: 14px;
    font-weight: bold;
}

.section-state .section-state-box {
    padding: 0;
    width: auto;
}

.section-state .title {
    position: relative;
    display: block;
    float: left;
}

.section-state .title a {
    color: white;
    position: relative;
    z-index: 2;
}

.section-state .title {
    position: relative;
    width: auto;
    padding: 10px;
    font-size: 18px;
    color: #FFF;
    z-index: 1;
    background: #05132c;
}

.section-state .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #05132c;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.content-state .text-title h4 {  font-size: 14px !important;  }

.box-chart {
    position: relative;
    height: 176px;
}

.box-chart label {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 176px;
}

.detail-chart {
    margin-top: 10px;
    text-align: center;
    width: 144px;
    font-weight: bold;
    color: #000;
}

.col-detail-chart {
    flex: none;
    width: 45px;
    float: none;
    text-align: center;
    display: inline-block;
}

.col-detail-chart:first-child {
    margin-left: 0;
}

.detail-chart {
    text-align: left;
}

.detail-chart div strong {
    font-size: 15px;
    line-height: 16px;
}

.detail-chart div small {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #333;
}

.detail-chart div:before {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
}

.col-chart {
    flex: 1;
    text-align: center;
}

.col-chart:first-child {
    border-right: solid 1px #eee;
}

.content-state .box-table-result-state .nav-tabs li:last-child {
    border-left: solid 1px transparent;
    padding-left: 0;
}

.content-state .box-table-result-state .checkbox-inline,
.content-state .box-table-result-state .radio-inline {
    flex: 1;
}

.box-match-list-title-last ul.pull-left li {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}

.box-match-list-title-last .btn-group {
    margin: 0 auto;
}

.form-inline-checkbox label.active:focus, .form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.form-inline-checkbox {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.form-inline-checkbox label {
    display: inline-block;
    /*flex: 0 0 auto;*/
    margin: 0 3px 3px 0;
}

.form-inline-checkbox label.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #fff;
}

.form-inline-checkbox label.active:focus,
.form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.box-match-list-topic .pull-right {
    width: 24%;
}

.box-match-list-topic .pull-left {
    width: 75%;
}

.box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
    font-size: 11px;
}

.box-match-list-topic p,
.box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.box-match-list-topic img {
    height: 15px;
    margin-right: 5px;
}

.box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.box-match-list {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}

.box-match-list-title-last {
    display: block;
    float: left;
    width: 100%;
    /*overflow: auto;*/
    margin-bottom: 15px;
    position: relative;

}

.box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex: 2;
}

.box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
    flex: 3;
}

.box-match-list div:nth-of-type(3),
.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
    flex: 1;
}

.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px #ced4da;
}

.time-match,
.date-match {
    border-right: solid 1px #ced4da;
}

.home-name-match,
.away-name-match {
    padding-left: 4px;

}

.home-name-match img,
.away-name-match img {
    height: 11px;
    margin-right: 3px;
}

.box-match-list-topic {
    display: block;
    margin-bottom: 0;
    padding: 3px;
    overflow: auto;
    background-color: #f1f2f5;
}

.match-score {
    font-weight: bold;
    background-color: #eee;
}

.result-match,
.odds-match {
    height: 35px;
    display: list-item;
    list-style: none;
}

.result-match div,
.odds-match div {
    display: inline-block;
    vertical-align: middle;
}

.home-name-match:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f015";
    color: #0050af;
    padding-left: 3px;
}

.hignlight-team-win ,
.highlight-team-win {
    color: #00b0ff;
    text-decoration: underline;
}

.box-h2h {
    padding: 0 20px;
}

.box-h2h .progress {
    margin: 5px 0 0 0;
    height: 15px;
    display: inline-block;
    width: 100%;
}

.box-h2h .progress-bar {
    line-height: 15px;
}

.progress-bar-draw {
    background-color: #aaa !important;
}

.progress-bar-way {
    background-color: #d60620 !important;
}

.row-review-simple {
    margin: 5px 0;
}

.box-review-simple {
    position: relative;
    margin: 5px;
    font-size: 11px;
}

.logo-h2h img {
    height: 50px;
}

.left-accordion-row .red-card-2,
.right-accordion-row .red-card-2 {
    position: relative;
}

.left-accordion-row .red-card-2 span,
.right-accordion-row .red-card-2 span {
    font-size: 10px;
    position: absolute;
}

.left-accordion-row .red-card-2 {
    margin-left: 10px !important;
    text-align: left;
}

.left-accordion-row .red-card-2 span {
    margin-left: 2px;
    left: -15px;
}

.right-accordion-row .red-card-2 {
    text-align: right;
    margin-right: 10px !important;
}

.right-accordion-row .red-card-2 span {  margin-right: 5px;  }
.right-accordion-row .btn-vote-bet { left: 0;  }

.panel-collapse-side {
    position: fixed !important;
    right: 0;
    display: block;
    top: 84px;
    width: 49%;
    padding-right: 111px;
    padding-bottom: 65px;
    overflow: hidden;
    height: 100% !important;
    background-color: #e5e5ea;
}

.panel-collapse-side .bg-topic {
    /*background-image: url(/images/image-livescore.png);*/
    /*background-position: top center;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.panel-collapse-side .topic {
    background-color: transparent;
    padding: 10px;
    position: relative;
}

.panel-collapse-side .topic img {
    height: 20px;
}

.panel-collapse-side .topic h3 {
    color: #555;
    font-size: 13px;
}

.panel-collapse-side .logo-team-ponball {
    width: 70px;
    text-align: center;
}

.panel-collapse-side .logo-team-ponball img {  height: 60px;  }

.panel-collapse-side .left-accordion-row,
.panel-collapse-side .right-accordion-row {
    height: auto;
}

.panel-collapse-side .ct-time {  font-size: 16px;  }

.panel-collapse-side .content-vote-review .box-vote-win {
    width: 400px;
    margin: 0 auto;
}

.panel-collapse-side .top-detail-team-ponball h4 {
    max-width: 100%;
    width: auto;
    font-size: 14px;
    line-height: 18px !important;
    margin-top: 0;
    color: #000 !important;
    font-weight: 400;
}
.panel-collapse-side ul.status-lastMatch p {
    margin: 0;
    font-size: 10px;
    text-transform: lowercase;
}
.panel-collapse-side .logo-team-ponball {
    width: 60px;
    vertical-align: top;
}

.panel-collapse-side .right-accordion-row .status-lastMatch {
    float: left;
    margin-left: 15px;
    text-align: left;
}

.panel-collapse-side ul.status-lastMatch li {
    vertical-align: top;
    height: 15px;
    line-height: 15px;
    display: inline-block;
}

.panel-collapse-side .hdp-float ul li {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 40px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
}

.panel-collapse-side .hdp-float ul li:nth-child(2) {
    height: 37px !important;
    line-height: 37px !important;
    font-size: 18px;
}

.panel-collapse-side .hdp-float ul li:nth-child(2) h3 {
    font-size: 13px;
    line-height: 37px;
}

.panel-collapse-side .hdp-float.FT-float ul li {  font-size: 27px;  }

.panel-collapse-side .tab-content {
    padding-right: 126px;
    margin: -1px 8px 10px 8px;
    border: solid 1px #ddd;
    border-top: 0;
}

.panel-collapse-side .hdp-float {  width: 130px;  }
.panel-collapse-side .score-ct { width: 45px;  margin-top: 5px;  }

.panel-collapse-side .left-accordion-row,
.panel-collapse-side .right-accordion-row {
    width: 38%;
}

.panel-collapse-side-info {
    position: relative;
    width: 100%;
    display: initial;
    padding-top: 5px;
}

.panel-collapse-side .bottom-detail-team-ponball .progress {
    height: 10px;
    width: 70px;
    margin: 5px 0 0 0;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: #fff;
}

.panel-collapse-side .win-status:before,
.panel-collapse-side .lose-status:before,
.panel-collapse-side .draw-status:before {
    width: 15px;
    height: 15px;
    line-height: 17px;
}

.panel-collapse-side .box-vote-win .title-center {
    margin: 0 0 10px 0!important;
    padding: 0 0 3px 0;
}

.panel-collapse-side .title-center:before,
.panel-collapse-side .title-center:after {
    top: 12px;
}

.panel-collapse-side .content-col-left {
    right: 15px;
    top: 8px
}

.panel-collapse-side .ct-time {  font-size: 14px;  }
.panel-collapse-side .box-vote-win .progress {  margin-bottom: 0  }
.panel-collapse-side .panel-heading {  padding-top: 0;  }
.panel-collapse-side .detail-team-ponball {  padding: 0;  }

.panel-collapse-side .btn-vote-bet{
    width:60px;
    position: absolute;
}

.panel-collapse-side .btn-vote-bet button{width:60px;}
.panel-collapse-side .detail-team-ponball,
.panel-collapse-side .bottom-detail-team-ponball { width: 136px;  }

.panel-collapse-side .left-accordion-row .active button:before,
.panel-collapse-side .right-accordion-row .active button:before{
    content: '\f00c';
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
}

.content-all-programe-top {
    z-index: 1;
    background-color: #fff;
    padding: 10px 5px;
    /*border-bottom: solid 1px #ddd;*/
    border-bottom: 1px solid rgba(0,0,0,.13);
    -moz-box-shadow: 0 15px 25px -13px rgba(0,0,0,.13);
    box-shadow: 0 15px 25px -13px rgba(0,0,0,.13);
    /*-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);*/
    /*box-shadow: 0 1px 8px rgba(0, 0, 0, .3);*/

}

.content-all-programe-all {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 52px 5px 100px 5px;
    z-index: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    .title-league-program {
        text-align: center;
        width: 100%;
    }

    .side-select.affix,
    .side-select {
        left: -300px;
    }

    .content-all-programe {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 50px;
    }

    .hamburger-live-match {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        border: solid 1px #ccc;
        border-radius: 50%;
        text-align: center;
    }

    .hamburger-live-match,
    .content-all-programe .text-title h4 {
        /*display: flex;*/
        vertical-align: middle;
    }

    .content-all-programe .text-title h4 {
        width: 80%;
        margin: 0;
        font-size: 18px !important;
        line-height: 20px;

    }

    .content-all-programe .text-title {
        display: none;
        margin-bottom: 15px;
    }

    .content-all-programe .text-title .pull-right,
    .livescore-panel .intro-game,
    .status-lastMatch,
    .bottom-detail-team-ponball,
    .logo-league-program img,
    .label-ft,
    .content-program-soccer .topic h5,
    .statistics-table table tr td .progress,
    .statistics-table h4 {
        display: none;
    }

    .live-h-hdp,
    .live-a-hdp {
        display: none !important;
    }

    .hamburger-live-match:before {
        float: none;
    }

    .text-title h4::after {
        background: transparent;
    }

    /*.content-all-programe .review-dropdown {*/
    /*width: 100%;*/
    /*}*/
    /*.livescore-panel a.review-dropdown[data-toggle="collapse"].collapsed:after {*/
    /*background-color: transparent;*/
    /*border-left: solid 1px transparent;*/
    /*}*/
    .left-accordion-row, .right-accordion-row {
        width: 36.5%;
    }

    .content-all-programe .top-detail-team-ponball h4 {
        width: 45px;
        line-height: 32px;
        font-size: 12px;
    }

    .content-program-soccer {
        margin-bottom: 0;
    }

    .content-program-soccer .topic div {
        display: block;
    }

    .content-program-soccer .topic {
        margin-bottom: 1px;
    }

    .pull-right.detail-team-ponball {
        margin-right: 3px;
    }

    .pull-left.detail-team-ponball {
        margin-left: 3px;
    }

    .content-col-left {
        position: absolute;
        left: 0;
        padding: 0;
        line-height: 30px;
        font-size: 11px;
    }

    .logo-team-ponball img {
        width: 18px;
        height: 18px;
    }

    .content-all-programe .logo-team-ponball {
        margin-top: 7px;
    }

    /*.content-all-programe .review-dropdown h4 {*/
    /*font-size: 0;*/
    /*width: 100%;*/
    /*right: 12px;*/
    /*}*/
    /*a.review-dropdown[data-toggle="collapse"] h4:after {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*margin-right: 0;*/
    /*}*/
    .content-program-soccer .topic h3 {
        font-size: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1% 2%;
        margin: 8px 0 0;
        text-transform: uppercase;
    }

    .content-program-soccer .topic h3:before {
        margin-right: 5px;
    }

    .content-program-soccer .topic h3:after {
        margin-left: 5px;
    }

    .content-program-soccer .topic h3:before,
    .content-program-soccer .topic h3:after {
        content: "";
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 1px;
        top: 8px;
        background-color: rgba(0, 12, 36, .07);
    }

    .pull-right-section {
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
    }

    /*.livescore-panel a.review-dropdown[data-toggle="collapse"]:after {*/
    /*background-color: transparent;*/
    /*}*/
    .header-event-match {
        margin: 0 5px 5px 5px;
        padding-bottom: 5px;
    }

    .header-event-match ul li h3 {
        font-size: 15px;
    }

    .score-event-match p {
        width: 50px;
    }

    .name-live p {
        width: 45px;
    }

    span.substitute-player-out, span.substitute-player-in {
        padding: 0;
    }

    span.substitute-player-in:before, span.substitute-player-out:before {
        padding: 0;
    }

    .col-home-live div {
        margin-right: 0;
    }

    .content-event-match {
        min-height: auto;
    }

    .name-live,
    .content-lineUp-home ul li div:nth-child(2) {
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 70px;
    }

    table tr td:nth-child(1) img,
    table tr td:nth-child(3) img {
        height: 40px;
    }

    .num-progress-home {
        float: left;
    }

    .num-progress-away {
        float: right;
    }

    .content-program-soccer .col-md-4,
    .content-program-soccer .col-md-8 {
        padding: 0;
    }

    .statistics-table table tr td .num-progress {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        margin: 0 11px;
    }

    .statistics-table tr {
        border-bottom: solid 1px #ddd;
    }

    .statistics-table tr:first-child {
        border-bottom: solid 1px transparent;
    }

    .statistics-table table tr td {
        padding: 5px 0;
    }

    .content-status-match .tab-content {
        height: auto;
    }

    .statistics-table h3 {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
    }

    .statistics-table table tr td:nth-child(2) {
        width: 70%;
    }

    .content-lineUp-home ul li div:nth-child(2),
    .content-lineUp-away ul li div:nth-child(2) {
        margin: 0;
    }

    .content-lineUp-home ul li div:nth-child(3) {
        padding-right: 5px;
    }

    .content-lineUp-away ul li div:nth-child(3) {
        padding-left: 5px;
    }
}