.wrap-review {
    display: block;
    float: left;
    width: 100%;

    position: relative;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.scroll-bar-wrap {

    position: relative;
}

.cover-bar {
    position: absolute;
    background: #fff;;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;
}

/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}

.sidebar-feed .text-title {
    display: block;
    color: #555;
    margin: 5px;
    padding: 0;
    transform: none;
    position: relative;
    height: auto;
}

.sidebar-feed .text-title .btn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    color: #4b4f56;
    padding: 0 5px;
}

.sidebar-feed .text-title h4 {
    display: inline-block;
    margin: 0;
}

.sidebar-feed .text-title h4 {
    width: auto;
    line-height: 35px;
    color: #02335c;
    font-size: 1em !important;
}

.sidebar-feed .text-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.sidebar-feed .text-title h4:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 4px;
    background: #02335c;
}

.container-feed {
    position: relative;

}

.box-feed {
    position: relative;
    padding: 8px;
}

.box-feed:hover {
    background-color: #ececec;
}

.box-feed ul {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.box-feed ul li:nth-child(1) {
    flex: 1;
}

.box-feed ul li:nth-child(2) {
    flex: 4;
}

.box-feed ul li h4 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.box-feed ul li p {
    margin: 0;
    color: #777;
}

.box-feed ul li span {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 5px;
}

.image-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.image-user img {
    width: 100%;
    height: 100%;

}

.match-play p {
    margin-left: 5px;
}

.match-play img {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    overflow-y: scroll;
    z-index: 5;
    top: 83px;
    padding-bottom: 100px;
    right: 0;
    margin-top: 0;
    background-color: #f6f6f6;
    border-left: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 2px 0 2px -2px #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav.affix {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-bottom: 0;
}

.sidenav.affix .text-title {
    /*position: fixed;*/
    /*background-color: #f6f6f6;*/
    /*z-index: 100;*/
    /*margin: 0 5px;*/
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 100px;
    left: -25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 99;
}

/* width */
.sidenav::-webkit-scrollbar {
    width: .4em;
}

/* Track */
.sidenav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidenav::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.sidenav::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main {
    position: relative;
    transition: margin-left .5s;

}

/*.open-btn:hover {*/
/*background-color: #0091c8;*/
/*}*/
.open-btn:hover {
    background-color: #eee;
}

.open-btn {
    position: fixed;
    width: 200px;
    font-size: 16px;
    right: 15px;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #02335c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    color: #555;
    cursor: pointer;
    z-index: 2;
    border-radius: 8px 8px 0 0;
}

.open-btn ul {
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
}

.open-btn ul li {
    padding: 5px;
}

.open-btn ul li:nth-child(1) {
    /*background-color: #02335c;*/
}

.open-btn ul li:nth-child(1),
.open-btn ul li:nth-child(3) {
    text-align: center;
    flex: 1;

}

.open-btn ul li:nth-child(2) {
    flex: 4;
    /*color: #02335c;*/
}

.open-btn ul li:nth-child(3) {
    /*color: #02335c;*/
}

.sidebar-left-ranking {
    width: 250px;
    position: relative;
    float: left;
}

.sidebar-left-ranking table tr td h4 {
    font-size: 12px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.sidebar-left-ranking table tr td {
    padding: 5px 2px !important;
    border-color: transparent !important;
    vertical-align: middle !important;

}

.sidebar-left-ranking .table tr:hover {
    background-color: #f6f6f6;
}

.sidebar-left-ranking h3 {
    font-size: 14px !important;
    line-height: 40px !important;
    color: #555 !important;
}

.sidebar-left-ranking .box-pro-view img {
    width: 50px;
}

/*.date-review{margin-top: 5px;}*/
.date-review .btn.active {
    background-color: #02335c;
    border-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.time-match:before,
.date-review .btn.active:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

.time-match:before {
    content: "\f017";
}

.container-review {
    display: block;
}

/*content review*/
.content-review {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background-color: #fff;
    /*overflow: hidden;*/
    padding-bottom: 40px;
    margin-bottom: 20px;
    border: 1px solid #dddfe2;
    /* box-shadow: 0 1px 2px rgba(25,25,25,0.2); */
    border-radius: 3px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.content-review a.btn.btn-readmore {
    display: block;
    margin: 0 auto;
    /* margin-top: 10px; */

    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 29px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: 5;
}

.content-detail-review {

}

.content-review .top-section {
    position: relative;
    display: -webkit-flex; /* Safari */
    display: flex;
    color: #fff;
    background: url(/images/background5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-review-endmatch .vote-home-section,
.content-review-endmatch .vote-away-section {
    font-size: 40px;
    cursor: default;
}

.content-review-endmatch .vote-home-section,
.content-review-endmatch .vote-away-section,
.content-review-endmatch .hdp-section {
    color: #fff;

    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.1);

    font-weight: bold;
}

.home-section,
.content-home-section,
.away-section,
.content-away-section {
    -webkit-flex: 4;
    flex: 4;
}

.home-section,
.away-section {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.vote-home-section,
.vote-away-section,
.hdp-section {
    padding: 8px 0;
    -webkit-flex: 1;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
}

.hdp-section {
    background-color: rgba(0, 0, 0, 0.55);
}

.hdp-section strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
}

.hdp-section strong:before,
.hdp-section strong:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin: 10px 5px 0 5px;
    flex-grow: 1;
    height: 1px;

    background-color: #fff;
}

.vote-home-section,
.vote-away-section {
    position: relative;
    height: 107px;
    line-height: 107px;
    font-size: 21px;
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
}

.vote-home-section:hover,
.vote-away-section:hover {
    color: rgba(255, 255, 255, 1);
}

.hdp-section h2 {
    margin: 0;
    font-size: 30px;
}

.hdp-section .box-water-text div {
    display: inline-block;
}

.topic-event {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    padding-right: 10px;
    line-height: 20px;
}

.detail-team-home {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 0 10px;
}

.detail-team-home-state {
    flex: 3;
    margin: 0 5px;
}

.detail-team-home-logo {
    flex: 1;
}

.detail-team-home-logo img {
    max-width: 55px;
    height: 55px;
}

.detail-team-home-state .progress,
.detail-team-away-state .progress {
    height: 13px;
    margin-bottom: 5px;
    overflow: visible;
    margin-left: 15px;
}

.detail-team-away-state .progress {
    margin-left: 0;
    margin-right: 15px;
}

.detail-team-home-state .progress span,
.detail-team-away-state .progress span {
    font-size: 12px;
    margin-top: -4px;
    margin-right: 10px;
    display: block;
    float: right;
}

.detail-team-away-state .progress span {
    margin-left: 10px;
    margin-right: 0;
    float: left;
}

.box-progress .progress,
.box-progress span {
    display: inline-block;
    vertical-align: middle;
}

.box-progress .progress {
    width: 61%;
    margin: 0;
}

.box-progress span {
    width: 36%;
    font-size: 12px;
}

.list-state-match {
    display: block;
    width: 100%;
    margin: 0 10px !important;
}

.list-state-match li {
    display: inline-block;
    font-size: 12px;
}

.list-state-match li i {
    margin: 0 5px;
}

.list-state-match li.text-match {
    font-size: 11px;
    line-height: 14px;
}

.win-st,
.loss-st,
.draw-st {
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

.win-st {
    background-color: #47a6fe;
}

.loss-st {
    background-color: red;
}

.draw-st {
    background-color: #aaaaaa;
}

.topic-live-on img {
    height: 15px;
}

.topic-live-on div,
.topic-live-on img {
    display: inline-block;
}

.topic-live-on {
    height: 20px;
    margin-left: 10px;
    width: 100%;
}

.review-section {
    position: relative;
    height: 100%;
}

.box-review-section {
    position: relative;
    z-index: 1;
    background-color: #fff;
    display: -webkit-flex; /* Safari */
    display: flex;
    /*height: 100%;*/
}

.more-box-page {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-review-section {
    border-right: solid 1px #ddd;
}

.home-review-section,
.away-review-section {
    flex: 1;
    height: 350px;
    overflow: hidden;
    padding-left: 5px;
}

.box-content-review:last-child,
.box-content-review:nth-child(3) {
    border: 0;
}

.box-content-review {
    margin-bottom: 10px;
    position: relative;
    display: block;
    float: left;
    padding-top: 5px;
    width: 100%;
}

.top-content-review {
    width: 100%;
    position: relative;
}

.top-content-review div {
    display: inline-block;
    vertical-align: middle;
}

.top-content-review div:nth-of-type(1),
.top-content-review div:nth-of-type(1) img {
    /* height: 41px; */
    width: 100px;
}

.top-content-review div:nth-of-type(2) {
    margin-top: 0;
}

.top-content-review div:nth-of-type(2) h5,
.top-content-review div:nth-of-type(2) span {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top-content-review h3,
.top-content-review h5,
.top-content-review p {
    margin: 0;
    padding: 0;
}

.top-content-review h3,
.top-content-review h5 {
    font-weight: bold;
}

.top-content-review h5 {
    font-size: 14px;
    color: #086aab;
    width: 130px;
}

.top-content-review div:nth-of-type(2) img {
    height: 15px;
    margin-top: -5px;
}

.top-content-review img, .top-content-review span {
    display: inline-block;
    vertical-align: middle;
}

.top-content-review div:nth-of-type(2) span {
    font-size: 14px;
    width: 117px;
    margin-top: -5px;
}

.top-content-review div:nth-of-type(2) h5,
.top-content-review div:nth-of-type(2) span {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top-content-review img,
.top-content-review span,
.top-content-review div {
    display: inline-block;
    vertical-align: middle;
}

.winRate-box {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 0;
}

.bg-day-box,
.bg-winRate-box {
    float: left;
    position: relative;
    width: 62px !important;
    font-size: 20px;
    color: #676767;
    background: #f1f2f5;
}

.bg-day-box {
    width: auto !important;
}

.winRate-box h3 {
    font-size: 21px;
}

.winRate-box h3,
.winRate-box p {
    text-align: right;
    margin-right: 10px;
    color: #676767;
    z-index: 2;
    position: relative;
}

.winRate-box p {
    font-size: 10px;
    color: #676767;
    margin-top: -4px;
}

.bg-winRate-box:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -21px;
    z-index: 0;
    background: #f1f2f5;
    transform-origin: top right;
    -ms-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
}

.full-review-stat, .content-full-review-stat span {
    display: inline-block;
}

.full-review-stat ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.full-review-stat ul li {
    flex: 0 0 auto;
    margin: 0 2px;
    list-style: none;
    line-height: normal;
}

.full-review-stat ul li img {
    height: 15px;
}

.full-review-caption {
    height: 63px;
    overflow: hidden;
}

.full-review-caption,
.full-review-caption-information {
    width: 100%;
    display: block;
    float: left;
}

.full-review-caption-information p {
    font-size: 14px;
    padding-right: 5px;
}

.full-review-caption p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 5px;
}

.full-review-caption p:nth-child(3),
.full-review-caption p:nth-child(4),
.full-review-caption p:nth-child(5),
.full-review-caption p:nth-child(6),
.full-review-caption p:nth-child(7) {
    display: none;
}

.content-review-information
.full-review-caption p {
    display: block !important;
    font-size: 14px;
}

.content-review-information .home-review-section,
.content-review-information .away-review-section {
    height: 100%;
}

.sidebar-ranking-review .text-title h4 {
    font-size: 14px !important;
}

.sidebar-ranking-review .text-title {
    margin-bottom: 5px;
}

.sidebar-ranking-review .text-title .pull-right {
    margin-top: 5px;
}

.box-match-sidebar
.content-match {
    position: relative;
    width: 100%;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    border-radius: 2px;
    border: 1px solid transparent;
}

.content-match img {

}

.content-match:hover {
    transition: .3s;
    background-color: #eee;
}

.content-match.active {
    position: relative;
    color: #fff;
    background-color: #0050af;
}

.active .content-match-hdp .box-water-text,
.active .content-match-hdp .time-match,
.active .content-match-hdp .time-match:before,
.active .content-match-hdp strong,
.content-match.active span {
    color: #fff;
}

/*.content-match.active:before {*/
/*content: '';*/
/*width: 3px;*/
/*display: inline-block;*/
/*top: 0;*/
/*left: 0;*/
/*background-color: #02335c;*/
/*}*/

.content-match.active img {
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
}

.content-match.active {
    cursor: default;
}

.content-match-home,
.content-match-away {
    text-align: center;
    flex: 1;
}

.active .content-match-hdp {
    background-color: rgba(0, 0, 0, 0.57);
}

.content-match-hdp {
    padding: 0 5px;
    text-align: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.05);
}

.content-match-home img,
.content-match-away img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.content-match-home span,
.content-match-away span {
    width: 70px;
    margin: 0 auto;
    padding-top: 5px;
    font-size: 11px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.content-match-hdp {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

.content-match-hdp strong {
    font-size: 14px;
}

.content-match-hdp .box-water-text div {
    display: inline-block;
}

.content-match-hdp .box-water-text,
.content-match-hdp .time-match,
.content-match-hdp .time-match:before {
    font-size: 11px;
    line-height: 11px;
}

.top-content-review div.user-review:nth-of-type(1),
.top-content-review div.user-review:nth-of-type(1) img {
    width: 32px !important;
    height: 32px;
    border-radius: 50%;
}

/*Sidebar*/

.hamburger-review {
    position: relative;
    background-color: #d6d6d6;

    -webkit-user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 36px;
    z-index: 0;
}

.hamburger-review:hover {
    background-color: #a1a1a1;
}

.hamburger-review:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    line-height: 36px;
    /*transform: rotate(180deg) ;*/
    transition: all linear 0.25s;
}

.sidenav-active .hamburger-review:before {
    transform: rotate(180deg);
}

.hamburger-review:hover {
    cursor: pointer;
}

.sidenav {
    background-color: white;
    display: inline-block;
    position: fixed;
    height: 100vh;
    right: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.sidenav, .hamburger, .cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .sidenav {
    -webkit-transform: translateX(260px);
    -ms-transform: translateX(260px);
    transform: translateX(260px);
}

.main-review {
    display: block;
    padding-left: 270px;
    padding-right: 250px;
    width: 100%;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.main-review .text-title:after {
    border-bottom: 1px solid transparent;
}

.sidenav-active .main-review {
    padding-right: 0;
    /*margin-right: 225px;*/
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrap-review {
        margin-top: 60px;
    }

    .sidebar-left-ranking,
    .sidenav,
    .list-state-match,
    .container-review .hamburger-review,
    .container-review .text-title h4,
    .topic-live-on,
    .box-progress,
    .hdp-section strong {
        display: none;
    }

    .main-review {
        padding: 0;
    }

    .vote-home-section, .vote-away-section {
        position: absolute;
        display: none;
    }

    .detail-team-home-state h4,
    .detail-team-away-state h4 {
        width: 60px;
        font-size: 13px;
        flex: auto;
        margin: 0;
        line-height: 54px;
        text-decoration: none;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    .detail-team-home-logo img {
        max-width: 32px;
        height: 32px;
    }

    .container-review .date-review.btn-group {
        margin: 10px 0;
    }

    .container-review .text-title {
        margin: 0;
    }

    .container-review .pull-right {
        float: none !important;
        margin: 0 auto;
        text-align: center;
    }

    .topic-event {
        width: 100%;
        padding-right: 10px;
        line-height: 13px;
        position: absolute;
        text-align: left;
        font-size: 13px;
        font-weight: 500;
        color: #555;
        top: -20px;
    }

    .topic-event:before {
        content: '\f132';
        font-family: "FontAwesome", Arial, sans-serif;
        display: inline-block;
        margin-right: 5px;

    }

    .content-review {
        margin-top: 20px;
        padding-bottom: 10px;
        border-radius: 4px;
    }

    .hdp-section {
        padding: 0 5px;
    }

    .hdp-section h2 {
        font-size: 18px;
    }

    .hdp-section {
        flex: auto;
        width: 10%;
        padding: 3px 0;
    }

    .hdp-section .box-water-text div,
    .time-match {
        font-size: 11px;
    }

    .home-section,
    .content-home-section,
    .away-section,
    .content-away-section {
        width: 30%;
    }

    .detail-team-home {
        padding: 0 5px;
        height: 65px;
    }

    .detail-team-home-logo {
        flex: 1;
        margin-top: 14px;
    }

    .home-review-section,
    .away-review-section {
        flex: none;
        width: 100%;
    }


    .top-content-review div:nth-of-type(1) img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 1px #ddd;
    }
    .top-content-review div:nth-of-type(1){width: auto;}
    .top-content-review div:nth-of-type(2) span {
        font-size: 12px;
        line-height: 28px;
    }
}

@media (min-width: 1440px) {
    .container#main {
        margin: 0 auto;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

