body {
    font-family: "Roboto", Arial, sans-serif !important;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: url(/images/bg-sportball.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-top-search .input-group {
    width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.content-top-search input.form-control {
    height: 60px;
    font-size: 18px;
    /*border-radius: 23px!important;*/
    /*position: relative;*/
    /*z-index: 1;*/
}

.content-top-search .input-group .btn i,
.content-top-search .input-group .btn:focus {
    /*color: black;*/
}

.content-top-search .input-group .btn {
    height: 60px;
    padding: 0 30px;
    /*position: absolute;*/
    /*right: 0;*/
    /*padding: 14px 20px;*/
    /*z-index: 2;*/
    font-size: 22px;
}

.container-search-result {
    display: inline-block;
    width: 100%;
    background-color: #282828;
    padding: 20px 0;
    position: relative;
}

.container-search-result .thumbnail {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: #111;
    height: 210px;
}

.container-search-result .thumbnail:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: .3s;
    border: solid 1px #aaa;
}

.container-search-result .caption {
    padding: 0;
    margin: 0;
}

.container-search-result .caption p a {
    margin-top: 10px;
}

.container-search-result .caption h3 {
    color: #fff;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
    font-family: "Roboto", Arial, sans-serif !important;

}

.thumbnail-post {
    background-color: #000;
    height: 100px;
    overflow: hidden;
}

.container-search-result .thumbnail:hover .crop {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.container-search-result:before {
    position: absolute;
    top: -10px;
    left: 25%;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #282828;
}

.btn-play:before {
    font-family: "FontAwesome";
    font-size: 12px;
    content: "\f04b";
    display: inline-block;
    margin-right: 5px;
}

.content-player-search {
    display: inline-block;
    width: 100%;
    background-color: #000;
    padding: 40px 0;
    position: relative;
}

/*player*/
.content-lg-video {
    margin-top: 5px;
    width: 70%;
    padding: 24px;
    min-height: 700px;
}

.content-list-video {
    position: fixed;
    right: 0;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 50px;
    background-color: #282828;
    width: 29%;
}

.content-list-video.affix {
    top: 0;
    padding-top: 0;
}

.content-list-video .text-title {
    margin-bottom: 0;
}
.content-list-video .text-title h4{
    color: #fff;
    padding-left: 5px;
}
.box-title-video {
    padding-bottom: 15px;
    border-bottom: solid 1px #dddddd;
}

.box-title-video h2 {
    font-size: 1.8em;
    font-family: "Roboto", Arial, sans-serif !important;
}

.box-title-video span {
    font-size: 1.3em;
    color: #777;
}

.thumbnail-list-video {
    margin-right: 8px;
    height: 94px;
    width: 168px;
    vertical-align: top;
}

.thumbnail-list-video img {
    height: 94px;
    width: 168px;
}

.content-list-video-side {
    width: 50%;
}

.content-list-video-side h3 {
    color: #fff;
}

.content-list-video-side h3 {
    font-size: 1.17em;
    font-weight: 100;
    margin: 0;
    vertical-align: top;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-list-row span {
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
    color: #ddd;
}

.box-list-row.active span {
    color: #eee;
}

.box-list-row {
    padding: 8px;
}

.box-list-row:hover {
    /*background-color: rgba(0, 0, 0, 0.05);*/
    cursor: pointer;
}

.box-list-row:hover img {
    opacity: 0.5;
    transition: .3s;
}

.box-list-row:hover h3 {
    text-decoration: underline;
}

.box-list-row.active {
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-list-row.active .content-list-video-side {
    width: 40%;
}

.box-list-row.active:before {
    font-family: "FontAwesome";
    content: "\f04b";
    display: inline-block;
    line-height: 94px;
    height: 94px;
    vertical-align: top;
    padding-right: 5px;
    color: #eee;
}

.search-jumbotron p{
    margin-top: 15px;
    font-size: 16px!important;
    color: white;
}