.topic-content-sexy{
    background-color: #fff;
    padding: 100px 0 20px 0;
    margin-bottom: 15px;

    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

.topic-content-sexy div .btn{
    background-color: #f1f1f1;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    color: #333;
    margin: -8px 0 0 10px;
}
.topic-content-sexy div .btn.active,
.topic-content-sexy div .btn:hover{
    background-color: #02335c;
    transition: all 0.2s ease-out;
    color: #fff;
}
.topic-content-sexy.affix{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 0;
    webkit-box-shadow: 0 5px 8px rgba(0,0,0,.3);
    box-shadow: 0 5px 8px rgba(0,0,0,.3);
}
.topic-content-sexy.affix .container{
    width: 100%;
    transition: .2s;

}
.wrap-sexy {
    display: block;
    float: left;
    width: 100%;
    min-height: 1000px;
    position: relative;
}

.wrap-sexy #main {
    position: relative;
}

.wrap-sexy .text-title {
    width: auto;
    margin: 15px 5px 10px 10px;
}

div.grid_container {
    margin: 10px;
    height: 100%;

    position: relative;
}

div.grid_container > div.thumbnail-image {
    position: absolute;
    width: 19.5%;
    overflow: hidden;
    border-radius: 2px;
}

div.grid_container > div.thumbnail-image img {
    max-width: 100%;
    transition: transform .5s; /* Animation */
}

div.grid_container > div.thumbnail-image:hover img {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-in-out;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.grid_container > div:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.thumbnail-image {
    position: relative;
}

.thumbnail-image:hover > div.textanim-hidden {
    left: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

div.textanim-hidden {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -500px;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
    text-align: center;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-in-out;
}

div.textanim-hidden h3 {
    position: absolute;
    bottom: 10px;
    text-align: left;
    left: 10px;
    color: #fff;
    border-bottom: solid 3px red;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block; overflow: hidden;
    white-space: nowrap;
    width: 50%; /* กำหนดความกว้าง */
}

.thumbnail-image div.textanim-hidden:hover > h3:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 5px;
    transition: all 0.4s ease-out;
    background-color: red;
}
.thumbnail-image:hover{

}
.icon-type-clip,
.icon-type-image {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50px;
    border: solid 3px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 45px;
    z-index: 2;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0.0625rem 0.1875rem 0.625rem rgba(0, 0, 0, .3);
}
.icon-type-clip{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.9);
}
.icon-type-clip:before,
.icon-type-image:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;

}

.icon-type-image:before {
    content: '\f03e';
}

.icon-type-clip:before {
    content: '\f03d';
}

.thumbnail-image:hover > .icon-type-clip,
.thumbnail-image:hover > .icon-type-image {
    background-color: rgba(0, 162, 225, 0.75);
    border-color: transparent;
    color: rgba(255, 255, 255, 0.9);
}


@media (min-width: 320px) and (max-width: 768px){
    .topic-content-sexy h4{
        display: none;
    }
    .topic-content-sexy .text-title:after {
        border-bottom: 1px solid transparent;
    }
    .topic-content-sexy {
        padding: 65px 0 0 0;
        margin-bottom: 0;
    }
    .topic-content-sexy .text-title .pull-right{
        margin: 0 auto;
        float: none!important;
        width: 164px;
    }
    div.grid_container > div.thumbnail-image{
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        float: left;
        left: 0!important;
        top: 0!important;
    }

}