@font-face {
    font-family: 'rsuregular';
    src: url('/fonts/rsu/rsu_regular-webfont.eot');
    src: url('/fonts/rsu/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/rsu/rsu_regular-webfont.woff2') format('woff2'),
    url('/fonts/rsu/rsu_regular-webfont.woff') format('woff'),
    url('/fonts/rsu/rsu_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

ul {
    margin: 0px !important;
}

a {
    text-decoration: none !important;
}

table {
    width: 100%;
}

.logo img {
    width: 30%;
}

.h-content, .nav-menutop li > a, .tab-h-content span, .box-results span, .txt-point, .title-owl-carousel, .articles-title span, .head-title-top, .title-owl-carousel a, .bx-publish-recommend h3, .bx-publish-info, .double-underline, .more, .content-large-videos h1 {
    font-family: 'Pridi', serif;
}

.bx-publish-recommend a, .title-owl-carousel a {
    color: #222;
}

.bx-publish-recommend td > a {
    display: block;
    height: 34px;
    overflow: hidden;
}

.navbar-collapse {
    background-color: #fff !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #003459 !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #003459 !important;
}

.nav-menutop li > a {
    font-size: 24px;
    color: #003a6c;
    /*font-family: rsuregular;*/
    padding: 10px 20px 0px 0px !important;
}

.nav-menutop li > a:hover {
    background: none !important;
    color: #0091c8 !important;
}

.navbar-top {
    border-radius: 0px !important;
    min-height: 20px !important;
    background-color: #fff !important;
    margin-bottom: 0px !important;
    border: 0 !important;
}

.navbar-top a.navbar-brand {
    color: #fff;
}

.navbar-top li>a{
    color: #003a6c !important;
}


.navbar-brand {
    display: none;
}

.navbar-top a {
    padding: 7px 15px !important;
    height: auto;
}

.navbar-nav li > a {
    padding: 8px !important;
    font-size: 16px;
}

.nav-second-menu {
    width: 100%;
    padding: 0px 0px 15px 0px;
    font-family: 'Pridi', serif;
}

.nav-menu-main li {
    position: relative;
}

li.active-dropdown:hover {
    background-color: #003a6c;
}

li.active-dropdown:hover a {
    color: #fff !important;
}

li.active-dropdown:hover span {
    display: block;
}

.nav-menu-main span {
    display: none;
    position: absolute;
    background-color: #003a6c;
    width: 250px;
    padding: 10px;
    z-index: 9;
    border-radius: 0px 0px 5px 5px;
}

.nav-menu-main a {
    color: #fff;
}

.nav-menu-main td:hover {
    background-color: #054984;
}

.nav-menu-main td {
    padding: 5px;
    border-bottom: solid 1px #054984;
}

.dropdown-menu-profile li > a {
    padding: 5px 8px !important;
}

.wrap-content-cols {  margin: 15px 0 15px 0;  }

.bx-story-big, .bx-story-small, .bx-story-medium {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
}

.mg-bt15 {  margin-bottom: 20px;  }

.bx-story-big {  height: 380px;  }

.bx-story-medium {  height: 240px;  }

.bx-story-bigs {  height: 268px;  }

.bx-story-small {  height: 175px;  }

.txt-blue {  color: #003a6c;  }

.txt-red, .down {  color: #a52031;  }

.up {  color: #5bd449;  }

.crop, .crop-team {
    background-image: url('/images/vs-22.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.crop:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.hilight-cover, .hilight-cover-videos {
    background-image: url('/images/img-hover.png');
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.3;
    background-size: cover;
    top: 0;
}

.hilight-cover-videos {
    background: rgba(1, 59, 97, 0.8);
}

.bx-headtop {  margin: 10px 0 10px 0;  }

.bx-headtop h1 {
    margin-top: 0;
    font-size: 3.3em;
    color: #003a6c;
}

.bx-headtop input {
    height: 45px;
    border: solid 1px #eee;
    font-size: 18px;
}

.bx-headtop button {
    background-color: #003a6c !important;
    color: #fff;
    font-size: 2em;
    width: 100%;
    border-radius: 0px;
    padding: 3px;
    font-family: 'Pridi', serif;
}

.bx-headtop button:hover, .nav-menu-main a:hover {
    color: #0091c8;
}

.section-login{
    color: #fff;
    text-align: right;
    font-family: rsuregular;
    font-size: 16px;
}

.section-login div {
    display: inline-block;
    margin: 7px 0px 0px 5px;
    cursor: pointer;
}

.bt-registered {
    background-color: #0091c8;
    border-radius: 15px;
    padding: 5px 15px;
}

.bx-story-big:hover > .hilight-cover, .bx-story-medium:hover > .hilight-cover,
.bx-story-small:hover > .hilight-cover,
.box-videos:hover > .hilight-cover,
.bx-head-team:hover > .hilight-cover {
    display: none;
}

.imgTest1 {
    background-image: url('/images/2.jpg');
}

.imgTest2 {
    /*background-image: url('/images/3.jpg');*/
    background-image: url(/images/vs-33.jpg);
}

.imgTest3 {
    background-image: url('/images/4.jpg');
}

.bx-story-content {
    position: absolute;
    padding: 10px 10px 10px 0px;
    bottom: 0;
    background-color: #fff;
    width: 90%;
    z-index: 10;
}

.bx-story-big > .bx-story-content > .h-content,
.bx-story-small > .bx-story-content > .h-content,
.bx-story-medium > .bx-story-content > .h-content {
    color: #000;
}

.bx-story-big:hover > .bx-story-content > .h-content,
.bx-story-small:hover > .bx-story-content > .h-content,
.bx-story-medium:hover > .bx-story-content > .h-content {
    color: #003a6c;
}

.bx-story-big > .bx-story-content > .h-content {
    font-size: 30px;
}

.bx-story-medium > .bx-story-content > .h-content {
    font-size: 18px;
}

.bx-story-bigs > .bx-story-content > .h-content {
    font-size: 26px;
}

.bx-story-small > .bx-story-content > .h-content {
    font-size: 18px;
}

.times-content {
    font-size: 11px;
    color: #888;
    text-align: left;
    padding: 2px 0px;
}

.wrap-box-most-popular {
    border-right: solid 1px #ccc;
}

.wrap-box-most-popular h2, .h-content {
    /*line-height: 33px;*/
}

.wrap-box-videos {
    margin-top: 15px;
    position: relative;
}

.label-highlight{
    font-size: 4rem;
    width: 14.25rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /* position: absolute; */
    height: 260px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
    /* border: solid 1px; */
    margin: -14px;
}

.label-hithot{
    font-size: 5.4rem;
    width: 19rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /* position: absolute; */
    height: 321px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
    /* border: solid 1px; */
    top: -66px;
}

.label-clip{
    font-size: 9rem;
    width: 10.25rem;
    webkit-transform: rotate(269.5deg);
    -moz-transform: rotate(269.5deg);
    -ms-transform: rotate(269.5deg);
    -o-transform: rotate(269.5deg);
    transform: rotate(269.5deg);
    /* position: absolute; */
    height: 302px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
}

.label-others{
    font-size: 9rem;
    width: 13.25rem;
    webkit-transform: rotate(269.5deg);
    -moz-transform: rotate(269.5deg);
    -ms-transform: rotate(269.5deg);
    -o-transform: rotate(269.5deg);
    transform: rotate(269.5deg);
    /* position: absolute; */
    height: 335px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
}

.wrap-box-most-popular h2, .wrap-box-videos h2 {
    font-size: 43px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #888;
    color: #2D2D35;
    font-family: 'Pridi', serif;
}

.box-popular img {
    max-width: 100%;
}

.box-popular {
    width: 100%;
    border-bottom: dotted 1px #888;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.box-popular-title {
    display: block;
    height: 46px;
    overflow: hidden;
    line-height: 23px;
    text-align: left;
    color: #333;
}

.title-video-sidebar{
    color: #fff;
}

.wrap-lastnews .title {
    font-size: 40px;
    font-family: rsuregular;
    border-bottom: dotted 1px #888;
    margin-bottom: 10px;
    color: #000;
}

.box-videos {
    height: auto;
    position: relative;
    width: 100%;
    text-align: center;
}

.box-videos div.icon-play {
    position: absolute;
    font-size: 1.8em;
    color: #d7dad6;
    width: 50%;
    height: 18%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 10;
}

.box-videos div:hover, .bx-popular-news:hover {
    color: #0091c8;
    cursor: pointer;
}

.video-related img {
    /*height: 120px !important;*/
}

.box-videos {
    height: 135px;
}

.img-other-news {
    height: 205px;
}

.img-other-news, .box-videos, .box-related {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-other-news img, .box-videos img, .box-related img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.box-related div.icon-play {
    top: -24px;
}

.box-related {
    height: 110px;
}

.label-vdo {
    font-size: 14rem;
    width: 42.25rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /* position: absolute; */
    height: 500px;
    color: #2D2D35;
    font-weight: bold;
}

.label-game {
    font-size: 14rem;
    width: 42.25rem;
    webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    /* position: absolute; */
    /*height: 500px color: #2D2D35 font-weight: bold;*/
}

.sport-bar {
    background: -owg-linear-gradient(to right, #0091c8, #02335c);
    background: -webkit-linear-gradient(to right, #0091c8, #02335c);
    background: -moz-linear-gradient(to right, #0091c8, #02335c);
    background: -o-linear-gradient(to right, #0091c8, #02335c);
    background: linear-gradient(to right, #0091c8, #02335c);
    width: 100%;
    padding: 10px 10px 0px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.box-other-news {
    clear: both;
    margin-bottom: 15px;
}

.wrap-box-content-news {
    padding: 10px 0px;
}

.wrap-box-news h2 {
    font-family: 'rsuregular',sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #003a6c;
    padding-top: 15px;
}

.box-other-news > .rows > .col-sm-4, .box-other-news > .rows > .col-sm-3 {
    border-left: dotted 1px #333;
    margin-bottom: 20px;
}

.box-other-news > .rows > .col-sm-4:first-child, .box-other-news > .rows > .col-sm-3:first-child {
    border: 0px;
}

.tab-color {
    padding: 12px;
    background-color: #ebecec;
    width: 100%;
    margin-bottom: 10px;
}

.wrap-box-livescore {
    padding: 5px 0px;
}

.box-livescore td {
    padding: 3px 2px;
    vertical-align: middle;
}

.box-livescore img {
    width: 30px !important;
    float: left;
    height: 30px
}

.box-livescore span {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-livescore strong, table.table-point th {
    color: #000;
}

/*.box-results table{*/
/*border-left:solid 1px #ccc;*/
/*border-right:solid 1px #ccc;*/
/*}*/

.box-results img {
    width: 20px;
}

table.table-live td {
    border-bottom: solid 1px #ddd;
    text-align: center;
}

table.table-live td:last-child, table.table-live td:first-child {
    width: 47%;
}

table.table-live td:first-child {
    text-align: right;
}

table.table-live td:last-child {
    text-align: left;
}

.box-results span, .txt-point {
    font-size: 1.5em;
    color: #003a6c;
    font-weight: bold;
}

.txt-point, table.table-list-othertop td:last-child, .info {
    color: #0091c8;
}

.box-results span {
    border-bottom: solid 1px #ddd;
    display: block;
}

table.table-point th, table.table-point td, table.table-live td {
    padding: 8px 5px;
}

.nav-tabs-league li {
    width: 14.28%;
    text-align: center;
}

.nav-tabs-league li > a {
    color: #003a6c;
    font-size: 1.2em;
    padding: 8px 0px !important;
    font-weight: bold;
    margin-bottom: -1px;
}

.nav-tabs-league img {
    width: 30px;
    height: 30px;
}

.bx-player-records {
    /*border:solid 1px;*/
}

.h-records {
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.bx-top-records {
    padding: 5px 10px;
}

.bx-top-records {
    background-color: #e5e5e5;
    border-bottom: solid 5px #003a6c;
}

.bx-top-records td {
    padding: 5px;
}

.bx-top-records td img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid 5px #fff;
}

.bx-top-records td:first-child {
    font-weight: bold;
    color: #000;
}

table.table-list-othertop td {
    line-height: 38px;
    border-bottom: solid 1px #ddd;
}

.bg-full {
    /*background-image: url('/images/bg-sportball.png');*/
    /*width: 100%;*/
    /*left: 0;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*padding: 0px 0px 20px 0px;*/
    position: relative;
}

.table-rank-index {
    background: none !important;
}

.table-rank-index th {
    color: #ccc;
}

.table-rank-index strong , table.table-team-index td{
    color: #eee;
}

.table-rank-index td, .table-rank-index td:nth-child(2) {
    border: 0px !important;
    color: #eee !important;
}

.table-rank-index td{
    padding: 5px !important;
}

.table-rank-index td:last-child{
    color: #FFC107 !important;
}

.table-rank-index td:first-child {
    width: 10% !important;
    text-align: center;
}

.table-rank-index tr:first-child > td:first-child {
    background-color: #0092c3;
}

.table-rank-index tr:nth-child(2) > td:first-child {
    background-color: #00749a;
}

.table-rank-index tr:nth-child(3) > td:first-child {
    background-color: #005b78;
}

.table-rank-index tr:nth-child(4) > td:first-child, .table-rank-index tr:nth-child(5) > td:first-child , .hover-games:hover{
    background-color: #223547;
}

.hover-games{
    border-bottom: solid 1px #094775;
}

.box-coment-index strong {
    color: #fff !important;
}

.cm-msg {
    color: #ccc;
}


.hilight-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url('/images/bg-sportball.png');
    background-size: cover;
}

.box-ads-index {
    background-color: #003f6e;
    text-align: center;
    padding: 10px 10px 5px 10px;
    border: 0px !important;
}

.box-comment-index strong{
    color: #fff !important;
}

.wrap-games {
    margin-top: 20px;
}

.wrap-games .col-sm-8{
    padding-right: 0px;
}

.wrap-games .col-sm-3{
    padding-left: 0px;
}

table.table-games td {
    width: 50%;
    text-align: center;
    color: #fff;
}

table.table-games2 td {
    background-color: #003f6e;;
}

table.table-games span {
    font-size: 2em;
    font-family: rsuregular;
}

table.table-games .progress {
    height: 10px;
    border-radius: 0px;
    margin-bottom: 0px;
}

table.table-hdp td {
    width: 33.33%;
}

.bx-head-team {
    height: 180px;
    position: relative;
    cursor: pointer;
}

.vote-already {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    color: #fff;
    opacity: 0.9;
    z-index: 2;
    font-weight: bold;
    padding-top: 20px;
}

.bx-logo-team {
    position: absolute;
    font-size: 4em;
    color: #fff;
    width: 50%;
    height: 50%;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 9;
}

.box-selected-index{
    padding-top: 14px !important;
}

.box-selected-index img{
    width: 125px !important;
    height: 125px !important;
}

#fade-in-index.show, #fade-in-right-index.show{
    width: 50%;
}

#fade-in-index, #fade-in-right-index{
    height: 100%;
    display: block;
    position: absolute;
    width: 0%;
    z-index: 189;
    background-color: rgba(0, 58, 108, 0.9);
    transition: all .85s ease;
}

#fade-in-right-index {
    right: 0;
    background-color: rgba(117, 26, 19, 0.9);
}

.close-tab{
    color: white;
    padding: 10px;
    font-size: 1.4em;
}

.close-tab:hover{
    color: #000;
    cursor: pointer;
}


.bt-play {
    display: inline-block;
    background-color: #fff;
    color: #003f6e;
    padding: 8px;
    width: 35%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bt-play:hover {
    font-weight: bold;
    cursor: pointer;
}

.bx-icon-stat {
    padding-bottom: 5px;
}

.bx-icon-stat img {
    width: 18px;
}

.bx-logo-team img {
    width: 100px;
    height: 100px;
}

.bx-hdp {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    color: #000;
    margin-bottom: 5px;
}

.box-hdp-vote{
    background-color: #eee;
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bx-vote {
    padding-top: 0px;
}

.bx-division, .name-team {
    font-family: rsuregular;
}

.name-team {
    font-size: 28px;
}

.wrap-vote {
    width: 22%;
    position: absolute;
    top: 158px;
    left: 0;
    right: 0;
    margin: auto;
}

.bx-division, .bx-hdp, .bx-vote {
    /*bottom: 0;*/
    cursor: pointer;
    z-index: 110;
    padding: 5px;
}

.bx-vote h3 {
    font-size: 1.5em;
    font-family: 'Pridi', serif;
}

li.bg-info {
    background-color: #0091c8;
    color: #fff;
    padding: 2px 15px !important;
}

.bx-hdp li {
    display: inline-block;
    padding: 0px 5px;
}

table.table-xx td {
    width: 33.33%;
}

table.bx-comments td {
    text-align: left;
    line-height: 20px;
}

table.bx-comments td:first-child {
    width: 2%;
}

.bx-comments-img {
    display: block;
    width: 25px;
    height: 25px;
}

.bx-comments-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
}

.name-comment {
    color: #ccc;
}

.content-comment {
    width: 59%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-box-comments {
    width: 98%;
    padding: 5px 10px;
}

.btn-bluesea, .wrap-box-comments, .bx-type-comment input, .h-tabs-game {
    background-color: #003f6e;
}

td.bx-type-comment {
    padding: 5px !important;
}

.bx-type-comment input {
    border: 0px;
    width: 93%;
    float: left;
    color: #fff;
}

.h-tabs-game {
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-family: rsuregular;
}

table.table-list-games td {
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
}

.box-gameslist {
    border-bottom: solid 1px #003f6e;
}

label.info {
    color: #0092c3;
}

.table-game-all > .actived {
    background-color: #0092c3;
}

.actived label {
    color: #fff !important;
}

.col-box > .h-top-col {
    color: #fff;
    font-size: 1.6em;
    padding: 5px 0px;
}

.bx-rank-img, .bx-rank-img img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.bx-rank-img img {
    border-radius: 50%;
    border: solid 3px #fff;
}

.col-box td {
    padding: 0px 5px;
    color: #fff;
    line-height: 25px;
}

.col-box td:first-child {
    text-align: center;
    width: 15%;
}

.col-box td:last-child {
    text-align: right;
}

.ranking-box {
    /*border:solid 1px;*/
}

.ranking-one {
    background-color: #0092c3;
}

.ranking-two {
    background-color: #00749a;
}

.ranking-three {
    background-color: #005b78;
}

.ranking-other {
    background-color: #1b314b;
}

.box-prize {
    background-color: rgba(0, 63, 110, 0.8);
    text-align: center;
    color: #fff;
    font-family: rsuregular;
    font-size: 1.5em;
    padding: 10px;
}

.box-prize img {
    margin-bottom: 10px;
}

.h-title {
    font-size: 1.5em;
    line-height: 20px;
}

.login-facebook {
    color: #fff;
    padding: 8px 0px 0px 0px;
    cursor: pointer;
}

.tab-date-played, table.table-point th {
    padding: 5px;
    background-color: #003a6c;
    color: #fff;
}

/*.wrap-height {*/
/*height: 400px;*/
/*overflow-y: auto;*/
/*border:solid 1px red;*/
/*}*/

.wrap-box-results > .col-sm-4 {
    border-left: solid 1px #ccc;
}

.wrap-box-results > .col-sm-4:first-child {
    border-left: 0px;
}

.tab-h-content span {
    color: #003a6c;
}

.tab-h-content span {
    font-size: 2.6em;
}

.more {
    padding-top: 40px;
    font-size: 1.2em;
    color: #003a6c;
    padding: 5px 10px;
    border: solid 1px #003a6c;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.more:hover {
    color: #fff;
    background-color: #003a6c;
    cursor: pointer;
}

.footer {
    background-color: #02335c;
    padding: 10px;
    width: 100%;
    color: #fff;
}

.footer span {
    color: #999;
}

.footer a {
    color: #fff;
    padding-left: 5px;
}

.bx-head {
    float: left;
    font-weight: normal;
    margin: 0 10px 0 10px;
    width: 15%;
}

.bx-icon-vote {
    position: absolute;
    top: 5px;
    left: 100%;
}

.bx-sidebar-left h3 {
    margin: 0px;
}

.section-games {
    position: relative;
    height: 595px;
    background-color: #f1f1f1;
}

.wrap-box-livescore {
    position: relative;
}

.bt-backword, .bt-forward, .slide-back, .slide-next{
    position: absolute;
    top: 20px;
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    z-index: 99;
}

.bt-backword:hover, .bt-forward:hover{
    color: #003a6c;
}

.bt-backword {
    left: -20px;
}

.slide-back, .slide-next{
    top: 90px;
}

.bt-forward {
    right: -20px !important;
}
.bt-sign-left, .bt-sign-right{
   top: 80px;
}
.bt-sign-left{
    left: 0px !important;
}

.bt-sign-right{
    right: 0px !important;
}

.bx-status-nodata{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0px;
    font-size: 2.5em;
    color: #c5c5c5;
    font-family: 'Pridi', serif;
}

@media (max-width: 768px) {
    .label-vdo {
        font-size: 5rem;
        transform: none !important;
        height: 60px !important;
        color: #2D2D35;
        font-weight: bold;
        font-family: rsuregular;
    }

    .section-games {
        display: none;
    }

    .bx-sidebar-left {
        position: relative !important;
        margin-top: 0px !important;
    }

    .navbar-brand {
        display: block;
    }

    .nav-tabs-league > li > a > span {
        display: none;
    }

    .navbar-menu-v2{
        display:none;
    }

    .menu_articles{
        display: none;
    }

    .bg-hilight-games{
        height: auto !important;
    }

    .rows-tabs{
        margin-top: auto !important;
    }

    .bg-hilight-games img {
        height: 100px !important;
        width: 100px  !important;
    }

    .section-box-rows > .col-sm-2{
        width: 100% !important;
    }
}
