@font-face {
    font-family: 'rsuregular';
    src: url('/fonts/rsu/rsu_regular-webfont.eot');
    src: url('/fonts/rsu/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/rsu/rsu_regular-webfont.woff2') format('woff2'),
    url('/fonts/rsu/rsu_regular-webfont.woff') format('woff'),
    url('/fonts/rsu/rsu_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a.link_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.hidden-box {
    overflow: hidden;
}

/*::-webkit-scrollbar {*/
/*display: none;*/
/*}*/
body {
    margin: 0 auto;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: normal;
    background-color: #f5f5f5;
    transition: .2s;
}

.topmenu {  z-index: 1050;  }

ul {  margin: 0 !important;  }

a {
    cursor: pointer;
    text-decoration: none !important;
}

table {  width: 100%;  }

h1, h2, h3, h4, h5, h6,
.h-content,
.nav-menutop li > a,
.tab-h-content span,
.box-results span,
.txt-point,
.title-owl-carousel,
.articles-title span,
.head-title-top,
.title-owl-carousel a,
.bx-publish-recommend h3,
.bx-publish-info,
.double-underline,
.more,
.content-large-videos h1,
.name-top-records,
.more-btn,
.box-popular-title {
    font-family: 'Pridi', serif !important;
}

.container-listhight .lastest-video .title-h-videos,
.container-listhight a {
    color: #fff !important;
}

.container-listhight .content-index-box-videos-highlight {
    width: 1060px;
    float: right;
    margin-right: 8px;
    position: relative;
    display: inline-block;
}

.box-content-list,
.label-highlight a,
.label-hithot a,
.label-highlight,
.label-vdo {
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
}

/*color: #061b2d;*/
.nav-menu-main .bx-menu-dropdown a,
.menu-ranking-box ul.nav li a {
    color: #061b2d !important;
}

.logo img {  width: 30%;  }

.content-menu-index.affix {
    transition: .2s;
    height: auto;
    z-index: 10;
}

.content-menu-index {
    position: relative;
    display: inline-block;
    top: 0;
    height: 145px;
    width: 100%;
    z-index: 10;
    margin: 0;
    transition: .2s;
}

.content-menu-index .navbar {
    border: 0;
    margin-bottom: 0;
}

.content-menu-index .bar-menu {  height: auto;  }

.content-menu-index.affix .topmenu .container {
    width: 100%;
    transition: .2s;
}

.content-menu-index.affix .bar-menu {
    height: 0;
    display: none;
    transition: .2s;
}

.content-menu-index.affix .logo-menu {
    position: relative;
    display: block;
    width: 84px;
    height: 54px;
    line-height: 49px;

}

.content-menu-index .logo-menu img {
    margin: 9px 0 0 0 !important;
    height: 0 !important;
}
.content-menu-index .logo-menu {
    float: left;
    height: 0;
    width: 0;
    position: relative;
}

.content-menu-index.affix .logo-menu img {
    height: 35px !important;
    transition: .2s;
    margin-top: 0 !important;
}

.content-menu-index.affix .nav-menutop {  float: right !important;  }
.content-menu-index.navbar {  margin-bottom: 0;  }
.content-menu-index ul.navbar-nav li a {  line-height: 35px;  }
.content-menu-index .navbar-collapse {  padding: 0;  }

.container-rules-wrap.affix {  margin-top: 100px;  }
.container-rules-wrap nav.box-left-menu {
    height: 1000px;
    display: block;
    float: left;
    padding-top: 20px;
}

.container-rules-wrap .box-left-menu ul.nav-pills,
.container-rules-wrap.affix .box-left-menu {
    position: relative;
}

.container-rules-wrap .box-left-menu ul.nav-pills.affix {
    position: fixed;
    top: 100px;
}

/*content-menu-all*/
.content-menu-all {  height: 78px;  }
.content-menu-all.affix .topmenu {
    height: 0 !important;
    display: none;
}

.content-menu-all .navbar {  margin-bottom: 0;  }
.content-menu-all .logo-menu {
    height: auto;
    width: 130px;
    position: relative;
}

.content-menu-all .logo-menu img {
    height: 35px !important;
    margin-top: 0;
}

.content-menu-all.affix .logo-menu {
    height: 45px;
    width: 100px;
}

.content-menu-all.affix .logo-menu img {
    height: 45px !important;
    padding-top: 5px;
}

.content-menu-all.affix .nav-menutop ,
.content-menu-all.affix .nav-menutop {
    margin-left: 0;
    float: right !important;
}


.text-blue {  color: #0075a6 !important;  }

.bx-publish-recommend a, .title-owl-carousel a {  color: #222;  }

.navbar-inverse .navbar-toggle {  border-color: #003459 !important;  }
.navbar-inverse .navbar-toggle .icon-bar {  background-color: #003459 !important;  }

.nav-menutop li {  position: relative;  }
.nav-menutop li > a {
    transition: .2s;
    font-size: 24px;
    color: #fff;
    border-radius: 0;
}

.navbar-top {
    transition: .2s;
    border-radius: 0 !important;
    min-height: 20px !important;
    margin-bottom: 0 !important;
    border: 0 !important;
}

.navbar-top a.navbar-brand {  color: #fff;  }
.navbar-top li > a {
    color: #fff;
    font-size: 13px;
}

.navbar-brand {  display: none;  }

li.active-dropdown a:hover > div.bx-menu-dropdown-arrow,
li.active-dropdown a:hover > .bx-menu-dropdown div.bx-menu-dropdown-arrow {
    display: block;
}

.bx-menu-dropdown-arrow i {
    color: #fff !important;
    font-size: 35px;
}

.bx-menu-dropdown-arrow {
    display: none;
    position: absolute;
    bottom: -14px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: normal;
    text-align: center;
}

.content-menu-index .navbar-top a {
    padding: 0 11px;
    line-height: 54px;
    height: auto;
    border-radius: 0;
}

.content-menu-index .navbar-top .logo-menu a {
    padding: 0;
    line-height: normal;
}

.logo-menu a:hover {  background-color: transparent !important;  }

.navbar-nav li > a {
    line-height: 25px;
    padding: 5px 30px 5px 0 !important;
    font-size: 20px;
}

.navbar-nav li > a:hover {
    background-color: transparent !important;
    text-decoration: underline !important;
}

.nav-second-menu {
    width: 100%;
    padding: 0 0 15px 0;
    font-family: 'Pridi', serif;
}

.nav-menu-main li {  position: relative;  }

.content-menu-index .navbar-top li.active-dropdown a:focus,
.content-menu-index .navbar-top li.active-dropdown a:hover,
.content-menu-index .navbar-top a:active,
.content-menu-index .navbar-top a:focus,
.content-menu-index .navbar-top a:hover {
    background-color: rgba(255, 255, 255, 0.45);
}

.content-menu-index .nav {
    display: flex;
    display: -webkit-flex;
}

.content-menu-index .nav li {
    position: static;
    flex: auto 1;
    float: none;
}

.nav-menu-main .bx-menu-dropdown .container {  margin: 0 auto;  }

li.active-dropdown:hover > .bx-menu-dropdown,
li.active-dropdown:focus > .bx-menu-dropdown {
    display: block;
}

.bx-menu-dropdown {
    background-color: #fff;
    display: none;
    left: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    color: #010f1c;
    z-index: 9000;
    border-radius: 0;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    -ms-transition: height .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    box-shadow: 0 15px 10px -15px #aaa;
}

.nav-menu-main .bx-menu-dropdown-match-football {  height: 365px;  }

.nav-menutop-edit li.none-dropdown a:hover,
.nav-menutop-edit li.active-dropdown a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.45);
}

.nav-menutop-edit li.active-dropdown:hover > .bx-menu-dropdown-arrow {
    display: block;
}

.nav-menutop-edit li.active-dropdown:hover
.bx-menu-dropdown a,
.nav-menu-main .bx-menu-dropdown a:hover {
    background-color: transparent;
}

.nav-menu-main .bx-menu-dropdown a,
.nav-menu-main .bx-menu-dropdown h3 {
    font-family: 'Pridi', serif;
    margin: 0;
    padding: 0;
}

.nav-menu-main .bx-menu-dropdown h3 {  font-size: 22px;  }

.nav-menu-main td i {  margin-right: 5px;  }
.nav-menu-main td a {
    font-size: 15px !important;
    line-height: 25px;
}

.nav-menu-main table tr td a:hover {
    background-color: transparent !important;
    color: #0089ff !important;
}

.nav-menu-main td:hover {  background-color: transparent;  }
.nav-menu-main td {
    padding: 5px 0;
    border-bottom: solid 1px transparent;
}

.detail-content-big-menu div p a.btn:hover {  background-color: #1f5788 !important;  }
.detail-content-big-menu div.caption a:hover {
    background-color: transparent;
    text-decoration: underline !important;
}

.detail-content-big-menu,
.list-content-big-menu {
    margin-top: 15px;
}

.bx-menu-dropdown .list-content-big-menu ul {  margin-top: 17px !important;  }
.bx-menu-dropdown .list-content-big-menu ul li i {
    float: right;
    font-size: 16px;
    line-height: 25px;
    color: #061b2d;
}

.bx-menu-dropdown .list-content-big-menu ul > li > a {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #aaa !important;
    display: inline-block;
}

.bx-menu-dropdown .list-content-big-menu ul > li > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f054";
    float: right;
    margin-top: 5px;
}

.bx-menu-dropdown .list-content-big-menu ul > li > a:hover {
    color: #061b2d !important;
    background-color: transparent;
    text-decoration: underline !important;
}

.bx-menu-dropdown .list-content-big-menu ul > li.active {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 5px;
}

.bx-menu-dropdown .list-content-big-menu ul > li.active a {
    text-decoration: underline !important;
    color: #061b2d !important;
}

.bx-menu-dropdown-content {
    width: 250px !important;
    height: 215px !important;
    left: auto !important;
}

.bx-menu-dropdown-content ul {  padding: 10px;  }
.bx-menu-dropdown-content ul li img {  padding-left: 10px;  }
.bx-menu-dropdown-content ul li img,
.bx-menu-dropdown-content ul li p {
    display: inline-block;
    vertical-align: middle;
}

.bx-menu-dropdown-content ul li a {
    display: block;
    padding: 3px;
}

.bx-menu-dropdown-content ul li a:hover {  background-color: rgba(255, 255, 255, 0.1) !important;  }
.bx-menu-dropdown-content ul li p {
    margin: 0;
    padding: 0;
}

.topic-content-big-menu {
    position: relative;
    width: 100%;
}

.topic-content-big-menu h3,
.topic-content-big-menu a.top-readmore {
    display: inline-block;
    vertical-align: bottom;
}

a.top-readmore {
    position: absolute;
    right: 6px;
    top: -5px;
}

a.top-readmore span {
    width: 100%;
    padding: 5px 20px;
    position: relative;
}

a.top-readmore,
a.top-readmore span {
    display: inline-block;
    z-index: 1;
    color: #fff;
    background: #337ab7;
}

a.top-readmore span:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f054";
    margin-left: 8px;
}

a.top-readmore:after {
    background: #337ab7;
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: top right;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.detail-content-big-menu {
    border-left: solid 1px;
    border-color: rgba(255, 255, 255, 0.1);
}

.detail-content-big-menu .col-sm-12 a {
    font-size: 14px;
    line-height: normal;
}

.detail-content-big-menu .thumbnail {
    margin-top: 0;
    background-color: transparent;
    border-color: transparent;

}

.detail-content-big-menu .thumbnail .caption {  padding: 10px 0;  }
.detail-content-big-menu .thumbnail .caption h3 {
    margin-top: 5px;
    line-height: 28px;
    font-size: 17px;
}

.detail-content-big-menu .thumbnail .caption .btn {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.detail-content-big-menu .thumbnail:hover > div.caption h3,
.detail-content-big-menu .thumbnail:hover > div.bx-detail-gallery h5 {
    text-decoration: underline !important;
}

.bx-menu-dropdown .thumbnail:hover div.btn-default,
.detail-content-big-menu .thumbnail:hover div.btn-default {
    background-color: #337ab7 !important;
    color: #fff !important;
}

.detail-content-big-menu .box-videos {  height: 150px;  }
.detail-march-content p a.btn {
    padding: 4px 8px;
    margin-top: 20px;
}

.detail-march-content .col-sm-6 {  text-align: center;  }
.detail-march-content h5 {
    color: rgba(225, 225, 225, 0.7);
    margin-top: 30px;
    font-family: 'Pridi', serif;
}

.detail-march-content ul.topic li {
    display: inline-block;
    font-size: 12px;
}

.detail-march-content table {  margin-top: 20px;  }
.detail-march-content table tr td.box-vs {
    font-family: 'Pridi', serif;
    vertical-align: top;
    padding-top: 30px;
    font-size: 28px;
}

.detail-march-content table tr td img {  height: 70px;  }
.detail-march-content table tr td h4 {
    font-size: 14px;
    font-weight: bold;
}

.menu-ranking-box {  margin-top: 20px;  }
.menu-ranking-box ul.nav li a {  padding: 5px 10px;  }
.menu-ranking-box ul.nav li a {  border: 0;  }

.menu-ranking-box ul.nav li a:hover,
.menu-ranking-box ul.nav li.active a,
.menu-ranking-box ul.nav li.active a:hover,
.menu-ranking-box ul.nav li.active a:focus,
.menu-ranking-box ul.nav li a:hover {
    background-color: transparent;
    border: 0;
    border-bottom: solid 5px #337ab7;
}

.menu-ranking-box ul.nav {  border-color: #02335c;  }
.menu-ranking-box .tab-content {  padding: 10px 5px 5px 5px;  }
.menu-ranking-box .tab-content table tr td:first-child {
    font-size: 16px;
    font-weight: bold;
}

.menu-ranking-box .tab-content table tr td {  border-bottom: solid 1px #eee;  }
.menu-ranking-box .tab-content table tr td {  padding: 8px 5px;  }
.menu-ranking-box .tab-content table tr td img {
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #fff;
}

.dropdown-menu-profile li > a {
    padding: 0 8px !important;
    color: #333;
    width: 100%;
    display: block;
    float: left;
    line-height: 30px;
    text-align: center;
}

.dropdown-menu-profile li > a:hover {  background-color: rgba(0, 0, 0, 0.1) !important;  }
.dropdown-menu-profile .popover-content {  padding: 5px 0 0 0;  }

.wrap-content-cols {
    padding-bottom: 30px;
    display: block;
    float: left;
    width: 100%;
}

.bx-story-big,
.bx-story-small,
.bx-story-medium {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
}

.mg-bt15 {  margin-bottom: 20px;  }

.bx-story-big {  height: 380px;  }

.bx-story-medium {  height: 240px;  }

.bx-story-bigs {  height: 268px;  }

.bx-story-small {  height: 175px;  }

.txt-blue {  color: #003a6c;  }

.txt-red, .down {  color: #a52031;  }

.up {  color: #5bd449;  }

.hot-icon {
    display: none;
    padding-right: 5px;
}

.hot-icon i {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.hot-icon i {
    color: red;
    border: solid 1px #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 12px;
    background-color: red;
}

.hot-icon img {  height: 40px;  }

.crop,
div.crop,
.crop-team,
div.crop-team {
    background-color: #000;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}

:hover > div.crop,
.crop:hover,
.crop-team:hover,
div.crop:hover,
div.crop-team:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
}

.wrap-box-gallery div.bx-gallery:hover div.crop,
.recent-hothit-videos .box-videos:hover .crop,
.lastest-video:hover .crop,
.box-videos:hover .crop,
.wrap-box-gallery:hover .crop,
.related-news:hover .crop,
.box-related-sexy:hover .crop,
.box-video-sexy-index:hover .crop,
.bx-gallery-big:hover .crop,
.bx-gallery-sexy-index:hover .crop,
.detail-content-big-menu .thumbnail:hover .crop {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.hilight-cover,
.hilight-cover-videos {
    background: -owg-linear-gradient(to top, #13687d, #2ea6c3);
    background: -webkit-linear-gradient(to top, #13687d, #2ea6c3);
    background: -moz-linear-gradient(to top, #13687d, #2ea6c3);
    background: -o-linear-gradient(to top, #13687d, #2ea6c3);
    background: linear-gradient(to top, #13687d, #2ea6c3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.3;
    background-size: cover;
    top: 0;
    left: 0;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.hilight-cover-videos {  background: rgba(1, 59, 97, 0.8);  }

.bx-headtop {  margin: 10px 0 10px 0;  }

.bx-headtop h1 {
    margin-top: 0;
    font-size: 3.3em;
    color: #003a6c;
}

.bx-headtop input {
    height: 45px;
    border: solid 1px #eee;
    font-size: 18px;
}

.bx-headtop button {
    background-color: #003a6c !important;
    color: #fff;
    font-size: 2em;
    width: 100%;
    border-radius: 0px;
    padding: 3px;
    font-family: 'Pridi', serif;
}

.bx-headtop button:hover, .nav-menu-main a:hover {  color: #0091c8;  }

.section-login {
    color: #fff;
    text-align: right;
    font-family: "rsuregular", Arial, sans-serif;
    font-size: 16px;
}

.section-login div {
    display: inline-block;
    margin: 7px 0 0 5px;
    cursor: pointer;
}

.bt-registered {
    background-color: #0091c8;
    border-radius: 15px;
    padding: 5px 15px;
}

.bx-story-big:hover > .hilight-cover,
.bx-story-medium:hover > .hilight-cover,
.bx-story-small:hover > .hilight-cover,
.bx-story-small a:hover > .hilight-cover,
.box-videos:hover > .hilight-cover,
.box-videos a:hover > .hilight-cover,
.bx-head-team:hover > .hilight-cover {
    display: none;
    transition: .2s;
}

.imgTest1 {  background-image: url('/images/2.jpg');  }
.imgTest2 {  background-image: url(/images/vs-33.jpg);  }
.imgTest3 {  background-image: url('/images/4.jpg');  }

.bx-story-content {
    position: absolute;
    padding: 10px 10px 10px 0;
    bottom: 0;
    background-color: #fff;
    width: 90%;
    z-index: 3;
}

.bx-story-content a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bx-story-big > .bx-story-content > .h-content,
.bx-story-small > .bx-story-content > .h-content,
.bx-story-medium > .bx-story-content > .h-content {
    color: #000;

}

.bx-story-big:hover > .bx-story-content > .h-content,
.bx-story-small:hover > .bx-story-content > .h-content,
.bx-story-medium:hover > .bx-story-content > .h-content {
    color: #003a6c;
    text-decoration: underline !important;
}

.bx-story-big > .bx-story-content > .h-content {
    font-size: 30px;
}

.bx-story-medium > .bx-story-content > .h-content {
    font-size: 22px;
}

.bx-story-bigs > .bx-story-content > .h-content {
    font-size: 26px;
}

.bx-story-small > .bx-story-content > .h-content {
    font-size: 20px;
}

.times-content {
    font-size: 12px;
    color: #888;
    text-align: left;
    margin-bottom: 30px;
}

.times-content:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f017";
    float: left;
    margin-right: 5px;
}

.times-content i {  display: none;  }

.container-videoMain-index {
    background-image: url("/images/bg-sportball.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 20px 0;
}

.index-box-videos-highlight {
    position: relative;;
    height: 250px;
    display: inline-block;
    width: 100%;
}

.wrap-box-videos {
    margin-bottom: 15px;
    position: relative;
}

.wrap-box-videos .title-owl-carousel {
    line-height: normal;
    font-size: 16px;
    height: auto;
    margin: 0;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* กำหนดความกว้าง */
}

.label-highlight {
    font-size: 4rem;
    width: 188px;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    height: 349px;
    left: 0;
    margin: -55px 0 0 -10px;
    top: 0;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.label-highlight a,
.label-hithot a {
    color: #aeaeb3;
    vertical-align: top;
    display: inline-block;
}

.label-hithot {
    font-size: 5.4rem;
    width: 19rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /* position: absolute; */
    height: 321px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
    /* border: solid 1px; */
    bottom: 0;
}

.label-clip {
    font-size: 9rem;
    width: 10.25rem;
    webkit-transform: rotate(269.5deg);
    -moz-transform: rotate(269.5deg);
    -ms-transform: rotate(269.5deg);
    -o-transform: rotate(269.5deg);
    transform: rotate(269.5deg);
    /* position: absolute; */
    height: 302px;
    color: #aeaeb3;
    font-weight: bold;
    position: absolute;
}

.label-others {
    font-size: 14rem;
    width: 461px;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /* position: absolute; */
    height: 570px;
    color: #2D2D35;
    font-weight: 600;
}

.title-video-sidebar {  color: #fff;  }

.label-highlight-index {
    position: absolute;
    top: 50px;
}

.label-highlight-index {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    text-align: center;
    font-size: 28px;
}

.label-highlight-index {
    width: 200px;
    height: 100px;
}

.label-highlight-index a {
    color: #fff;
    font-weight: bold;
}

.wrap-lastnews .title {
    font-size: 40px;
    font-family: "rsuregular", Arial, sans-serif;
    border-bottom: dotted 1px #888;
    margin-bottom: 10px;
    color: #000;
}

.box-videos {
    height: auto;
    position: relative;
    width: 100%;
    text-align: center;
    border: solid 1px #000;
}

.content-profile-menu {  position: relative;  }
.content-profile-menu ul li:hover {  background-color: rgba(0, 0, 0, 0.1);  }

.content-profile-menu ul li,
.contact-social ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    line-height: 28px;
}

.contact-social i {  color: #fff;  }
.content-profile-menu a {  color: #fff;  }
.content-profile-menu a:hover,
.content-profile-menu a:after,
.content-profile-menu a:focus {
    color: #54cdff !important;
}

.content-profile-menu #fb-online img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 2px;
    border-color: rgba(255, 255, 255, 0.5);
}

.content-profile-menu #fb-online {  margin-left: 20px;}
.content-profile-menu li.coin-topmenu img {  width: 22px;  }
.content-profile-menu .dropdown-menu {  left: auto;  }
.content-profile-menu .dropdown-menu li {
    width: 100%;
    padding: 0;
    line-height: normal;
}

.content-profile-menu .dropdown-menu li a {
    font-size: 14px;
    line-height: 30px;
}

.content-profile-menu .dropdown-menu li a:hover {
    background-color: #eee;
    color: #000 !important;
}

.box-login-FB {
    padding: 0 8px;
    line-height: 28px;
}

.navbar-header .box-login-FB span {
    font-size: 17px;
    margin-left: 5px;
    color: #02335c;
}

.navbar-header .box-login-FB i {
    color: #02335c;
    font-size: 22px;
}

.box-login-FB:hover {  cursor: pointer;  }
.box-login-FB i,
.box-login-FB span {
    display: inline-block;
    padding-left: 5px;
    font-size: 14px;
    color: #fff;
}

.box-login-FB span {  font-weight: bold;  }

.navbar-header-right ul {  text-align: right;  }
.navbar-header-right ul li {
    display: block;
    float: left;
}

.navbar-header-right ul li i {  line-height: 55px;  }

.collapse-menu-btn i.fa-times,
.collapse-menu-btn.collapsed i.fa-bars {
    display: block;
}

.collapse-menu-btn.collapsed i.fa-times,
.collapse-menu-btn i.fa-bars {
    display: none;
}

.collapse-menu-btn.collapsed,
.user-topmenu.collapsed {
    background-color: #ffffff !important;
}

.user-topmenu i,
.collapse-menu-btn i {
    color: #fff !important;
}

.user-topmenu.collapsed i,
.collapse-menu-btn.collapsed i {
    color: #02335c !important;
}

.user-topmenu,
.collapse-menu-btn {
    background-color: #02335c;
}

.user-topmenu i,
.collapse-menu-btn i {
    color: #ffffff;
}

.navbar-header,
nav.navbar-topbar .navbar-collapse.collapse {
    display: none !important;
}

.bx-type-gallery,
.box-list-video-side div.icon-play,
.box-videos a div.icon-play,
.box-videos div.icon-play {
    position: absolute;
    font-size: 1.8em;
    color: #d7dad6;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
    z-index: 3;
}

.box-list-video-side div.icon-play i,
.wrap-box-gallery div.bx-type-gallery i,
.box-video-sexy i,
.box-videos i {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 50px;
    box-shadow: 0.0625rem 0.1875rem 0.625rem rgba(0, 0, 0, .3);
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: background, border;
    -moz-transition-property: background, border;
    transition-property: background, border;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-duration: .25s;
    background-color: rgba(255, 255, 255, .2);
    border: .25rem solid #fff;
    color: rgba(255, 255, 255, 1);
}

.box-list-videos tr .box-list-video-side div.icon-play i,
.wrap-box-gallery:hover div.bx-type-gallery i,
.box-video-sexy:hover i,
.related-news:hover div.bx-type-gallery i,
.box-videos:hover i {
    background-color: rgba(0, 200, 251, 0.7);
    color: rgba(255, 255, 255, 1);
    border: .25rem solid #00c8fb;
    transition: .2s;
}

.box-list-video-side div.icon-play i {
    width: 35px;
    height: 35px;
    line-height: 30px;
    border: .25rem solid #fff;
    font-size: 15px;
}

.box-videos {  height: 155px;  }

.img-other-news {  height: 204px;  }

.box-related-sexy,
.img-other-news {
    overflow: hidden;
}

.img-other-news,
.box-videos,
.box-related {
    width: 100%;
    position: relative;
    background-color: #ccc;
}

.img-other-news img,
.box-videos img,
.box-related img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
}


.cover-hothit {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.box-related-small {  height: 150px;  }

.label-vdo {
    font-size: 14rem;
    width: 47rem;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    height: 583px;
    color: #fff;
    font-weight: bold;
}

.label-game {
    font-size: 14rem;
    width: 42.25rem;
    webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sport-bar {
    padding: 10px 10px 0 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.main-menu-index,
.bar-menu,
.topmenu {
    display: block;
    float: left;
    width: 100%;
}

.topmenu ul {
    margin: 0;
    padding: 0;
}

.bar-menu {  background-color: #fff;  }

.main-menu-index {  padding: 0;  }
.bt-banner-game{
    position: absolute;
    right:0;
    height: 56px;
    width: 263px;
    background-image: url('/images/banner-game-index.png');
}
.collapse-menu .panel-heading {  padding: 0;  }
.collapse-menu .panel-heading i {  float: right;  }
.collapse-menu .panel-heading a {
    display: block;
    width: 100%;
    padding: 10px 15px;
}

.collapse-menu .panel-title,
.collapse-menu .panel-body a {
    color: #fff;
}

.collapse-menu .panel-default {  border-color: transparent;  }

.main-menu-index,
.collapse-menu {
    background-color: #02335c;
}

.collapse-menu .panel {  border-bottom: solid 1px #0c1d30;  }
.collapse-menu .panel,
.collapse-menu .panel-default > .panel-heading {
    background-color: transparent;
}

.collapse-menu .panel-body {
    border-color: transparent;
    background-color: #0c1d30;
    padding: 0;
}

.collapse-menu .panel-body a {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 17px;
    display: block;
    width: 100%;
    border-bottom: solid 1px #000;
}

.collapse-menu .panel-group {  margin-bottom: 0;  }

.userbar-collapse {
    background-color: #02335c;
    padding: 10px;
}

.userbar-collapse-body {
    color: #fff;
    padding: 10px;
}

.userbar-collapse button {
    margin: 10px 0;
    width: 100%;
}

.user-coin-box {  margin-bottom: 20px;  }
.user-coin-box table tr td img,
.user-coin-box table tr td span {
    display: inline-block;
}

.user-coin-box table tr td span {  font-size: 18px;  }
.user-coin-box table tr td img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.user-detail img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 5px #fff;
}

.user-detail span {
    font-size: 18px;
    line-height: 35px;
    display: block;
    width: 100%;
}

.navbar-header-right li div {
    padding: 0 20px;
    line-height: 50px;
    border-right: solid 1px #02335c;
}

.navbar-header-right ul li i {
    font-size: 22px;
    color: #02335c;
}

.sport-bar,
.topmenu {
    background: linear-gradient(to right, #0059a3, #0091c8);
    background: -webkit-linear-gradient(to right, #0059a3, #0091c8);
    background: -moz-linear-gradient(to right, #0059a3, #0091c8);
    background: -o-linear-gradient(to right, #0059a3, #0091c8);
    background: linear-gradient(to right, #0059a3, #0091c8);
    width: 100%;
}

.box-other-news {
    clear: both;
    overflow: -webkit-paged-x;
    padding: 10px 0;
}

.box-other-news .thumbnail {
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

.box-other-news .thumbnail .title-owl-carousel {
    padding: 0 10px;
    text-align: left;
    color: #000;
    overflow: hidden;
    height: 50px;
    font-size: 18px;
    line-height: 20px;

}

.box-other-news .thumbnail .times-content {  padding: 10px 10px 0 10px;  }

.wrap-box-content-news {  padding: 10px 0;  }

.wrap-box-news h2 {
    font-family: "rsuregular", Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #003a6c;
    padding-top: 15px;
}

.box-other-news > .rows > .col-sm-4,
.box-other-news > .rows > .col-sm-3 {
    margin-bottom: 20px;
}

.box-other-news > .rows > .col-sm-4:first-child,
.box-other-news > .rows > .col-sm-3:first-child {
    border: 0;
}

.tab-pane-league .tab-color {  padding: 0;  }

.tab-color {
    padding: 12px;
    background-color: #ebecec;
    width: 100%;
    margin-bottom: 10px;
}

.wrap-box-livescore {  padding: 5px 0;  }

.box-livescore td {
    padding: 3px 2px;
    vertical-align: middle;
}

.box-livescore img {
    width: 30px !important;
    float: left;
    height: 30px
}

.box-livescore span {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-livescore strong, table.table-point th {
    color: #000;
}

.box-results img {  width: 20px;  }

span.title-box-results {
    font-size: 26px;
    color: #02335c;
}

table.table-live tr:nth-of-type(odd),
table.table-point tr:nth-of-type(odd) {
    background-color: #e7eaec;
}

table.table-live tr:hover,
table.table-point tr:hover {
    background-color: rgba(25, 59, 106, 0.2);
    color: #193b65;
}

table.table-point tr td:first-child {
    text-align: center;
}

table.table-point tr td:last-child {
    font-weight: bold;
    text-align: center;
}

table.table-live td {
    border-bottom: solid 1px #ddd;
    text-align: center;
}

table.table-live td:last-child, table.table-live td:first-child {
    width: 47%;
}

table.table-live td:first-child {
    text-align: right;
}

table.table-live td:last-child {
    text-align: left;
}

.bx-top-records table tr td div.txt-point {
    font-size: 1.5em;
    color: #193b65;
    border-radius: 50%;
    width: 40px;
    line-height: 40px !important;
    background-color: #fff;
    height: 40px;
    text-align: center;
    margin-right: 18px;
}

.txt-point, table.table-list-othertop td:last-child, .info {  color: #008abc;  }

table.table-list-othertop tr td span {
    color: #fff;
    border-radius: 50%;
    font-size: 1em;
    width: 25px;
    line-height: 25px !important;
    height: 25px;
    text-align: center;
    background-color: #2984CC;
    margin-right: 23px;
}

.box-results span {  display: block;  }

table.table-point th, table.table-point td, table.table-live td {
    padding: 8px 5px;
}

.nav-tabs-league li {
    width: 14.28%;
    text-align: center;
}

.nav-tabs-league li > a {
    color: #003a6c;
    font-size: 1.2em;
    padding: 8px 0px !important;
    font-weight: bold;
    margin-bottom: -1px;
}

.nav-tabs-league img {
    width: 30px;
    height: 30px;
}

.h-records {
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.bx-top-records {
    padding: 5px 10px;
}

.bx-top-records {
    display: block;
    float: left;
    background: url("/images/bg-top-score.jpg");
    width: 277px;
    height: 80px;
}

.bx-top-records table {  width: 100%;  }
.bx-top-records table tr td {
    padding: 0 5px;
    color: #fff;
    line-height: 75px;
}

.bx-top-records table tr td.image-logo-topScore {
    vertical-align: top !important;
    position: absolute;
}

.bx-top-records table tr td.image-logo-topScore img {
    width: auto;
    height: 23px;
    margin-left: -23px;
}

.bx-top-records table tr td.image-name-topScore img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.7);
}

.bx-top-records table tr td:first-child {  width: 5%;  }

.name-top-records {
    display: block;
    width: 111px;
    padding-left: 10px;
    font-size: 1.1em;
    line-height: 21px;
}

table.table-list-othertop td:first-child {
    width: 15%;
    text-align: center;
}

table.table-list-othertop td {
    line-height: 38px;
    border-bottom: solid 1px #ddd;
}

table.table-list-othertop td div.name-list-othertop {
    width: 150px;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bg-full {  position: relative;  }

.table-rank-index {  background: none !important;  }
.table-rank-index th {  color: #ccc;  }
.table-rank-index strong, table.table-team-index td {  color: #eee;  }
.table-rank-index td, .table-rank-index td:nth-child(2) {
    border: 0 !important;
    color: #eee !important;
}

.table-rank-index td {  padding: 5px !important;  }
.table-rank-index td:last-child {  color: #FFC107 !important;  }
.table-rank-index td:first-child {
    width: 10% !important;
    text-align: center;
}

.table-rank-index tr:first-child > td:first-child {
    background-color: #0092c3;
}

.table-rank-index tr:nth-child(2) > td:first-child {
    background-color: #00749a;
}

.table-rank-index tr:nth-child(3) > td:first-child {
    background-color: #005b78;
}

.table-rank-index tr:nth-child(4) > td:first-child, .table-rank-index tr:nth-child(5) > td:first-child, .hover-games:hover {
    background-color: #223547;
}

.hover-games {  border-bottom: solid 1px #094775;  }

.box-coment-index strong {  color: #fff !important;  }

.cm-msg {  color: #ccc;  }

.hilight-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url('/images/bg-sportball.png');
    background-size: cover;
}

.box-ads-index {
    background-color: #003f6e;
    text-align: center;
    padding: 10px 10px 5px 10px;
    border: 0px !important;
}

.box-comment-index strong {  color: #fff !important;  }

.wrap-games {  margin-top: 20px;  }
.wrap-games .col-sm-8 {  padding-right: 0;  }
.wrap-games .col-sm-3 {  padding-left: 0;  }

table.table-games td {
    width: 50%;
    text-align: center;
    color: #fff;
}

table.table-games2 td {  background-color: #003f6e;;  }
table.table-games span {
    font-size: 2em;
    font-family: "rsuregular", Arial, sans-serif;
}

table.table-games .progress {
    height: 10px;
    border-radius: 0;
    margin-bottom: 0;
}

table.table-hdp td {  width: 33.33%;}

.bx-head-team {
    height: 180px;
    position: relative;
    cursor: pointer;
}

.vote-already {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    color: #fff;
    opacity: 0.9;
    z-index: 2;
    font-weight: bold;
    padding-top: 20px;
}

.bx-logo-team {
    position: absolute;
    font-size: 4em;
    color: #fff;
    width: 50%;
    height: 50%;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 9;
}

.box-selected-index {
    padding-top: 14px !important;
}

.box-selected-index img {
    width: 125px !important;
    height: 125px !important;
}

#fade-in-index.show, #fade-in-right-index.show {
    width: 50%;
    top: 0;
}

#fade-in-index {
    left: 0;
}

#fade-in-index, #fade-in-right-index {
    padding-top: 1%;
    height: 100%;
    position: fixed;
    /*width: 50%;*/
    width: 0;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(0, 58, 108, 0.95);
    transition: all .5s ease;
}

#fade-in-right-index {
    right: 0;
    background-color: rgba(140, 0, 0, 0.95);
}

.block-close-vote .box-button {
    margin: 0 auto;
    width: 150px;
}

.block-close-vote {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.block-close-vote .box-button button {
    background-color: #f1f1f1;
    padding: 10px 5px;
    border-radius: 40px;
    font-size: 18px;
}

div.box-fade:before {

}

.close-tab {
    color: white;
    padding: 10px;
    font-size: 1.4em;
}

.close-tab:hover {
    color: #000;
    cursor: pointer;
}

.bt-play {
    display: inline-block;
    background-color: #fff;
    color: #003f6e;
    padding: 8px;
    width: 35%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bt-play:hover {
    font-weight: bold;
    cursor: pointer;
}

.bx-icon-stat {
    padding-bottom: 5px;
}

.bx-icon-stat img {
    width: 18px;
}

.bx-logo-team img {
    width: 100px;
    height: 100px;
}

.bx-hdp {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    color: #000;
    margin-bottom: 5px;
}

.box-hdp-vote {
    background-color: #eee;
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bx-vote {
    padding-top: 0px;
}

.bx-division, .name-team {
    font-family: "rsuregular", Arial, sans-serif;
}

.name-team {
    font-size: 28px;
}

.wrap-vote {
    width: 22%;
    position: absolute;
    top: 158px;
    left: 0;
    right: 0;
    margin: auto;
}

.bx-division, .bx-hdp, .bx-vote {
    /*bottom: 0;*/
    cursor: pointer;
    z-index: 110;
    padding: 5px;
}

.bx-vote h3 {
    font-size: 1.5em;
    font-family: 'Pridi', serif;
}

li.bg-info {
    background-color: #0091c8;
    color: #fff;
    padding: 2px 15px !important;
}

.bx-hdp li {
    display: inline-block;
    padding: 0px 5px;
}

table.table-xx td {
    width: 33.33%;
}

table.bx-comments td {
    text-align: left;
    line-height: 20px;
}

table.bx-comments td:first-child {
    width: 2%;
}

.bx-comments-img {
    display: block;
    width: 25px;
    height: 25px;
}

.bx-comments-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
}

.name-comment {
    color: #ccc;
}

.content-comment {
    width: 59%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-box-comments {
    width: 98%;
    padding: 5px 10px;
}

.btn-bluesea, .wrap-box-comments, .bx-type-comment input, .h-tabs-game {
    background-color: #003f6e;
}

td.bx-type-comment {
    padding: 5px !important;
}

.bx-type-comment input {
    border: 0px;
    width: 93%;
    float: left;
    color: #fff;
}

.h-tabs-game {
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-family: rsuregular;
}

table.table-list-games td {
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
}

.box-gameslist {
    border-bottom: solid 1px #003f6e;
}

label.info {
    color: #0092c3;
}

.table-game-all > .actived {
    background-color: #0092c3;
}

.actived label {
    color: #fff !important;
}

.col-box > .h-top-col {
    color: #fff;
    font-size: 1.6em;
    padding: 5px 0px;
}

.bx-rank-img, .bx-rank-img img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.bx-rank-img img {
    border-radius: 50%;
    border: solid 3px #fff;
}

.col-box td {
    padding: 0px 5px;
    color: #fff;
    line-height: 25px;
}

.col-box td:first-child {
    text-align: center;
    width: 15%;
}

.col-box td:last-child {
    text-align: right;
}

.ranking-box {
    /*border:solid 1px;*/
}

.ranking-one {
    background-color: #0092c3;
}

.ranking-two {
    background-color: #00749a;
}

.ranking-three {
    background-color: #005b78;
}

.ranking-other {
    background-color: #1b314b;
}

.box-prize {
    background-color: rgba(0, 63, 110, 0.8);
    text-align: center;
    color: #fff;
    font-family: "rsuregular", Arial, sans-serif;
    font-size: 1.5em;
    padding: 10px;
}

.box-prize img {
    margin-bottom: 10px;
}

.h-title {
    font-size: 1.5em;
    line-height: 20px;
}

.login-facebook {
    color: #fff;
    padding: 8px 0px 0px 0px;
    cursor: pointer;
}

.wrap-box-news-list {
    margin-top: -5px;
}

.container-foreignNews-index .content-foreignNews-index {
    background-color: #f1f1f1;
    z-index: 0;
}

.content-foreignNews-index .bx-story-content {
    padding: 10px;
}

.content-foreignNews-box {
    float: left;
    width: 1170px;
}

.tab-date-played, table.table-point th {
    padding: 5px;
    background-color: #2984CC;
    /*background-color: #fff;*/
    color: #fff;
    font-weight: bold;
}

/*.wrap-height {*/
/*height: 400px;*/
/*overflow-y: auto;*/
/*border:solid 1px red;*/
/*}*/
.menu-foreignNews-index {
    /*position: relative;*/
    /*overflow-x: hidden;*/
    /*z-index: 1;*/
    /*-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);*/
    /*box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);*/
}

.menu-foreignNews-index li .tab-h-content img {
    height: 32px;
    /* line-height: 51px; */
    padding-right: 10px;
    margin-bottom: 15px;
}

.menu-foreignNews-index li .tab-h-content img,
.menu-foreignNews-index li .tab-h-content span {
    display: inline-block;
}

.wrap-box-results .col-sm-3,
.wrap-box-results .col-sm-4,
.wrap-box-results .col-sm-5 {

    /*border-left: solid 1px #ccc;*/
}

.wrap-box-results .nano .content {
    padding: 0;
}

.wrap-box-results > .col-sm-4:first-child {
    /*border-left: 0;*/
}

.wrap-box-news {
    margin-top: 15px;
}

.recent-hothit-videos .box-videos,
.recent-higtlight-match .box-videos {
    height: 211px;
}

.recent-videos-top .box-videos,
.recent-hothit-videos .box-other-news-small .box-videos,
.recent-higtlight-match .box-other-news-small .box-videos {
    height: 155px;
}

.wrap-box-news-list .nav-tabs li.tab-pane-news a {
    /*font-size: 30px;*/
    padding: 10px 20px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    color: #aaaaaa;
    cursor: pointer;
}

.wrap-box-news-list .nav-tabs {

    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.wrap-box-news-list .nav-tabs li.tab-pane-news a:hover {
    background-color: transparent;
}

.wrap-box-news-list .nav-tabs li.tab-pane-news.active a,
.wrap-box-news-list .nav-tabs li.tab-pane-news.active a:focus,
.wrap-box-news-list .nav-tabs li.tab-pane-news.active a:hover {
    color: #02335c !important;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: solid 2px #02335c;
}

.menu-foreignNews-index li .tab-h-content img,
ul.nav.nav-tabs.nav-tabs-league li a {
    font-size: 16px;
    color: #555;
    opacity: 0.5;
    background-color: transparent;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.menu-foreignNews-index li.active .tab-h-content img,
ul.nav.nav-tabs.nav-tabs-league li a:hover {
    border-bottom: solid 1px transparent;
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: .2s;
    opacity: 1;
}

ul.nav.nav-tabs.nav-tabs-league li.active a,
ul.nav.nav-tabs.nav-tabs-league li.active a:focus,
ul.nav.nav-tabs.nav-tabs-league li.active a:hover {
    color: #02335c !important;
    border: 0;
    border-bottom: solid 5px #02335c;
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: .2s;
    opacity: 1;
}

.tab-h-content span {
    cursor: pointer;
    /*color: #003a6c;*/
}

.tab-h-content span {
    font-size: 2.6em;
}

.more {
    padding-top: 40px;
    font-size: 1.2em;
    color: #003a6c;
    padding: 5px 10px;
    border: solid 1px #003a6c;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.sexy-football-topic {
    display: block;
    float: left;
    width: 100%;
    border-bottom: solid 1px #D0D8DB;
}

.sexy-football-topic .pull-left span {
    cursor: default;
}

.more:hover {
    color: #fff;
    background-color: #003a6c;
    cursor: pointer;
}

a.more-btn:hover {
    color: #fff;
}

a.more-btn {
    margin-top: 13px;
    display: block;
    float: left;
    background: url(/images/bg-more.png);
    width: 98px;
    height: 39px;
    padding-left: 35px;
    line-height: 39px;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
}

.footer {
    background-color: #02335c;
    padding: 10px;
    width: 100%;
    color: #fff;
}

.footer span {
    color: #999;
}

.footer a {
    color: #fff;
    padding-left: 5px;
}

.bx-head {
    float: left;
    font-weight: normal;
    margin: 0 10px 0 10px;
    width: 15%;
}

.bx-icon-vote {
    position: absolute;
    top: 5px;
    left: 100%;
}

.bx-sidebar-left h3 {
    margin: 0;
}

.bx-sidebar-left table tr td:first-child {
    width: 10%;
}

.bx-sidebar-left table tr td {
    text-align: left;
}

.bx-sidebar-left table tr td h3,
.bx-sidebar-left table tr td span {
    padding-left: 10px;
}

.hotNew-side {
    background-color: rgba(0, 0, 0, 0.1);
}

.hotNew-side .times-content {
    display: block;
    float: left;
    padding: 0 5px;
    background-color: #003a6c !important;
    color: #fff !important;
}

.hotNew-side .box-popular-title {
    width: 100%;
    display: block;
    padding: 5px 0;
}

.hotNew-side .bx-popular-news img {
    margin: 0;
}

.bx-popular-news:hover div.box-popular-title {
    text-decoration: underline;
    transition: .2s;
}

.bx-popular-news:hover img {
    opacity: 0.75;
    transition: .2s;
}

.section-games {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 595px;
    background-color: #f1f1f1;
}

.wrap-box-livescore {
    position: relative;
}

.bt-backword, .bt-forward, .slide-back, .slide-next {
    position: absolute;
    top: 20px;
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    z-index: 99;
}

.bt-backword:hover, .bt-forward:hover {
    color: #003a6c;
}

.bt-backword {
    left: -20px;
}

.slide-back, .slide-next {
    top: 90px;
}

.bt-forward {
    right: -20px !important;
}

.bt-sign-left, .bt-sign-right {
    top: 80px;
}

.bt-sign-left {
    left: 0px !important;
}

.bt-sign-right {
    right: 0px !important;
}

.bx-status-nodata {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0px;
    font-size: 2.5em;
    color: #c5c5c5;
    font-family: 'Pridi', serif;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999;
}

.top-docs-header {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    background: url("/images/image-livescore.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom: 20px;
    border-bottom: solid 5px #02335c;
    z-index: 10;
}

.container-rule h1 {
    margin-top: 0;
}

.container-rule ul {
    padding-left: 40px;
}

.container-rule ul li {
    font-size: 18px;
    line-height: 35px;
    list-style-type: disc;
}

.video-cover-index {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background: url("/images/background-Highlight.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #050f19;
    background-size: cover;
    line-height: 500px;
    margin: 50px 0;
}

.video-cover-index span {
    display: block;
    text-align: center;
    width: 100%;
}

.video-cover-index span img {
    width: 40%;
}

td.score-box-results {
    width: 10%;
}

.box-results-tablet tr td span,
.box-results-tablet tr td img,
table.table-point tr td img,
.name-cut {
    display: inline-block;
    vertical-align: middle;
}

.box-results-tablet tr td span {
    font-size: 12px;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif !important;
}

.title-owl-carousel {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    margin: 5px 0 0;
    min-height: auto !important;
}

.container-mobile {
    display: none;
}

#wrapper {
    display: none;
}

li.text-event {

}

li.text-event img {
    height: 40px;
    margin-top: -20px;
}

@keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #ffae00;
    }
}

@-webkit-keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #ffae00;
    }
}

.blink {
    color: #fff;
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

.content-filter-desktop {
    display: block;
}

.content-filter-mobile {
    display: none;
}
#main-home .box-guru-img img {
    width: 130px;
    height: 100%!important;
}
#main-home .thumbnail.box-preview{height: 90px;}
#main-home .thumbnail.content-team-slide{
    margin: 20px 0 0 0!important;
}
#main-home .box-HDP-game table tr td{
    width: 30%;
}
@media (min-width: 320px) and (max-width: 750px) {
    .container-videoMain-index {
        padding: 0;
    }

    .label-vdo:before,
    .label-vdo:after {
        width: 26%;
    }

    .label-highlight-index {
        font-size: 18px !important;
        margin: 10px 0 !important;
        /* margin-bottom: 15px; */
        padding: 0;
        width: 100% !important;
        text-align: center !important;
        transform: none !important;
        position: relative !important;
        height: auto !important;
        display: inline-block;
        top: 0;
    }

    .content-filter-desktop {
        display: none;
    }

    .content-filter-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }

    .content-filter-mobile .btn i {
        color: white;
    }

    .select-text {
        width: 100%;
        display: inline-block;
    }

    .content-filter-mobile img {
        width: 18px!important;
        height: 18px!important;
        margin-right: 10px;
    }
    .content-filter-mobile .list-league{
        padding: 5px 0!important;
        line-height: 32px!important;
    }
    content-filter-mobile .list-league {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 32px;
        line-height: 20px;
        padding: 10px 0;
    }
    .header-filter .dropdown ,
    .header-filter .dropdown .btn ,
    .header-filter .dropdown-menu{
        width: 95%;
    }
    .container-feature-video .box-large-videos iframe{
        margin-top: 26px;
        height: auto!important;
        position: relative!important;
        top: 0!important;
        left: 0;
    }
    .box-large-videos{
        height: 50%!important;
    }
    .content-large-videos h1 {
        font-size: 16px!important;
        line-height: 25px;
        text-align: center;
    }
    #btn_Close_Iframe,
    .container-fluid-resp{
        display: none!important;
    }
    #box-large-videos-autoPlay{width: 100%;}
    .box-lists {
        height: 100%!important;
    }
    .bx-publish-info {
        margin-top: 0;
        border-color: transparent!important;
        text-align: center;
    }
    .bx-social {
        font-size: 1.5em;
        text-align: center;
        width: 100%!important;
    }
    .fb-share-button span {
        width: 100%!important;
        vertical-align: top!important;
        height: 20px!important;
    }
    .link-footer{display: none;}
    .link-footer li{
        display: inline-block;
        width: 100%;
        text-align: left;
        margin: 0;
    }
    .link-footer li a {
        border-left: solid 1px transparent!important;
        padding: 0!important;
    }
    .link-footer li a:before{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        content: "\f111";
        margin-right: 5px;
    }
}

@media only screen and (max-width: 750px) {
    .content-profile-menu ul li {
        padding: 0;
    }

    .content-menu-index {
        z-index: 11;
    }

    .affix .hamburger,
    .box-content-wrapper.affix {
        top: 29px;
    }

    .affix .topmenu {
        display: none;
    }

    .relate25:after {
        width: 26% !important;
    }

    .box-videos {
        height: 154px;
        overflow: hidden;
    }

    .title-h-videos {
        min-height: 0 !important;
    }

    .title-owl-carousel {
        margin: 0;
    }

    .times-content {
        font-size: 11px;
        color: #aaa;
        margin-bottom: 25px;
    }

    .title-owl-carousel,
    .title-owl-carousel a {
        font-size: 14px;
    }

    .label-vdo,
    .label-clip,
    .label-news-vertical {
        font-size: 2em !important;
        color: #555;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        width: 100% !important;
        text-align: center !important;
        transform: none !important;
        position: relative !important;
        height: auto !important;
    }

    .label-vdo:before,
    .label-vdo:after {
        display: inline-block;
        margin: 0 20px 8px 0;
        height: 1px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 20%;
    }

    .label-vdo:before {
        margin: 0 20px 8px 0;
    }

    .label-vdo:after {
        margin: 0 0 8px 20px;
    }

    #fb-name {
        display: none;
    }

    .main-content-video iframe {
        height: auto;
        margin-bottom: 10px;
    }

    .box-other-news .thumbnail .title-owl-carousel {
        display: -webkit-box;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 30px;
        line-height: 25px;
    }

    .box-other-news .thumbnail .times-content {
        padding: 0 0 0 10px;
    }

    .box-other-news .thumbnail {
        margin-bottom: 10px;
    }

    .box-other-news .thumbnail .title-owl-carousel {
        padding-top: 0 !important;
    }

    .box-other-news .thumbnail .times-content i {
        display: none;
    }

    .bx-gallery, .bx-gallery-big,
    .wrap-box-gallery {
        width: 100%;
        /*overflow: inherit!important;*/
    }

    .container-sexyFootball-index .container {
        padding: 0;
    }

    a.more-btn {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {
    .recent-hothit-videos .box-videos,
    .recent-higtlight-match .box-videos {
        height: 167px;
    }

    .recent-videos-top .box-videos,
    .recent-hothit-videos .box-other-news-small .box-videos,
    .recent-higtlight-match .box-other-news-small .box-videos {
        height: 124px;
    }

    .topmenu .container,
    .bx-top-records,
    .content-menu-index.affix .logo-menu,
    .content-menu-all.affix .logo-menu,
    .nav-tabs-league li a span,
    .box-popular-title,
    .main-menu-index .container.container-wide {
        width: 100%;
    }

    #fb-name {
        display: none;
    }

    .bx-menu-dropdown .list-content-big-menu ul > li > a {
        font-size: 14px;
        line-height: 30px;
    }

    .bx-story-content {
        padding: 1% 0 0 0;
    }

    .bx-story-big .bx-story-content .h-content {
        font-size: 23px;
    }

    .nav-menu-main .bx-menu-dropdown h3 {
        font-size: 16px;
    }

    .nav-pills > li > a {
        padding: 0 10px !important;
    }

    .content-menu-index .navbar-top a {
        /*padding: 0 10px;*/
        font-size: 12px;

    }

    .content-menu-index.affix .logo-menu,
    .content-menu-all.affix .logo-menu {
        display: block;
        float: left;
        height: auto;
        text-align: center;
    }

    .content-menu-index.affix .nav-menutop,
    .content-menu-all.affix .nav-menutop {
        margin: 0;
        text-align: center;
    }

    .content-menu-index.affix .nav-menutop ul li {
        display: inline-block;
        float: none;
    }

    .wrap-box-most-popular h2 {
        font-size: 21px;
        margin: 0;
        font-weight: bold;
    }

    .content-foreignNews-box {
        width: 768px;
    }

    .wrap-box-news-list .container {
        padding: 0;
    }

    .nav-tabs-league li a {
        text-align: center;
    }

    .nav-tabs-league li a span {
        display: block;
        line-height: 18px;
        font-size: 14px;
        padding-top: 10px;
    }

    table.table-point tr td {
        padding: 3px;
    }

    table.table-point tr td img {
        display: block;
        float: left;
    }

    .bx-top-records table tr td div.txt-point {
        margin-right: 0
    }

    .name-cut {
        display: block;
        float: left;
        width: 50px;
        font-size: 12px;
        line-height: 23px;
        padding-left: 3px;
        overflow: hidden;
        height: 23px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    table.table-list-othertop td div.name-list-othertop {
        width: 120px;
    }

    .name-top-records {
        width: 80px;
        padding-left: 0;
        font-size: 14px;
        line-height: 21px;
    }

    .bx-top-records table tr td.image-name-topScore img {
        width: 30px;
        height: 30px;
    }

    .box-results-tablet tr td {
        padding: 0;
    }

    .box-results-tablet tr td span,
    .box-results-tablet tr td img {
        display: inline-block;
        vertical-align: middle;
    }

    .box-results-tablet tr td span {
        border: 0;
        width: 40px;
        font-size: 12px;
        line-height: 23px;
        overflow: hidden;
        height: 23px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif !important;
    }

    td.score-box-results {
        width: 20%;
    }

    span.title-box-results {
        font-size: 20px;
    }

    table.table-live td:last-child,
    table.table-live td:first-child {
        width: auto;
    }

    .title-owl-carousel,
    .box-other-news .thumbnail .title-owl-carousel,
    .box-popular-title,
    .bx-story-small > .bx-story-content > .h-content,
    .bx-story-medium > .bx-story-content > .h-content,
    .wrap-box-videos .title-owl-carousel {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .wrap-lastnews .bx-story-medium {
        height: 170px;
    }

    .box-popular-title {
        float: left;
        padding-left: 0;
    }

    .box-popular a {
        display: none;
        float: left;
        width: 55px;
        height: 55px;
        background-color: #ddd;
    }

    .box-popular .times-content {
        font-size: 10PX;
    }

    .box-other-news .thumbnail .title-owl-carousel {
        padding: 10px;
    }

    /*.label-vdo,*/
    /*.label-clip,*/
    /*.label-news-vertical {*/
    /*display: none;*/
    /*}*/
    .box-related div.icon-play i {
        width: 35px;
        height: 35px;
        line-height: 30px;
        border: .25rem solid #fff;
        font-size: 15px;
    }

    .box-video #box-video-main-index iframe {
        height: 328px;
    }

    .owl-carousel {
        margin-top: 10px;
        float: left;
    }

    .owl-theme .owl-nav {
        margin-top: -15px;
    }

    .label-others {
        font-size: 2em;
        width: 100%;
        transform: none;
        /* position: absolute; */
        height: auto;
        color: #555;
        font-weight: bold;
        position: relative;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        text-align: center;
        font-family: 'Pridi', serif;
    }

    .label-others:after {
        margin: 0 0 8px 20px;
    }

    .label-others:before {
        margin: 0 20px 8px 0;

    }

    .label-others:after,
    .label-others:before {
        display: inline-block;

        height: 1px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 30%;
    }

    .content-menu-index {
        height: auto;
    }

    .label-news-clip {
        display: none;
    }

    #wrapper {
        display: block;
    }

    .content-menu-index .navbar {
        min-height: 0;
    }

    .box-content-wrapper img {
        height: 35px;
        padding: 0;
        margin-top: 10px;
    }

    .box-content-wrapper {
        text-align: center;
        position: fixed;
        top: 29px;
        display: block;
        float: left;
        width: 100%;
        background-color: #092740;
        height: 55px;
        z-index: 10;
    }

    .affix .box-content-wrapper {
        z-index: 99;
    }

    .affix#sidebar-wrapper {
        margin-top: -33px;
    }

    .affix .hamburger,
    .box-content-wrapper.affix {
        top: 0;
    }

    .affix .hamburger {
        margin-top: 10px;
    }

    .bar-menu,
    .main-menu-index {
        display: none;
    }

    .container-mobile {
        display: block;
    }

    .content-livescore-main.content-game-redesign {
        margin-top: 37px !important;
    }

    .sidebar-nav li a {
        font-size: 16px;
    }

    .content-profile-menu .dropdown-menu {
        right: 0;
    }

    .content-profile-menu .popover .arrow {
        display: none;
    }

    .content-profile-menu .dropdown-menu .popover a {
        font-size: 25px;
    }

    .content-profile-menu .dropdown-menu label {
        display: none;
    }

    .dropdown-menu-profile li > a {
        line-height: 37px;
        font-size: 17px;
        border-bottom: solid 1px #eee;
    }
}
