h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif !important;
}

.side-select.affix,
.side-select {
    position: fixed;
    width: 270px;
    left: 0;
    padding-bottom: 15px;
    border-right: solid 1px #ddd;
    background-color: #fff;
}

.side-select {
    height: 87%;
    top: 80px;
}

.side-select.affix {
    top: 0;
    height: 100%;
}

.side-select {
    overflow-y: scroll;
    padding: 0 10px;
}

.side-select ul {
    margin: 0;
}

.side-select ul li {
    display: inline-block;
    width: 100%;
}

.side-select ul li.active,
.side-select ul li.active:hover,
.side-select ul li a:hover {
    background-color: #f1f3f6;
}

.side-select ul li a:hover h5,
.side-select ul li.active a h5,
.side-select ul li a:hover span.num-side,
.side-select ul li.active a span.num-side,
.side-select ul li.active:hover a h5 {
    color: #00a7fb;
}

.side-select ul li a {
    position: relative;
    display: block;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 4px;
    color: #404040;
    padding: 0 5px !important;
}

.side-select ul li a > h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #404040;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
}

.side-select ul li a:hover,
.side-select ul li a:hover > h5 {
    text-decoration: none !important;
}

.side-select ul li h5,
.side-select ul li img,
.side-select ul li span {
    display: inline-block;
    vertical-align: middle;
}

.side-select ul li span.num-side {
    font-size: 14px;
    float: right;
    color: #404040;
    padding-top: 3px;
}

.side-select ul li a img {
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
}

.side-select .text-title {
    margin-top: 23px;
}

.side-select .text-title:after {
    border-bottom: 1px solid #404040;
}

.side-select .text-title h4 {
    font-size: 15px !important;
}

.content-all-table {
    display: block;
    width: 100%;
    padding-left: 270px;
    min-height: 2000px;
    padding-right: 10px;
}

.content-event-match {
    min-height: 397px;
    padding: 0 8px;

}

/*Off-canvas Side Nav with Adaptive Main Content*/

.hamburger-live-match {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.hamburger-live-match:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f053";
    float: right;
}

.sidenav-active .hamburger-live-match:before {
    content: "\f054";
}

.hamburger-live-match:hover {
    cursor: pointer;
}

.side-select {
    width: 270px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.side-select,
.hamburger-live-match,
.cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .side-select,
.sidenav-active .cover {
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
}

.sidenav-active .content-all-programe {
    width: 100%;
    margin-left: 0;
    padding: 0 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .content-all-programe {
    margin-left: 0;
}

/*Calendar*/
.calendar-box {
    padding-top: 5px;
}

.calendar-box table tr th,
.calendar-box table tr td {
    text-align: center;
}

.calendar-box table tr th {
    font-size: 12px;
    color: rgba(0, 0, 24, .44);
    padding: 8px 0 12px;
}

.calendar-box table tr td a {
    display: block;
    font-size: 12px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 0 auto 4px;
    border-radius: 50%;
    color: #404040;
    font-weight: bold;
}

.calendar-box table tr td a:hover {
    color: #0a8dff;
}

.calendar-box table tr td a.other-month {
    color: rgba(0, 0, 24, .44);
}

a.state-highlight-active,
a.state-highlight-active:hover {
    color: #fff !important;
    background-color: #0a8dff !important
}

.month-tab {
    padding-top: 5px;
}

.month-tab div {
    flex: 1;
}

.month-tab div.month-title {
    flex: 2;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.month-prev:before,
.month-next:before {
    display: inline-block;
    font-family: 'FontAwesome', Arial;
    font-size: 20px;
    cursor: pointer;
}

.month-prev.none-active:before,
.month-next.none-active:before {
    opacity: 0.2;
    cursor: default !important;
}

.month-prev:before {
    content: "\f0d9";
}

.month-next:before {
    content: "\f0da";
}

/*content league*/
.content-table-league {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: inline-block;
    padding-right: 290px;
}

.content-table-league .tab-content {
    width: 100%;
    padding: 0 10px;
}

.topic-league {
    background-color: #fff;
    margin: 0;
    height: 48px;
    text-align: center;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

.topic-league .logo {
    width: 35px;
    padding-right: 5px;
}

.topic-league .logo img {
    width: 100%;
}

.topic-league .content ul li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 5px;
}

.topic-league .logo,
.topic-league .content {
    vertical-align: middle;
}

.topic-league .content h2 {
    margin: 0;
    font-weight: 500;
}

.topic-league .nav {
    text-align: center;
    margin: 0 auto!important;
    border-radius: 4px;
    display: inline-block;
    background-color: transparent;
    border: solid 1px transparent;
}

.topic-league .nav li{vertical-align: bottom;}
.topic-league .nav li a {
    padding: 20px 20px 0 20px;
    border-radius: 0;
    color: rgba(85,85,85,0.5);
    font-size: 18px;
    font-weight: 500;
}
.topic-league .nav li a:hover{background-color: transparent}
.topic-league .nav li.active a,
.topic-league .nav li.active a:hover,
.topic-league .nav li.active a:focus {
    background-color: transparent;
    color: rgba(85,85,85,1);
    border-bottom: solid 5px #1b6d85;
}

.topic-league .nav li.active a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f00c";
    margin-right: 5px;
}

.title-league {
    margin: 20px 0;
}

.title-league .logo {
    width: 32px;
    margin-right: 10px;
}

.title-league .logo img {
    width: 100%;
}

.title-league .logo,
.title-league .content {
    vertical-align: top;
}

.title-league .content h2 {
    margin: 0;
    font-size: 23px;
}
.title-league .content ul li{
    display: inline-block;
    font-size: 11px;
}
.nav.nav-table-league-detail li a {
    padding: 3px 8px !important;
}

.content-table-league-detail {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
}

.content-table-league-detail table tr th {
    text-align: center;
    font-size: 12px;
    color: grey;
    border-bottom: solid 1px #eee;
}

.content-table-league-detail table tr th,
.content-table-league-detail table tr td {
    /*font-size: 13px;*/
    padding: 4px 0;
}

.content-table-league-detail table tr td span.logo img {
    width: 21px;
}

.content-table-league-detail table tr td {
    text-align: center;
    padding: 5px 8px;
}

.content-table-league-detail table tr td h4 {
    margin: 0;
    font-size: 13px;
}

.content-table-league-detail table tr {
    border-bottom: solid 1px #eee;
}

.content-table-league-detail table tbody tr:last-child {
    border-bottom: 0;
}

.content-table-league-detail table tr td.topic {
    text-align: left;
    width: 50%;
}

.content-table-league-detail table tr td.topic span,
.content-table-league-detail table tr td.topic h4 {
    display: inline-block;
    vertical-align: middle;
}

.static-last-play div {
    display: inline-block;
}

.content-table-league-detail tr td span {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;

}

span.stand-ucl {
    background-color: #459428;
}

span.stand-uefa {
    background-color: #0a8dff;
}

span.stand-fall {
    background-color: #d60620;
}

span.stand-ucl,
span.stand-uefa,
span.stand-fall {
    color: #fff;
}

/*side-list-video*/
.side-list-video {
    width: 300px;
    position: fixed;
    height: 87%;
    right: 0;
    top: 80px;
    background-color: #00244d;
    /*background-image: url(/images/bg-sportball.jpg);*/
}

.side-list-video.affix {
    top: 0;
    position: fixed;
    width: 300px;
    height: 100%;
}

.side-list-video ul.nav {
    /*display: flex;*/
}

.side-list-video ul.nav li {
    display: inline-block;
    width: 50%;
}

.side-list-video ul.nav li a {
    margin: 0;
}

.side-list-video ul.nav li a {
    text-align: center;
}

.side-list-video ul.nav li a span {
    z-index: 1;
    position: relative;
    font-size: 16px;
    color: #fff;
    line-height: 33px;
}

.side-list-video ul.nav li a,
.side-list-video ul.nav li.active a,
.side-list-video ul.nav li.active a:hover,
.side-list-video ul.nav li a:hover {
    border-radius: 0;
    border: 0;
    z-index: 1;
}

.side-list-video ul.nav li:nth-child(1).active a span,
.side-list-video ul.nav li:nth-child(1) a:hover,
.side-list-video ul.nav li:nth-child(1):hover,
.side-list-video ul.nav li:nth-child(1) a span:hover,
.side-list-video ul.nav li:nth-child(1).active a span:hover {
    color: #000;
}

.side-list-video ul.nav li:first-child.active a,
.side-list-video ul.nav li:first-child.active a:hover,
.side-list-video ul.nav li:first-child a:hover,
.side-list-video ul.nav li:first-child a:before,
.side-list-video ul.nav li:first-child a:hover::before,
.side-list-video ul.nav li:first-child.active a:before {
    background-color: #ffd400;
}

.side-list-video ul.nav li a:hover::before,
.side-list-video ul.nav li.active a:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.side-list-video ul.nav li:last-child.active a,
.side-list-video ul.nav li:last-child.active a:hover,
.side-list-video ul.nav li:last-child a:hover,
.side-list-video ul.nav li:last-child a:before,
.side-list-video ul.nav li:last-child a:hover::before,
.side-list-video ul.nav li:last-child.active a:before {
    background-color: #d30a0b;
}

.side-list-video ul.nav li:last-child a:hover::before,
.side-list-video ul.nav li:last-child.active a:before {
    transform-origin: bottom right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.side-list-video ul.nav li:nth-child(2) a:hover,
.side-list-video ul.nav li:nth-child(2).active a:hover,
.side-list-video ul.nav li:nth-child(2).active a {
    color: #fff;
}

/*.side-list-video{position: relative;}*/
.side-list-video .tab-content {
    padding-top: 55px;
}

.side-list-video ul.nav {
    width: 300px;
    position: fixed;
    z-index: 1;
    background-color: #00244d;
}

.tab-pane-full-match .box-list-video .label-info,
.tab-pane-all-goal .box-list-video .label-info {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

.tab-pane-full-match .box-list-video:hover .label-info,
.tab-pane-full-match .box-list-video.active .label-info {
    background-color: #ffd400;
}

.tab-pane-all-goal .box-list-video:hover .label-info,
.tab-pane-all-goal .box-list-video.active .label-info {
    background-color: #d30a0b;
    color: #fff;
}

.box-list-video {
    padding: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
}

.box-list-video.active,
.box-list-video:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.box-list-video.active {
    padding-left: 30px;
}

.box-list-video.active:before {
    display: inline-block;
    position: absolute;
    left: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f04b";
    height: 85px;
    line-height: 85px;
    color: #fff;
}

.box-video-thumbnail {
    position: relative;
    width: 150px;
    height: 85px;

}

.box-video-thumbnail img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.highlight-thumbnail {
    position: relative;
}

.box-recent-thumbnail:hover .highlight-thumbnail:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    content: "\f04b";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    margin: auto;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 1;
    color: #fff;
    transition: .5s;
}

.box-recent-thumbnail:hover .highlight-thumbnail:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: .5s;
}

.box-video-detail p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-video-detail {
    color: #fff;
    flex: 3;
    padding: 0 5px;
}

.team-highlight .swiper-wrapper {
    padding: 15px 0 0 5px;
    /*height: 50px!important;*/
}

.logo-team-slide img {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.active .logo-team-slide img,
.logo-team-slide img:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    cursor: pointer;
    opacity: 1;
}

.active .logo-team-slide img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -5px;
}

.team-highlight {
    height: 50px;
}

.team-highlight .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.team-highlight .swiper-button-next,
.team-highlight .swiper-button-prev,
.team-highlight .swiper-container-rtl .swiper-button-next,
.team-highlight .swiper-container-rtl .swiper-button-prev {

    background-image: none;
}

.team-highlight .swiper-button-next:before,
.team-highlight .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-next:before {
    display: inline-block;
    margin-top: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f105";
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 20px;

    background-color: #aaa;
}

.team-highlight .swiper-button-prev:before,
.team-highlight .swiper-container-rtl .swiper-button-next:before {
    content: "\f104";
}

.team-highlight .swiper-button-prev {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 0;
}

.logo-team-slide {
    position: relative;
}

.side-list-video.affix {
    top: 0;
}

.container-fluid-video {
    margin-top: 15px;
    position: relative;
    padding-bottom: 56.25%;
    padding-left: 10px;
    height: 0;
}

.container-fluid-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-fluid-video.affix {
    position: fixed;
    bottom: 10px;
    width: 250px;
    height: 141px;
    z-index: 999;
    padding: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.container-fluid-video.affix iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.container-fluid-video-detail h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.container-fluid-video-detail {
    display: flex;
    margin-bottom: 50px;
}

.bt-title-video,
.bt-title-video-right {
    flex: 1;
}

.bt-title-video-right {
    padding-top: 20px;
}

.bt-title-video-right p:before {

}

.container-fluid-video-detail p {
    padding-right: 20px;
    margin: 0;
}

.container-fluid-video-detail .bt-share,
.container-fluid-video-detail p {
    display: inline-block;
    vertical-align: middle;
}

/*box-match-tournament*/

.box-match-tournament {
    padding: 10px 0;
}

.box-match-list-topic .pull-right {
    width: 21%;
}

.box-match-list-topic .pull-left {
    width: 70%;

}

.box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.box-match-list-topic p,
.box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.box-match-list-topic img {
    height: 15px;
    margin-right: 5px;
}

.box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.box-match-list {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}

.box-match-list-title-last {
    display: block;
    float: left;
    width: 100%;
    /*overflow: auto;*/
    margin-bottom: 15px;
    position: relative;

}

.box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
}

.box-match-list div:nth-of-type(3) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px #ced4da;
}

.box-match-list:last-child {
    margin-bottom: 0;
}

.time-match,
.date-match {
    border-right: solid 1px #ced4da;
}

.home-name-match,
.away-name-match {
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.home-name-match img,
.away-name-match img {
    height: 15px;
    margin-right: 5px;
}

.odds-match img,
.result-match img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.box-match-list-topic {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #f1f2f5;
}

/*Top Score*/
.table-topscore {
    margin: 0 10px;
}

.table-topscore table tr td:nth-child(2) img {
    border: 1px solid rgba(0, 12, 36, .14);
    width: 38px;
    vertical-align: top;
    height: 38px;
    min-width: 38px;
    border-radius: 50%;
    position: relative;
}

.table-topscore table {
    width: 100%;
}

.table-topscore table tr {
    border-bottom: solid 1px #f1f1f1;
}

.table-topscore table tr:last-child {
    border-bottom: 0;
}

.table-topscore table tr td {
    vertical-align: middle;
    padding: 4px;
    font-size: 14px;
}

.table-topscore table tr td:nth-child(1) {
    text-align: center;
}

.table-topscore table tr td:nth-child(2) {
    width: 10%;
}

.table-topscore table tr td:nth-child(4) {
    font-size: 20px;
}

.table-topscore table tr td:nth-child(3) span {
    width: 100%;
    display: block;
    line-height: 13px;
}

.table-topscore table tr td:nth-child(3) img,
.table-topscore table tr td:nth-child(4) img {
    height: 15px;
}

.table-topscore table tr td:nth-child(3) img,
.table-topscore table tr td:nth-child(3) p {
    display: inline-block;
}

.table-topscore table tr td:nth-child(4) img {
    margin-right: 5px;
}

.table-topscore table tr td:nth-child(3) p {
    margin: 0;
    font-size: 10px;
}

.table-topscore table tr td:first-child span {
    display: block;
    font-size: 12px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 0 auto 4px;
    border-radius: 50%;
    color: #fff;
    background-color: #02335c;
    font-weight: bold;
}