

body {

    overflow-x: hidden;
}

.wrapper-game-v2 {
    padding-top: 60px;
    display: flex;
    min-height: 100%;
}

.wrapper-game-v2 .sidenav-collapse .full-review-caption p {
    display: block;
}
.wraper-content-state{
    position: relative;
}
.wraper-content-state .navbar.affix {
    top:80px;
    width: 100%;
    z-index: 9999 !important;
}
.wraper-content-state .navbar {
    margin-bottom: 0;
}


#section1 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;
}

#section2 {
    padding-top: 50px;
    height:500px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #ff9800;
}

#section41 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #009688;
}





.wraper-content-state  .navbar-fixed {
    position: fixed;
    top: 0;
}


/*----------------------
  $NAVBAR
    basic navbar styling
  ----------------------*/

.wraper-content-state nav {
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.025em;
}

.wraper-content-state nav ul {
    text-align: center;
    margin: 0;
}

.wraper-content-state nav ul li {
    display: inline-block;
    padding: 0 3em;
    line-height: 3em;
}

.wraper-content-state nav ul li:hover {
    background: #00939C;
}





.toggle {
    text-decoration: none;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.61);
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.sidebar-slide {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -190px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 8rem;
    padding: 1.5em;
    background: #19C4BC;
}

.sidebar-slide ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-slide li a {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    line-height: 200%;
}

.sidebar-slide a:hover {
    color: rgba(0, 0, 0, 0.61);
}

#slide:checked + .container .sidebar-slide {
    left: 0px;
}

#slide:checked + .container .toggle {
    left: 200px;
}


#slide {
    display: none;
}


