a.link_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.margin-default {
    margin: 0;
}

.margin-default-top {
    margin-top: 0;
}

.margin-default-bottom {
    margin-bottom: 0;
}

.margin-default-left {
    margin-left: 0;
}

.margin-default-right {
    margin-right: 0;
}

.margin-center {
    margin: 0 auto;
}

.inline-box {
    display: inline-block;
}

.inline-box-top {
    vertical-align: top;
}

.inline-box-middle {
    vertical-align: middle;
}

.inline-box-bottom {
    vertical-align: bottom;
}

.full-width {
    width: 100%;
    position: relative;
}

.bt-flex {
    display: flex;
    display: -webkit-flex;
}

.box-review {
    background-color: #fff;
    border: solid 1px transparent;
    -webkit-box-shadow: 0 3px 2px #aaa;
    -moz-box-shadow: 0 3px 2px #aaa;
    box-shadow: 0 3px 2px #aaa;
    margin: 15px 0;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.title-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    margin: 8px 0 0;
    text-transform: uppercase;
    font-size: 15px;
}

.title-center:before,
.title-center:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 7px;
    background-color: #aaa;
}

.title-center:before {
    margin-right: 12px;
}

.title-center:after {
    margin-left: 12px;
}

/*scroll*/
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 999;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.box-review:hover {
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;

}

.box-view-hdp {
    display: block;
    width: 93px;
    margin: 0 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.box-view-hdp h5 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    width: auto;
}

.bg-view-hdp {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform: skew(-220deg);
    background-color: #092740;
}

.box-review .carousel {
    height: 137px;
    margin-top: 5px;
}

.box-review ol.carousel-indicators {
    margin-bottom: 0;
}

.box-review .carousel-indicators {
    bottom: 0;
}

.box-review .carousel-indicators li {
    background-color: #ddd;
}

.box-review .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #02335c;
}

.box-review-top h3,
.box-review-top h4,
.box-review-top h6 {
    margin: 0;
}

.box-review-top h3 {
    padding-top: 5px;
    /*margin-bottom: 10px;*/
    font-size: 18px;
    width: 180px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.box-review-top p {
    margin: 0;
    /*line-height: 30px;*/
}

.box-review-top h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
    line-height: 20px;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    text-transform: uppercase;
}

.box-review-top {
    margin: 0 5px 0 5px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

.box-review-top .col-sm-2,
.box-review-top .col-sm-3,
.box-review-top .col-sm-4 {
    height: 100px;
}

.box-review-top ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.box-review-top .logo-team-view {
    width: 100%;
    display: block;
    margin-bottom: 1px;
}

.box-review-top .logo-team-view img {
    height: 55px;
    margin-bottom: 5px;
}

.box-review-top button.btn {
    font-size: 10px;
    padding: 0 5px;
}

.box-review-top tr td {
    vertical-align: top;
}

.on-tv {
    text-align: center;
    border-left: solid 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

td.on-tv h3 {
    margin: 0 auto;
    width: 77px;
    height: 17px;
    background: url(/images/live-on.png);
}

.on-tv ul li {
    width: 100%;
}

.on-tv ul {
    display: block;
    float: left;
    height: 90px;
    line-height: 90px;
}

.on-tv img {
    width: 50px;
    margin-top: 5px;
    height: auto;
}

.on-tv-live {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    background-color: red;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.chanel-box {
    width: 100%;
}

.box-review .item .col-sm-6:first-child {
    border-right: solid 1px #ddd;
}

.box-review .item .item-review {
    margin-bottom: 10px;
}

.box-review .item .item-review ul li {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    height: 48px;
}

.box-review .item .item-review ul li:first-child {
    vertical-align: middle;
}

.box-review .item .item-review ul li:last-child {
    padding: 0;
}

.box-review .item .item-review ul li:nth-child(3) p {
    height: 45px;
    width: 170px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    font-size: 11px !important;
}

.item-review-img,
.item-review-img img {
    width: 100px;
    height: 32px;
}

.item-review-info {
    width: 70px;
    overflow: hidden;
}

.item-review-info h5 {
    margin: 0;
    font-weight: bold;
    width: 70px;
    height: 15px;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.item-review-info img,
.item-review-info span {
    display: inline-block;
}

.item-review-info span {
    font-size: 10px;
    width: 50px;
    height: 21px;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-review-info img {
    height: 15px;
}

.item-review-text {
    width: 170px;
    /*padding: 0 5px;*/
    /*height: 36px;*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    font-size: 11px;
}

.item-review-rate {
    /*margin-top: -5px;*/
}

.circle-rate {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.item-review-rate h2,
.item-review-rate small {
    display: inline-block;
    vertical-align: bottom;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.7);
}

.item-review-rate h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 -3px 0 3px;
}

.item-review-rate small {
    font-size: 9px;
    display: none;
}

.item-review-rate p {
    width: 100%;
    font-size: 10px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.7);
}

.item-review-player .item-review-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px;
}

.item-review-player .item-review-text {
    width: 247px;
}

.sidebar-ranking-review h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
}

.sidebar-ranking-review h4 {
    margin: 0;
    font-size: 16px;
}

.sidebar-ranking-review table tr td {
    font-size: 14px;
    /*vertical-align: middle !important;*/
    padding: 8px 4px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.box-player-view img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 1px #111;
    background-color: #ffffff;
}

.box-pro-view img {
    width: 70px;
    background-color: #ffffff;
    border: solid 1px #ddd;
}

ul.player-vote-view li,
ul.last-march-view li {
    display: inline-block;
    vertical-align: middle;
    font-size: xx-small;
}

ul.last-march-view li i {
    color: #555;
    font-size: 12px;
}

ul.player-vote-view li img,
ul.last-march-view li img {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0;

}

li.player-box {
    display: block;
    margin-right: -10px;
}

li.player-box img {
    height: 20px;
    border: solid 1px #fff;
}

.progress-box {
    margin-top: 1px;
}

.progress-box small {
    padding: 0 10px;
}

.progress-box table tr td {
    vertical-align: middle;
}

.box-review-top .progress {
    width: 130px;
    height: 6px;
    margin: 0;
    background-color: #aaa;
}

.box-review-top .progress .progress-bar {
    float: right;
}

.box-review-top ul li small {
    font-size: 12px;
}

.name-team-slide-top {
    line-height: 20px;
}

.text-title {
    display: block;
    color: #555;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0;
    width: 100%;
    transform: none;
    position: relative;
    height: auto;

}

.text-title h4 {
    color: #02335c;
    line-height: 35px;
    font-size: 1.5em !important;
}

.text-title h4,
.text-title p {
    display: inline-block;
    margin: 0;
}

.text-title p {
    float: right;
}

.text-title a,
.container-tab-nav ul.nav li a {
    font-family: 'Pridi', serif;
}

.text-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eee;
}

.text-title h4 {
    position: relative;
}

.text-title h4::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 4px;
    width: 100%;
    background: black;
}

.text-title img {
    height: 20px;
    margin-right: 5px;
}

.title-mini-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title-mini-center h3 {
    margin: 0;
}

.title-mini-center:before,
.title-mini-center:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin: 15px 5px 0 5px;
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
}

.title-mini-center:before {
    margin-right: 10px;
}

.title-mini-center:after {
    margin-left: 10px;
}

.container-keyword-search .text-title h4 {
    color: #fff;
}
.container-keyword-search .text-title:after {
    border-color: rgba(255,255,255,0.2);

}
.container-keyword-search {
    padding: 20px 0;
    text-align: center;
}

.container-keyword-search a.label.label-primary {
    /*background-color: rgba(0, 0, 0, 0.45);*/
    background-color: white;
    color: #02335c;
}

.container-keyword-search a.label.label-primary:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.container-keyword-search a.label {
    font-size: 12px;
    margin-bottom: 2px;
    display: inline-block;
}

.bt-sstatic1 {
    position: absolute;
    left: 1px;
    bottom: 1px;
    padding: 0;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.3);
}
.row-footer{
    background-color: #02335c;
    padding: 5px 0;
}
.row-footer ul li a{
    color: white;
}