body {
    background: url(/images/bg-world-cup.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content-event {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1282px;
    margin-top: 20px;
    height: 627px;

}

.content-event-side-title {
    text-align: center;
    display: block;
    position: relative;
    float: left;
    width: 286px;
    height: 627px;
    background: url(/images/side-event.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
}

.btn-sign-FB,
.btn-sign-FB:hover {
    margin: 0 auto;
    right: 0;
    left: 0;
    position: absolute;
    width: 251px;
    height: 53px;
    bottom: 30px;
    background: url(/images/sign-FB.png);
    transition: 0.1s;
}

.btn-sign-FB:hover {
    background-image: url(/images/sign-FB-hover.png);
    cursor: pointer;

}

.content-fifa-world-cup {
    display: block;
    float: left;
    position: relative;
    width: 991px;
    height: 627px;
    background: url(/images/content-world-cup.png);
}

.columns-fifa01,
.columns-fifa02,
.columns-fifa03,
.columns-fifa04 {
    position: relative;
    height: 627px;
    display: block;
    float: left;
}

.columns-fifa01 {
    margin-left: 10px;
    width: 240px;
}

.columns-fifa02 {
    width: 249px;
}

.columns-fifa03 {
    width: 250px;
}

.columns-fifa04 {
    width: 242px;
}

.btn-col {
    right: 0;
    left: 0;
    width: 196px;
    line-height: 48px;
    height: 48px;
    position: absolute;
    bottom: 10px;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.btn-col:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.title-columns-fifa h2,
.title-columns-fifa small,
li.name-fifa-16,
.box-award h3 {
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif !important;
}

.title-columns-fifa small {
    font-size: 16px;
}

.title-columns-fifa {

    color: #fff;
    text-align: center;
}

.box-fifa-16,
.box-fifa-8 {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 161px;
    height: 39px;
    border-radius: 3px;
    background: url(/images/bx-fifa-16.png);
    background-color: #fff;
    /*overflow: hidden;*/
    margin-top: 7px;
}

.box-fifa-16-haft {
    width: 50%;
    background-color: transparent;
}

.box-fifa-16-haft:hover {
    background-color: #676973;
    cursor: pointer;
}

.box-fifa-16 ul {
    padding: 2px;
    width: 100%;
}

.box-fifa-16 ul li {
    display: inline-block;
    width: 47%;
    overflow: hidden;
    height: 35px;
    position: relative;

}

li.flag-fifa-16 img {
    width: 40px;
    height: 35px;
}

li.name-fifa-16 {
    position: relative;
    text-align: center;
    font-weight: 600;
}

li.name-fifa-16 span {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.none-select img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

.box-award {
    margin-top: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.box-award h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.box-fifa-8 {
    margin: 0 auto;
    width: 206px;
    height: 49px;
    border-radius: 3px;
    background: url(/images/bx-fifa-8.png);
    margin-bottom: 15px;
}

.box-fifa-8 li {

}

.box-fifa-8 li.flag-fifa-16 img {
    width: 50px;
    height: 45px;
}

.box-fifa-8 ul li {
    height: 45px;

}

.box-fifa-8 li.name-fifa-16 span {
    font-size: 14px;
}

.content-top-fifa-8 {
    margin-top: 50px;
}

.content-bottom-fifa-8 {
    margin-top: 45px;
}
.final-cup{
    margin-top: 95px;
    top:0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.box-fifa-final {
    margin: 0 auto;
    width: 206px;
    height: 104px;
    border-radius: 3px;
    background: url(/images/bx-fifa-final.png);
    margin-bottom: 15px;
}

.box-fifa-final li.flag-fifa-16 img {
    width: 75px;
    height: 70px;
}

.box-fifa-final ul li {
    display: inline-block;
    width: 100% !important;
    overflow: visible;
    /*height: 35px;*/
}

.box-fifa-final ul li span {
    font-size: 18px;
}

.box-fifa-final .box-fifa-16-haft {
    height: 104px;
}

.box-fifa-final li.name-fifa-16 {
    width: 75px !important;
    height: 55px !important;
}

.check-box {
    position: absolute;
    left: 0;
    margin-left: -22px;
    margin-top: 9px;
}

.check-box img {
    width: 20px;
}
.container-list{
    padding-bottom: 30px;
    width: 1282px!important;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    margin: 60px 0;
}
.container-list h3{
    line-height: 40px;
    margin-bottom: 20px;
    border-bottom: solid 1px #fff;
}
.container-list li{
    font-size: 16px;
    line-height: 25px;
}
@media (min-width: 320px) and (max-width: 750px) {
    .top-container-fifa-mobile {
        margin-top: 50px;
        position: relative;
        background-size: cover;
        width: 100%;
        min-width: 375px;
        height: 230px;
        padding: 10px;
        padding-top: 20px;
        background: url(/images/top-bg-fifa.jpg);
        background-position: left bottom;
    }

    .top-container-fifa-mobile p {
        padding-top: 15px;
        color: #d6ab63;
    }

    .top-container-fifa-mobile img {
        max-width: 100%;
    }

    .top-container-fifa-mobile .btn-sign-FB {
        bottom: 10px;
    }

    .container-fifa-mobile {
        margin: 0 auto;
        width: 375px;
        height: 1406px;
        background: url(/images/content-world-cup-mobile-320px.png);
background-repeat: no-repeat;
        background-position: top;
    }

    .content-fifa-mobile-box {
        width: 100%;
        display: block;

        position: relative;
    }

    .fifa-mobile-box-href {
        display: block;
        float: left;
        width: 50%;
        min-height: 100%;
        position: relative;
    }


    .box-fifa-match {
        position: absolute;
        left: 0;
        right: 0;
        width: 160px;
        height: 38px;
        border-radius: 4px;
        background: url(/images/bx-fifa-mobile.png);
    }
    .box-fifa-match-final{
height: 67px;
    }
    .box-award-mobile{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        margin: 0 auto;
    }
    .box-award-mobile h4{
        color: #fff;
        margin-bottom: 40px;
    }
    .box-award-mobile .btn-col{
        right: 0;
        left: 0;
        width: 120px;
        line-height: 27px;
        height: 27px;
        position: absolute;
        bottom: 0;
        border: solid 1px #fff;
        color: #fff;
        text-align: center;
        font-size: 12px;
        margin: 0 auto;
        cursor: pointer;
    }

.box-fifa-match-final .check-box img{
    width: 30px;
}
    .box-fifa-match .check-box img{
        width: 25px;
    }

.box-fifa-match-final .check-box,
    .box-fifa-match .check-box {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-top: -7px;
        width: 100%;
        text-align: center;
    }
}


.bx-loading-final, .bx-loading-semi, .mo-loading-semi, .mo-loading-final{
    position: absolute;
}
