body{
    padding-top: 70px;
}
.modal-inOpen{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    position: absolute;
    padding-top: 100px;
}
.nav-image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.navbar-management ul.nav li{
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
}
.navbar-management .nav-image{

}
.dropdown-nav ul.dropdown-menu li a{
    display: block;
    float: left;
    width: 100%;
}
.dropdown-nav ul.dropdown-menu li{
    float: none;
    height: 25px;
    padding: 0;
}
li.dropdown-nav{
    padding: 0!important;
}
li.dropdown-nav .nav-image,
li.dropdown-nav a.dropdown-toggle{
    display: inline-block;
}
li.dropdown-nav a.dropdown-toggle{
    /*padding: 5px 15px;*/
}
li.dropdown-nav a.dropdown-toggle span.caret{
    font-size: 18px;
}
.btn-group-manage{
    margin: 0 auto;
    width: 112px;
    text-align: left;
}
.page-header.title h3{
    /*margin-bottom: 0;*/
}
.page-header.title form{
    padding-right: 0!important;
    margin-top: 10px;
}
.page-header.title h3,
.page-header.title button,
.page-header.title form,
.page-header.title a{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.btn-group-manage a,
.btn-group-manage button,
.btn-group-manage label{
    display: block;
    float: left;
    padding: 4px 10px;
    margin-left: -1px;
}
.btn1{
    border-radius: 4px 0 0 4px;
}
.btn2{
    border-radius: 0;
}
.btn3{
    border-radius:  0 4px 4px 0;
}
.box-side-index p{
    border-bottom: solid 1px #999;
    line-height: 25px;
}
.box-side-index h3{
    display: inline-block;
}
.menu-top ul.nav li.active a{
    border:0;
    border-bottom: 5px solid #337ab7;
}
.navbar-management li{color: #eee}
.page-header {
    margin: 0 0 20px;
}
.box-match-team{
    display: block;
    float: left;
    width: 100%;
    padding: 0 10px 30px 10px;
    margin-bottom: 50px;
    border-bottom: solid 1px #ddd;
}
.form-control-feedback {
    left: 0;
}
.has-feedback .form-control {
    padding-left: 42.5px;
}
i.form-control-feedback{
    font-size: 18px;
    line-height: 34px;
}
