<div class="box-match-list">
    <div class="text-center">
        <div class="date-match">-</div>
        <div class="time-match">-</div>
    </div>
    <div>
        <div class="home-name-match"><img class="h2h-home-logo" src="/images/logo-team/Chelsea.png"><label class="h2h-home-name"></label></div>
        <div class="away-name-match"><img class="h2h-away-logo" src="/images/logo-team/manchester.png"><label class="h2h-away-name"></label></div>
    </div>
    <div>
        <div class="home-score-match">-</div>
        <div class="away-score-match">-</div>
    </div>
    <div class="text-center">
        <div class="odds-match">
            <div class=""></div>
        </div>
    </div>
    <div class="text-center">
        <div class="result-match">
            <div class=""></div>
        </div>
    </div>
</div>