<div class="box-match-tournament">
    <div class="box-match-list-topic">
        <div class="pull-left">
            <img src="/images/football.png">
            <p class="h2h-header-league-name"></p>
        </div>
        <div class="pull-right">
            <ul>
                <li>Odds</li>
                <li>Result</li>
            </ul>
        </div>
    </div>
</div>
