<div class="all-lineups-field text-center">
    <div class="box-field">
        <div class="topic-formation">
            <div class="pull-left text-left">
                <img class="lb-home-logo" src="">
                <h5 class="home-board-formation"></h5>
            </div>
            <div class="pull-right text-right">
                <h5 class="away-board-formation"></h5>
                <img class="lb-away-logo" src="">
            </div>
        </div>
        <div class="content-field">
            <div class="home-formation">
                <div class="home-gk-row-content full-width">
                    <div class="gk-row-1">
                        <div class="box-gk">
                            <div class="info-box-pos home-gk">
                                <span class="player-number"></span>
                                <p class="player-name"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-df-row-content full-width">
                    <div class="df-row-6 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-5 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-4 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-3 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">

                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-cm-row-content full-width">
                    <div class="cm-row-3 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-4 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-5 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-6 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-ft-row-content full-width">
                    <div class="ft-row-4 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-3 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-2 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-1 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="away-formation">
                <div class="away-ft-row-content full-width">
                    <div class="ft-row-4 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-3 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-2 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="ft-row-1 hide">
                        <div class="box-ft">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="away-cm-row-content full-width">
                    <div class="cm-row-3 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-4 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-5 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="cm-row-6 hide">
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-cm">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="away-df-row-content full-width">
                    <div class="df-row-6 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-5 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-4 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="df-row-3 hide">
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="box-df">
                            <div class="info-box-pos">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="away-gk-row-content full-width">
                    <div class="gk-row-1">
                        <div class="box-gk">
                            <div class="info-box-pos away-gk">
                                <span class="player-number"></span>
                                <p class="player-name"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="content-sub-player">
                <div class="title-center">
                    Sub Player
                </div>
                <div class="sub-content bt-flex full-width">
                    <div class="home-sub-content">
                        <ul class="home-sub">
                            <li>
                                <div class="num-sub-t">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <span></span>
                                </div>
                                <div class="detail-player">
                                    <p></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="away-sub-content">
                        <ul class="away-sub">
                            <li>
                                <div class="name">
                                    <span></span>
                                </div>
                                <div class="detail-player">
                                    <p></p>
                                </div>
                            </li>
                            <li>
                                <div class="num-sub-t">
                                    <div></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div style="clear: both;"></div>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>