<div class="panel-body">
    <div class="panel-body-status-match inline-box full-width bt-flex">
        <div class="home-status-match text-right">
            <div class="standing-view inline-box">
                <ul class="standing-view_last5">
                    <li>Last 5 match</li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                </ul>
                <ul class="standing-view_odd">
                    <li>Odds</li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                </ul>
            </div>
            <div class="standing-view-logo inline-box">
                <img src="/images/logo-team/Arsenal.png">
                <span>(5)</span>
            </div>
        </div>
        <div class="away-status-match text-left">
            <div class="standing-view-logo inline-box ">
                <img src="/images/logo-team/Bournemouth.png">
                <span>(12)</span>
            </div>
            <div class="standing-view inline-box">
                <ul class="standing-view_last5">
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li>Last 5 match</li>
                </ul>
                <ul class="standing-view_odd">
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li class="win-status"></li>
                    <li>Odds</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs-event mtab-select" role="tablist">
        <li role="presentation" class="mtab-header-de active"><a href="#detail-tab" role="tab" data-toggle="tab">Detail</a></li>
        <li role="presentation" class="mtab-header-ls"><a href="#statistics-tab" role="tab" data-toggle="tab">Live Stats</a></li>
        <li role="presentation" class="mtab-header-h2h"><a href="#h2h-tab" role="tab" data-toggle="tab">H2H</a></li>
        <li role="presentation" class="mtab-header-st"><a href="#fg-tab" role="tab" data-toggle="tab">Statistics</a></li>
        <li role="presentation" class="mtab-header-lu"><a href="#lineups-tab" role="tab" data-toggle="tab">Lineups</a></li>
        <li role="presentation" class="mtab-header-re"><a href="#review-tab" role="tab" data-toggle="tab">Review</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane mtab-body-de active" id="detail-tab">
        </div>
        <div role="tabpanel" class="tab-pane mtab-body-ls" id="statistics-tab">
        </div>
        <div role="tabpanel" class="tab-pane mtab-body-h2h" id="h2h-tab">
        </div>
        <div role="tabpanel" class="tab-pane mtab-body-st" id="fg-tab">
        </div>
        <div role="tabpanel" class="tab-pane mtab-body-lu" id="lineups-tab">
        </div>
        <div role="tabpanel" class="tab-pane mtab-body-re" id="review-tab">
        </div>
    </div>
</div>