<div class="thumbnail">
    <div class="box-content-review">
        <div class="top-content-review pull-left">
            <div class="avatar-box">
                <img class="commentator-avatar" src="">
            </div>
            <div>
                <h5 class="commentator-name">-</h5>
                <img class="commentator-team-logo" src="">
                <span class="commentator-team-name">@</span>
            </div>
            <div class="winRate-box">
                <div class="bg-winRate-box">
                    <h3 class="commentator-win-rate">%</h3>
                    <p>Win Rate</p>
                </div>
            </div>
        </div>
        <div class="full-review-caption"></div>
    </div>
</div>