<div class="row-review-simple bt-flex">
    <div class="rrs-profile">
        <img class="review-avatar" src="/images/2.jpg">
    </div>
    <div class="rrs-team">
        <span class="review-at-side"></span>
    </div>
    <div class="rrs-review-simple">
        <span class="review-text-body"></span>
    </div>
</div>