<div class="card">
    <div class="media">
        <div class="media-icon"></div>
        <img class="cover-pic" src="">
        <div class="title">
            <span></span>
        </div>
    </div>
    <div class="dec-time"></div>
</div>