@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ny73gk');
    src:    url('fonts/icomoon.eot?ny73gk#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ny73gk') format('truetype'),
        url('fonts/icomoon.woff?ny73gk') format('woff'),
        url('fonts/icomoon.svg?ny73gk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-column:before {
    content: "\e909";
}
.icon-column2:before {
    content: "\e910";
}
.icon-column_full:before {
    content: "\e911";
}

