body {
    background: url(/events/community-shield/img/fa-select-commu.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    background-color: #000;
    text-align: center;
}

.container-select-item {

    display: block;
    margin: 25px auto;
    width: 828px;
    height: 497px;
    background-color: #ae0b42;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    box-shadow: 1px 1px 10px #000;
}
.container-select-item .header{
    margin: 10px 0;

}
.container-select-item .footer1{
    color: #fff;
    font-size: 16px;
    line-height: 40px;
}
.container-select-item .footer1 u{
    color: yellow;
}
.box-col-1,
.box-col-2,
.box-col-3 {
    display: block;
    float: left;
    width: 275px;
    height: 352px;
    position: relative;
}

.box-col-1-hover {
    display: none;
    position: fixed;
    width: 275px;
    height: 354px;
    line-height: 354px;
    background-color: rgba(174, 11, 66, 0.75);
}
.content-3col{
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}
.content-3col .btn {
    font-size: 25px;
    width: 90%;
    background-color: #760128;
    color: #ffffff;
    border-color: #000000;
}

.box-col-1:hover div.box-col-1-hover ,
.box-col-2:hover div.box-col-1-hover ,
.box-col-3:hover div.box-col-1-hover {
    display: block;

}


/*Mobile*/
.container-select-item-mobile{
    width: auto;
    height: auto;
    margin: 60px 5px 10px 5px;
}
.container-select-item-mobile img{max-width: 100%}
.container-select-item-mobile .header img{
    width: 90%;
}
.container-select-item-mobile .box-col-1,
.container-select-item-mobile .box-col-2,
.container-select-item-mobile .box-col-3{
    width: 100%;
    height: auto;
}
.container-select-item-mobile .box-col-2{
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}
.container-select-item-mobile .footer1{
    color: #fff;
    font-size: 16px;
    line-height: normal;
    padding: 10px 0;
}