body {
    background: url(/events/event-04/img/bg-pre-02.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    background-color: #000;
    text-align: center;
}

.container-icc2018 {
    width: 834px;
    height: 631px;
    margin: 0 auto;
    position: relative;
}

.bg-content-icc2018 {
    margin-top: 100px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.box-select-num a {
    color: #fff;
    font-size: 30px;
}

.box-select-num {
    position: absolute;
    z-index: 1;
    width: 510px;
    height: auto;
    background-color: #855b82;
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    color: #fff;
    right: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
}
.box-select-num input{
    font-size: 30px;
    text-align: center;
}
.box-select-num button{
    font-size: 18px;
    margin-left: 15px;
}
.box-select-num .btn{
    background-color: #300034;
    color: #fff;
    border-color: #19001d;
}
.box-select-num div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px 0;
}

.box-select-num div:nth-of-type(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px 0;
    border-right:solid 1px;
    border-left:solid 1px;
    border-color: #fff;

}

.box-select-num div:nth-of-type(3) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    cursor: pointer;
    padding: 10px 0;
    font-weight: bold;
}

.box-select-num div:nth-of-type(3):hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.box-select-num div:nth-of-type(2) .dropdown .dropdown-menu{
    font-size: 20px;
}
