@media (min-width: 320px) and (max-width: 750px) {
    body {
        background: url(/events/premier-league-01/img/bg-pre.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10%;
        background-color: #000;
        text-align: center;
    }
.header-event-mobile{
    padding-bottom: 20px;
    background-color: #41003d;
}
    h4.text-title-mobile {
        display: inline-block;
        margin: 0 auto;
        margin-top: 15px;
        background-color: #00ff91;
        color: #41003d;
        padding: 8px 15px;
        border-radius: 8px;
    }

    .content-menu-index.affix-top {
        top: 0;
    }

    .container-mobile {
        padding: 0;
        margin: 54px 10px 10px 10px;
        background-color: #fff;
        color: #41003d;
        float: left;
    }

    .container-mobile u {
        color: #000
    }

    .container-mobile ul {
        margin: 0;
        padding: 0;
    }

    .row-logo {
        width: 100%;
        display: inline-block;
        z-index: 0;
        position: relative;
    }

    .box-vs {
        width: 50px;
        height: 50px;
        z-index: 1;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        margin: 0 auto;
        position: absolute;
    }

    .box-vs img {
        width: 50px !important;
        height: 50px !important;
    }

    .container-mobile ul li {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
    }

    .container-icc2018 {

        width: 100%;
        height: 631px;
        margin: 0 auto;
        position: relative;
    }

    .box-select-num {

        padding: 0;

        position: relative;
        width: 100%;
        bottom: auto;
    }

    .box-select-num .form-inline {
        padding: 10px 0;
        margin: 0 10px;
        color: #fff;
        border-radius: 4px;
        background-color: #855b82;
    }

    .row-logo img {
        height: 116px;
    }

    .container-mobile img {
        max-width: 100%;
    }

    .box-select-num button {
        width: 100%;
        margin: 20px 0 20px;
    }

    .box-select-num .btn-default {
        width: 95%;
        color: #fff;
        background-color: #41003d;
        border-color: #000;
        margin: 10px;
    }
}