<div class="full-width line-content-all">
    <div class="col-home-live">
        <div class="box-football-icon">
            <div class="icon-mark"></div>
        </div>
        <div class="min-live"></div>
        <div class="name-live name-normal"> </div>
        <div class="name-live name-sub">
            <span class="substitute-player-out">out</span>
            <p class="out-mark">
            </p>
        </div>
        <div class="name-live name-sub">
            <span class="substitute-player-in">in</span>
            <p class="in-mark">
            </p>
        </div>
    </div>
</div>

<div class="full-width line-content-all">
    <div class="col-away-live pull-right">
        <div class="name-live name-normal"></div>
        <div class="name-live name-sub">
            <span class="substitute-player-in">in</span>
            <p class="in-mark"></p>
        </div>
        <div class="name-live name-sub">
            <span class="substitute-player-out">out</span>
            <p class="out-mark"></p>
        </div>
        <div class="min-live"></div>
        <div class="box-football-icon">
            <div class="icon-mark"></div>
        </div>
    </div>
</div>