@media (min-width: 320px) and (max-width: 750px) {
    body {
        background: url(/events/premier-league-01/img/bg-pre.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10%;
        background-color: #000;
        text-align: center;
    }
    .content-menu-index.affix-top{
        top:0;
    }
    .container-mobile {
        padding: 90px 10px 0 10px;
        margin: 0 10px 10px 10px;
        background-color: #41003d;
        color: #fff;
    }

    .container-mobile u {
        color: #000
    }

    .container-mobile ul {
        margin: 0;
        padding: 0;
    }

    .container-mobile ul li {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
    }

    .container-icc2018 {

        width: 100%;
        height: 631px;
        margin: 0 auto;
        position: relative;
    }

    .box-select-num {

        padding: 0;

        position: relative;
        width: 100%;
        bottom: auto;
    }

    .box-select-num .form-inline {
        padding: 10px 0;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .row-logo img {
        height: 116px;
    }

    .container-mobile img {
        max-width: 100%;
    }

    .box-select-num button {
        width: 100%;
        margin: 20px 0 20px;
    }
    .box-select-num .btn-default {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }
}