body {
    background: url(/events/premier-league-01/img/bg-pre.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    background-color: #000;
    text-align: center;
}

.container-icc2018 {
    width: 834px;
    height: 631px;
    margin: 0 auto;
    position: relative;
}

.bg-content-icc2018 {
    margin-top: 100px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.box-select-num a {
    color: #fff;
    font-size: 30px;
}

.box-select-num {
    position: absolute;
    z-index: 1;
    width: 460px;
    height: auto;
    background-color: #fff;
    /* border: 1px solid #c3c3c3; */
    /* display: -webkit-flex; */
    /* display: flex; */
    /* top: 10px; */
    /* margin-top: 22px; */
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    color: #000;
    right: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
}
.box-select-num input{
    font-size: 30px;
    text-align: center;
}
.box-select-num button{
    font-size: 18px;
    margin-left: 15px;
}
.box-select-num .btn{
    background-color: #111111;
    color: #fff;
    border-color: #000;
}
.box-select-num div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px 0;
}

.box-select-num div:nth-of-type(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px 0;
    border-right:solid 1px;
    border-left:solid 1px;
    border-color: #fff;

}

.box-select-num div:nth-of-type(3) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    cursor: pointer;
    padding: 10px 0;
    font-weight: bold;
}

.box-select-num div:nth-of-type(3):hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.box-select-num div:nth-of-type(2) .dropdown .dropdown-menu{
    font-size: 20px;
}


/*@media (min-width: 320px) and (max-width: 750px) {*/

    /*.container-mobile{*/
        /*padding: 10px;*/
        /*margin: 60px 10px 10px 10px;*/
        /*background-color: #000;*/
        /*color: #eee;*/
    /*}*/
    /*.container-mobile u{color: red}*/
    /*.container-mobile ul{margin: 0; padding: 0;}*/
    /*.container-mobile ul li{*/
       /*display: inline-block;*/
        /*vertical-align: middle;*/
    /*}*/
    /*.container-icc2018 {*/

        /*width: 100%;*/
        /*height: 631px;*/
        /*margin: 0 auto;*/
        /*position: relative;*/
    /*}*/
    /*.box-select-num{*/

        /*padding: 0;*/

        /*position: relative;*/
        /*width: 100%;*/
        /*bottom: auto;*/
    /*}*/
    /*.box-select-num .form-inline{*/
        /*background-color: rgba(255,255,255,0.1);*/
    /*}*/
    /*.row-logo img{*/
        /*height: 116px;*/
    /*}*/
    /*.box-select-num button{width:100%; margin: 20px 0 20px; }*/
/*}*/