@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?xr874p');
    src:    url('fonts/icomoon.eot?xr874p#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?xr874p') format('truetype'),
        url('fonts/icomoon.woff?xr874p') format('woff'),
        url('fonts/icomoon.svg?xr874p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-signal_downTrend:before {
    content: "\e900";
}
.icon-signal_sideWay:before {
    content: "\e901";
}
.icon-signal_upTrend:before {
    content: "\e902";
}
.icon-ft_signal_00:before {
    content: "\e903";
}
.icon-ft_signal_01:before {
    content: "\e904";
}
.icon-ft_signal_02:before {
    content: "\e905";
}
.icon-ft_signal_03:before {
    content: "\e906";
}
.icon-ft_signal_04:before {
    content: "\e907";
}
.icon-ft_signal_05:before {
    content: "\e908";
}

