body {
    padding-bottom: 50px;
    background-color: #e9ebee!important;
}

a.link_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.beton {  text-decoration: underline;  }

.margin-default { margin: 0!important;  }
.margin-default-top {  margin-top: 0!important  }
.margin-default-bottom {  margin-bottom: 0!important;  }
.margin-default-left {  margin-left: 0!important;  }
.margin-default-right {  margin-right: 0!important;  }
.margin-center {  margin: 0 auto!important;  }

.padding-default{padding: 0!important;}
.padding-top{padding-top: 0!important;}
.padding-bottom{padding-bottom: 0!important;}

.inline-box {
    display: inline-block;
}

.inline-box-top {
    vertical-align: top;
}

.inline-box-middle {
    vertical-align: middle;
}

.inline-box-bottom {
    vertical-align: bottom;
}

.full-width {
    width: 100%;
    position: relative;
    clear: both;
}

.bt-flex {
    display: flex;
    display: -webkit-flex;
}

.title-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    margin: 8px 0 0;
    text-transform: uppercase;
    font-size: 15px;
}

.title-center:before,
.title-center:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 7px;
    background-color: #aaa;
}

.title-center:before {
    margin-right: 12px;
}




.title-center:after {
    margin-left: 12px;
}
.navbar-mobile #navbar{display: none!important;}
.navbar-mobile .navbar-header {
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

.navbar-mobile .navbar-header span {
    color: white;
    font-size: 28px;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.navbar-mobile .navbar-toggle {
    position: relative;
    float: right;
    padding: 0 18px;
    text-align: center;
    line-height: 50px;
    margin-top: 0;
    height: 50px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-mobile .navbar-toggle {
    background-color: #00375c;
    color: #fff;
}

.navbar-mobile .navbar-toggle.collapsed {
    background-color: transparent !important;
    color: #fff;
}

li.collapse-box [data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
    float: right;
}

li.collapse-box [data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

li.collapse-box .box-collapse {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.box-collapse ul li {
    color: #fff;
}

.box-collapse ul li a {
    color: #fff;
    line-height: 37px;
}


.mini-title {

}

.mini-title h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Pridi', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    margin: 8px 0 0;
    /*text-transform: uppercase;*/
    color: #092740;
}

.mini-title h3:before {
    margin-right: 12px;
}

.mini-title h3:after {
    margin-left: 12px;
}

.mini-title h3:before,
.mini-title h3:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    top: 10px;
    background-color: #aaa;
}

.text-title {
    display: block;
    color: #555;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0;
    width: 100% !important;
    transform: none !important;
    position: relative !important;
    height: auto !important;

}

.text-title h4 {
    color: #02335c;
    font-size: 1.5em !important;
}

.text-title h4,
.text-title p {
    display: inline-block;
    margin: 0;
}

.text-title p {
    float: right;
}

.text-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #02335c;
}

.text-title h4 {
    position: relative;
}

.text-title h4::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 6px;
    width: 100%;
    background: black;
}

.text-title img {
    height: 20px;
    margin-right: 5px;
}





.tab-top {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.tab-top ul.nav {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.tab-top ul.nav li {
    width: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}

.tab-top ul.nav li a {
    color: #aaa;
}

.tab-top ul.nav li.active a {
    background-color: transparent;
    border: 0;
    font-weight: bold;
    border-bottom: solid 5px #02335c;
    color: #000;
}

.tab-top .title {
    padding: 10px 0 0;
    margin: 0 0 0 15px;
}

.tab-top .title img {
    height: 30px;
    margin: 0 5px 0 0;
}

.tab-top .title button.btn-xs {
    padding: 5px 8px;
}

.tab-top .title button[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
    float: right;
}

.tab-top .title button[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

.tab-top .title img,
.tab-top .title h2 {
    display: inline-block;
    vertical-align: middle;
}

.tab-top .title h2 {
    margin: 0;
}

.text-title a,
.container-tab-nav ul.nav li a {
    font-family: 'Pridi', serif;
}


.container-tab-nav {
    margin-top: 20px;
}

.container-tab-nav ul.nav {
    border-bottom: solid 1px #02335c;
}

.container-tab-nav ul.nav li {
    display: inline-block;
    text-align: center;
    width: 49%;
    border: 0;
}

.container-tab-nav ul.nav li a {
    color: #02335c;
}

.container-tab-nav ul.nav li.active a {
    background-color: #02335c;
    color: #fff;
}

.container-tab-nav ul.nav li.active a .badge {
    background-color: #fff;
    color: #02335c;
}

.container-tab-nav .nav > li > a:hover,
.container-tab-nav .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav.sidebar-nav {
    margin-top: 40px;
}

.nav.sidebar-nav > li > a:hover,
.nav.sidebar-nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: solid 5px #00c8fb;
}

/*container-rules*/
.container-rules .panel-group {
    font-size: 16px;
}

.container-rules .panel-group h3 {
    font-size: 20px;
    font-weight: normal;
}

.container-rules .panel-group h4 {
    font-size: 18px;
    font-family: 'Pridi', serif;
}

.container-rules .panel-group img {
    height: 28px;
}

.container-rules .panel-default .panel-heading {
    color: #02335c;
}

.time-box,
.time-box,
.view-box {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}

.time-box:before,
.date-box:before,
.view-box:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f017";
    margin-right: 2px;
}

.date-box:before {
    content: "\f073";
}

.view-box:before {
    content: "\f06e";
}

.vertical-line-between:after {
    content: '|';
    color: inherit;
    position: relative;
}

.content-item-recent {
    position: relative;
    margin-bottom: 20px;
}

.content-item-recent a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    color: #555;
}

.item-recent {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    /*width: 100%;*/
    /*height: 64px;*/

}

.item-recent div {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.item-recent div:nth-child(1) {
    display: block;
    /*flex: 2;*/
    width: 113px;
    height: 64px;
    position: relative;
}

.item-recent div:nth-child(1) img {
    width: 113px;
    height: 64px;
}

.item-recent div:nth-child(1):before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 30%;
    z-index: 1;
    right: 0;
}

.item-recent .bx-2 {
    -webkit-flex: 3;
    flex: 3;
    padding-left: 10px;
}

.item-recent .bx-2 div.time-box {
    /*width: 100%;*/
    padding: 0;
}

.item-recent .bx-2 h4.media-heading {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: bold;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    color: #000;
}

.box-inline {
    display: inline-block !important;
    margin-right: 5px;
}

/*scroll*/
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 999;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.swiper-pagination-bullets-dynamic {

    right: 0;
    left: 0;
    margin: 0 auto;
}
.navbar-mobile .navbar-header{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #002843;
}
.navbar-mobile .navbar-header [data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    content: "\f00d";
    float: right;
    transition: all linear 0.25s;
}

.navbar-mobile .navbar-header [data-toggle="collapse"].collapsed:after {
    content: "\f038";
}

.navbar-mobile .navbar-header button {  font-weight: normal;  }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    height: auto;
    max-height: 450px;
}

.content-wrap-mobile {
    position: relative;
    width: 49%;
    display: inline-block;
    padding: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.top-navbar {
    /*background-color: #028ec3;*/
    background-image: linear-gradient(120deg, #028ec3 0%, #66c7ff 100%);
    line-height: 30px;
    height: 30px;
    position: relative;
    width: 100%;
    display: block;
    float: left;
    z-index: 1040;
    padding: 0 5px;

}

.top-navbar ul {
    margin: 0;
    padding: 0;
}

.top-navbar ul li,
.top-navbar .box-profile-menu ul li img,
.top-navbar .box-profile-menu ul li p {
    display: inline-block;
}

.top-navbar .box-profile-menu ul li p,
.top-navbar a {
    color: #fff;
}

.top-navbar .box-profile-menu ul li {
    padding: 0;
}

.top-navbar .box-profile-menu
ul.box-coin-menu li img {
    height: 20px;
}

.top-navbar .box-profile-menu ul li.dropdown.profile-image {
    margin-left: 10px;
}

.top-navbar .box-profile-menu p {
    margin: 0;
    padding: 0;
}

.top-navbar .box-profile-menu
ul.box-coin-menu {
    margin-right: 5px;
    padding-right: 10px;
}

.top-navbar .box-profile-menu
ul.box-coin-menu li:first-child p {
    padding-right: 5px;
    margin-right: 5px;
}

.top-navbar .box-social ul li {
    padding-right: 10px;
}

.top-navbar ul.dropdown-menu {
    right: 0;
    left: auto;
    width: auto;
}

.top-navbar ul.dropdown-menu li a {
    font-size: 16px;
    line-height: 25px;
}

.top-navbar .profile-image a img {
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: -2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.top-navbar ul.box-login-mobile a {

}

.navbar-mobile {
    /*background-color: #002843;*/
    position: fixed !important;
    top: 0;
    min-height: 80px!important;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1050;
}

.navbar-mobile a.navbar-brand {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    /*display: inline-block;*/
    /*width: 100px;*/
    margin: 0 auto;
    z-index: 0;
}

.navbar-mobile a.navbar-brand img {
    height: 25px;
    margin: 0 auto;
}

.navbar-mobile .navbar-brand {
    padding: 10px 0;
}

.navbar-mobile .nav > li > a {
    color: #eee;
    /*padding-left: 8px;*/
    font-size: 18px;
}

.navbar-mobile .nav > li > a i {
    margin: 0 8px;
}

.navbar-mobile .navbar-nav > .active > a,
.navbar-mobile .navbar-nav > .active > a:hover,
.navbar-mobile .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-mobile .navbar-nav {
    margin: 0 -15px;
    border-bottom: solid 3px red;
}

.navbar-mobile .navbar-collapse {
    padding: 20px 0 0;
    background: url(/images/background1.jpg);
    /*background-attachment: fixed;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    box-shadow: none;
}

.navbar-mobile .navbar-collapse footer {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px 0;
    color: #fff;
}

.navbar-mobile .navbar-header {
    border-bottom: 0;
}

li.text-event img {
    height: 40px;
    margin-top: -20px;
    margin-right: 3px;
    margin-left: 3px;
}

.teamhome{display: inline-block;}
.teamhome:before{
    display: inline-block;
    margin-left: 3px;
    font-family: FontAwesome;
    content: '\f015 ';
}


@keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #ffae00;
    }
}

@-webkit-keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #ffae00;
    }
}

.blink {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, red 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

.swiper-pagination {
    width: auto !important;
}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 1041;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    position: fixed;
    top: 0;
    padding-top: 2rem;
    bottom: 0;
    padding-bottom: 4rem;
    overflow: auto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


