body {
    /*background-color: #f1f1f1;*/
}

.card .media {
    position: relative;
}
a.link_wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}
.icon-type-image:before,
.icon-type-video:before {
    font: normal normal normal 10px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.icon-type-image:before {
    content: "\f03e";
}

.icon-type-video:before {
    content: "\f04b";
}

.icon-type-image,
.icon-type-video {
    color: #fff;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    top: 10px;
    left: 5px;
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: #ff0078;
}

.card .media {
    position: relative;
}

.card .media img {
    /*max-width: 100%*/
}

.layout {
}

.card .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c9000000', GradientType=0); /* IE6-9 */
}

.card .title span {
    color: #fff;
    font-family: Pridi, 'sans-serif';
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 5px;
}

.layout {
    padding:  5px;
    /*width: 100%;*/
    margin: 0 auto;
    /*min-height: 1000vh;*/
    position: relative;
}

div#grid_container {

}

div#grid_container > div.card {
    /*position: absolute;*/
    /*width: 45%;*/
    /*margin-bottom: 50px;*/
}

.modal.lightbox-modal {
    background-color: rgba(0, 0, 0, 0.95) !important;
}

.lightbox-modal .modal-dialog {
    margin: 0;
    height: 100%;
}

.lightbox-modal .close {
    color: #fff;
    opacity: 1;
    right: 0;
    font-size: 20px;
    position: absolute;
    margin: 10px;
    z-index: 10;
}

.lightbox-modal .swiper-container {
    height: 100%;
}

.lightbox-modal .swiper-pagination-bullet {
    background: #fff;
}

.lightbox-modal .swiper-pagination-bullet-active {
    background: #ff0078;
}

.modal-content-lightbox-row {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.modal-content-lightbox {
    display: table-row;
}

.img-lightbox {
    display: table-cell;
    vertical-align: middle;
}

.img-lightbox img {
    width: 100%;
    margin: 0 auto;
}

.lightbox-modal .carousel,
.lightbox-modal .carousel-inner,
.lightbox-modal .item {
    height: 100%;
}

.box-hothit-item {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.box-hothit-thumbnail,
.box-hothit-title {
    display: inline-block;
    vert-align: middle;
}

.box-hothit-thumbnail {
    width: 40%;
}

.box-hothit-thumbnail img {
    max-width: 100%;
}

.box-hothit-title {
    width: 58%;
    float: right;
}

.box-hothit-title h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 18px;
    font-size: 16px;
    margin: 0 0 10px;
    font-family: Pridi, sans-serif;
}

.box-hothit-title p {
    color: #aaa;
}

.box-hothit-title p:before {
    display: inline-block;
    font: normal normal normal 11px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f017";
    margin-right: 5px;
}

.container-carousel-hothits .swiper-pagination {
    bottom: 70px !important;
}

.container-carousel-hothits .swiper-pagination-bullet {
    background: #fff;
    opacity: .7;
}

.container-carousel-hothits .swiper-pagination-bullet-active {
    opacity: 1;
    background: red;
}

.swiper-slide-thumbnal {
    height: 180px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.swiper-slide-caption {
    background-color: #000;
}

.swiper-slide-caption p {
    line-height: 50px;
    height: 50px;
    border-left: solid 5px red;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-family: Pridi, sans-serif;
    padding: 0 10px 0;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.container-carousel-hothits img {
    opacity: 0.95;
    max-width: 100%;
}

.container-carousel-hothits .carousel-control {
    opacity: 1;
    font-size: 25px;
}

.all-sexy {
    background-color: #f1f1f1;
    width: 100%;
    position: relative;
}

.container-cat-news{
    background-color: #f1f1f1;
    /*display: flex;*/
    /*display: -webkit-flex;*/
    /*flex-wrap: nowrap;*/
    /*overflow-x: auto;*/
    /*height: 50px;*/
    padding: 10px;
    /*border-top: solid 1px #ddd;*/
    /*border-bottom: solid 1px #ddd;*/
}
.container-cat-news.well{margin-bottom: 0;}
.container-cat-news.well-sm{border-radius: 0;}
.container-cat-news span{
    display: inline-block;
    text-align: center;
    width: 19%;
    /*flex: 0 0 auto;*/
    padding: 3px 0 0 0;
    border-radius: 4px;
    border: solid 1px transparent;

}
.container-cat-news span img{
    /*width: 35px;*/
    height: 25px;
    margin-bottom: 5px;
    /*padding: 5px;*/
}
.container-cat-news span p{
    font-size: 11px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-family: Pridi, 'sans-serif';
    margin-right: 5px;
}
.container-cat-news span.active{
    background-color: rgba(0,0,0,0.1);
    border: solid 1px #ccc;
    /*border-bottom: solid 5px red;*/
}
.container-cat-news span.active img{
    /*background-color: rgba(0,0,0,0.1);*/
    /*border-radius: 100%;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin-top: -2px;*/
}

.item-recent-sexy div:nth-child(1){
position: relative;
    overflow: hidden;
    width: 113px;
    height: 64px;
}
.item-recent-sexy div:nth-child(1) img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}


.tab-top.tab-top-article .title h2{
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 70%; /* กำหนดความกว้าง */
    font-size: 16px;
}


.flexbin {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: -2.5px; }
.flexbin:after {
    content: '';
    flex-grow: 999999999;
    min-width: 300px;
    height: 0; }
.flexbin div.card {
    position: relative;
    display: block;
    height: 300px;
    margin: 1.5px;
    flex-grow: 1; }
.flexbin div.card > img {
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom; }
.flexbin.flexbin-margin {
    margin: 2.5px; }
@media (max-width: 980px) {
    .flexbin {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: -2.5px; }
    .flexbin:after {
        content: '';
        flex-grow: 999999999;
        min-width: 150px;
        height: 0; }
    .flexbin div.card {
        position: relative;
        display: block;
        height: 150px;
        margin: 1.5px;
        flex-grow: 1; }
    .flexbin div.card img {
        height: 150px;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom; }
    .flexbin.flexbin-margin {
        margin: 2.5px; } }
@media (max-width: 400px) {
    .flexbin {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin: -2.5px; }
    .flexbin:after {
        content: '';
        flex-grow: 999999999;
        min-width: 100px;
        height: 0; }
    .flexbin div.card {
        position: relative;
        display: block;
        height: 150px;
        margin: 2.5px;
        flex-grow: 1; }
    .flexbin div.card img {
        height: 150px;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom; }
    .flexbin.flexbin-margin {
        margin: 2.5px; } }