.yellow-card,
.red-card,
.substitute-player,
/*.substitute-player:before,*/
.goal-score,
.penalty-score,
/*.goal-score:before,*/
.win-status:before,
.lose-status:before ,
.draw-status:before ,
.group-yellow-card{
    display: inline-block;
    vertical-align: middle;
}

/*ใบเหลือง/ใบแดง*/
.yellow-card,
.red-card,
.substitute-player,
.goal-score,
.group-yellow-card,
.penalty-score,
.penalty-none-score,
.own-goal{
    width: 14px;
    height: 14px!important;
    margin: 3px 0;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.yellow-card {  background-image: url('/images/livescore/yellow-card.png');}
.red-card { background-image: url('/images/livescore/red-card.png');}
.substitute-player { background-image: url('/images/livescore/substitutionin.png');}
.goal-score{ background-image: url('/images/livescore/goal-black.png');}
.goal-score{ background-image: url('/images/livescore/goal-black.png');}
.group-yellow-card{ background-image: url('/images/livescore/two-yellow.png');}
.penalty-score{ background-image: url('/images/livescore/pen.png');}
.penalty-none-score{ background-image: url('/images/livescore/pen-none.png');}
.own-goal{ background-image: url('/images/livescore/owngoal.png');}

/*ใบเหลืองแดง*/
/*.group-yellow-card:before {*/
    /*height: 15px!important;*/
    /*content: url("https://png.icons8.com/office/18/000000/red-yellow-cards.png");*/
/*}*/
/*.substitute-player:before,*/
/*.goal-score:before {*/
    /*font: normal normal normal 14px/1 FontAwesome;*/
    /*color: #4785d2;*/

/*}*/

/*ไเ้ประตู*/
/*.goal-score:before {*/
    /*content: "\f1e3";*/
/*}*/

/*เปลี่ยนตัว*/
/*.substitute-player:before {*/
    /*content: "\f0ec";*/
/*}*/

/*จุดโทษ*/
/*.penalty-score:before {*/
    /*content: url("/images/livescore/penalty-goal.png");*/
    /*height: 15px!important;*/
/*}*/

/*พลาดจุดโทษ*/
/*.penalty-none-score:before {*/
    /*height: 10px!important;*/
    /*content: url("/images/livescore/penalty-goal-none.png");*/
/*}*/

/*ทำเข้าประตูตัวเอง*/
/*.own-goal {*/
    /*content: url("/images/livescore/own-goal.png");*/
    /*height: 15px!important;*/
/*}*/

/*ชนะ*/
.win-status:before ,
.lose-status:before ,
.draw-status:before {
    color: #fff;
    text-align: center;
    font-size: 8px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 50%;
}
.win-status:before{
    content: "W";
    background-color: #0093c9;
}
.lose-status:before{
    content: "L";
    background-color: #d60620;
}
.draw-status:before{
    content: "D";
    background-color: #a1a9af;
}