.container-game {
    /*margin-top: 10px;*/
}

.content-game-vote {
    padding-top: 15px;
    background-color: #fff;

}

.content-list-game {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
    padding: 10px 0 10px 5px;
    /*background-color: #ccc;*/
    background: url(/images/background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 3px red;
}

.container-game {
    margin-bottom: 5px;
}

.container-game .thumbnail-review {
    background-color: transparent;
    margin-top: 20px;
    border-color: transparent;
    padding: 0;
}

.container-game.container-game-review
.thumbnail-review {
    margin: 0;
}
.container-game.container-game-review
.thumbnail-review-index{
    box-shadow: none;
}
.container-game.container-game-review
.box-review-list{
    padding: 0;
}
.content-list-game .thumbnail {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    flex: 0 0 auto;
    margin: 0 5px;
    padding: 5px 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-color: transparent;
}

.content-list-game .thumbnail ul {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.content-list-game .thumbnail ul li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    list-style: none;

}

.content-list-game .thumbnail ul li:nth-child(2) {
    border-left: solid 1px #eee;
}

.content-list-game .thumbnail ul li img {
    height: 20px;
}

.content-list-game .thumbnail h3,
.content-list-game .thumbnail h4 {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.content-list-game .thumbnail h4 {
    font-size: 12px;
    line-height: 20px;
}

.content-list-game .thumbnail h3 {
    font-size: 16px;
}

.content-list-game .thumbnail .time-live {
    text-align: center;
}

.content-list-game .thumbnail .time-live i,
.content-list-game .thumbnail .time-live p {
    display: inline-block;
    color: #aaaaaa;
}

.content-list-game .thumbnail .time-live p {
    margin: 5px 0 0;
}

.content-list-game .col-xs-3 {
    padding: 0 5px;
}

.content-list-game .thumbnail.active {
    margin-top: -3px;
    /*background-color: #fff;*/
    background: url(/images/image-livescore.jpg);
    background-position: center;
    border: solid 1px #fff;
    font-size: 100%;

}

.content-list-game .thumbnail.active,
.content-list-game .thumbnail.active p,
.content-list-game .thumbnail.active i,
.content-list-game .thumbnail.active h4,
.content-list-game .thumbnail.active h3{
    color: #000;
}
.content-list-game .thumbnail.active ul li:nth-child(2) {
    border-left: solid 1px #000;
}
.content-list-game .thumbnail.active ul li img{height: 25px;}
.content-list-game .thumbnail.active .time-live {
    border-top: solid 1px;
    margin-top: 7px;
    border-color: #000;
}
.content-list-game .thumbnail.active h3 {
    font-size: 25px;
}
.header-game h4 {
    margin: 0;
}

.header-game {
    width: 100%;
    text-align: center;
}

.header-game ul {
    margin: 0;
    padding: 0;
}

.header-game ul li {
    color: #aaaaaa;
    display: inline-block;
}
.container-game .mini-title h3{margin: 0;}
.container-game .thumbnail-review .col-xs-6 {  padding: 0; }

.container-game .thumbnail-review {
    clear: both;
    width: 100%;
    display: block;
    float: left;
}

.container-game .home-review-box {
    border-right: solid 1px #ddd;
    padding-right: 15px;
}

.container-game .away-review-box {
    padding-left: 15px;
}

.container-game .away-review-box,
.container-game .home-review-box {
    width: 100%;
    vertical-align: top;
    position: relative;
    z-index: 0;
}

.container-game .thumbnail-review .away-review-box .logo img,
.container-game .thumbnail-review .home-review-box .logo img {
    width: auto;
    height: 45px;
}

.container-game .thumbnail-review .mobile-vote-team {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.container-game .thumbnail-review .mobile-vote-team {
    width: 100px;
    height: 35px;
}

.container-game .thumbnail-review .mobile-vote-team h4 {
    line-height: 35px;
    font-size: 17px;
}

.away-review-box .name, .home-review-box .name {
    line-height: normal;
    font-size: 16px;
    margin-bottom: 5px;
}

.container-game .thumbnail-review ul {
    margin: 0;
    padding: 0;
}

.container-game .thumbnail-review ul.last-player li i,
.container-game .thumbnail-review ul.last-match li i {
    font-size: 15px;
}

.container-game .thumbnail-review ul.last-match {
    margin-top: 10px;
}

.container-game .thumbnail-review ul.last-player {
    width: 100%;
    margin: 0 auto;
}

.container-game .thumbnail-review ul.last-player li i {
    margin-top: 3px;
    color: #333;
}

.container-game .thumbnail-review ul.box-progress li,
.container-game .thumbnail-review ul.box-progress-2 li,
.container-game .thumbnail-review ul.last-player li {
    display: inline-block;
    vertical-align: middle;
}

.container-game .thumbnail-review ul.last-player img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.container-game .thumbnail-review ul.box-progress-2,
.container-game .thumbnail-review ul.box-progress {
    margin-top: 10px;
}

.container-game .thumbnail-review ul.box-progress-2 li:last-child,
.container-game .thumbnail-review ul.box-progress li:first-child {
    width: 20%;
}

.container-game .thumbnail-review ul.box-progress-2 li:first-child,
.container-game .thumbnail-review ul.box-progress li:last-child {
    width: 70%;
}

.container-game .thumbnail-review ul.box-progress-2 li .progress,
.container-game .thumbnail-review ul.box-progress li .progress {
    margin: 0;
    height: 10px;
    width: 100%;
}

.container-game .box-review-list {
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 37px;
    border-color: rgba(0, 76, 143, 0);
}
.container-game.container-game-review .thumbnail{
    margin-bottom: 0;
}
.container-game .thumbnail-review {
    background-color: transparent;
    margin-top: 5px;
    border-color: transparent;
    padding: 0;
}
.container-game .box-review-list table { width: 100%; }
.container-game ol.carousel-indicators li.active {  background-color: #555;  }
.container-game ol.carousel-indicators li { border-color: #aaa;  }

.container-game .home-review-box .win-status:before ,
.container-game .home-review-box .lose-status:before ,
.container-game .home-review-box .draw-status:before,
.container-game .away-review-box .win-status:before ,
.container-game .away-review-box .lose-status:before ,
.container-game .away-review-box .draw-status:before {
    font-size: 5px;
    width: 15px;
    height: 15px;
    line-height: 17px;
    border-radius: 50%;
}

.box-water-text {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    color: #092740;
    font-size: 11px;
}

.box-water-text div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-right: solid 1px #aaa;
}

.box-water-text div:nth-of-type(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}


.item-review-match {
    width: 100%;
    height: auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 2%;
    font-size: 12px;
    position: relative;
}

.item-review-match div:nth-child(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.item-review-match div:nth-child(1) img {
    width: 70px;
    background-color: #fff;
    border: solid 1px #092740;
}

.item-review-match div:nth-child(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0 4px;
}

.item-review-match div:nth-child(3) {
    -webkit-flex-grow: 3;
    flex-grow: 3;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 20px;
}

.item-review-match div:nth-child(4) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.item-review-match div:nth-child(3) p {  margin: 0  }

.container-game .swiper-container {  padding-bottom: 20px;  }

.container-game .swiper-pagination {  margin-top: -10px;  }

div.review-player {
    display: block;
    width: 100%;
    float: left;
}

div.review-player img {
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
}

/*modal bet*/
.modal-vote .modal-dialog,
.modal-vote .modal-body {
    height: 100%;
}

.modal-vote .modal-content {
    text-align: center;
    height: 95%;
    font-family: 'Pridi', serif;
}
.modal-vote .modal-content textarea{margin-top: 10px;}
.modal-vote .modal-content img {
    height: 70px;
    margin: 5px 0;
}

.modal-vote .modal-content h6 {
    font-size: 16px;
    /*margin-top: 50px;*/
}

.modal-vote .modal-content .dropdown .btn {
    width: 100%;
    font-size: 30px;
}

.modal-vote .modal-content .dropdown img {
    height: 50px;
    margin: 0;
}

.modal-vote .modal-content-home {
    background-color: rgba(0, 76, 143, 0.95);
    color: #ffffff;
    border-color: #000000;
}

.modal-vote .modal-content-away {
    background-color: rgba(158, 36, 24, 0.95);
    color: #ffffff;
    border-color: #000000;
}

.modal-vote .dropdown-menu {
    width: 100%;
    font-size: 22px;
}

.modal-vote .btn-group {

    margin: 40px 0 auto;
}

.modal-vote .btn-group .btn {
    font-size: 22px;
    width: 100px;
}

.box-hdp-mobile-game table tr td {
    font-weight: bold;
    width: 30%;
    padding: 4px;
    font-size: 16px;
    vertical-align: middle;
}

.box-hdp-mobile-game table {
    width: 100%;
}

.box-hdp-mobile-game h3 {
    display: block;
    width: 120px;
    margin: 0 auto;
    font-weight: bold;
    background-color: #f1f2f5;
    border-radius: 40px;
    padding: 4px 10px;
}

/*statistics*/
.tab-header-stat{
    position: relative;
    overflow: hidden;
}
.tab-header-stat ul.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.tab-header-stat ul.nav li{
    width: 50%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.tab-header-stat ul.nav li a{
    color: #aaa;
    border: 0;
}
.tab-header-stat ul.nav li.active a{
    background-color: transparent;
    border: 0;
    font-weight: bold;
    border-bottom: solid 5px #02335c;
    color: #000;
    padding: 7px 5px;
}

.tab-header-stat ul.nav img {
    height: 20px;
    margin-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3;
}
.tab-header-stat ul.nav li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
.bx-tn{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    text-align: center;
}
.tab-header-stat ul.nav img,
.tab-header-stat ul.nav span{
    display: inline-block;
}
.tab-header-stat ul.nav span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.head2head .thumbnail{margin-bottom: 0;  }

.container-pie-chart {
    display: flex;
    display: -moz-flex;
    margin: 5px 0 10px 0;
}
.container-pie-chart .text-title {margin: 0 0 10px 0;}
.container-pie-chart .text-title h4{font-size: 14px!important;}
.container-pie-chart .text-title h4::after {
    bottom: -3px;
    height: 3px;
}
.col-box-chart{flex: 1; padding: 0 5px;}
.container-pie-chart .col-box-chart:first-child {
    border-right: solid 1px #eee;
}
.box-pie-chart{width: 60%;}
.detail-pie-chart{
    width: 37%;
    vertical-align: top;
}
.box-pie-chart img { max-width: 100%;  }

.detail-pie-chart div{ width: 100%; }
.detail-pie-chart div:nth-child(1) span:before{color: #0091c8;}
.detail-pie-chart div:nth-child(2) span:before{color: red;}
.detail-pie-chart div:nth-child(3) span:before{color: #aaaaaa;}

.detail-pie-chart div span:before{
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 8px;
    content: "\f111";
    padding-right: 1px;
}
.detail-pie-chart div span{
    font-size: 9px;
    display: block;
    float: left;
    width: 100%;
}
.detail-pie-chart table {
    width: 100%;
}

.detail-pie-chart table tr td {
    padding: 0 5px;
}

.detail-pie-chart table tr td:nth-child(2) {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;

}

.detail-pie-chart h3 {
    display: block;
    float: left;
    width: 100%;
    font-size: 14px;
    color: #02335c;
    margin: 0;
    font-weight: bold;
}

.detail-pie-chart span {
    font-size: 12px;
}

.detail-pie-chart i,
.detail-pie-chart span {
    display: inline-block;
}

.container-table-last span img{
    height: 25px;
    display: inline-block;
}

.box-match-list {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
}

.box-match-list-title-last {
    display: block;
    float: left;
    width: 100%;
    /*overflow: auto;*/
    /*margin-bottom: 15px;*/
    position: relative;

}
.box-match-list-title-last .bt-lastmatch-dropdown{
    width: 20%;
}
.bh-ctn{
    display: inline-block;
    width: 100%;
    /*overflow: hidden;*/
    /*position: relative;*/
}
.bh-ctn.well-sm{
    padding: 3px 0 3px 0;
    margin-bottom: 3px;
}
.box-match-list-title-last ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 80%;
}
.box-match-list-title-last ul li.box-match-title-name{
    border-left: solid 5px red;
    padding: 0 0 0 5px;
}

.box-match-list-title-last ul li.box-match-title-name {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}

.box-match-list-title-last .btn-group {
    margin: 0 auto;
}

.box-match-title-name li {
    display: block !important;
    float: left;
    line-height: normal !important;
    width: 100%;
}

.box-match-title-name li img {
    height: 13px;
    margin: 0 1% 0 0;
}

.box-match-list-topic {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    overflow: auto;
    background-color: #ddd;
}

.form-inline-checkbox {
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*overflow-x: auto;*/
    width: 100%;
    margin-bottom: 0;
    position: relative;
}

.shadow-label{

    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    background: linear-gradient(to left,#ffffff,rgba(255,255,255,0));
    right: 0;
    box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 300ms ease-in-out,visibility 0s 2s;
    transition: opacity 300ms ease-in-out,visibility 0s 2s;
    width: 100px;
    z-index: 1;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.form-inline-checkbox label {
    display: inline-block;
    margin: 3px;
    /*width: 1px;*/
    /*-webkit-flex-grow: 1;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
}
.form-inline-checkbox label.active::before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #fff;
}
.form-inline-checkbox label.active:focus,
.form-inline-checkbox label.active{
    background-color: #16335c!important;
    border-color: #000!important;
    color: #fff!important;
}
.box-match-list-topic .pull-right {
    width: 21%;
}

.box-match-list-topic .pull-left {
    width: 70%;

}

.box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.box-match-list-topic p,
.box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.box-match-list-topic img {
    height: 15px;
    margin-right: 5px;
}

.box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
}

.box-match-list div:nth-of-type(3) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px #ced4da;
}

.time-match,
.date-match {
    border-right: solid 1px #ced4da;
}

.home-name-match,
.away-name-match {
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.home-name-match img,
.away-name-match img {
    height: 15px;
    margin-right: 5px;
}

.odds-match img,
.result-match img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.content-table-standing {
    margin-top: 15px;
    display: block;
    float: left;
    width: 100%;
}
.content-table-standing table tr.box-highlight-team{
    background-color: rgba(0,0,0,0.07)
}
.content-table-standing table tr.box-highlight-team-2{
    background-color: rgba(0,0,0,0.03)
}
.content-table-standing table {
    width: 100%;
    font-size: 12px;
}

.content-table-standing table tr th,
.content-table-standing table tr td {
    padding: 2px;
    text-align: center;
}

.content-table-standing table tr th:nth-child(2),
.content-table-standing table tr td:nth-child(2) {
    text-align: left;
}

.content-table-standing table tr td img,
.content-table-standing table tr td p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.content-table-standing table tr td img {
    height: 15px;
}

.content-table-standing table tr td p {
    width: 65%;
    -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*Modal full review*/

.modal-title-review ul li p {
    margin: 0;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 100px; /* กำหนดความกว้าง */
}

.modal-title-review ul li p,
.modal-title-review ul li img {
    vertical-align: middle;
}

.modal-title-review ul li img {
    height: 30px;
    margin: 0 5px;
}

.box-content-review {
    width: 100%;
    margin: 5px 0 15px 0;
}

.box-content-review .text-title {
    margin: 0;
}

.box-content-review .text-title h4 {
    font-size: 14px !important;
}

.box-content-review .text-title h4::after {
    height: 4px;
}
.tab-review ul{
    display: flex;
    display: -moz-flex;
}
.tab-review ul li a{
    opacity: 0.3;
    color: #333;
}
.tab-review ul li.active a:hover,
.tab-review ul li.active a:focus,
.tab-review ul li.active a{
    opacity: 1;
    border:0!important;
    border-bottom: solid 5px #000!important;
}
.tab-review ul li{
    flex: 1;
    border:0!important;
}
.tab-review ul li h4,
.tab-review ul li img{
    display: inline-block;
    vertical-align: top;
}
.tab-review ul li img{
    height: 18px;
}
.tab-review ul li h4{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 80%; /* กำหนดความกว้าง */
}
.top-content-review,
.content-full-review-stat {
    width: 100%;
}

.content-full-review-stat {
    padding-left: 5px;
}

.content-full-review-stat table {
    width: 100%;
    margin-top: 5px;
}

.content-full-review-stat table tr th,
.content-full-review-stat table tr td {
    text-align: center;
}

.content-full-review-stat table tr td {
    font-size: 11px;
}

.top-content-review {
    /*border-right: solid 1px #ccc;*/
}

.content-full-review-stat table tr th:nth-child(2),
.content-full-review-stat table tr td:nth-child(2) {
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
}

.content-full-review-stat table tr td:nth-child(2) i {

}

.top-content-review div {
    display: inline-block;
    vertical-align: middle;
}

.top-content-review div:nth-of-type(1),
.top-content-review div:nth-of-type(1) img {
    /*height: 41px;*/
    width: 120px;
}

.top-content-review div:nth-of-type(2) {
    margin-top: 0px;
}

.top-content-review div:nth-of-type(2) img {
    height: 15px;
}

.top-content-review div:nth-of-type(2) h5,
.top-content-review div:nth-of-type(2) span {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;

}

.top-content-review div:nth-of-type(2) span {
    font-size: 14px;
    width: 75px;
}

.top-content-review h5 {
    font-size: 14px;
    color: #086aab;
    width: 85px;
}

.top-content-review img,
.top-content-review span {
    display: inline-block;
    vertical-align: middle;
}

.top-content-review h3,
.top-content-review h5 {
    font-weight: bold;
}

.top-content-review h3,
.top-content-review h5,
.top-content-review p {
    margin: 0;
    padding: 0;
}

.box-player-preview img {
    height: 20px;
}

div.top-content-review-player img {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50%;
}

.team-bet-color {
    text-decoration: underline;
    color: #5bc0de;

}

.content-full-review-stat {
    margin: 10px 0;
}

.full-review-stat,
.content-full-review-stat span {
    display: inline-block;
}

.content-full-review-stat span {
    width: 30%;
    font-size: 12px;
    color: #000;
}

.full-review-stat {
    width: 65%;
}

.full-review-stat ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.full-review-stat ul li {
    flex: 0 0 auto;
    margin: 0 2px;
    list-style: none;
    line-height: normal;
}

.full-review-stat ul li img {
    height: 15px;
}

.full-review-caption {
    padding: 5px;
    font-size: 16px;
}

.modal-content-review {
    position: relative;
    z-index: 0;
}

.modal-content-review .tab-content {
    position: relative;
    padding: 5px;
}

.modal-content-review .close {
    font-size: 35px;
    opacity: 1;
    margin-top: -10px;
}

.bg-winRate-box {
    position: relative;
    width: 62px !important;
    font-size: 20px;
    color: #FFF;
    background: #092740;
    margin-top: -2px;
}

.bg-winRate-box:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -21px;
    z-index: 0;
    background: #092740;
    transform-origin: top right;
    -ms-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
}

.modal-content-review .modal-body {
    padding-top: 0;
}

.btnAll-review {
    position: absolute;
    top: 10px;
    right: 39px;
}

.btnAll-review .btn-xs {
    padding: 5px 10px;
    background-color: #02335c;
}

.HDP-box-center {
    position: absolute;
    width: 70px;
    left: 0;
    right: 0;
    border: solid 1px #ddd;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 5px 5px 10px 5px;
    border-radius: 4px;
    z-index: 1;
}
.HDP-box-center .mini-title,
.HDP-box-center .mini-title h3{
    color: #fff;
}
.HDP-box-center .mini-title,
.HDP-box-center .mini-title h3,
.HDP-box-center h2 {
    margin: 0;
    padding: 0;
}

.HDP-box-center .mini-title {
    margin-bottom: 10px;
}

.HDP-box-center .mini-title h3 {
    font-size: 14px;
}

.HDP-box-center .mini-title h3:before,
.HDP-box-center .mini-title h3:after {
    top: 7px;
}

.HDP-box-center .mini-title h3:before {
    margin-right: 5px;
}

.HDP-box-center .mini-title h3:after {
    margin-left: 5px;
}

.HDP-box-center h2 {
    font-size: 20px;
    font-weight: bold;
}

.box-nav-game-data{
    background-color: #fff;
    text-align: center;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.box-nav-game-data ul li a{
    color: #333;
    padding: 21px 13px 12px 13px;
}
.box-nav-game-data ul li {
    display: inline-block;

    /*display: none;*/
}
.box-nav-game-data ul{margin: 0!important;}
.box-nav-game-data.affix{
    /*display: block;*/
    position: fixed;
    z-index: 999;
    top: 0;
}