.container-title-highlight {
    margin: 10px 0;
    padding: 6px 3px 0 3px;
    width: 100%;
    position: relative;
    /*overflow: hidden;*/

}

.container-title-highlight .btn-group span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.container-title-highlight .btn-group span:nth-child(1) img,
.container-title-highlight ul.dropdown-menu img {
    width: 20px;
    height: 20px;
}

.container-title-highlight ul.dropdown-menu li a {
    line-height: 30px !important;
}

.topic-highlight span img {
    height: 30px;
    margin-right: 5px;
}

.topic-highlight a {
    padding: 0;
    line-height: 25px;
}

.topic-highlight a[data-toggle="collapse"]:after {
    margin-top: 7px;
}

.topic-highlight a.btn[data-toggle="collapse"]:after,
.topic-select-team a.btn[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

.topic-highlight a.btn[data-toggle="collapse"].collapsed:after,
.topic-select-team a.btn[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

.topic-select-team a:after {
    padding-left: 10px;
}

.collapse-league,
.collapse-team {
    /*margin-top: 10px;*/
}

.collapse-league .well,
.collapse-team .well {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
}

.collapse-league ul ,
.collapse-team ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.collapse-league ul li ,
.collapse-team ul li {
   display: inline-block;
    text-align: center;
    width: 19%;
    margin: 5px 0;
    border-radius: 4px;
    padding: 3px;
}

.collapse-league ul li span ,
.collapse-team ul li span {
    width: 100%;
    display: inline-block;
    font-size: 12px;
}



.collapse-league li.active,
.collapse-team li.active{
    background-color: rgba(0,0,0,0.1);
}
.collapse-league ul li span img {
    height: 35px;
}
.collapse-team ul li span{font-size: 11px;}
.collapse-team ul li span img {
    height: 25px;
}
.collapse-team ul li span:nth-child(2){
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.collapse-team ul li {
    width: 15%;
}



span.name-btn-group {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;

    white-space: nowrap;
    width: 50px; /* กำหนดความกว้าง */
    font-family: Pridi, 'sans-serif';
    margin-right: 5px;
}

.box-selectTeams {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 150px;
    height: 35px;
}

.box-selectTeams span {
    flex: 0 0 auto;
    margin-right: 8px;
}

.box-selectTeams span img {
    width: 28px;
    height: 28px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
}

.box-selectTeams span.active img {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    opacity: 1;
}

.container-main-highlight {
    margin-top: 0;
    display: block;
    width: 100%;
    height: auto;
    background-color: #000;
}

.container-list-highlight {
    margin-top: 5px;
}

.container-list-highlight ul.nav {
    border-bottom: solid 1px #02335c;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.container-list-highlight ul.nav li a{
    padding: 10px;
    color: #888;
}
.container-list-highlight ul.nav li {
    flex: 1;
    text-align: center;
    /*display: inline-block;*/

}


.container-list-highlight ul.nav li.list-highlight-all.active a {
    background-color: red;
    color: #fff;
}
.container-list-highlight ul.nav li.list-highlight-full.active a{
    background-color: #f8d50a;
    color: #000;
}
.container-list-highlight ul.nav li.active a .badge {
    background-color: #fff;
    color: #02335c;
}

.container-list-highlight .nav > li > a:hover,
.container-list-highlight .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.container-list-highlight
.tab-content {
    padding: 10px 0;
}

.highlight-item
.box-hothit-title span {
    display: none;
}

.highlight-item.active {
    padding: 3px;
    background-color: #eee;
}

.highlight-item.active
.box-hothit-title h3 {
    margin: 0;
}

.highlight-item.active
.box-hothit-title span {
    display: block;
    float: left;
    background-color: red;
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
}

.tab-pane-full-match .highlight-item.active
.box-hothit-title span {
    background-color: #f8d50a;
    color: #000;
}

.highlight-item.active
.box-hothit-title span:before {
    display: inline-block;
    font: normal normal normal 11px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f04c";
    margin-right: 5px;
}

.highlight-item.active .box-hothit-title p {
    display: none;
}