
body {
    /*background-color: #f8f8f8;*/
    padding-top: 80px;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
}

/*news*/
.container-news-index {
    background: url(/images/background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 3px red;
}

.container-news-index {
    /*margin-bottom: 5px;*/

}

.container-news-index .swiper-pagination-bullet {
    background: #fff;
}

.container-news-index .text-title p,
.container-news-index .text-title h4,
.container-news-index .item-recent div:nth-child(2) h4,
.container-news-index .time-box,
.container-news-index .time-box,
.container-news-index .view-box,
.container-news-index .vertical-line-between {
    color: #fff;
}

.container-news-index .text-title h4::after {
    background: rgba(255, 255, 255, 0.75);
}

.container-news-index .text-title:after {
    border-color: rgba(255, 255, 255, 0.5);
}

.container-news-index .item-recent div:nth-child(1):before {
    border-right: 10px solid #1d3f69;
}

.col-news .media-body h4,
.col-news .media-body p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.col-news .media-body h4 {
    font-size: 18px;
    margin: 0;
    color: #02335c;
    line-height: 24px;
    font-family: 'Pridi', serif;
}

.col-news .media-body p {
    color: #aaa;
    -webkit-line-clamp: 1;
    margin: 0;
}

.col-news .media-left img {
    width: 110px;
    height: auto;
    position: absolute;
    z-index: 0;
}

.col-news .media-left {
    position: relative;
    width: 110px;
    height: 62px;
}

.col-news .media-left::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 30%;
    z-index: 1;
    right: 10px;
}

.col-highlight {
    margin-bottom: 15px;
}

.col-news .media {
    margin: 0;
}

.col-news .swiper-container {
    padding-bottom: 22px;
    margin-bottom: 20px;
}

.col-news .swiper-pagination {
    bottom: 0 !important;
}

.col-highlight .carousel-indicators,
.col-news .carousel-indicators {
    bottom: -38px;
}

.col-highlight .swiper-pagination {
    bottom: 0 !important;
    margin-top: 20px;
}

.col-highlight .swiper-container {
    padding-bottom: 29px;
}

.thumbnail-highlight .caption {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumbnail-highlight .caption ul {
    margin: 0;
    padding: 0;
}

.thumbnail-highlight .caption ul li {
    display: inline-block;
    font-size: 11px;
    color: #aaa;
}

.thumbnail-highlight .caption ul li i {
    margin-right: 5px;
}

.thumbnail-highlight .caption p {
    color: #000;
    font-family: 'Pridi', serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.thumbnail-highlight img {
    max-width: 100%;
}

/*Nav Footer*/
.content-nav-footer {
    -moz-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
    background-color: #002843;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.content-nav-footer.hidden {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.content-nav-footer ul {
    margin: 0;
    padding: 0;
}

.content-nav-footer ul li {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    list-style: none;
    padding: 0 5px;
}

.content-nav-footer ul li span {
    font-size: 11px;
    line-height: 20px;
}

.content-nav-footer ul a {
    padding: 10px 5px;
    display: inline-block;
}

.nf-livescore:before,
.nf-highlight:before,
.nf-news:before,
.nf-sexy:before,
.nf-profile:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;

}

.nf-livescore:before,
.nf-highlight:before,
.nf-news:before,
.nf-sexy:before,
.nf-profile:before,
.content-nav-footer ul li span {
    color: rgba(255, 255, 255, 0.35);
}
.content-nav-footer ul li span{
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block; overflow: hidden;
    white-space: nowrap;
}
.nf-livescore:before {
    content: "\f1e3";
}

.nf-highlight:before {
    content: "\f03d";
}

.nf-news:before {
    content: "\f1ea";
}

.nf-sexy:before {
    content: "\f182";
}

.nf-profile:before {
    content: "\f007";
}