.box-field {
    position: relative;
    display: inline-block;
    min-width: 310px;
   max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.content-field {
    display: block;
    float: left;
    width: 100%;
    min-width: 310px;
    max-width: 400px;
    height: auto;
    background-color: #477743;
    position: relative;
    background-image: url('/images/bg-field.png');
    background-size: 100% 480px;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bg-field {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.bg-field img {  max-width: 100%;  }

.topic-formation{
    width: 100%;
    display: block;
    float: left;
    background-color: white;
}
.topic-formation h5,
.topic-formation img{
    display: inline-block;
}
.topic-formation img{height: 15px;}
.home-formation,
.away-formation {
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.info-box-pos{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 62px;
}
/*Home*/
.home-formation div span {
    background-color: red;
    color: white;
    border-color: white;
    box-shadow: 0 3px 8px #111;
}

.home-formation div p,
.away-formation div p{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: 50px;
    height: 17px;
    display: block;
    font-size: 11px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.away-formation div.box-gk span,
.home-formation div.box-gk span {
    background-color: black;
}

.home-gk-row-content,
.home-df-row-content,
.home-cm-row-content,
.home-ft-row-content {
    position: relative;
    height: 60px;
}

/*Away*/
.away-formation div span {
    background-color: blue;
    color: white;
    border-color: white;
    box-shadow: 0 3px 8px #111;
}


.away-gk-row-content,
.away-df-row-content,
.away-cm-row-content,
.away-ft-row-content {
    height: 60px;
}


.df-row-6,
.df-row-5,
.df-row-4,
.df-row-3,
.cm-row-2,
.cm-row-3,
.cm-row-4,
.cm-row-5,
.cm-row-6,
.ft-row-4,
.ft-row-3,
.ft-row-2 {
    display: flex;
    display: -moz-flex;
}

.box-gk,
.box-df,
.box-cm,
.box-ft {
    text-align: center;
    flex: 1;
}

.box-gk span,
.box-df span,
.box-cm span,
.box-ft span {
    display: inline-block;
    border-radius: 50%;
    border: solid 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
}

.gk-row-1 {
    text-align: center;
}

.box-gk,
.box-df,
.box-cm,
.box-ft {
    position: relative;
}

.home-gk-row-1 {
    width: 100%;
}

.box-gk span,
.box-df span,
.box-cm span,
.box-ft span {
    margin: 0 auto;
    margin-top: 5px;

}
.home-sub-content,
.away-sub-content{
    flex: 1;
}
.content-sub-player{
    background-color: #fff;
    display: block;
    float: left;
    width: 100%;
    padding: 0;
}
.content-sub-player .title-center {
    padding: 12px 20px;
    font-size: 12px;
}
.content-sub-player table{width: auto;}
.content-sub-player tr td{padding: 0 2%; vertical-align: top;}
.content-sub-player ul{margin: 0 0 3px 0; padding: 0;}
.content-sub-player ul li p{
    margin: 0;
    display: block;
    color: #aaa;
}
.content-sub-player ul.home-sub{text-align: left;}
.content-sub-player ul.away-sub{text-align: right!important;}

.content-sub-player ul.home-sub li,
.content-sub-player ul.away-sub li{
    display: inline-block;
    font-size: 10px;
    word-wrap: break-word;
    vertical-align: top;
}
.content-sub-player ul.home-sub li:last-child,
.content-sub-player ul.away-sub li:first-child{width: 76%;}

.content-sub-player .name{line-height: 11px;}

.content-sub-player ul.home-sub li .name span,
.content-sub-player ul.away-sub li .name span{
    color: #000;
    font-weight: bold;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 95%;
    font-size: 11px;
}
.content-sub-player ul.home-sub li .name div,
.content-sub-player ul.away-sub li .name div{
    display: inline-block;
    vertical-align: top;
}
.content-sub-player ul.home-sub li:last-child{  margin-left: 12px;  }
.content-sub-player ul.away-sub li:first-child{  margin-right: 12px;  }

.content-sub-player ul.home-sub li span,
.content-sub-player ul.away-sub li span{
    font-size: 12px;
    display: inline-block;
}
.content-sub-player .substitute-player{margin: 0 1%;}
.content-sub-player .substitute-player:before{
    font-size: 12px;
}

.home-sub .num-sub-t ,
.away-sub .num-sub-t {
    position: relative;
    font-size: 20px;
    z-index: 0;
    color: #FFF;
    background: #FF0000;
}
.away-sub .num-sub-t{background: blue}

.home-sub .num-sub-t div,
.away-sub .num-sub-t div{
    width: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 11px;
    padding: 5px 0;
}
.home-sub .num-sub-t div{margin-left: 2px;}
.away-sub .num-sub-t div{margin-right: 2px;}

.home-sub .num-sub-t:after ,
.away-sub .num-sub-t:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #FF0000;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.away-sub .num-sub-t:after{
    background: blue;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.content-sub-player .detail-player{line-height: 10px;}

.content-sub-player ul li .detail-player p,
.content-sub-player ul li .detail-player div,
.content-sub-player ul li .detail-player span{
    display: inline-block;
    vertical-align: middle;
}
.content-sub-player ul.home-sub li .detail-player p:last-child,
.content-sub-player ul.away-sub li .detail-player p:first-child{
    width: 50%;
    overflow: hidden;
}




.symbol-bt,
.symbol-bt-right,
.symbol-bt-bottom{
    position: absolute;
}
.symbol-bt{top: 0;left: 1%;}
.symbol-bt-right{top: 0;right: 0;}
.symbol-bt-bottom{top: 15px; left:1%;}

.symbol-bt.goal-score div,
.symbol-bt.penalty-score div{
    position: absolute;
    top:13px;
    font-size: 11px;
    width: 14px;
    font-weight: bold;
    left: 0;
    text-align: center;
}

/*.symbol-bt.yellow-card,*/
/*.symbol-bt.red-card {*/
    /*width: 10px!important;*/
    /*height: 15px!important;*/
    /*margin: 0;*/
    /*border: solid 1px #fff;*/
    /*border-radius: 3px;*/
/*}*/

/*.symbol-bt.yellow-card{background-color: yellow;}*/
/*.symbol-bt.red-card{background-color: red;}*/

@media screen {
    
}