.tab-content-livescore .container {  padding: 0;  }
.tab-content-livescore .container .panel-group {  margin-bottom: 0;  }
.tab-content-livescore .container .panel-group a {  color: #333;  }
.tab-content-livescore .container .read-review-more a{  color: #fff!important;  }

/*Switch*/
.checkbox.checbox-switch {  padding-left: 0;  }
.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}

.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}

.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    background-color: #ccc;
    border-color: #aaa;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    content: " ";
    top: 0;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 16px;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
   transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: #aaa;
    border-color: #777;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/*Live Score*/
.main-live-box a:hover,
.main-live-box a:focus {
    text-decoration: none;
}

.main-live-box .panel {
    margin-top: 1px!important;
    margin-bottom: 0;
    border: 0;
    border-radius: 0!important;
}
.main-live-box .panel-collapse{  border-left: solid 1px blue;  }
ul.nav-liveScore {
    display: flex;
    display: -webkit-flex;
    background-color: #fff;
    box-shadow: 0 15px 10px -15px #aaa;
}

ul.nav-liveScore.affix {
    width: 100%;
    top: 0;
    z-index: 999;
    transition: top 0.3s;
}

ul.nav-liveScore li {  flex: 1;  text-align: center;  }
ul.nav-liveScore li a {
    color: rgba(0,0,0,0.3);
    padding: 8px 0;
    font-size: 12px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

ul.nav-liveScore li a.tab-live-top,
ul.nav-liveScore li.active a.tab-live-top,
ul.nav-liveScore li.active a:focus.tab-live-top {
    color: red;
}

ul.nav-liveScore li a.tab-live-top:before,
.topic-livescore h2 small:before {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    content: "\f111";
    padding-right: 5px;
}

ul.nav-liveScore li.active a,
ul.nav-liveScore li.active a:focus,
ul.nav-liveScore li.active a:hover {
    border: 0;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    border-bottom: solid 3px red;
}

.topic-livescore {  width: 100%;  padding: 1%;  }
.topic-livescore h2 {  font-size: 20px;  margin: 0;  flex: 3;}
.topic-livescore h2 small {  font-size: 13px;  margin-left: 5px;  }
.topic-livescore h2 small:before {  content: "\f073";  }
.topic-livescore .form-group {  flex: 1;  }
.topic-livescore .form-group span,
.topic-livescore .form-group .checkbox,
.title-league img,
.title-league h5 {
    display: inline-block;
}

.topic-livescore .form-group {  margin: 0;  }
.title-league {
    margin-top: 0;
    background-color: #0c4b8a66;

}
.topic-livescore .form-group .checkbox {  margin: 0;  }

.title-league h5 {
    font-size: 11px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
    line-height: 20px;
}

.title-league img {  height: 15px;  margin: 1%;  }
.row-live-box {
    display: inline-block;
    width: 100%;
    background-color: transparent!important;
    border-radius: 4px;
    padding: 0;
}

.row-live-box .panel-heading {
    background-color: #fff;
    position: relative;
    text-align: center;
    height: 28px;
    padding: 0;



    border-radius: 0;
    border-bottom: solid 1px #ddd!important;
}

.status-live .row-live-box .panel-heading:last-child,
.row-live-box .panel-heading:last-child{
    border-bottom: solid 1px transparent!important;
}

.status-live .row-live-box .panel-heading{
    border-bottom: solid 1px #D94A3A;
}
.status-live .row-live-box .panel-heading,
.status-live .row-live-box {
    background-color: #FEE3E0;
    color: #D94A3A;
}
.status-live .title-league{  background-color: #d0685c;  }

.status-live .main-live-box .panel-body {
    background-color: #fff;
    color: #555;
}
.status-live .main-live-box .panel-collapse{  border-left: solid 1px red;  }
.status-live .main-live-box .panel-body .tab-content {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0;
}

.status-live .real-time-match {  color: red;  }
.status-live .main-live-box [data-toggle="collapse"]:after {  color: #D94A3A;  }

.center-row {  width: 15%;  }

.row-hdp {  padding-top: 3px;  }
.row-hdp .title-center {
    font-size: 9px;
    padding: 0 5px;
    margin: 0;
    line-height: 9px;
}

.row-hdp strong {
    display: inline-block;
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 1;
    margin-top: 0;
}

.row-hdp .title-center:before,
.row-hdp .title-center:after {
    margin: 0 5px;
    top: 2px;
}
.home-side-team,
.away-side-team {
    width: 40%;
}

.home-side-team,
.away-side-team,
.center-row {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
}

.home-side-team {  text-align: right;  }
.away-side-team {  text-align: left;  }

.home-side-team h5,
.away-side-team h5 {
    font-size: 11px;
    line-height: 11px;
    margin: 0;
    padding: 0;
    word-wrap:break-word;
    width: 55%;
}


.home-side-team img,
.away-side-team img {
    width: 20px;
}

.home-side-team h5,
.away-side-team h5,
.home-side-team img,
.away-side-team img,
.score-live ul li,
.score-live-ft ul li {
    display: inline-block;
    vertical-align: middle;
}
.home-side-team .pull-right{width: 100%;}
.away-side-team .pull-left{width: 100%;}
.score-live {  color: #D94A3A;  }
.score-live-ft {  color: grey;  }

.score-live-ft ul,
.score-live ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.time-match-default,
.time-live,
.end-time {
    position: absolute;
    left: 5px;
    font-size: 11px;
    line-height: 25px;
    height: 25px;
    color: #555;
}

.box-vote-win-btn {
    display: flex;
    display: -moz-flex;
}

.box-vote-win-btn {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.box-vote-win-btn .thumbnail{
    padding: 10px 0;
    margin-bottom: 0;
}
.box-vote-win-btn .btn-group {
    margin: 0 auto;
    display: inline-block;
    width: 290px;
}

.box-vote-win-btn .btn-group button {  width: 97px;  }

.time-live {  color: red;  }

.end-time {  color: grey;  }

.main-live-box [data-toggle="collapse"]:after {
    position: absolute;
    right: 5px;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

.main-live-box [data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

.main-live-box .row-live-box .panel-heading a:focus {
    text-decoration: none;
}

.main-live-box .panel-body {
    padding: 0;
    background-color: #eee;
}
.main-live-box .panel-body .tab-content{
    background-color: white;
    margin: 1% 1% 2%;
    padding: 1% 2%;
    border-radius: 4px;
    border: solid 1px #ccc;
    height: 300px;
    overflow-x: scroll;
}
.main-live-box .content-vote-review .title-center{
    margin-bottom: 5px;
}
.main-live-box .content-vote-review .title-center:before,
.main-live-box .content-vote-review .title-center:after {
    top: 13px;
}
.standing-view_last5,
.standing-view_odd {
    margin: 0;
    padding: 0;
    height: 14px;
}

.standing-view_last5 li,
.standing-view_odd li {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
}

.home-status-match,
.away-status-match {
    flex: 1;
}
.panel-body-status-match{
    box-shadow: inset 0 15px 10px -15px #888;
    padding-top: 10px;
}
.home-status-match {
    border-right: solid 1px rgba(0,0,0,0.5);
    padding-right: 3px;
}
.away-status-match {  padding-left: 3px;  }

.standing-view-logo {
    width: 15px;
    text-align: center;
    height: 28px;
    vertical-align: top;
    display: none;
}
.standing-view-logo img,
.standing-view-logo span{
    vertical-align: top;
}
.standing-view-logo img {  width: 100%;  }

.standing-view-logo span {
    width: 100%;
    font-size: 9px;
    display: block;
    float: left;
    margin-top: -3px;
}

.row-live-box .panel-body .title-center {  padding: 0 50px;  }
.row-live-box .panel-body .title-center h6 {
    margin: 0;
    font-size: 11px;
}

.row-live-box .panel-body .title-center:before,
.row-live-box .panel-body .title-center:after {
    background-color: #eee;
}

/*Head To Head*/

.box-h2h {  padding: 0;  }
.box-h2h .nav li {  text-align: center;  }
.box-h2h .nav {
    display: flex;
    display: -moz-flex;
    width: 100%;
    margin-bottom: 0;
}

.box-h2h .nav li.nav-tabs-team {
    flex: 0 0 50%;
    padding: 3px 0 0;
}

.box-h2h .nav li.nav-tabs-team img {  height: 18px; }
.box-h2h .nav li.nav-tabs-team a {  padding: 0 5px;  }
.box-h2h .nav li.nav-tabs-team a {
    margin: 0 1%;
    height: 50px;
    padding-top: 10px;
    border-radius: 7px;
    color: #333;
}

.box-h2h .nav li.nav-tabs-team h4,
.box-h2h .nav li.nav-tabs-team a h4 {
    margin: 0;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-h2h .nav,
.box-h2h .nav li.nav-tabs-team a,
.box-h2h .nav li.nav-tabs-team.active a,
.box-h2h .nav li.nav-tabs-team a:focus {
    border: 0;
}
.data-h2h ul{margin-bottom: 10px;}
.box-h2h .nav li a ul {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 12px;
}

.box-h2h .nav li.active a {
    background-color: #eee;
    border: solid 1px #ddd;
}

.box-h2h .nav li ul li {
    display: inline-block;
    font-size: 12px;
}

.box-h2h .tab-content {
    background-color: transparent !important;
    padding: 0!important;
    border: 0!important;
    margin: 0!important;
}
.nav-tabs-h2h{margin-bottom: 0;}
.nav-tabs-h2h h4 {
    font-size: 16px;
    line-height: 25px;
    padding: 0 5px;
}
.box-h2h .win-status:before,
.box-h2h .lose-status:before,
.box-h2h .draw-status:before {
    width: 15px!important;
    height: 15px!important;
    font-size: 8px!important;
    line-height: 17px!important;
}

.box-h2h .box-match-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 1px;
    padding: 3px 0;
}
.box-h2h .box-match-list div.date-match,
.box-h2h .box-match-list div.time-match{
    font-size: 11px;
}
.box-h2h .box-match-list div:nth-of-type(1){
    max-width: 64px;
    flex: 0 0 20%;
}
.box-h2h .box-match-list div:nth-of-type(2){
    flex: 0 0 50%;
}
.box-h2h .box-match-list div:nth-of-type(2) div label{
    margin: 0;
    font-weight: 100;
    font-size: 11px;
}
.box-h2h .box-match-list div:nth-of-type(2) div.home-name-match{
    width: auto;
    max-width: min-content;
}
.box-h2h .box-match-list-topic .pull-left{
    flex: 0 0 80%;
    width: auto;
}
.box-h2h .box-match-list-topic ul li,
.box-h2h .box-match-list div:nth-of-type(3),
.box-h2h .box-match-list div:nth-of-type(4),
.box-h2h .box-match-list div:nth-of-type(5){
    flex: 0 0 10%;
    text-align: center;
    width: auto;
}
.box-h2h .box-match-list:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.07);
}

/*LineUp*/
.box-lineup-m .nav {
    display: flex;
    display: -moz-flex;
    margin-top: 0;
}

.box-lineup-m .nav li {  flex: 1; text-align: center!important; }
.box-lineup-m .nav li a {
    padding: 0;
    color: #333;
}

.box-lineup-m .nav,
.box-lineup-m .nav li a,
.box-lineup-m .nav li a:focus {
    border: 0;
}

.box-lineup-m .nav li a {  padding: 0;  }
.box-lineup-m .nav li a img {
    height: 25px;
    margin: 2.5px;
    display: inline-block;
}
.box-lineup-m .nav li .pull-right,
.box-lineup-m .nav li .pull-left{
    float: none!important;
    text-align: center!important;
}
.box-lineup-m .nav{margin-bottom: 2%}

.box-lineup-m .nav li.active a:focus ,
.box-lineup-m .nav li.active a {
    background-color: #eee!important;
    border:solid 1px #ddd;
}

.box-lineup-m .nav li h4 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    word-wrap:break-word;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.box-lineup-m .nav a small {
    display: block;
    font-size: 10px;
    line-height: 12px;
}

.box-lineup-m .nav a small span {
    margin-left: 5px;
    color: #aaa;
}

.box-lineup-m .nav li a {
    margin: 5px;
    padding: 5px 0;
    border-radius: 7px;
}

.box-lineup-m .tab-content {  margin-top: 5px;  }
.box-lineup-m .tab-content table img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.box-lineup-m .tab-content .text-title h4 {
    font-size: 14px !important;
    color: #555;
}

.box-lineup-m .tab-content .text-title {  margin: 5px 0;  }
.box-lineup-m .tab-content .text-title:after {
    border-bottom: 1px solid #aaa;
}

.box-lineup-m .tab-content .text-title h4::after {
    bottom: -6px;
    left: 0;
    height: 3px;
    background: #aaa;
}

.box-lineup-m .tab-content table tr td:first-child {
    text-align: center;
}

.box-lineup-m .tab-content table tr:first-child td {
    border-top: 0;
}

.box-lineup-m .tab-content table tr td {
    padding: 3px !important;
    vertical-align: middle;
    font-size: 11px;
    border-top: solid 1px #eee;
}

/*Statistics*/
.box-statistics-mobile .nav img{height: 25px!important;}
.box-statistics-mobile .nav{margin-bottom: 2%;}

.box-statistics-mobile  .nav li.active a:focus,
.box-statistics-mobile  .nav li.active a {
    background-color: #eee!important;
    border: solid 1px #ddd!important;
}
.box-statistics {
    background-color: white;
    padding: 10px;
}

.box-statistics ul {
    display: flex;
    display: -moz-flex;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    border-bottom: solid 1px #eee;
}

.box-statistics ul li {
    text-align: center;
    flex: 1;
    list-style: none;
    font-size: 12px;
}

.box-statistics ul li:nth-child(2) {  flex: 3;  }
.box-statistics ul li.high-num span {
    border-radius: 5px;
    background-color: rgb(0, 105, 217);
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}

.box-review-simple {
    position: relative;
    width: 100%;
    margin: 5px 0;
    font-size: 11px;
    padding: 5px 10px 10px 5px;
    background-color: white;
}

.rrs-team {
    width: 20%;
    margin: 0 5px;
}

.rrs-review-simple {  width: 70%;  }

.rrs-team {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.rrs-review-simple span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rrs-profile,
.rrs-profile img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/*Highlight*/
.ft-Highlight .text-title {  margin-bottom: 10px;  }
.ft-Highlight .text-title h4 {  font-size: 16px !important;  }

.ft-Highlight .content-recent {  padding: 0 5px;  }

/*Edit symbol*/
.row-live-box .panel-heading .red-card {
    width: 6px;
    height: 10px !important;
    border-radius: 2px;
}

.row-live-box .win-status:before,
.row-live-box .lose-status:before,
.row-live-box .draw-status:before {
    width: 11px;
    height: 11px;
    font-size: 5px;
    line-height: 11px;
}

.content-result-livescore {  margin-top: 10px;  }
.content-result-livescore ul.nav-tabs-result {
    width: 70%;
    margin: 0 auto;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

.content-result-livescore ul.nav-tabs-result li {
    text-align: center;
    flex: 1;
}

.content-result-livescore ul.nav-tabs-result li a {
    padding: 5px 10px;
    color: #aaa;
}

.content-result-livescore ul.nav-tabs-result li.active a {
    background-color: #002843;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    border: 0;
}

.content-result-livescore .tab-content {  padding-top: 10px;  }

.content-result-livescore .panel-heading:after {
    position: absolute;
    right: 5px;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    content: "\f105";
}

.nav-tabs-event {
    display: flex;
    display: -moz-flex;
    margin: 5px 0 0 0;
    border-bottom: solid 1px transparent;
    position: relative;
    z-index: 1;
}

.nav-tabs-event li {  flex: 1 auto;  }
.nav-tabs-event li a {
    text-align: center;
    margin: 0 2px;
    padding: 3px 4px!important;
    font-weight: 600;
    border-radius: 11px;
    color: #0a1525 !important;
    font-size: 11px;
    background-color: #ddd;
}

.nav-tabs-event li.active {
    border-bottom: 0;
    margin-bottom: -1px;
}

.nav-tabs-event li.active a,
.nav-tabs-event li.active a,
.nav-tabs-event li.active a:focus {
    background-color: #337ab7;
    color: #fff!important;
}

.data-h2h ul {
    margin: 0;
    padding: 0;
}

.data-h2h ul li {
    display: inline-block;
    font-size: 11px;
}

.data-h2h ul li:nth-child(2) {
    padding: 0 8px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-color: #ccc;
}

.header-event-match {
    padding: 10px;
    margin: 0 3px;
    border-bottom: solid 1px #ddd;
}

.header-event-match ul {
    margin: 0;
    padding: 0;
}

.header-event-match ul li {
    display: inline-block;
    width: 49%;
}

.header-event-match ul li h3 {
    margin: 0;
    font-size: 14px;
}

.header-event-match ul li {  color: #aaa;  }
.header-event-match ul li:last-child {  text-align: right;  }

.score-event-match {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.score-event-match div {  flex: 3;  }
.score-event-match h4 {
    flex: 1;
    margin: 0;
    text-align: center;
    color: #555;
    line-height: 25px;
}

.score-event-match img,
.score-event-match p {
    display: inline-block;
    vertical-align: top;
}

.score-event-match img {  height: 25px;  }

.score-event-match p {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 100px; /* กำหนดความกว้าง */
    margin: 0;
    line-height: 25px;
}

.real-time-match:before {
    display: inline-block;
    margin-right: 5px;
    content: "\f017";
    font-family: "FontAwesome";
}

.container-livescore .box-vote-win-btn .btn-group {
    margin: 0 auto;
    display: inline-block;
    width: 250px;
}
.container-livescore .box-vote-win-btn .btn-group button {
    width: 84px;
    padding: 3px;
}
.container-livescore .box-progress .progress{
    width: 250px;
    margin: 0 auto;
}


/*Review*/
.tab-pane-review .nav-review li img {
    height: 40px;
}
.tab-pane-review .nav-review li a{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
.tab-pane-review .nav-review li .HDP-box-center {
    position: relative;
    padding: 10px 0;
    background-color: transparent!important;
}