.container-live-football .container-tab-nav
.tab-content {
    margin-top: 10px;
}
.container-live-football{
    display: block;
    float: left;
    width: 100%;
}
.container-live-football
.container-share-news {
    margin-top: 20px;
    text-align: center;
}
.container-live-football ul.nav,
.container-live-football-top{
    background-color: #fff;
    color: #333;
}
.container-live-football-top .text-title h4{
    color: #fff;
}
.container-live-football-top .text-title h4::after {
    background: #fff;
}
.container-tab-nav .container-live-football-top  ul.nav{
    border-bottom: 0;
}
.container-tab-nav .container-live-football-top  ul.nav li.active a{
    background-color: transparent;
    color: #02335c;
    border-bottom: solid 5px red;
}
.container-tab-nav .container-live-football-top  ul.nav li:nth-child(1){
    /*border-right: solid 1px #02335c;*/
}
.container-tab-nav .container-live-football-top  ul.nav li a i{
    font-size: 30px;
    width: 100%;
}
.container-tab-nav .container-live-football-top  ul.nav li a{
    color: #bbbbbb;
    /*color: rgba(255,255,255,0.75);*/
}
.container-tab-nav .container-live-football-top {
    /*padding-bottom: 10px;*/
    border-bottom: solid 1px #999;
    /*position: fixed;*/
    /*top: 80px;*/
}
.container-tab-nav .container-live-football-top.affix{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    margin: 0 1px;
    z-index: 5;
}
.container-live-football .text-title i {
    color: red;
    font-size: 80%;
    animation: blink 1.4s infinite;
}

@keyframes blink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(15px) scaleY(0)
    }
    100% {
        animation-timing-function: ease-out;
    }
}

.content-live-online {
    display: block;
    width: 100%;
}

.title-live-football {
    background-color: #eee;
    padding-bottom: 15px;
    border-bottom: solid 1px #ccc;
    color: #555;
}

.title-live-football .topic {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    padding: 5px;
}
.title-live-football .topic li{
    display: inline-block;
    vertical-align: middle;
}
.title-live-football .topic li img {
    background-color: #fff;
    border-radius: 50%;
    border: solid 2px #fff;
    margin-right: 5px;

}
.title-live-football .topic li div{
    font-size: 11px;
}
.title-live-football .topic li p{
    margin: 0;
}
.title-live-football .topic li img{
    width: 40px;
    height: 40px;
}
.title-live-football ul {
    margin: 0;
    width: 100%;
    padding: 0;
    display: block;
}

.title-live-football ul li {
    display: block;
    font-size: 14px;
    margin: 5px 0;
}

.title-live-football ul li img,
.title-live-football ul li p {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.title-live-football ul li p {
    margin: 0;
}

.title-live-football ul li img {
    height: 25px;
    width: 25px;

}

.box-match-live {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;

}

.box-match-live ul {
    margin: 0 0 0 5px;
}

.box-match-live ul li {
    text-align: left;
}

.box-match-live p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.box-match-live div img {
    height: 20px;
    margin-right: 8px;
}

.box-match-live div:nth-child(1) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-top: 5px;
    border-right: solid 1px;
    border-color: #ccc;
}

.box-match-live div:nth-child(2) {
    -webkit-flex-grow: 4;
    flex-grow: 4;
}

p.live-match-status:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f111";
    margin-right: 5px;
}

p.live-match-status {
    background-color: red;
    color: #fff;
    display: block;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    width: 50px;
    line-height: 20px;
    margin: 3px auto;
}

.container-list-live h5{
    font-size: 18px;
}
.container-list-live table tr td:first-child{
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #02335c;
}
.container-list-live table{
    margin: 0;
}
.container-list-live table tr td{
    border-top: 0;
    vertical-align: middle;
    padding: 0 8px;
}
.container-list-live table tr td ul{
    margin: 0 0 5px 0;
    padding: 5px 0;
    display: block;
    float: left;
    width: 100%;
}
.container-list-live table tr td:nth-child(2){
    border-right: solid 1px #eee;
}
.container-list-live table tr td:nth-child(2) img{
    width: 30px;
    height: auto;
}
.container-list-live table tr td li:first-child{
    font-weight: bold;
    font-size: 14px;
}
.container-list-live table tr td li:first-child img{

}
.container-list-live table tr td li{
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 12px;
}
.container-list-live table tr td li img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.container-list-live .panel-heading{
    padding: 0;
position: relative;
}
.container-list-live .panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.container-list-live .panel-group .panel {
    border-radius: 5px;
    overflow: hidden;
}
.container-list-live span.label{
    padding: 2px 5px;
    background-color: red;
    font-size: 12px;
}
.container-list-live table tr td p{
    margin: 5px 0 0;
}
.container-list-live [data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
    position: absolute;
    right: 8px;
    top:35%;
}
.container-list-live [data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}