.container-hot-news {
    background-color: #0f1931;
    height: 270px;
}

.item-box-picture {
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.3;
}

.content-hot-news .carousel-caption {
    bottom: 0;
    text-align: left;
}

.content-hot-news .carousel-caption h2 {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Pridi', serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-hot-news .carousel-control {
    font-size: 35px;
    opacity: 0.75;
    font-weight: normal;
}

.content-hot-news .carousel-control .icon-next,
.content-hot-news .carousel-control .glyphicon-chevron-right {
    margin-right: -20px;
}

.content-hot-news .carousel-control .icon-prev,
.content-hot-news .carousel-control .glyphicon-chevron-left {
    margin-left: -20px;
}

.container-recent-new .col-news .item {
    margin-bottom: 10px;
}

.container-recent-new .col-news p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.time-media-body {
    font-size: 11px;
    color: #888;
}

/*new info     picpost    Clip   */
.feature-news {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
}

.container-picpost .feature-news {background-position: top center;}

.container-video .feature-news {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: auto;
}

.container-video .feature-news iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.highlight-news,
.container-title-news-info {
    display: inline-block;
    background-color: #002843;

}

.highlight-news-topic,
.container-title-news-info {
    padding: 5px 20px;
}

.highlight-news-topic h1,
.container-title-news-info h1 {
    font-family: Pridi, 'sans-serif';
    font-size: 30px;
    line-height: 40px;

}

.highlight-news-topic h1 {
    font-size: 20px;
    line-height: 25px;
}

.container-title-news-info span {
    margin-top: 10px;
    font-size: 14px;
    color: #002843;
    display: inline-block;
}

.highlight-news-topic h1,
.container-title-news-info h1,
.content-news-info,
.content-news-info .time-box,
.content-news-info .time-box,
.content-news-info .view-box {
    color: #fff;
}

.content-news-info .time-box,
.content-news-info .time-box,
.content-news-info .view-box {
    font-size: 16px;
}

.content-news-info .time-box:before,
.content-news-info .date-box:before,
.content-news-info .view-box:before {
    margin-right: 8px;
}

.container-title-news-info p {color: #aaa;}

.gp-share-box,
.ft-share-box {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 3px;
}

.ft-share-box {
    background: #3b5998;
    color: #eceef5;
}

.gp-share-box {
    background: #eeeeee;
    color: #333;

}

.ft-share-box:before,
.gp-share-box:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.ft-share-box:before {content: "\f230";}

.gp-share-box:before {content: "\f0d5"; color: #db4437;}

.container-detail-news-info p {
    font-size: 18px;
    line-height: 35px;
    margin: 30px 0 15px 0;
    text-indent: 15%
}

.container-gallery-all {margin-top: 20px;}
.container-gallery-all figure {margin-bottom: 15px;}
.container-gallery-all figure img {  max-width: 100%; }

.container-article .item { margin-bottom: 15px;}

.container-article .item a {
    display: -webkit-flex; /* Safari */
    display: flex;
    color: #555;
}

.content-recent-thumbnail {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    width: 100px;
    height: 60px;

}

.content-recent-topic {
    padding-left: 5px;
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.content-recent-thumbnail img {
    width: 100%;
    vertical-align: top;
}

.content-recent-topic h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    font-family: Pridi, sans-serif;
}

.content-recent-topic p:before {
    display: inline-block;
    font: normal normal normal 11px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f017";
    margin-right: 5px;
}

.content-recent-topic p {margin: 0;}

.container-article {margin-top: 50px;  }

.tab-content-article {padding-top: 0; }

.table-topscore {margin: 0 10px;}
.table-topscore table tr td:nth-child(2) img {
    border: 1px solid rgba(0, 12, 36, .14);
    width: 38px;
    vertical-align: top;
    height: 38px;
    min-width: 38px;
    border-radius: 50%;
    position: relative;
}

.table-topscore table { width: 100%; }
.table-topscore table tr { border-bottom: solid 1px #f1f1f1;}
.table-topscore table tr td {
    vertical-align: middle;
    padding: 4px;
    font-size: 14px;
}

.table-topscore table tr td:nth-child(1) {text-align: center;}
.table-topscore table tr td:nth-child(2) {width: 10%;}
.table-topscore table tr td:nth-child(4) {font-size: 20px;}
.table-topscore table tr td:nth-child(3) span {
    width: 100%;
    display: block;
    line-height: 13px;
}

.table-topscore table tr td:nth-child(3) img,
.table-topscore table tr td:nth-child(4) img {
    height: 15px;
}

.table-topscore table tr td:nth-child(3) img,
.table-topscore table tr td:nth-child(3) p {
    display: inline-block;
}

.table-topscore table tr td:nth-child(4) img {margin-right: 1px;}
.table-topscore table tr td:nth-child(3) p {
    margin: 0;
    font-size: 10px;
}

.news-image {
    border: solid 1px;
    text-align: center;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.bx-publish-recommend td {
    font-size: 1em;
    padding-right: 10px;
    vertical-align: top;
}

.bx-publish-recommend td > a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    padding-bottom: 5px;

}

.news-image img {
    width: 100px;
    height: 60px;
}

.container-share-news {padding: 20px 0; }

.highlight-news img {width: 100%;}

.highlight-news {
    position: relative;
    margin-bottom: 10px;
}

.content-news-match .time-match {
    line-height: 44px;
    height: 44px;
    width: 60px;
    -webkit-flex-grow: inherit !important;
    flex-grow: inherit !important;
}

.tab-top-article .nav {
    display: flex;
    display: -moz-flex;
}

.tab-top-article .nav li {
    flex: 1;
    text-align: center;
}

.tab-select-news a,
.tab-select-table a,
.tab-select-fixture a,
.tab-select-topscore a {
    display: inline-block;
    padding: 5px 0 !important;
    font-size: 11px;
}

.tab-select-news a:before,
.tab-select-table a:before,
.tab-select-fixture a:before,
.tab-select-topscore a:before {
    font-family: "Font Awesome\ 5 Free";
    font-family: "FontAwesome";
    display: inline-block;
    float: left;
    width: 100%;
    padding-right: 3px;
    font-size: 18px;
}

.tab-select-news a:before {content: '\f1ea';}
.tab-select-table a:before {  content: '\f0cb';}
.tab-select-fixture a:before { content: '\f073';}
.tab-select-topscore a:before { content: '\f1e3';}

.content-item-recent-row-2 {
    position: relative;
    padding: 0 2.5%;
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
}

.item-recent-col-2 img {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.item-recent-col-2 .media-thumbnail {
    height: 70px;
    overflow: hidden;
    position: relative;
}

.item-recent-col-2 .media-heading {
    font-size: 13px;
    line-height: 18px;
    font-weight: 800;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-simple-highlight {
    background-color: white;
    padding: 1% 3% 3% 3%;
    margin-bottom: 3%;
}

.content-simple-highlight .box-hothit-title h3 {
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.content-simple-highlight .box-hothit-title p {margin: 0;}
.content-simple-highlight .box-hothit-thumbnail {width: 50%;}
.content-simple-highlight .box-hothit-title { width: 47%;}

.box-hothit-item-new {
    position: relative;
    margin: 10px 0 0 0;
}

.content-picpost {
    padding: 1% 3% 3% 3%;
    margin-bottom: 0;
}

.content-picpost .text-title {margin-top: 0;}
.content-picpost .content-picpost-box {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 49%;
    padding: 1%;
}

.content-picpost .content-picpost-box p {
    margin: 5px 0;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-picpost .item-content-picpost {
    width: 100%%;
    height: 100px;
    position: relative;
}

.crop-full-news,
.crop-picpost {
    background-color: #000;
    background-position: top center;
    background-size: cover;
    object-fit: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.content-full-news {
    display: inline-block;
    vertical-align: top;
}

.content-full-news img {width: 100%;}
.content-full-news h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 25px 0;
}

.thumbnail-full-news {
    position: relative;
    width: 100%;
    height: 140px;
}

.picpost-v2 .content-picpost-box {position: relative;}
.picpost-v2 .swiper-container {padding: 0 0 5px 0; }

.content-higlight-box-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 1%;
}

.content-higlight-box-thumbnail img {width: 100%;}
.content-higlight-box-thumbnail h3 {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.swiper-container.swiper-highlight {padding: 0 0 25px 0;}

.swiper-highlight .thumbnail {
    padding: 5px;
    margin: 0 1%;
    background-color: #f1f1f1;
}




















