.container-profile-mobile h3{
    margin: 0;
    font-size: 16px;
}

.show-coin ul,
.container-coin-profile ul ,
.detail-graph-play ul{
    margin: 0;
    padding: 0;
}
.container-change-coin h3 ,
.container-change-coin h4 ,
.box-collapse-text ul{
    font-family: Pridi, 'sans-serif';
}
.profile-topic {
    padding: 10px 0;
    background-color: #002843;
    /*background: url(/images/background1.jpg);*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*border-bottom: solid 3px red;*/
    color: white;
}

.box-image-profile {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border: solid 3px #fff;
}

.image-profile {
    width: 100%;
    height: auto;
    position: absolute;

}

.profile-topic h2 {
    margin: 10px 0 0;
    font-size: 18px;
    font-family: Pridi, 'sans-serif';
}

.profile-topic ul li {
    display: inline-block;
    /*padding-right: 10px;*/
    vertical-align: middle;
    font-size: 12px;
}

.profile-topic ul li p {
    margin: 0;
    font-size: 12px;
}


.container-coin-profile {
    margin-top: 15px;
}

.container-coin-profile ul {
    text-align: center;
}

.container-coin-profile ul li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 47%;
    padding-left: 15px;
}

.container-coin-profile ul li:nth-child(1) {
    border-right: solid 1px #aaa;
}

.container-coin-profile ul li h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.container-coin-profile ul li p {
    font-size: 10px;
    margin: 0;
    color: #555;
}

.icon-coin {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

.icon-coin img {height: 25px;}

.container-change-coin {margin-top: 20px; }

.container-change-coin .collapse {  margin-top: 10px;  }

.container-change-coin .collapse h3 {  color: #555;  }

.show-coin ul {  margin: 20px 0;  }

.show-coin ul li,
.box-collapse-text ul li {
    display: inline-block;
    text-align: center;

}

.box-collapse-text ul li p {  margin: 0;  }

.show-coin ul li {  width: 47%;  }
.show-coin ul li .icon-coin {
    width: 100%;
    margin-bottom: 15px;
}

.show-coin ul li h3 {  margin-bottom: 0;  }
.show-coin ul li:nth-child(1) {  border-right: solid 1px #ccc;  }

.box-collapse-text ul {
    text-align: center;
    padding: 0;
}

.box-collapse-text ul li img {  height: 20px;  }

.title-filter button {
    color: #555;
    font-size: 12px;
}

.title-filter select {  width: 70px;  }

.title-filter p {
    font-size: 12px;
    margin: 0;
}

.title-filter p,
.title-filter select {
    display: inline-block;
}
.container-march-playing{background-color: white;}
.container-event-match {
    padding-top: 15px;
    display: inline-block;
    width: 100%;
}
.box-event-match ,
.topic-event-match{
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 2px;
}
.box-event-match ul{
    margin: 0;
    padding: 0;
}
.box-event-match ul li{
    list-style: none;
    padding: 0;
    font-size: 13px;
}
.box-event-match ul li i{
    margin-left: 5px;
    color: #028ec3;

}
.box-event-match div:nth-child(1){-webkit-flex-grow: 3;}
.box-event-match div:nth-child(2){-webkit-flex-grow: 1;}
.box-event-match div:nth-child(3){
    -webkit-flex-grow: 1;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
}
.box-event-match div:nth-child(4){-webkit-flex-grow: 1; text-align: center}

.box-event-match div:nth-child(1){flex-grow: 3;}
.box-event-match div:nth-child(2){flex-grow: 1;}
.box-event-match div:nth-child(3){flex-grow: 1;}
.box-event-match div:nth-child(4){flex-grow: 1;}

.box-event-match div:nth-child(2){
    text-align: center;
}
.box-event-match div:nth-child(4) div{
    height: 25px;
    margin-top: 10px;
}
h4.match-select,
.match-select{
    font-weight: 800;
    text-decoration: underline!important;
    color: #0093c9!important;
}
.match-select:after{
    font-family: FontAwesome;
    content: '\f05d';
    display: inline-block;
    margin-left: 10px;
    color: #0093c9;
}
.topic-event-match{
    background-color: #eeeeee;
}
.topic-event-match div:nth-child(1){
    flex-grow: 2;
    -webkit-flex-grow: 2;
}
.topic-event-match div:nth-child(2) {
    flex-grow: 3;
    -webkit-flex-grow: 3;
    text-align: center;
    font-size: 14px;
    padding-left: 13px;
}


.content-statement{
    padding: 2px 4px;
    margin-bottom: 10px;
}
.title-statement ,
.box-statement{
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 4px;
}
.box-statement ul{margin: 0;}
.title-statement{
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}
.title-statement div:nth-child(1),
.box-statement div:nth-child(1){
    flex-grow: 10;
    -webkit-flex-grow: 10;
}
.box-statement div:nth-child(2),
.title-statement div:nth-child(2){
    flex-grow: 1;
    -webkit-flex-grow: 1;
}


.box-statement div:nth-child(1){border-right: solid 1px #ccc;}
.box-statement div:nth-child(1) p{margin: 0;}

.box-statement div:nth-child(2) ul{padding-left: 10px;}
.box-statement div:nth-child(2) ul li{list-style: none; margin-bottom: 1px;}
.box-statement div:nth-child(2) ul li img{height: 15px; margin-right: 10px;}


.container-graph-play{
    width: 300px;
    padding: 20px 0 0 0;
}
.box-graph-play{
    margin: 10px 0;
    text-align: center;
}
.detail-graph-play ul li{
    width: 100%;
    /*padding-left: 25px;*/
    list-style: none;
    text-align: center;
    font-size: 12px;
}
.detail-graph-play ul li h3{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.detail-graph-play .win-status:before ,
.detail-graph-play .lose-status:before ,
.detail-graph-play .draw-status:before {
    font-size: 8px;
    width: 13px;
    height: 13px;
    line-height: 15px;
    border-radius: 50%;
}
.detail-graph-play table{width: 100%;}
.detail-graph-play table tr td:nth-child(2){
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
}

.box-graph-precision{
    margin: 10px 0;
}
.container-graph-precision p{font-size: 16px;}

.container-step{margin-top: 15px;}
.container-step table tr td{padding: 8px 0;}

.bx-level-step{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.status-level{
    display: flex;
    flex: 1;
    position: relative;
}
.status-level:after,
.status-level:before{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #3498db;
    margin-top: 15px;
    position: absolute;
    z-index: 0;
}
.status-level:before{
    left: 0;
}
.status-level:after{
    right: 0;
}
.last-status-level:after,
.first-status-level:before{
    background-color: transparent;
}

.status-level span{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    background-color: #f5f5f5;
    border: solid 2px #3498db;
    color: #333;
    position: relative;
    z-index: 1;
}
.status-level.active span{
background-color: #3498db;
    color: #fff;
    font-weight: bold;
}
.bx-progress .progress-bar,
.bx-progress .progress{
    position: relative;
    overflow: inherit;
}
.bx-progress .progress{
    background-color: #ddd;
}
.bx-progress .progress-bar{
    background-color: transparent;
}
.container-combo{margin: 5px 0 50px 0;}
.container-combo ul{margin-left: 20px;}

.bx-progress .progress-bar.active{
    background-color: #002843;
}
.num-combo{
    color: #fff;
position: absolute;
    right:0;
    top:-11px;
    margin-top: 17px;
}
.num-combo i{font-size: 20px;}
.num-combo p{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    border:solid 2px;
    border-color: #3498db;
    color: #555;
    line-height: 20px;
    font-size: 10px;
}
.active .num-combo{color: #fff;}
.active .num-combo p{
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border-color: #3498db;
}


/*profile-professional*/
.profile-professional .box-image-profile img{width: 100%}
.profile-professional .box-image-profile{
    height: 41px;
    width: 143px;
    border-radius: 0;
    margin: 0 auto;
    border: 0;
    overflow: inherit;
    text-align: left;
}
.profile-professional .container-graph-play{
    width: 85%;
    padding: 0 0 0 10%;
    margin-top: 10px;
}
.profile-professional .detail-graph-play ul li h3 {
    font-size: 23px;
}
.profile-professional .detail-graph-play{margin-top: 5px;}
.container-march-playing{padding-bottom: 15px}
.bx-winrate{
    margin-top: 15px;
    width: 20%;
    position: absolute;
    left: 0;
}
.title-rate h3{
    font-size: 25px;
    margin: 0;
}
.title-rate h3,
.title-rate p{
    color: white;
position: relative;
    z-index: 2;
    margin: 0;
}
.title-rate p{font-size: 11px;}
.title-rate {
    position: relative;
    width: 100%;
    padding: 0 0 3px 10px;
    color: #FFF;
    background: #FF0000;
    z-index: 1;
}
.title-rate:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #FF0000;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.box-rate-profile.affix{
    z-index: 999;
    top: 0;
    background-color: #002843;
    box-shadow: 0 3px 5px #aaa;
}

.container-playing-pro p{
    font-size: 11px;
    color: #aaa;
}
.container-playing-pro ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-playing-pro ul li:nth-child(2){
    width: 10%;
padding: 0 3px;
}
.container-playing-pro ul li:nth-child(1),
.container-playing-pro ul li:nth-child(3){
    width: 43%;
}
.container-playing-pro ul li div,
.container-playing-pro ul li{
    display: inline-block;
    vertical-align: middle;
}
.container-playing-pro ul li div {
    width: 70%;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    line-height: 10px;
}
.container-playing-pro ul li div.match-select{
    font-weight: bold;
    text-decoration: underline;
}
.container-playing-pro ul li.text-left div.match-select:before{
    font-family: FontAwesome;
    content: '\f05d';
    display: inline-block;
    margin-right: 10px;
    color: #0093c9;

}
.container-playing-pro ul li div,
.container-playing-pro ul li img{
    display: inline-block;
}
.container-playing-pro ul li img{
    height: 18px;
}