.full-width {
    width: 100%;
    clear: both;
}

.wrap_program_soccer {
    padding: 50px 0;
}

.wrap_all_program {
    position: relative;
}

.all-content-date.affix {
    position: relative;
    border: solid 1px;
    top: 126px;
    display: inline-grid;
    width: 100%;
}

.content-program-soccer {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.content-program-soccer .panel-group {
    margin-bottom: 10px;
}
.content-program-soccer .topic {
    width: 100%;
    display: block;
    margin-bottom: 8px;
}

.content-program-soccer .topic div {
    display: inline-block;
    vertical-align: middle;
}

.content-program-soccer .topic button.btn {
    background-color: #fff;
    padding: 3px 5px;
    color: rgba(1, 1, 1, 0.5);
    font-size: 11px;
}

.content-program-soccer .panel-default {
    border: solid 1px #ddd;
}

{

}
.logo-league-program {
    margin-right: 0;
}

.logo-league-program img {
    height: 18px;
}

/*.content-program-soccer .table-striped > tbody > tr:nth-of-type(odd) {*/
/*background-color: #fcf3f1;*/
/*}*/

.content-program-soccer .topic h3 {
    font-size: 16px;
}

.content-program-soccer .topic h3,
.content-program-soccer .topic h5 {
    margin: 0;
    display: inline-block;
}

.content-program-soccer .topic h5 {
    color: #aaa;
    font-size: 11px;
    margin-left: 5px;
}

/*accordion*/
.panel-group-row .panel-default > .panel-heading {
    position: relative;
    background-color: #fff !important;
    border: 0;
    padding: 2px 0;
}

.hdp-float {
    text-align: center;
    width: 120px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hdp-float h3 {
    font-size: 14px;
    margin: 0;
    line-height: 36px;
}

.hdp-float ul li:nth-child(2) {
    background-color: #f8e4e1;
    color: #d25a47;
    width: 38px;
    height: 38px;

    border-radius: 50%;
}

.hdp-float ul li {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    margin-top: 1px;
    font-size: 11px;
}

.hdp-float ul li:nth-child(1) {
    padding-right: 0;
}

.hdp-float ul li:nth-child(3) {
    padding-left: 0;
}

.left-accordion-row,
.right-accordion-row {
    display: inline-block;
    width: 44.5%;
}
/*.left-accordion-row{width: 39.5%;}*/
/*.right-accordion-row{width: 50.5%;}*/

.content-all-programe .left-accordion-row,
.content-all-programe .right-accordion-row {
    height: 37px;
}

.content-all-programe .logo-team-ponball {
    margin-top: 3px;
}

.left-accordion-row .status-lastMatch {
    float: right;
    margin-right: 15px;
    text-align: right;
}

.logo-team-ponball img {
    width: 30px;
    height: 30px;
}

.status-lastMatch li,
.top-detail-team-ponball ul,
.top-detail-team-ponball ul li,
.top-detail-team-ponball h4 {
    display: inline-block;
    vertical-align: top;

}

ul.status-lastMatch {
    height: 13px;
    line-height: 13px;
    margin: 0 0 3px 0 !important;
}

ul.status-lastMatch p {
    margin: 0;
    font-size: 9px;
}

ul.status-lastMatch li {
    vertical-align: middle;
    height: 13px;
    line-height: 13px;
}

ul.status-lastMatch .win-status:before,
ul.status-lastMatch .lose-status:before,
ul.status-lastMatch .draw-status:before {
    font-size: 7px;
    width: 13px;
    height: 13px;
    line-height: 13px;
}

.top-detail-team-ponball h4 {
    font-size: 15px;
    line-height: normal;
    margin: 0;
    width: 150px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top-detail-team-ponball ul li {

    /*display: flex;*/
}

.bottom-detail-team-ponball {
    display: flex;
}

.bottom-detail-team-ponball .progress {
    height: 5px;
    margin: 3px 0 0 0;
}

.score-ct {
    font-size: 9px;
    margin: 0 10px;
}

.pull-right.detail-team-ponball {
    margin-right: 15px;
}

.pull-left.detail-team-ponball {
    margin-left: 15px;
}

.content-col-left {
    line-height: 35px;
    padding-left: 10px;
}

.content-col-left div:nth-child(2) {
    border-left: solid 1px;
    border-color: #ddd;
    padding: 0 10px;
    margin: 0 10px;
}

.ct-time,
.ct-live-chanel,
.ct-highlight,
.ct-live,
.ct-ft {
    display: inline-block;
    vertical-align: middle;
}

.ct-time {

}
.ct-live-chanel{display: none;}
.ct-live-chanel img {
    height: 15px;
}

.ct-highlight {
    padding: 0 !important;
    border-radius: 50%;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-color: transparent !important;
    transition: .3s;
    background-color: #f1f1f1;
}

.ct-highlight:hover {
    background-color: #ccc;
}

.ct-highlight a {
    display: block;
    float: left;
    width: 100%;
}

.ct-highlight i {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.pull-right-section {
    position: absolute;
    right: 0;
    top: 0;
}

.review-dropdown h4,
.intro-game a {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    line-height: 40px;
    font-size: 14px;

}

.intro-game .tooltip-inner {
    width: 100px;
}

.intro-game a,
.intro-game a:hover {
    color: #fff
}

.review-dropdown h4:hover {
    text-decoration: underline;
}

.review-dropdown h4 {
    margin: 0;
    color: #333;
    text-align: right;
   right: 24px;
}

a.review-dropdown[data-toggle="collapse"].collapsed:after {
    background-color: #fff;
    border-left: solid 1px #ddd;
}

a.review-dropdown[data-toggle="collapse"]:after {
    background-color: #f9edd8;
    border-color: transparent;
    color: #774f08;
}

a.review-dropdown[data-toggle="collapse"] h4:after {
    display: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    transform: rotate(90deg);
    transition: all linear 0.25s;
    /*float: right;*/
    position: absolute;
    right: 0;
    margin-right: 19px;
    line-height: 40px;
}

a.review-dropdown[data-toggle="collapse"].collapsed h4:after {
    transform: rotate(0deg);
}

.review-dropdown {
    width: 130px;

}

.review-dropdown,
.intro-game {
    text-align: center;
    position: relative;
    float: right;
    z-index: 1;
    height: 41px;
    font-size: 14px;
}

.intro-game {
    padding-right: 15px;
    width: 24px;
}

.review-dropdown:after {
    border-left: solid 1px #ddd;
}

.review-dropdown:after,
.intro-game:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.intro-game,
.intro-game:after {
    background: #d25a47;
}

.panel-group-row .panel-body {
    border-top: 0;
    background-color: #f9edd8;
}

.content-status-match .nav {
    padding-top: 13px;
    display: inline-block;
    width: 100%;
}

.content-status-match .tab-content {
    background-color: #fff;
    height: 465px;
    padding: 0 !important;
}

.content-program-soccer .panel-group .panel-heading + .panel-collapse > .list-group,
.content-program-soccer .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.home-panel-body,
.away-panel-body {
    width: 50%;
    display: inline-block;
    padding: 10px;
    height: 170px;
    overflow: hidden;
}

.away-panel-body .text-review-content {
    margin: 0 0 0 25px;
}

.away-panel-body .ct-winrate {
    margin: 0;
}

.area-logoName a {
    position: relative;
    z-index: 1;
    color: #774f08;
}

.area-logoName {
    position: relative;
    width: 160px;
    height: 36px;
    color: #774f08;
    background: #f8d9a3;
}

.area-logoName:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #f8d9a3;
    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

h4.general-user:before,
h4.professional-user:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f132";
    padding-right: 10px;
}

h4.general-user:before {
    content: "\f007";
}

.area-logoName-away:after {
    transform-origin: top left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.area-logoName-away .logo-review-user {
    margin-left: -8px;
    margin-right: 8px;
}

.logo-review-user {
    margin-right: -8px;
    margin-left: 8px;
    z-index: 5;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: -2px;
    background-color: #fff;
    border: solid 1px #aaa;
}

.logo-review-user img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    height: 40px;
}

.content-away-review,
.content-home-review {
    margin-bottom: 15px;
}

.content-away-review h4,
.content-away-review ul,
.content-home-review h4,
.content-home-review ul {
    position: relative;
    z-index: 2;
}

.content-away-review h4,
.content-home-review h4 {
    margin: 2px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.content-home-review h4 {
    text-align: right;
}

.content-away-review ul,
.content-home-review ul {
    text-align: right;
    margin-top: -3px !important;
}

.content-away-review ul {
    text-align: left;
}

.content-away-review ul li,
.content-home-review ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

.content-away-review ul li img,
.content-home-review ul li img {
    height: 12px;
    width: 12px;
}

.content-away-review ul li img {
    margin-right: 5px;
}

.content-home-review ul li img {
    margin-left: 5px;
}

.text-review-content {
    width: 270px;
    margin-right: 25px;
    height: 40px;
    overflow: hidden;
}

.text-review-content p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 18px;
}

.ct-winrate {
    display: flex;
    margin-right: 13px;
}

.ct-winrate div:nth-child(1) {
    margin-right: 8px;
}

.ct-winrate div:nth-child(2) {
    opacity: .5;
}

.ct-winrate div {
    flex: 1;
}

.ct-winrate div h3 {
    margin: 0;
    color: #774f08;
}

.ct-winrate div small {
    font-size: 10px;
    display: inherit;
    color: #aa7d2f;
}

.side-select.affix {
    top: 0 !important;
    width: 270px;

}

.side-select.affix,
.side-select {
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    padding-bottom: 15px;
    border-right: solid 1px #ddd;
    background-color: #fff;
}

.side-select {
    overflow-y: scroll;
    padding: 0 10px;
}

.side-select ul {
    margin: 0;
}

.side-select ul li {
    display: inline-block;
    width: 100%;
}

.side-select ul li.active,
.side-select ul li.active:hover,
.side-select ul li a:hover {
    background-color: #f1f3f6;
}

.side-select ul li a:hover h5,
.side-select ul li.active a h5,
.side-select ul li a:hover span.num-side,
.side-select ul li.active a span.num-side,
.side-select ul li.active:hover a h5 {
    color: #00a7fb;
}

.side-select ul li a {
    position: relative;
    display: block;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 4px;
    color: #404040;
    padding: 0 5px !important;
}

.side-select ul li a > h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #404040;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
}

.side-select ul li a:hover,
.side-select ul li a:hover > h5 {
    text-decoration: none !important;
}

.side-select ul li h5,
.side-select ul li img,
.side-select ul li span {
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
}

.side-select ul li span.num-side {
    /*display: block;*/
    font-size: 14px;
    float: right;
    color: #404040;
    padding-top: 3px;
}

.side-select ul li a img {
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
}

.side-select .text-title {
    margin-top: 23px;
}

.side-select .text-title:after {
    border-bottom: 1px solid #404040;
}

.side-select .text-title h4 {
    font-size: 15px !important;
}

.content-all-programe {
    display: block;
    width: 90%;
    padding-left: 280px;
    min-height: 2000px;
    padding-right: 10px;
}

.content-all-programe .text-review-content {
    width: 135px;
}

.content-all-programe .text-review-content p {
    font-size: 12px;
}

.content-all-programe .area-logoName {
    width: 160px;
}

.content-all-programe .top-detail-team-ponball h4 {
    width: 112px;
    font-size: 12px;
}

.content-all-programe .review-dropdown h4,
.content-all-programe .intro-game a {
    font-size: 12px;
}

.content-all-programe .review-dropdown {
    width: 90px;
}

.content-all-programe .text-title span:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f073";
    padding-right: 8px;
}

.content-all-programe .text-title span {
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
}

/*background-color: #add9ff;*/

/*LiveScore*/
.livescore-panel {

}

.livescore-panel a.review-dropdown[data-toggle="collapse"]:after,
.livescore-panel .panel-body {
    background-color: #ebedf9;
}

.livescore-panel a.review-dropdown[data-toggle="collapse"].collapsed:after {
    background-color: #fff;
    border-left: solid 1px #ddd;
}

.livescore-panel .area-logoName,
.livescore-panel .area-logoName:after {
    background-color: #fff;
}

.livescore-panel .area-logoName,
.livescore-panel .ct-winrate div h3,
.livescore-panel .ct-winrate div small {
    color: #2d4154;
}

.livescore-panel .intro-game,
.livescore-panel .intro-game:after {
    background: #4785d2;
}

.livescore-panel .ct-time-live:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f03d";
    float: left;
    line-height: 35px;
    color: red;
    margin: 0 5px 0 0;
}

.livescore-panel span.score-liveTime {
    display: block;
    background-color: #d8f0f9;
    color: #4785d2;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}

.livescore-panel .left-accordion-row span.score-liveTime {
    margin-left: 15px;
}

.livescore-panel .right-accordion-row span.score-liveTime {
    margin-right: 15px;
}

.livescore-panel .panel-body ul.nav {
    text-align: center;
    border-bottom: solid 1px white;
}

.livescore-panel .panel-body ul.nav li {
    display: inline-block;
    float: none;
}

.livescore-panel .panel-body ul.nav li a {
    transition: .3s;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;
}

.livescore-panel .panel-body .nav-tabs-highlight > li > a:hover {
    background-color: white;
    border-color: transparent;
}

.livescore-panel .panel-body .nav-tabs-highlight > li.active > a,
.livescore-panel .panel-body .nav-tabs-highlight > li.active > a:focus,
.livescore-panel .panel-body .nav-tabs-highlight > li.active > a:hover {
    color: #4785d2;
    cursor: default;
    background-color: white;
    border: 1px solid white;
    font-weight: bold;
}

.livescore-panel .panel-body .nav-tabs-highlight {
    border-bottom: 1px solid transparent;
}

.livescore-panel .panel-body .tab-content {
    padding-top: 0;
    margin-top: -2px;
    position: relative;
    z-index: 0;
}

.line-fullmatch {
    margin: 15px 0;
}

.line-fullmatch strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}

.line-fullmatch strong:before,
.line-fullmatch strong:after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin: 15px 5px 0 5px;
    width: 50px;
    height: 1px;
    background-color: #000;
}

.line-content-all {
    text-align: center;
    height: 20px;
    border-bottom: 1px solid rgba(0, 12, 36, .07);
}

.line-content-all:last-child {
    border-bottom: 0;
}

.header-event-match {
    margin: 20px 10px;
    padding-bottom: 8px;
    border-bottom: solid 1px #ddd;
}

.header-event-match ul li {
    display: inline-block;
    width: 49%;
}

.header-event-match ul li h3 {
    margin: 0;
    font-size: 20px;
}

.header-event-match ul li {
    color: #aaa;
}

.header-event-match ul li:last-child {
    text-align: right;
}

.content-event-match {
    padding: 10px;
    background-color: #fff;

}

.score-event-match {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 0 5px;
}

.score-event-match div {
    flex: 3;
}

.score-event-match h4 {
    flex: 1;
    margin: 0;
    text-align: center;
    color: #ddd;
}

.score-event-match img,
.score-event-match p {
    display: inline-block;
    vertical-align: top;
}

.score-event-match img {
    height: 18px;
}

.score-event-match p {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 100px; /* กำหนดความกว้าง */
}

/*.statistics-table tr:nth-of-type(odd) {*/
/**/
/*background-color: rgba(0, 0, 0, 0.05);*/
/*}*/

.statistics-table tr:first-child {
    background-color: transparent !important;
}

.statistics-table img,
.statistics-table h4 {
    display: inline-block;
}

.name-live p{
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70px;
}

.name-live span,
.name-live p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.name-live ,
.name-live p {
    text-decoration: none;
    text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
    overflow: hidden;
    white-space: nowrap;
    width: 100px; /* กำหนดความกว้าง */
    text-align: left;
}

.col-home-live,
.col-away-live {
    color: #1d2f3d;
}

.col-home-live,
.col-away-live {
    font-size: 11px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.col-away-live div {
    display: block;
    float: left;
    margin-left: 5px;
}

.col-home-live div {
    display: block;
    float: left;
    margin-right: 5px;
}

.col-home-live div,
.col-away-live div {
    line-height: 17px;
    height: 20px;
    color: grey;
}

.col-home-live div {
    text-align: left;
}

.col-away-live div {
    text-align: right;
    /*margin-left: 5px;*/
}

.box-football-icon {
    width: 17px;
    display: inline-block;
}

.min-live {
    color: #888;
    font-size: 11px;
    min-width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: left;

}

.min-live small {
    margin-left: 5px;
    font-size: 14px;
}

.col-away-live .min-live {
    text-align: right;
}

.score-live {
    font-size: 16px;
    font-weight: bold;
}

span.substitute-player-out,
span.substitute-player-in {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: 20px;
}

span.substitute-player-in:before,
span.substitute-player-out:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    content: "\f0ab";
    color: #d9534f;
    padding: 0 5px;
}

span.substitute-player-in:before {
    color: #5cb85c;
    content: "\f0aa";
}

.statistics-table table {
    width: 100%;
}

.statistics-table table tr td:nth-child(1) {
    text-align: right;
}

.statistics-table table tr td:nth-child(2) {
    text-align: center;
    width: 12%;
}

.statistics-table table tr td {
    padding: 0 5px;
}

.statistics-table table tr td .num-progress,
.statistics-table table tr td .progress {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.statistics-table table tr td .progress {
    width: 200px;
    height: 10px;
    margin: 0;
}

.num-progress.active {
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 10px;
    color: #fff;
}

table tr td:nth-child(1) .num-progress.active {
    background-color: #d9534f;
}

table tr td:nth-child(1) img,
table tr td:nth-child(3) img {
    height: 35px;
}

table tr td:nth-child(3) .num-progress.active {
    background-color: #337ab7;
}

span.check-team:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #4785d2;
    margin-top: 5px;
}

.num-player {
    /*background-color: rgba(0, 0, 0, 0.1);*/
    color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.lineUp-table span,
.lineUp-table img {
    display: inline-block;
    vertical-align: middle;
}

.lineUp-table img {
    height: 35px;
}

.lineUp-table table tr td:first-child {
    border-right: solid 1px;
    border-color: rgba(0,0,0,0.03);
}

.lineUp-table table tr td {
    border-top: 0 !important;
    width: 50%;
}
.lineUp-table ul li,
.lineUp-table ul li p{
    vertical-align: top;
    display: inline-block;
}
.lineUp-table ul li h4,
.lineUp-table ul li p{
    margin: 0;
}
.lineUp-table ul li h4{font-size: 14px; color: #000; margin-top: 3px;}
.lineUp-table ul li p{
    font-size: 11px;
    color: #aaa;
}
.lineUp-table .title-center{
    padding: 0;
    margin: 6px 0 0;
    font-size: 11px;
}
.content-lineUp-home,
.content-lineUp-away {
    margin: 5px 0;
}

.content-lineUp-home ul li,
.content-lineUp-away ul li {
    width: 100%;
    padding: 0;
    float: right;
}

.content-lineUp-home ul li div {
    float: right;
}

.content-lineUp-away ul li div {
    float: left;
}

.content-lineUp-away ul li .num-player {
    margin-left: 8px;
}

.content-lineUp-home ul li .num-player {
    margin-right: 8px;
}

.content-lineUp-away ul li div:nth-child(3) ,
.content-lineUp-home ul li div:nth-child(3) {
    float: left;
    color: #aaa;
}
.content-lineUp-away ul li div:nth-child(3){
    float: right;
}
.content-lineUp-home ul li div:nth-child(2) {
    margin: 0 10px 0 25px;
}

.content-lineUp-away ul li div:nth-child(2) {
    margin: 0 25px 0 10px;
}

.end-match:before,
.livescore-live .real-time-match:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    margin-right: 5px;
}

.livescore-live .real-time-match:before {
    content: "\f04b";
}

.end-match:before {
    content: "\f04d";
}

.livescore-live .real-time-match,
.livescore-live .score-event-match h4 {
    color: red;
}

.live-float:first-child,
.live-float:last-child,
.FT-float:first-child,
.FT-float:last-child {
    font-size: 20px;
}

.live-float ul li:first-child,
.live-float ul li:last-child {
    color: red;
}

.live-float ul li:nth-child(2) {
    background-color: #fff;
    /*color: red;*/
    border: solid 1px transparent;
    position: relative;
}

.live-float ul li h3 {
    margin-top: -2px;
}

.live-float ul li small {
    position: absolute;
    margin: 0 auto;
    top: 11px;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    left: 0;
    text-align: center;
    color: #aaa;
}

.label-live {
    background-color: red;
}

.label-live,
.label-ft {
    font-size: 12px;
    width: 37px;
    height: 15px;
    line-height: 15px;
    color: white;
    display: inline-block;
    text-align: center;
}

.FT-float ul li:nth-child(2) {
    background-color: rgba(0, 12, 36, .07);
    color: #888;
}

.FT-float ul li h3 {
    font-weight: normal;
}

.label-ft {
    background-color: #aaa;
}

a.more-link:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    content: "\f101";
    margin-left: 5px;
}

/*Off-canvas Side Nav with Adaptive Main Content*/

.hamburger-live-match {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    /*position: fixed;*/
    /*z-index: 9999;*/
    /*padding: 15px;*/
}

.hamburger-live-match:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    content: "\f053";
    float: right;
}

.sidenav-active .hamburger-live-match:before {
    content: "\f054";
}

.hamburger-live-match:hover {
    cursor: pointer;
}

.side-select {
    width: 270px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.side-select,
.hamburger-live-match,
.cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active .side-select,
.sidenav-active .cover {
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
}

.sidenav-active .content-all-programe {
    width: 100%;
    margin-left: 0;
    padding: 0 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    /*-webkit-transition: margin-left .3s;*/
    /*transition: margin-left .3s;*/
}

.sidenav-active .content-all-programe {
    margin-left: 0;
}

.date-review .btn.active {
    background-color: #02335c;
    border-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.date-review .btn.active:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

/*container-live_all*/
.container-live_all{

}
.container-live_all .panel{background-color: transparent;}
.container-live_all .panel-group-row .panel-default > .panel-heading{
    background-color: #FEE3E0!important;
    color: #D94A3A;
}
.container-live_all .livescore-panel a.review-dropdown[data-toggle="collapse"].collapsed:after,
.container-live_all .livescore-panel .intro-game,
.container-live_all .livescore-panel .intro-game:after{
    background-color: #D94A3A;
    border-left: solid 1px transparent;

}
.container-live_all .livescore-panel .intro-game,
.container-live_all .livescore-panel .intro-game:after{
    background-color: #872D24;
    /*border-left: solid 1px #872D24;*/
}
.container-live_all .review-dropdown.collapsed h4{
    color: white;
}
.container-live_all .content-program-soccer .panel-default {
    border: 0;
}



/*H2H*/





.section-state {
    overflow: hidden;
}

.content-state-home {
    border-right: solid 1px #ddd;
}

.content-state-away {
    border-right: 0;
}

.content-state-home,
.content-state-away {
    flex: none;
    padding: 0 5px;
    width: 50%;
}
.content-state-home .text-title,
.content-state-away .text-title{
    margin: 3px;
}
.section-state .topic-section-state h4 {
    font-size: 14px;
    font-weight: bold;
}

.section-state .section-state-box {
    padding: 0;
    width: auto;
}

.section-state .title {
    position: relative;
    display: block;
    float: left;

}

.section-state .title a {
    color: white;
    position: relative;
    z-index: 2;
}

.section-state .title {
    position: relative;
    width: auto;
    padding: 10px;
    font-size: 18px;
    color: #FFF;
    z-index: 1;
    background: #05132c;
}

.section-state .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #05132c;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

.content-state .text-title h4 {
    font-size: 14px !important;
}

.box-chart {
    position: relative;
    height: 176px;
}

.box-chart label {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 176px;
}

.detail-chart {
    margin-top: 10px;
    text-align: center;
width: 144px;
    font-weight: bold;
    color: #000;
}

.col-detail-chart {
    flex: none;
    width: 45px;
    float: none;
    text-align: center;
    display: inline-block;
}

.col-detail-chart:first-child {
    margin-left: 0;
}

.detail-chart {
    text-align: left;
}

.detail-chart div strong {
    font-size: 15px;

    line-height: 16px;
}

.detail-chart div small {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #333;
}

.detail-chart div:before {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
}

.col-chart {
    flex: 1;
    text-align: center;
}

.col-chart:first-child {
    border-right: solid 1px #eee;
}

.content-state .box-table-result-state .nav-tabs li:last-child {
    border-left: solid 1px transparent;
    padding-left: 0;
}

.content-state .box-table-result-state .checkbox-inline,
.content-state .box-table-result-state .radio-inline {
    flex: 1;
}

.box-match-list-title-last ul.pull-left li {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}

.box-match-list-title-last .btn-group {
    margin: 0 auto;
}

.form-inline-checkbox label.active:focus, .form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.form-inline-checkbox {
    display: inline-block;
text-align: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.form-inline-checkbox label {
    display: inline-block;
    /*flex: 0 0 auto;*/
    margin: 0 3px 3px 0;
}

.form-inline-checkbox label.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: #fff;
}

.form-inline-checkbox label.active:focus,
.form-inline-checkbox label.active {
    background-color: #16335c !important;
    border-color: #000 !important;
    color: #fff !important;
}

.box-match-list-topic .pull-right {
    width: 21%;
}

.box-match-list-topic .pull-left {
    width: 70%;

}

.box-match-list-topic p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}

.box-match-list-topic p,
.box-match-list-topic img {
    display: inline-block;
    vertical-align: middle;
}

.box-match-list-topic img {
    height: 15px;
    margin-right: 5px;
}

.box-match-list-topic ul {
    margin: 0;
    padding: 0;
}

.box-match-list-topic ul li {
    display: inline-block;
    text-align: center;
    width: 46%;
    font-size: 11px;

}

.box-match-list {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 12px;
    margin-bottom: 0;
}

.box-match-list-title-last {
    display: block;
    float: left;
    width: 100%;
    /*overflow: auto;*/
    margin-bottom: 15px;
    position: relative;
    border: solid 1px;

}

.box-match-list div:nth-of-type(1) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(2) {
    -webkit-flex-grow: 3;
}

.box-match-list div:nth-of-type(3) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(5) {
    -webkit-flex-grow: 1;
}

.box-match-list div:nth-of-type(4),
.box-match-list div:nth-of-type(5) {
    line-height: 34px;
    border-left: solid 1px transparent;
}

.time-match,
.date-match {
    border-right: solid 1px transparent;
}

.home-name-match,
.away-name-match {
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.home-name-match img,
.away-name-match img {
    height: 15px;
    margin-right: 5px;
}

.odds-match img,
.result-match img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.box-match-list-topic {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    padding: 5px 0 5px 5px;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}

.match-score {
    font-weight: bold;
    background-color: #eee;
}

.result-match,
.odds-match {
    height: 34px;
    display: list-item;
    list-style: none;
}

.result-match div,
.odds-match div {
    display: inline-block;
    vertical-align: middle;
}

.home-name-match:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f015";
    color: #0050af;
    padding-left: 3px;
}

.hignlight-team-win {
    color: #00b0ff;
    text-decoration: underline;
}
.box-h2h{padding: 0 20px;}
.box-h2h .progress{
    margin: 5px 0 0 0;
    height: 15px;
    display: inline-block;
    width: 100%;
}
.box-h2h .progress-bar{
    line-height: 15px;
}
.progress-bar-draw{
    background-color: #aaa!important;
}
.progress-bar-way{
    background-color: #d60620!important;
}
.row-review-simple{
    margin: 5px 0;
}
.box-review-simple{
    position: relative;
    margin: 5px;
    font-size: 11px;
}

.logo-h2h img{height: 50px;}