.container-top-ranking ul {
    text-align: center;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.container-top-ranking ul li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.container-top-ranking ul li a{
   padding: 5px 0;
}
.container-top-ranking .tab-content table {
    width: 100%;
}

.container-top-ranking .tab-content table img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.container-top-ranking .tab-content table tr th {
    border: 0;
}
.container-top-ranking .tab-content table tr td{
    border: solid 1px #eee;
}

.container-top-ranking .tab-content table tr td:nth-child(1){
    text-align: center;
    width: 15%;
}
.container-top-ranking .tab-content table tr th:nth-child(4),
.container-top-ranking .tab-content table tr td:nth-child(4) {
    text-align: center;
}

.container-top-ranking .tab-content table tr td p {
    margin: 0;
}

.container-top-ranking .tab-content table tr td {
    font-size: 16px;
    vertical-align: middle;
}

.container-top-ranking .nav-pills > li.active > a,
.container-top-ranking .nav-pills > li.active > a:hover,
.container-top-ranking .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #02335c;
    font-weight: bold;
}
.container-top-ranking .table-striped tr th{
    background-color: #fff!important;
}
.title-sidenav-review{
    position: relative;
}
.title-sidenav-review h3{
    display: inline-block;
    font-size: 20px;
}
.container-sidenav-review{
    margin: 0 10px;
}
.sidenav-review {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1200;
    top: 0;
    right: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
}


.sidenav-review a.closebtn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 27px;
    color: #555;
    display: block;
    transition: 0.3s;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.sidenav-review a.closebtn:hover {
    color: #f1f1f1;
}


#main-review{
    position: absolute;
}
.sidenav-review .container-top-ranking .nav-pills > li.active > a,
.sidenav-review .container-top-ranking .nav-pills > li.active > a:hover,
.sidenav-review .container-top-ranking .nav-pills > li.active > a:focus {
    color: #02335c;
    background-color: #fff;
    font-weight: bold;
}
.sidenav-review .tab-content{
    background-color: #fff;
}
.sidenav-review .text-title h4 {
    font-size: 1em !important;
}
.sidenav-review .container-top-ranking .tab-content table img {
    width: 25px;
    height: 25px;
}
.sidenav-review .container-top-ranking .tab-content table tr td{
    padding: 3px 5px;
}
.sidenav-review .container-top-ranking .tab-content table tr td p {
    font-size: 14px;
}
.sidenav-review .container-top-ranking .tab-content table tr th:nth-child(4),
.sidenav-review .container-top-ranking .tab-content table tr td:nth-child(4) {
    text-align: center;
    font-size: 14px;
}
@media screen and (max-height: 450px) {
    .sidenav-review {padding-top: 15px;}
    .sidenav-review a {font-size: 18px;}
}