.modal-content-review .thumbnail-review {
    /*background-color: #e8eaef;*/
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
}

.modal-content-review .thumbnail-review .btn {
    margin: 0 auto;
    padding: 3px 10px;
    color: #fff;
    background-color: #02335c;
}

.thumbnail-review-index {
    overflow: hidden;
    border: solid 1px #092740;
    /*box-shadow: 0 1px 2px rgba(25,25,25,0.2);*/
    border-radius: 6px 6px 3px 3px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.thumbnail-review-index .top-section {
    position: relative;
    padding: 10px;
    color: #fff;
    background: url(/images/background5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.thumbnail-review-index .top-section a {
    color: #fff;
}

.thumbnail-review-index .HDP-box-center {
    position: relative;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
}

.thumbnail-review-index .HDP-box-center,
.thumbnail-review-index .HDP-box-center .mini-title,
.thumbnail-review-index .HDP-box-center .mini-title h3,
.thumbnail-review-index .HDP-box-center h2,
.thumbnail-review-index .box-water-text {
    color: #fff;
}

.thumbnail-review-index .progress-bar {
    font-size: 9px;
    line-height: 13px;
    background-color: #028ec3;
}

.thumbnail-review-index .progress {
    height: 13px;
    margin: 10px 0 0 0;
}

.thumbnail-review-index .progress-bar.progress-bar-danger {
    background-color: red;
}

.thumbnail-review-index .time-box,
.thumbnail-review-index .date-box {
    margin: 0;
    font-size: 13px;
    color: #eee;
}

.topic-review,
.content-top-review,
.box-review-list-row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.away-review-box,
.home-review-box,
.thumbnail-review .DP-box-center,
.topic-review-title h4,
.box-review-list-row {
    -webkit-flex-grow: 1;
}

.box-review-list-row div:nth-child(1) img {
    height: 30px;
    background-color: #fff;
    margin-right: 5px;
}

.box-review-list-row {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #eee;
}

.topic-review {
}

.topic-review-title {
    width: 90%;
}

.topic-review h4 {
    font-size: 14px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: normal;
}

.topic-review-title:before {

}

.topic-review {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.more-box {
    position: absolute;
    top: 0;
    right: -12px;

    background: #f1f2f5;
}

.more-box h6 {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #02335c;
    margin-right: 5px;
}

.more-box:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -10px;
    z-index: 0;
    background: #f1f2f5;
    -ms-transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

.box-hdp-mobile {
    margin-top: 3px;
    text-align: center;
    padding: 5px;
    color: black;
    background-color: rgba(2, 51, 92, 0.25);
}

.box-hdp-mobile table {
    width: 100%;
}

.box-hdp-mobile table tr td {
    vertical-align: middle !important;
    font-size: 10px;
}

.box-hdp-mobile h3 {
    font-size: 15px;
    padding: 0 5px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    margin: 0 5px;
    font-weight: bold;
}

.away-review-box,
.home-review-box {
    text-align: center;
}

.away-review-box .logo img,
.home-review-box .logo img {
    width: 35px;
}

.away-review-box .name,
.home-review-box .name {
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;

}

.thumbnail-review-index .away-review-box .name,
.thumbnail-review-index .away-review-box .name {
    color: #fff;
}

.progress.progress-in-game{ height: 12px;  }
.progress.progress-in-game .progress-bar{ line-height: 15px;  }



.mobile-vote-team {
    position: relative;
    width: 60px;
    height: 20px;
    margin: 5px auto;
    text-align: center;
}

.mobile-vote-team h4 {
    line-height: 20px;
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.bg-mobile-vote-team {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(200deg);
    background-color: transparent;
    border: solid 1px #092740;
    color: #092740;
}

.thumbnail-review-index
.mobile-vote-team.active .bg-mobile-vote-team {
    background-color: #fff !important;
}

.thumbnail-review-index .mobile-vote-team.active h4 {
    color: #092740 !important;
}

.thumbnail-review-index .bg-mobile-vote-team {
    border: solid 1px #fff;
}

.mobile-vote-team.active h4 {
    color: #fff !important;
}

.mobile-vote-team.active .bg-mobile-vote-team {
    background-color: #092740 !important;

}

ul.last-match {
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-top: solid 1px transparent !important;
}

ul.last-match li {
    display: inline-block;
}

ul.last-match li i {
    /*font-size: 12px;*/
}

.box-chanel {
    margin: 2px 0;
    /*border-top: solid 1px #eee;*/
    /*border-bottom: solid 1px #eee;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.box-chanel ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.box-chanel ul li img {
    height: 18px;
    vertical-align: top;
}

.box-chanel ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
}

.box-chanel ul li h6 {
    font-size: 15px;
    margin: 0;
    padding-left: 5px;
    font-weight: bold;
    font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;

}

.box-review-list {
    position: relative;
    width: 100%;
    /*background-color: #e8eaef;*/
    display: block;
    float: left;
    clear: both;
    padding: 5px 10px 0 10px;
    margin: 10px 0 0;
    font-size: 11px;
}

.box-review-list a {
    color: #555;
}

.box-review-list div.box-review-list-row:nth-child(5) {
    border-bottom: solid 1px transparent;
    padding-bottom: 0;
}

.box-review-list ul {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.box-review-list ul li {
    display: block;
    float: left;
    padding: 5px 5px;

}

.box-review-list ul li img {
    height: 15px;
    border: solid 1px;
    border-color: rgba(0, 76, 143, 0.75);
}

.text-add-team {
    width: 100%;
    padding: 0 3px;
}

.text-add-team span {
    color: rgba(0, 76, 143, 0.9);
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.text-add-team span img {
    height: 14px;
    margin-right: 3px;
}

.box-review-list ul li {

}

.user-bet img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.box-review-list table tr td {
    padding: 4px;
}

.box-review-list table tr td img {
    height: 15px;
    border: solid 1px #0b3457;
    background: #fff;
}
.tab-content-review .thumbnail{margin-bottom: 5px;}
.tab-content-review .box-content-review{margin-bottom: 0;}
.detail-review {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}
.tab-content-review .full-review-caption {
    padding: 5px;
    font-size: 14px;
}
.box-user-review .user-bet img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.box-user-review td:first-child {
    text-align: center;
}

.box-review-list ul.box-user-review li p {
    width: 30% !important;
}

.modal-title-review ul {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #f1f2f5;
}

.modal-title-review ul li,
.modal-title-review ul li p,
.modal-title-review ul li img {
    display: inline-block;

}

.topic-team-review h4 {
    display: inline-block;
    font-size: 18px;
    float: left;
    margin: 0;
    padding-right: 10px;
}


.btn-outline-review {
    font-weight: bold;
    color: #002843 !important;
    background-color: transparent !important;
    border-color: #002843 !important;
}
div.active .btn-outline-review{
    color: #fff !important;
    background-color: #002843 !important;
    border-color: #000 !important;
}

.nav-review {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.nav-review {}
.nav-review li a {
    margin: 0 5px;
    padding: 10px 0 0;
}

.nav-review li:nth-child(2) {
    flex: 1;
    padding: 5px 10px;
}
.nav-review li {
    flex: 2;
    text-align: center;
    list-style: none;
}

.nav-review li .btn {
    margin: 0 auto;
    font-weight: bold;
}

.nav-review li img {
    height: 56px;
    margin-bottom: 5px;
    /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
    /*filter: grayscale(100%);*/
    /*opacity: .3;*/
}

.nav-review li p {
    color: #aaa;
}

.nav-review li span {
    display: block;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #aaa;
}

.nav-review li .HDP-box-center {
    position: relative;
    background-color: rgba(0,0,0,0.03);
    border-color: #ccc;
    width: 100%;
}

.nav-review li .HDP-box-center strong,
.nav-review li .HDP-box-center h2 {
    color: #333;
}

.nav-review li .HDP-box-center strong {
    font-size: 14px;
}

.nav-review li .HDP-box-center h2 {
    font-size: 24px;
}

.nav-review li .HDP-box-center .box-water-text {
    font-size: 14px;
}
.nav-review li .HDP-box-center .box-water-text div:nth-of-type(1){
    padding-right: 5px;
    margin-right: 5px;
}
.nav-review li .box-water-text {
    width: auto;
}

.nav-review li:nth-child(1) div,
.nav-review li:nth-child(3) div {
    display: block;
    margin: 0 auto;
}

.nav-review li:nth-child(1) div p,
.nav-review li:nth-child(3) div p {
    font-size: 12px;
}



/*.nav-review li.nav-review-home.active {*/
    /*border-bottom: 8px solid #337ab7 !important;*/
/*}*/

/*.nav-review li.nav-review-away.active {*/
    /*border-bottom: 8px solid #5cb85c !important;*/
/*}*/

.nav-review li.active a:focus,
.nav-review li.active a {
    background-color: transparent !important;
    border: 0 !important;
    color: #fff;

}

.nav-review li p {
    font-size: 12px;
    font-weight: bold;
}

.nav-review li.active p,
.nav-review li.active span {
    color: #002843;
}
.nav-review li.active .btn{
    /*background-color: #002843!important;*/
    /*color: white!important;*/
}
.nav-review li.active .btn:before{
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    margin-right: 5px;

}
.nav-review li:first-child {
    /*border-right: solid 1px #aaa;*/
}

.nav-review li.active img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
}

.nav-review .bg-mobile-vote-team {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(200deg);
    background-color: transparent;
    border: solid 1px #092740;
    color: #092740;
}

.modal-content-review .title-center:before,
.modal-content-review .title-center:after {
    top: 11px;
    background-color: #ccc;
}

.progress-bar-draw {
    background-color: #aaa !important;
}

.box-vote-win {
    margin-bottom: 15px;
}

.box-progress .progress {
    margin-bottom: 0;
}

.modal-body-tabs.affix {
    background-size: cover;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.modal-body-tabs.affix {
    position: fixed !important;

    top: 0;
    right: 0;
    left: 0;
    width: auto;
    margin: 0 1px;
    z-index: 5;
}


.modal-body-tabs .HDP-box-center h2,
.modal-body-tabs .HDP-box-center div.box-water-text,
.modal-body-tabs .HDP-box-center strong {
    color: #002843;
}

.modal-body-tabs.affix .HDP-box-center {
    display: none;
}

.modal-body-tabs.affix ul li img {
    height: 30px;
}

.modal-body-tabs.affix ul li a {
    padding: 0;
}

.modal-body-tabs.affix ul li div,
.modal-body-tabs.affix ul li span,
.modal-body-tabs.affix ul li p,
.modal-body-tabs.affix ul li img {
    line-height: 30px;
}

.modal-body-tabs.affix ul li img {
    margin: 0 5px;
}

.modal-body-tabs.affix ul {
    display: block;
    height: auto;
}

.modal-body-tabs.affix ul li {
    width: 50%;
}

.modal-body-tabs.affix ul li:nth-child(1) div,
.modal-body-tabs.affix ul li:nth-child(2) div {
    width: auto;
}

.modal-body-tabs.affix ul li:nth-child(1) img,
.modal-body-tabs.affix ul li:nth-child(1) span,
.modal-body-tabs.affix ul li:nth-child(1) p {
    float: right;
    text-align: right;
}

.modal-body-tabs.affix ul li:nth-child(2) img,
.modal-body-tabs.affix ul li:nth-child(2) span,
.modal-body-tabs.affix ul li:nth-child(2) p {
    float: left;
    text-align: left;
}

.modal-body-tabs.affix ul li:nth-child(1) span,
.modal-body-tabs.affix ul li:nth-child(2) span {
    width: 50%;

}

.modal-body-tabs.affix ul li:nth-child(2) {
    text-align: right;
}

.modal-body-tabs.affix ul li.active {
    border-bottom: 5px solid red !important;
}
.avatar-box{
    margin-right: 8px;
    width: 40px!important;
}
.avatar-box img{
    width: 37px!important;
    height: 37px;
    border-radius: 50%;
}
.winRate-box {
    position: absolute;
    right: 7px;
    height: 50px;
}

.winRate-box h3,
.winRate-box p {
    text-align: right;
    margin-right: 10px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.winRate-box h3 {
    font-size: 21px;
}

.winRate-box p {
    font-size: 10px;
}

.box-add-review {
    position: fixed;
    right: 5px;
    bottom: 70px;
    z-index: 999;
    transition: 0.1s;
}

.box-add-review span {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: white;
    background-color: #db4437;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.text-guide-add{
    position: relative;
    color: white;
    background-color: rgba(0,0,0,0.85);
    padding: 3px 8px;
    display: block;border-radius: 4px;
    margin-right: 5px;
}
.text-guide-add:after{
    content: "\f0da";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 20px;
    right: -6px;
    top:0;
    color: black;
}

.modal-add-review .modal-dialog{
    margin: 0;
    height: 100%;
}
.modal-add-review .modal-content{
    height: 100%;
}
.modal-add-review .modal-footer{
    position: absolute;
    bottom: 0;
}

.topic-review-modal ul{
    margin: 0 0 10px 0;
    padding: 0;
}

.topic-review-modal ul li{
    display: inline-block;
    vertical-align: top;
}
.topic-review-modal ul li:nth-child(1){
    margin-right: 5px;
}
.topic-review-modal ul li:nth-child(1) img{
    height: 35px;
    border-radius: 50%;
}
.topic-review-modal ul li:nth-child(1) img,
.topic-review-modal ul li:nth-child(1){
    width: 35px;
}

.topic-review-modal ul li:nth-child(2){
    width: 200px;
    font-size: 12px;
}
.topic-review-modal ul li:nth-child(2) img{
    height: 18px;

}
.topic-review-modal ul li h6{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}