    <div class="container-headerNews" style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                                    <div class="col-sm-6 col-md-7 recommend-news"
                         recommend="1"
                         newsid="34579">
                        <div class="bx-story-big">
                            <div class="hilight-cover"></div>
                            <a href="/articles.php?newsid=34579"
                               class="crop imgTest1"
                               style="background-image: url(/images/news/2018-09-16/20180916165300_1254x835.jpg)"></a>

                            <div class="bx-story-content">
                                <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537109638</span>
                                </div>
                                <a href="/articles.php?newsid=34579"
                                   class="h-content">ตามคำสัญญา! บุรีรัมย์ ยำเมืองทองคาถิ่นกิเลน 3-0</a>
                            </div>
                        </div>
                    </div>
                                <div class="col-sm-6 col-md-5" style="padding: 0;">

                                                                        <div class="col-xs-6 col-sm-6 recommend-news"
                                 recommend="1"
                                 newsid="34578">
                                <div class="bx-story-small">
                                    <div class="hilight-cover"></div>
                                    <a href="/articles.php?newsid=34578"
                                       class="crop"
                                       style="background-image: url(/images/news/2018-09-16/20180916165057_1920x1080.jpg)"></a>

                                    <div class="bx-story-content">
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1537109507</span>
                                        </div>
                                        <a href="/articles.php?newsid=34578"
                                           class="h-content">หนีตายไม่ยอมตาย!ราชบุรีซัดวิท้ายชนะชัยนาท 2-1</a>
                                    </div>
                                </div>
                            </div>
                                                                                                <div class="col-xs-6 col-sm-6 recommend-news"
                                 recommend="1"
                                 newsid="34577">
                                <div class="bx-story-small">
                                    <div class="hilight-cover"></div>
                                    <a href="/articles.php?newsid=34577"
                                       class="crop"
                                       style="background-image: url(/images/news/2018-09-16/20180916164916_1200x800.jpg)"></a>

                                    <div class="bx-story-content">
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1537109407</span>
                                        </div>
                                        <a href="/articles.php?newsid=34577"
                                           class="h-content">ยิงโหดอย่างกับโกรธฉลาม! ทรูบียูรัวชลบุรี 4-2</a>
                                    </div>
                                </div>
                            </div>
                                                                                                <div class="col-xs-6 col-sm-6 recommend-news"
                                 recommend="1"
                                 newsid="34576">
                                <div class="bx-story-small">
                                    <div class="hilight-cover"></div>
                                    <a href="/articles.php?newsid=34576"
                                       class="crop"
                                       style="background-image: url(/images/news/2018-09-16/20180916164748_1920x1080.jpg)"></a>

                                    <div class="bx-story-content">
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1537109304</span>
                                        </div>
                                        <a href="/articles.php?newsid=34576"
                                           class="h-content">ยันไม่อยู่! โรมาแผ่วปลายโดนคิเอโวไล่เจ๊า 2-2</a>
                                    </div>
                                </div>
                            </div>
                                                                                                <div class="col-xs-6 col-sm-6 recommend-news"
                                 recommend="1"
                                 newsid="34575">
                                <div class="bx-story-small">
                                    <div class="hilight-cover"></div>
                                    <a href="/articles.php?newsid=34575"
                                       class="crop"
                                       style="background-image: url(/images/news/2018-09-16/20180916164558_1920x1080.jpg)"></a>

                                    <div class="bx-story-content">
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1537109205</span>
                                        </div>
                                        <a href="/articles.php?newsid=34575"
                                           class="h-content">จุดอ่อน! เมสซีรับสภาพอยากยิงจุดโทษคมกว่านี้</a>
                                    </div>
                                </div>
                            </div>
                                            
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
