<div class="container">
    <div class="row">
        <div class="wrap-box-most-popular col-sm-3 col-md-2">
            <h2>Most Popular</h2>
            <div class="nano bx1">
                <div class="content" style="right: 0!important;">
                                                                        <div class="box-popular" newsid="34497">
                                <span class="box-popular-title"> ไม่ไป P$G!ม้าลายจับ"เคห์ดิร่า"ยืดสัญญา 2 ปีอยู่ถึง 2021</span>
                                <a href="/articles.php?newsid=34497">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34497">31</span>
                                    </div>
                                    <img src="/images/news/2018-09-12/20180912143014_740x493.JPG">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34587">
                                <span class="box-popular-title">สกอร์รวม 7-0! "บุรีรัมย์" คว่ำเมืองทองไปกลับครั้งแรก</span>
                                <a href="/articles.php?newsid=34587">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34587">15</span>
                                    </div>
                                    <img src="/images/news/2018-09-16/20180916171903_1890x1260.jpg">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34501">
                                <span class="box-popular-title">ชาช่าซ่าสองดอก! กิเลนพลิกแซงแทงมังกร 2-1</span>
                                <a href="/articles.php?newsid=34501">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34501">15</span>
                                    </div>
                                    <img src="/images/news/2018-09-12/20180912153240_1120x630.png">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34543">
                                <span class="box-popular-title">โฟกัสสุพรรณ!"ชนานันท์"ยังไม่คิดเรื่องติดธงช้างศึก</span>
                                <a href="/articles.php?newsid=34543">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34543">13</span>
                                    </div>
                                    <img src="/images/news/2018-09-14/20180914165903_1024x683.jpg">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34532">
                                <span class="box-popular-title">โหด! โค้ชวัตฟอร์ดหักเงินนักเตะมาสายนาทีละ 4 พัน</span>
                                <a href="/articles.php?newsid=34532">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34532">13</span>
                                    </div>
                                    <img src="/images/news/2018-09-13/20180913212916_1256x708.png">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34496">
                                <span class="box-popular-title"> นาบาสนั่งยาว?!เผยโลเปตัดสินใจส่ง'คูร์กตัวส์'เฝ้าเสาต่อ</span>
                                <a href="/articles.php?newsid=34496">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34496">13</span>
                                    </div>
                                    <img src="/images/news/2018-09-12/20180912142832_590x350.jpg">
                                </a>
                            </div>
                                                                                                <div class="box-popular" newsid="34547">
                                <span class="box-popular-title">แฟนโกลโหวต "ศุภชัย" แข้งไทยยอดเยี่ยมประจำสัปดาห์</span>
                                <a href="/articles.php?newsid=34547">
                                    <div class="times-content">
                                        view
                                        <span id="popularnews-34547">12</span>
                                    </div>
                                    <img src="/images/news/2018-09-14/20180914171923_1120x630.png">
                                </a>
                            </div>
                                                            </div>
            </div>
        </div>
        <div class="wrap-lastnews col-sm-9 col-md-10">

                                                            <div class="col-xs-6 col-sm-6 lastest-news" newsid="34587">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34587"
                                   class="crop imgTest3"
                                   style="background-image: url(/images/news/2018-09-16/20180916171903_1890x1260.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537111193</span>
                                    </div>
                                    <a href="/articles.php?newsid=34587"
                                       class="h-content">สกอร์รวม 7-0! "บุรีรัมย์" คว่ำเมืองทองไปกลับครั้งแรก                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-6 lastest-news" newsid="34586">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34586"
                                   class="crop imgTest3"
                                   style="background-image: url(/images/news/2018-09-16/20180916171705_1886x1260.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537111071</span>
                                    </div>
                                    <a href="/articles.php?newsid=34586"
                                       class="h-content">บันโดวิช : ผมให้เกียรติเมืองทอง แต่ บุรีรัมย์ เป็นทีมที่ดีกว่า                                    </a>
                                </div>
                            </div>
                        </div>
                                    
                                                            <div class="col-xs-6 col-sm-4 lastest-news" newsid="34585">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34585" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916171344_594x396.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110868</span>
                                    </div>
                                    <a href="/articles.php?newsid=34585"
                                       class="h-content">ตำนานยังก้มหัว! โซลาโค้งตัวซูฮกอาซาร์ตะบันแฮททริค                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-4 lastest-news" newsid="34584">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34584" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916171019_1568x1044.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110721</span>
                                    </div>
                                    <a href="/articles.php?newsid=34584"
                                       class="h-content">จ่อแชมป์!ทีมชาติไทยU12เก็บคลีนชีต4นัดรวดยิง15ลูกศึกโตโยต้า อินเตอร์ จูเนียร์ 2018                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-4 lastest-news" newsid="34583">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34583" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916170754_960x640.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110571</span>
                                    </div>
                                    <a href="/articles.php?newsid=34583"
                                       class="h-content">ครบโควตา!อยุธยายูฯเฉือนนรา 1-0(2-1)เลื่อนชั้นสู่ไทยลีก2                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-4 lastest-news" newsid="34582">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34582" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916170547_1920x1080.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110397</span>
                                    </div>
                                    <a href="/articles.php?newsid=34582"
                                       class="h-content">เจ้าของไม่เอา! รูนีย์เผยเบื้องหลังลาเอฟเวอร์ตัน                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-4 lastest-news" newsid="34581">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34581" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916170422_1920x1080.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110296</span>
                                    </div>
                                    <a href="/articles.php?newsid=34581"
                                       class="h-content">ไม่ปกป้อง! ซาฮาตัดพ้อเปาคงขาหักก่อนคู่แข่งได้ใบแดง                                    </a>
                                </div>
                            </div>
                        </div>
                                                                                <div class="col-xs-6 col-sm-4 lastest-news" newsid="34580">
                            <div class="bx-story-medium">
                                <div class="hilight-cover"></div>
                                <a href="/articles.php?newsid=34580" class="crop"
                                   style="background-image: url(/images/news/2018-09-16/20180916170215_1920x1080.jpg)"></a>

                                <div class="bx-story-content">
                                    <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                            class="how-long">1537110170</span>
                                    </div>
                                    <a href="/articles.php?newsid=34580"
                                       class="h-content">เมซุต โอซิล: ผมเก่งขึ้นเพราะโรนัลโด้                                    </a>
                                </div>
                            </div>
                        </div>
                                    
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
