<div class="container">
    <div class="wrap-box-news">
        <div class="col-md-12">
            <div class="tab-h-content sexy-football-topic">
                <div class="pull-left"><span>Sexy Football</span></div>
                <a href="/gallery.php" class="pull-right more-btn">ทั้งหมด</a>
            </div>
        </div>
        <div class="mg">
                                                <div class="col-sm-6">
                        <div class="wrap-box-gallery">
                            <div class="bx-type-gallery">
                                                                    <i class="fa fa-picture-o"></i>
                                                            </div>
                            <div class="bx-gallery-big">
                                <a class="link_wrap" href="articles-gallery.php?id=3985"></a>
                                                                            <div class="crop"
                                             style="background-image: url('/images/gallery/3985/20180916195325_0_1823x1297.jpg');"></div>
                                    
                                <div class="bx-gallery-big-detail">
                                    <div class="tab-datetime">
                                    <span class="pull-left">
                                        <i class="fa fa-clock-o"></i>
                                        <time class="how-long">1537080777</time>
                                                                            </span>
                                        <span class="pull-right">
                                        view
                                        <span id="gallery-sexy-3985">25</span>
                                        </span>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div class="bx-detail-gallery">
                                        Tangmo                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                                                                                                                                                        <div class="col-sm-6 col-md-6">
                                                                                <div class="col-sm-6 col-md-6">
                            <div class="wrap-box-gallery wrap-box-gallery-side">
                                <div class="bx-type-gallery">
                                                                            <i class="fa fa-picture-o"></i>
                                                                    </div>
                                <div class="bx-gallery bx-gallery-sexy-index">
                                    <a class="link_wrap" href="articles-gallery.php?id=3984"> </a>
                                                                                    <div class="crop"
                                                 style="background-image: url('/images/gallery/3984/20180916194947_0_2000x1334.jpg');"></div>
                                        

                                    <div class="bx-gallery-big-detail">
                                        <div class="bx-detail-gallery">
                                            <div class="tab-datetime">
                                    <span class="pull-left">
                                        <i class="fa fa-clock-o"></i>
                                            <time style="font-size: 10px;"
                                                  class="how-long">1537080566</time>
                                                                            </span>
                                                <span class="pull-right">
                                        view
                                        <span id="gallery-sexy-3984">24</span>
                                    </span>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div class="bx-detail-gallery">
                                                Yinggy                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                                                <div class="col-sm-6 col-md-6">
                            <div class="wrap-box-gallery wrap-box-gallery-side">
                                <div class="bx-type-gallery">
                                                                            <i class="fa fa-picture-o"></i>
                                                                    </div>
                                <div class="bx-gallery bx-gallery-sexy-index">
                                    <a class="link_wrap" href="articles-gallery.php?id=3983"> </a>
                                                                                    <div class="crop"
                                                 style="background-image: url('/images/gallery/3983/20180916194621_0_2048x1365.jpg');"></div>
                                        

                                    <div class="bx-gallery-big-detail">
                                        <div class="bx-detail-gallery">
                                            <div class="tab-datetime">
                                    <span class="pull-left">
                                        <i class="fa fa-clock-o"></i>
                                            <time style="font-size: 10px;"
                                                  class="how-long">1537080360</time>
                                                                            </span>
                                                <span class="pull-right">
                                        view
                                        <span id="gallery-sexy-3983">30</span>
                                    </span>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div class="bx-detail-gallery">
                                                Mailow                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                                                <div class="col-sm-6 col-md-6">
                            <div class="wrap-box-gallery wrap-box-gallery-side">
                                <div class="bx-type-gallery">
                                                                            <i class="fa fa-picture-o"></i>
                                                                    </div>
                                <div class="bx-gallery bx-gallery-sexy-index">
                                    <a class="link_wrap" href="articles-gallery.php?id=3982"> </a>
                                                                                    <div class="crop"
                                                 style="background-image: url('/images/gallery/3982/20180916194310_0_1875x1251.jpg');"></div>
                                        

                                    <div class="bx-gallery-big-detail">
                                        <div class="bx-detail-gallery">
                                            <div class="tab-datetime">
                                    <span class="pull-left">
                                        <i class="fa fa-clock-o"></i>
                                            <time style="font-size: 10px;"
                                                  class="how-long">1537080156</time>
                                                                            </span>
                                                <span class="pull-right">
                                        view
                                        <span id="gallery-sexy-3982">32</span>
                                    </span>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div class="bx-detail-gallery">
                                                Samile                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                                                <div class="col-sm-6 col-md-6">
                            <div class="wrap-box-gallery wrap-box-gallery-side">
                                <div class="bx-type-gallery">
                                                                            <i class="fa fa-picture-o"></i>
                                                                    </div>
                                <div class="bx-gallery bx-gallery-sexy-index">
                                    <a class="link_wrap" href="articles-gallery.php?id=3981"> </a>
                                                                                    <div class="crop"
                                                 style="background-image: url('/images/gallery/3981/20180916193905_0_2000x1334.jpg');"></div>
                                        

                                    <div class="bx-gallery-big-detail">
                                        <div class="bx-detail-gallery">
                                            <div class="tab-datetime">
                                    <span class="pull-left">
                                        <i class="fa fa-clock-o"></i>
                                            <time style="font-size: 10px;"
                                                  class="how-long">1537079912</time>
                                                                            </span>
                                                <span class="pull-right">
                                        view
                                        <span id="gallery-sexy-3981">8</span>
                                    </span>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div class="bx-detail-gallery">
                                                SoundKao                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                    <div style="clear:both;"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div style="position: relative;">
        <div class="label-clip">CLIP</div>
        <div class="wrap-video-sexy">
                            <!--                -->                <div class="col-sm-4">
                    <div>
                        <a href="/other-videos-sexy.php?galleryId=3988">
                            <div class="box-videos box-video-sexy box-video-sexy-index" style="">
                                <div class="crop" style="background-image: url(/images/gallery/3988/42061/20180916220616_1898x878.png);"></div>
                                <div class="icon-play"><i class="fa fa-play"></i></div>
                            </div>
                        </a>
                        <div class="bx-detail-gallery"><a style="color: #000000;"
                                                          href="/other-videos-sexy.php?galleryId=3988">MIND</a>
                        </div>
                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                    class="how-long">1537086078</span></div>
                    </div>
                </div>
                            <!--                -->                <div class="col-sm-4">
                    <div>
                        <a href="/other-videos-sexy.php?galleryId=3987">
                            <div class="box-videos box-video-sexy box-video-sexy-index" style="">
                                <div class="crop" style="background-image: url(/images/gallery/3987/42060/20180916220603_1898x912.png);"></div>
                                <div class="icon-play"><i class="fa fa-play"></i></div>
                            </div>
                        </a>
                        <div class="bx-detail-gallery"><a style="color: #000000;"
                                                          href="/other-videos-sexy.php?galleryId=3987">NAMHORM</a>
                        </div>
                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                    class="how-long">1537085866</span></div>
                    </div>
                </div>
                            <!--                -->                <div class="col-sm-4">
                    <div>
                        <a href="/other-videos-sexy.php?galleryId=3986">
                            <div class="box-videos box-video-sexy box-video-sexy-index" style="">
                                <div class="crop" style="background-image: url(/images/gallery/3986/42059/20180916220550_1896x850.png);"></div>
                                <div class="icon-play"><i class="fa fa-play"></i></div>
                            </div>
                        </a>
                        <div class="bx-detail-gallery"><a style="color: #000000;"
                                                          href="/other-videos-sexy.php?galleryId=3986">Great</a>
                        </div>
                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                    class="how-long">1537085224</span></div>
                    </div>
                </div>
                        <div class="clearfix"></div>
        </div>
    </div>
</div>
