<!--<div class="row">-->
<!--    <div class="video-cover-index">-->
<!--        <div class="container">-->
<!--            <span><img src="/images/background-text.png"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container main-content-video" id="container-video-main">
    <div class="rows">
        <div class="col-lg-1">
            <div class="label-vdo">Videos</div>
        </div>
        <div class="col-lg-11">
            <div class="box-video" id="box-video-main-index">
                                                                                                                        <iframe id="large-videos-autoPlay" loop="0" width="100%" height="600"
                                        data-autoplay="true"
                                        src="https://streamable.com/s/d4z3r"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div id="container-video-top">
    <div class="wrap-box-videos index-box-videos-highlight index-box-videos-hothit">
        <div class="container">
            <div class="container-listhight">
                <div class="label-highlight-index"><a href="/videos.php">HIGHLIGHT</a></div>
                <div class="content-index-box-videos-highlight">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/d4z3r?autoplay=1','Paris Saint-Germain,Guingamp,France Cup,เฟร้นช์ คัพ,ปารีส แซงต์-แชร์กแมง,แก็งก็อง','[ไฮไลท์เต็ม] Paris Saint-Germain VS Guingamp,France Cup,09-01-2018-19','','2019-01-09 23:39:12','6230')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/d4z3r_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6230">[ไฮไลท์เต็ม] Paris Saint-Germain VS Guingamp,France Cup,09-01-2018-19</a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547069952</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/hy9ku?autoplay=1','Paris Saint-Germain,Guingamp,France Cup,เฟร้นช์ คัพ,ปารีส แซงต์-แชร์กแมง,แก็งก็อง','[ไฮไลท์ยิงประตู] Paris Saint-Germain VS Guingamp,France Cup,09-01-2018-19       ','','2019-01-09 23:20:16','6229')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/hy9ku_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6229">[ไฮไลท์ยิงประตู] Paris Saint-Germain VS Guingamp,France Cup,09-01-2018-19       </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547068816</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/junyr?autoplay=1','Manchester City,Burton Albion,FA Cup,เอฟเอคัพ,แมนเชสเตอร์ ซิตี้,เบอร์ตัน อัลเบี้ยน','[ไฮไลท์เต็ม] Manchester City VS Burton Albion,FA Cup,09-01-2018-19','','2019-01-09 23:14:58','6228')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/junyr_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6228">[ไฮไลท์เต็ม] Manchester City VS Burton Albion,FA Cup,09-01-2018-19</a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547068498</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/3l8mt?autoplay=1','Manchester City,Burton Albion,FA Cup,เอฟเอคัพ,แมนเชสเตอร์ ซิตี้,เบอร์ตัน อัลเบี้ยน','[ไฮไลท์ยิงประตู] Manchester City VS Burton Albion,FA Cup,09-01-2018-19 ','','2019-01-09 22:59:01','6227')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/3l8mt_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6227">[ไฮไลท์ยิงประตู] Manchester City VS Burton Albion,FA Cup,09-01-2018-19 </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547067541</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/50ucu?autoplay=1','Qatar,Lebanon,Asian Cup 2019,เอเชียนคัพ 2019,กาตาร์,เลบานอน','[ไฮไลท์เต็ม] Qatar VS Lebanon,Asian Cup 2019,09-01-2018-19        ','','2019-01-09 20:39:19','6226')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/50ucu_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6226">[ไฮไลท์เต็ม] Qatar VS Lebanon,Asian Cup 2019,09-01-2018-19        </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547059159</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/hltog?autoplay=1','Qatar,Lebanon,Asian Cup 2019,เอเชียนคัพ 2019,กาตาร์,เลบานอน','[ไฮไลท์ยิงประตู] Qatar VS Lebanon,Asian Cup 2019,09-01-2018-19  ','','2019-01-09 20:38:41','6225')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="https://cf-e2.streamablevideo.com/image/hltog_1.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6225">[ไฮไลท์ยิงประตู] Qatar VS Lebanon,Asian Cup 2019,09-01-2018-19  </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547059121</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/iol82?autoplay=1','Uzbekistan,Oman,ASIAN CUP 2019,เอเชียน คัพ 2019,อุซเบกิสถาน,โอมาน','[ไฮไลท์เต็ม] Uzbekistan VS Oman,ASIAN CUP 2019,08-01-2019-20  ','','2019-01-09 16:37:40','6213')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6213/6213_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6213">[ไฮไลท์เต็ม] Uzbekistan VS Oman,ASIAN CUP 2019,08-01-2019-20  </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547044660</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/mc2n5?autoplay=1','Uzbekistan,Oman,ASIAN CUP 2019,เอเชียน คัพ 2019,อุซเบกิสถาน,โอมาน','[ไฮไลท์ยิงประตู] Uzbekistan VS Oman,ASIAN CUP 2019,08-01-2019-20','','2019-01-09 16:37:12','6212')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6212/6212_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6212">[ไฮไลท์ยิงประตู] Uzbekistan VS Oman,ASIAN CUP 2019,08-01-2019-20</a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547044632</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/zm8ut?autoplay=1','Japan,Turkmenistan,ASIAN CUP 2019,เอเชียน คัพ 2019,ญี่ปุ่น,เติร์กเมนิสถาน','[ไฮไลท์เต็ม] Japan VS Turkmenistan,ASIAN CUP 2019,09-01-2019-20    ','','2019-01-09 14:05:48','6210')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6210/6210_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6210">[ไฮไลท์เต็ม] Japan VS Turkmenistan,ASIAN CUP 2019,09-01-2019-20    </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547035548</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/fvm7f?autoplay=1','Japan,Turkmenistan,ASIAN CUP 2019,เอเชียน คัพ 2019,ญี่ปุ่น,เติร์กเมนิสถาน','[ไฮไลท์ยิงประตู] Japan VS Turkmenistan,ASIAN CUP 2019,09-01-2019-20      ','','2019-01-09 14:05:21','6209')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6209/6209_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6209">[ไฮไลท์ยิงประตู] Japan VS Turkmenistan,ASIAN CUP 2019,09-01-2019-20      </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1547035521</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/uwdvm?autoplay=1','Lyon,Strasbourg,France Cup,เฟร้นช์ คัพ,โอลิมปิก ลียง,สตราส์บูร์ก','[ไฮไลท์เต็ม] Lyon VS Strasbourg,France Cup,08-01-2018-19           ','','2019-01-08 23:26:18','6208')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6208/6208_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6208">[ไฮไลท์เต็ม] Lyon VS Strasbourg,France Cup,08-01-2018-19           </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546982778</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/3q551?autoplay=1','Lyon,Strasbourg,France Cup,เฟร้นช์ คัพ,โอลิมปิก ลียง,สตราส์บูร์ก','[ไฮไลท์ยิงประตู] Lyon VS Strasbourg,France Cup,08-01-2018-19      ','','2019-01-08 23:22:55','6207')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6207/6207_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6207">[ไฮไลท์ยิงประตู] Lyon VS Strasbourg,France Cup,08-01-2018-19      </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546982575</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/ftfha?autoplay=1','Tottenham Hotspur,Chelsea,Carabao Cup,คาราบาวคัพ,ท็อตแนม ฮ็อทสเปอร์,เชลซี','[ไฮไลท์เต็ม] Tottenham Hotspur VS Chelsea,Carabao Cup,08-01-2018-19  ','','2019-01-08 23:11:46','6206')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6206/6206_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6206">[ไฮไลท์เต็ม] Tottenham Hotspur VS Chelsea,Carabao Cup,08-01-2018-19  </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546981906</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/ckzc5?autoplay=1','Tottenham Hotspur,Chelsea,Carabao Cup,คาราบาวคัพ,ท็อตแนม ฮ็อทสเปอร์,เชลซี','[ไฮไลท์ยิงประตู] Tottenham Hotspur VS Chelsea,Carabao Cup,08-01-2018-19 ','','2019-01-08 22:52:44','6205')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6205/6205_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6205">[ไฮไลท์ยิงประตู] Tottenham Hotspur VS Chelsea,Carabao Cup,08-01-2018-19 </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546980764</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/qzs4t?autoplay=1','Saudi Arabia,North Korea,Asian Cup 2019,เอเชียนคัพ 2019,ซาอุดิอาระเบีย,เกาหลีเหนือ','[ไฮไลท์ยิงประตู] Saudi Arabia VS North Korea,Asian Cup 2019,08-01-2018-19    ','','2019-01-08 19:19:31','6204')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6204/6204_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6204">[ไฮไลท์ยิงประตู] Saudi Arabia VS North Korea,Asian Cup 2019,08-01-2018-19    </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546967971</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/szrgg?autoplay=1','Saudi Arabia,North Korea,Asian Cup 2019,เอเชียนคัพ 2019,ซาอุดิอาระเบีย,เกาหลีเหนือ','[ไฮไลท์เต็ม] Saudi Arabia VS North Korea,Asian Cup 2019,08-01-2018-19','','2019-01-08 19:16:34','6203')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6203/6203_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6203">[ไฮไลท์เต็ม] Saudi Arabia VS North Korea,Asian Cup 2019,08-01-2018-19</a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546967794</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/1bvv8?autoplay=1','Iraq,Vietnam,ASIAN CUP 2019,เอเชียน คัพ 2019,อิรัก,เวียดนาม','[ไฮไลท์เต็ม] Iraq VS Vietnam,ASIAN CUP 2019,08-01-2019-20      ','','2019-01-08 16:33:26','6202')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6202/6202_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6202">[ไฮไลท์เต็ม] Iraq VS Vietnam,ASIAN CUP 2019,08-01-2019-20      </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546958006</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/pkwhg?autoplay=1','Iraq,Vietnam,ASIAN CUP 2019,เอเชียน คัพ 2019,อิรัก,เวียดนาม','[ไฮไลท์ยิงประตู] Iraq VS Vietnam,ASIAN CUP 2019,08-01-2019-20  ','','2019-01-08 16:32:55','6201')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6201/6201_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6201">[ไฮไลท์ยิงประตู] Iraq VS Vietnam,ASIAN CUP 2019,08-01-2019-20  </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546957975</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/81esc?autoplay=1',' Wolverhampton Wanderers,Liverpool,FA Cup ','[ไฮไลท์เต็ม] Wolverhampton Wanderers VS Liverpool,FA Cup,07-01-2018-19 ','','2019-01-08 10:16:36','6196')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6196/6196_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6196">[ไฮไลท์เต็ม] Wolverhampton Wanderers VS Liverpool,FA Cup,07-01-2018-19 </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546935396</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/0lxl2?autoplay=1','Wolverhampton Wanderers,Liverpool,FA Cup','[ไฮไลท์ยิงประตู] Wolverhampton Wanderers VS Liverpool,FA Cup,07-01-2018-19','','2019-01-08 09:52:51','6194')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6194/6194_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6194">[ไฮไลท์ยิงประตู] Wolverhampton Wanderers VS Liverpool,FA Cup,07-01-2018-19</a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546933971</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/oap5a?autoplay=1','Celta Vigo,Athletic Bilbao,Spanish La Liga,เซลต้า บีโก้,แอธเลติก บิลเบา','[ไฮไลท์ยิงประตู] Celta Vigo VS Athletic Bilbao,Spanish La Liga,07-01-2018-19       ','','2019-01-07 23:20:14','6191')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6191/6191_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6191">[ไฮไลท์ยิงประตู] Celta Vigo VS Athletic Bilbao,Spanish La Liga,07-01-2018-19       </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546896014</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/9x531?autoplay=1','Celta Vigo,Athletic Bilbao,Spanish La Liga,เซลต้า บีโก้,แอธเลติก บิลเบา','[ไฮไลท์เต็ม] Celta Vigo VS Athletic Bilbao,Spanish La Liga,07-01-2018-19    ','','2019-01-07 23:18:58','6190')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6190/6190_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6190">[ไฮไลท์เต็ม] Celta Vigo VS Athletic Bilbao,Spanish La Liga,07-01-2018-19    </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546895938</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/acrig?autoplay=1','Iran,Yemen,Asian Cup 2019,เอเชียนคัพ 2019,อิหร่าน,เยเมน','[ไฮไลท์เต็ม] Iran VS Yemen,Asian Cup 2019,07-01-2018-19   ','','2019-01-07 19:20:48','6189')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6189/6189_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6189">[ไฮไลท์เต็ม] Iran VS Yemen,Asian Cup 2019,07-01-2018-19   </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546881648</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                                    <!--                    -->                                                            <div style="" id="box-other-video-top-main">
                                    <div class="lastest-video">
                                        <div class="box-videos box-videos-highlight">
                                            <!--                                        <div class="hilight-cover"></div>-->
                                            <div onclick="setIndexVideosAutoPlay('https://streamable.com/s/vttyp?autoplay=1','Iran,Yemen,Asian Cup 2019,เอเชียนคัพ 2019,อิหร่าน,เยเมน','[ไฮไลท์ยิงประตู] Iran VS Yemen,Asian Cup 2019,07-01-2018-19       ','','2019-01-07 19:02:04','6188')"
                                                 class="icon-play"><i class="fa fa-play"></i></div>
                                                                                            <img src="/images/video/6188/6188_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">
                                            <a href="/videos.php?videoId=6188">[ไฮไลท์ยิงประตู] Iran VS Yemen,Asian Cup 2019,07-01-2018-19       </a>
                                        </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546880524</span>
                                        </div>
                                    </div>
                                </div>
                                                        <!--                    -->                                            </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div id="container-video-bottom">
    <div class="wrap-box-videos index-box-videos-highlight index-box-videos-hothit">
        <div class="container">
            <div class="container-listhight">
                <div class="label-highlight-index">
                    <a href="/hothit.php">HOT HIT</a>
                </div>
                <div class="content-index-box-videos-highlight">
                    <div id="owl-demo2" class="owl-carousel owl-theme">
                                                                                    <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6200">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6200/6200_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย ASIAN CUP 2019 นัดที่ 1 ธีรศิลป์ แดงดา 06-01-2019-20</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546947543</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6199">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6199/6199_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย ลาลีกา นัดที่ 18 อ็องตวน กรีซมาน 06-01-2019-20   </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546947507</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6198">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6198/6198_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย France Cup รอบ 64 ทีม เนย์มาร์ 06-01-2019-20 </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546947462</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6197">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6197/6197_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย ลาลีกา นัดที่ 18 รูเบน ปาร์โด 06-01-2019-20  </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546947414</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6175">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6175/6175_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">อำลา Cesc Fabregas • Farewell ในสีเสื้อของ เชลซี</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546795299</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6174">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6174/6174_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">เด็กหนุ่ม กับสกิวความเร็วระดับตัวท็อป Young Dribblers</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546795231</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6173">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6173/6173_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">นักเตะใหม่ของ สิงห์บูล CHRISTIAN PULISIC Crazy Runs, Skills, Goals & Assists</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546795164</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6172">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6172/6172_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">Top 35 ลูกยิงในตำนาน Legendary Goals In Football History</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546795059</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6153">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6153/6153_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">Falcão เทพพระเจ้า ฟุตซอล </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546703069</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6152">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6152/6152_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ช่วงเวลาที่ผู้รักษาประตูไม่ดีในวงการฟุตบอล</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546703024</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6151">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6151/6151_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">รวมลูกยิง Cristiano Ronaldo  Juventus 2018/19</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546702742</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6150">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6150/6150_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">10 ลูกยิงยอดเยี่ยมของ Zlatan Ibrahimovic  </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546702681</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6141">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6141/6141_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">มือสังหารลูกนิ่ง Mario Balotelli</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546599930</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6140">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6140/6140_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">TOP 10 GOALS - 2018 FIFA WORLD CUP RUSSIA</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546599858</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6139">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6139/6139_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ลูกยิงฟรีคิกใส่ สวีเดน ของ โทนี โครส ในช่วงทดเจ็บนาทีสุดท้าย ได้รับเลือกเป็นลูกยิงที่ดีที่สุดของทีมชาติเยอรมัน ในปี 2018</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546599815</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6138">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6138/6138_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">จังหวะที่ ลิเวอร์พูล เกือบขึ้นนำ แมน ซิตี ในนาทีที่ 18 แต่ จอห์น สโตนส์ สกัดลูกได้บนเส้นแบบเฉียดฉิว โดยโกลไลน์ระบุ ขาดแค่ 1.12 เซนติเมตร ลูกจึงจะข้ามเส้นแบบเต็มใบ</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546587548</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6133">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6133/6133_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 21 มาร์คัส แรชฟอร์ด 03-01-2019-20 </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546540042</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6132">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6132/6132_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 21 ซน ฮึง-มิน 02-01-2019-20 </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546539644</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6130">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6130/6130_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 21 คริสเตียน อีริคเซน 02-01-2019-20  </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546539553</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6124">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6124/6124_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 20 แฮร์รี เคน 29-12-2018-19</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546448550</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6123">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6123/6123_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 20 คริส วู้ด 30-12-2018-19 </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546448493</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6122">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6122/6122_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย เซเรียอา นัดที่ 19 คริสเตียโน้ โรนัลโด้ 29-12-2018-19    </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546448442</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6121">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6121/6121_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">ประตูสุดสวย พรีเมียร์ลีก นัดที่ 20 เอ็นโกโล ก็องเต้ 30-12-2018-19 </div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546341724</span>
                                        </div>
                                    </div>
                                </a>
                                                                                                                <a id="box-other-video-bottom-main"
                                   href="/other-videos.php?videoId=6120">
                                    <div class="lastest-video">

                                        <div class="box-videos box-videos-highlight">
                                            <!--                                    <div class="hilight-cover"></div>-->
                                            <div class="icon-play"><i class="fa fa-play"></i></div>
<!--                                            <div class="cover-hothit"><img src="/images/All_.png"></div>-->
                                                                                            <img src="/images/video/6120/6120_1280x720.jpg">
                                                                                    </div>
                                        <div class="title-owl-carousel title-h-videos">แมทช์แห่งความทรงจำ - Inter Milan vs Bayern Munich - UCL Final 2010</div>
                                        <div class="times-content"><i class="fa fa-clock-o"></i> <span
                                                    class="how-long">1546221807</span>
                                        </div>
                                    </div>
                                </a>
                                                                        </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            loop: true,
            items: 6,
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            margin: 25,
            responsiveClass: true,
            responsive: {
                350: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false
                }
            }
        });
        $("#owl-demo2").owlCarousel({
            loop: true,
            items: 6,
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            margin: 25,
            responsiveClass: true,
            responsive: {
                350: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false
                }
            }
        });

        $('.owl-nav').find('.owl-prev').html("<i class='fa fa-chevron-left'>");
        $('.owl-nav').find('.owl-next').html("<i class='fa fa-chevron-right'>")

    });
</script>